// BLOG ------------------------------- //

.post-item {
  padding-left: 350px;
}

.post-item-img {
  width: 320px;
  height: 200px;
  margin-left: -350px;
}

.more-posts a {
  width: 28%;
  margin: 0 8% 0 0;
}
