// ------------------ //

.r-header,
.r-item
  margin-left: -30px
  margin-right: -30px
  padding-left: 30px
  padding-right: 30px

// ------------------ //

.r-nickname,
.r-nickname-text
  width: 42%

.r-registered,
.r-registered-text
  width: 20%

.r-games,
.r-games-text
  width: 10%

.r-active,
.r-active-text
  width: 19%

.r-profit,
.r-profit-text
  width: 9%