// BONUSES ---------------------------------------- //

.cabinet

  & .content-box-tab.cabinet-balance-tab
    width: 275px
    padding: 0 30px 0 30px

.cabinet-balance-count:first-child
  margin-right: 20px

.cabinet-balance-count span
  margin-left: 5px