// TICKET-ITEMS ------------------------------ //

.ticket-items
  margin: 80px 0 40px

.ticket-tabs li
  margin-right: 15px

.ticket-item
  padding: 37px 40px 27px !important

.ticket-numbers
  margin-right: -30px !important

// MATCHES-INF ------------------------------ //

.matches-inf-wrapper
  margin-bottom: 40px