.balls-result
  width: 57%

.text-result
  width: 43%
  

.ticket-number-result
  margin-right: 20px
  
.ticket-number-result span
  display: inline
  
.ball-number-result
  width: 40px
  height: 40px

  
.text-result
  & span
    display: block
    
.text-result-top
  margin-left: 0px
  
.ticket-tabs li 
  width: 80px
  margin-right: 8px

t