.balls-result
  width: 60%
  padding-top: 35px
  padding-left: 10px

.text-result
  width: 40%
  padding-top: 15px
  top: 35px
  
.ticket-result
  margin: 0 0 10px 0
  
.ball-number-result,
.ticket-number-result
  margin-right: 20px
  
.ticket-number-result span
  display: inline
  
.ball-number-result
  width: 40px
  height: 40px
  margin-right: 4%