.ph-header {
  margin: 0 -20px 20px;
  padding: 0 20px;
}

.ph-item {
  margin: 0 -20px;
  padding-left: 20px;
  padding-right: 20px;
}

// ------------------ //

.ph-date,
.ph-date-text {
  width: 22%;
}

.ph-won,
.ph-won-text {
  width: 22%;
}

.ph-method,
.ph-method-text {
  width: 38%;
}

.ph-status,
.ph-status-text {
  width: 18%;
}

// ------------------ //

.r-header,
.r-item {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

// ------------------ //

.r-nickname,
.r-nickname-text {
  width: 44%;
}

.r-registered,
.r-registered-text {
  width: 20%;
}

.r-games,
.r-games-text {
  width: 9%;
}

.r-active,
.r-active-text {
  width: 18%;
}

.r-profit,
.r-profit-text {
  width: 9%;
}

.th-item {
  margin: 0 -20px;
  padding: 13px 20px 0;
}
