.badges-container{
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 300px;
  z-index: 100;
  left: initial;
}
#badges-notifications,
#badges-messages {}
#badges-notifications{}
#badges-messages {
  height: auto;
}

#badges-notifications > *,
#badges-messages > * {
  margin-bottom: 5px
}

#badges-notifications section,
#badges-messages section {
  min-width: 100%;
  display: block;
  position: relative;
  padding-right: 20px;
}

#badges-notifications section a.start.visieble,
#badges-messages section a.start.visieble {
  background: transparent;
  padding: 5px 22px;
  border: 1px solid #000;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  max-width: 100px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all .2s ease-out;
}

#badges-notifications section a.start.invisible,
#badges-messages section a.start.invisible {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#badges-notifications section a.start:hover,
#badges-messages section a.start:hover {
  opacity: 0.99;
  color: #fff;
  background: #000;
}

#badges-notifications section a.visible + .title,
#badges-messages section a.visible + .title {
  display: block;
  padding-right: 110px;
}

#badges-notifications > div[id^="badges-"],
#badges-messages > div[id^="badges-"] {
  padding: 22px;
  background: #ffe700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  cursor: default;
  width: 300px;
}

#badges-notifications > div[id^="badges-messages"],
#badges-messages > div[id^="badges-messages"] {
  padding: 10px;
  background: rgba(0,0,0,0.85);
  color: #fff;
}

#badges-notifications > div[id^="badges-messages"] section > *,
#badges-messages > div[id^="badges-messages"] section > * {
  display: block;
  width: auto;
}

#badges-notifications .title,
#badges-messages .title {
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 0 4px 0;
}

#badges-notifications .txt,
#badges-messages .txt {
  font-size: 15px;
}

#badges-notifications img,
#badges-messages img {
  border-radius: 50em;
  max-width: 40px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#badges-notifications i.i-x-slim,
#badges-messages i.i-x-slim {
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
  transform: translate(0, -50%);
  transition: all .2s ease-out;
  z-index: 2;
}

#badges-notifications i.i-x-slim:hover,
#badges-messages i.i-x-slim:hover {
  font-size: 119%;
  right: -2px;
}

#badges-notifications div:not([id^="badges-message"]) .title,
#badges-messages div:not([id^="badges-message"]) .title {
  padding: 0;
}

#badges-notifications div[id^="badges-message"] .contain-img,
#badges-messages div[id^="badges-message"] .contain-img {
  padding-left: 50px;
}

@media all and (max-width: 768px) {
  .badges-container{
    width: 0;
    height: 0;
    position: static;
  }
  #badges-messages,
  #badges-notifications {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
  }
  #badges-messages {
    top: 0;
    height: auto;
    bottom: initial;
  }
  #badges-messages > div[id^="badges-"] ,
  #badges-notifications > div[id^="badges-"] {
    width: 100%;
  }
}
