.cabinet-bonuses {
  p {
    font-size: 15.5px;
    margin-bottom: 20px;
  }
  .title {
    font-size:20px;
    color:#000000;
    text-align:left;
    margin: 0 0 5px 0;
  }
  .button{
    color: #000000;
    border: 1px solid #000000;
    transition: all .2s linear;
    cursor: pointer;
    display: inline-block;
    min-width: 140px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: normal;
    &:hover {
      background: #000000;
      color: #ffffff;
    }
  }
  .bonus-share-url-copy{
    .strip{
      position: relative;
      padding: 0 180px 0 20px;
      input{
        width: 100%;
      }
      .button{
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -15px;
      }
    }
  }
  .bonus-share-email{
    @extend .bonus-share-url-copy;
  }
  .show-banner,
  .bonus-share-url-copy,
  .bonus-share-post,
  .bonus-share-email{
    margin-bottom: 35px;
  }

  table{
    font-weight: normal;
    font-size:15.5px;
    line-height:19px;
    text-align:left;
    width: 100%;
    thead{
      background: #f5f5f5;
      tr{
        th{
          color: #333333;
          text-shadow:1px 1px 1px rgba(255,255,255,0.49);
          padding: 13px 0 13px 20px;
          font-weight: normal;
        }
      }
    }
    tbody{
      tr{
        td{
          padding: 13px 0 13px 20px;
          border-bottom: 1px solid #ececec;
          color:#4a4a4a;
        }
      }
    }
  }
}

// ----------------------------------- //

.bonus-form {
  margin-bottom: 30px;
  & label {
    display: inline-block;
  }
  & input {
    display: inline-block;
    width: auto;
    float: none;
  }
  & .bonus-share-url-copy-btn {
      display: inline-block;
      width: auto;
  }
}

.bonus-form input {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #b9b9b9;
  padding: 4px;
  margin-bottom: 20px;
}

.bonus-form button {
  width: 100%;
  display: block;
  border: 1px solid #7f7f7f;
  border-radius: 2px;
  background: transparent;
  color: #7f7f7f;
  cursor: pointer;
  padding: 6px 0;
}
.bonus-share-banner-view .close {
  display: none;
  cursor: pointer;
  font-size: 18px;
  color: #4a4a4a;
  margin: 12px 20px 12px 0;
  transition: all .2s linear;
  &:hover {
    color: #000000;
  }
  
}

.bonus-share-url {
  margin-bottom: 50px;
}

input[type="text"],input[type="email"],
.bonus-share-url-copy-btn {
  border-radius: 2px;
  background: transparent;
  color: #000000;
  position: relative;
}


input[type="text"],input[type="email"] {
  margin: 0;
  border: none;
  height: inherit;
  min-width: 190px;
  line-height: 45px;
  padding: 0 4px;
}

.bonus-share-url-copy-btn {
  padding: 6px 0;
  text-align: center;
  cursor: pointer;
  color: #4a90e2;
}

// ----------------------------------- //

.bonus-banner-view-item {
  float: left;
  margin: 0;
  position: relative;
  &.active {
    & > * {
      color: #4a4a4a;
      background: #dfdfdf;
    }
  }
  .bonus-banner-view-btn {
    cursor: pointer;
    color: #4a4a4a;
    font-size: 15.5px;
    text-decoration: none;
    transition: all .2s linear;
    line-height: 45px;
    padding: 0 20px;
    &:hover {
      color: #000000;
    }
  }
}



.show-banner > div {
  display: none;
}
// ----------------------------------- //


// POPUP BANNER -------------------- //

.popup-banner {
  display: none;
  position: fixed;
  top: 50px;
  left: 50px;
  width: 518px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 20px 25px;
  background: white;
  z-index: 100;
  & .close {
    position: absolute;
    width: 55px;
    height: 70px;
    top: 0;
    left: 100%;
    z-index: 99;
    overflow: hidden;
    cursor: pointer;
    &:before {
      content: "";
      width: 40px;
      height: 40px;
      position: relative;
      top: 15px;
      display: block;
      background: url(img/sprite.png) -83px -251px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }
  }
  & p {
    line-height: 1.2;
    margin-bottom: 0;
  }
}

.show-banner {
  padding: 0 20px;
  margin-top: 20px;
  
  .copy-box{
    margin-bottom: 10px;
     .title{
        float: left;
        font-size: 15.5px;
     }
     .copy{
        float: right;
        color:#4a90e2;
        cursor: pointer;
     }
  }
  textarea {
    padding: 10px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #dfdfdf;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.banner-slide {
  margin: 10px 0;
  & img {
    display: block;
    height: auto;
    border: 1px solid #cbc7c6;
    max-width: 100%;
  }
}

.popup-banner-download {
  display: inline-block;
  color: black;
  color: #4a90e2;
  font-weight: bold;
  cursor: pointer;
}

.banner-copy {
  position: relative;
  margin-bottom: 30px;
  & input {
    padding: 7px 10px 7px 0;
    margin-bottom: 5px;
    width: 100%;
    border: none;
    background: none;
  }
  & .title {
    font-size: 15.5px;
    margin-right: 6px;
  }

}

.banner-copy-btn {
  display: inline-block;
  margin: 0 50px 0 10px;
  cursor: pointer;
  color: #4a90e2;
  font-weight: bold;
}

#profile-bonuses {
  .in-box{
    padding: 0 20px;
  }
  & .strip {
    min-height: 45px;
    // line-height: 45px;
    background: #f5f5f5;
  }
  & .ae-social {
    padding-left: 20px;
    div {
      height: auto;
      width: auto;
      cursor: pointer;
      padding: 0 20px;
      height: 30px;
      margin: 7px 7px 7px 0;
      opacity: 0.9;
      transition: all .2s linear;
      min-width: 150px;
      text-align: center;
      position: relative;
      line-height: 0;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      &:hover{
        opacity: 1;
      }
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 0;
        position: relative;
        height: 100%;
        margin-left: -5px;
      }
      
      > span{
        font-size: 15.5px;
        color: #ffffff;
        font-weight: normal;
        text-align: center;
        line-height: normal;
        vertical-align: middle;
        display: inline-block;
      }
    }
    .social-likes__widget_facebook,
    .facebook{
      background: #374c85;
    }
    .social-likes__widget_vkontakte,
    .vkontakte{
      background: #2a598f;
    }
    .social-likes__widget_odnoklassniki,
    .odnoklassniki{
      background: #ed812b;
    }
  }
  & .content-box-item {
    padding: 20px 0 25px;
  }
  & .bold {
    font-size: 15.5px;
    color: #000;
  }
  & .info_block {
    h3{
      margin-bottom: 10px;
    }
    p > b{
      font-weight: bold;
    }
    ul{
      > li{
        padding-left: 35px;
        position: relative;
        
        > p{
          >span:first-of-type {
            position: absolute;
            margin-left: -20px;
          }
        }
      }
    }
    
    & p {
      color: #4a4a4a;
      margin-bottom: 30px;
      &.bold {
        color: #000;
        margin-bottom: 10px;
      }
    }
  }
}