.communication-comments {
  padding-bottom: 100px;
}

.comment {
  margin-bottom: 21px;
}

.comment-content {
  position: relative;
}

.comment-top {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}

.comment-img {
  // display: table-cell;
  width: 50px;
  height: 50px;
  top: 4px;
  position: absolute;
  left: 0;
  & img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
}

.comment-inf {
  display: table-cell;
  vertical-align: middle;
}

.comment-name {
  font-weight: bold;
  margin-right: 13px;
}

.comment-date {
  font-size: 13px;
  color: #5a5a5a;
  & span:first-child {
    margin-right: 15px;
  }
}

.comment-reply {
  display: none;
  font-size: 21px;
  color: #4a90e2;
  position: absolute;
  top: 45%;
  left: 17%;
  & .separator {
    display: none;
  }
}

.comment-like {
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 30px;
  font-size: 14px;
  &:before {
    content: "";
    display: block;
    width: 18px;
    height: 15px;
    background: url(img/sprite.png) -364px -54px;
    position: absolute;
    top: 2px;
    left: 0;
  }
}

.comment-like-mob {
  display: none;
}

.comment.liked > .comment-content {
  & .comment-like {
    opacity: 1;
  }
  & .comment-inf {
    padding-right: 60px;
  }
}

  // COMMENT ANSWER -------------------------- //

.comment.answer {
  margin-top: 20px;
  padding-left: 20px;
}

  // COMMENT FORM ------------------------ //

.communication-comments {
  & .message-form-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  & .message-form {
    padding: 0 10px;
  }
}

// COMMENT ACTIVE FOR MOBILE ---------------- //

// COMMENT NOTIFICATIONS ------------- //


.c-notifications {
  margin: 0 -10px 20px;
  position: relative;
  & .title {
    padding: 6px 10px;
    background: #f2f8f8;
    position: relative;
    font-size: 14px;
  }
}

.c-show-notifications {
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.c-hide-notifications {
  display: block;
  width: 15px;
  height: 15px;
  background: url(img/sprite.png) -156px -55px;
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
}

  // ---------------------------------- //

.c-notifications-list {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background: white;
  padding: 45px 0 10px;
  z-index: 2;
  & .close-list {
    position: absolute;
    top: 8px;
    right: 10px;
  }
}

.c-notification {
  position: relative;
  font-size: 14px;
  margin-bottom: 5px;
  padding: 5px 10px;
  &:hover {
    background: #f2f8f8;
  }
}

.close-notification {
  width: 10px;
  height: 10px;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 3;
}

.c-notification-top {
  padding-left: 50px;
  min-height: 45px;
  position: relative;
}

.c-notification-img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  & img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
}

.c-notification-name {
  font-weight: bold;
}

.c-notification-date {
  font-size: 13px;
  color: #5a5a5a;
  white-space: nowrap;
  & span:first-child {
    margin-right: 5px;
  }
}

.c-notification-question {
  margin-top: 3px;
  & span {
    color: #4a8fec;
  }
}

.c-notification-description {
  line-height: 1.4;
}

.content-box-item {
  padding-top: 80px;
  padding-right: 0;
}

  // ---------------------------- //

.cm-top {
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
  padding: 0 10px;
  & a {
    display: block;
    color: black;
    font-size: 14px;
  }
  & .new-message {
    float: left;
    border: 1px solid black;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    padding: 5px 22px;
  }
  & .write-admin {
    float: right;
    line-height: 30px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

  // ---------------------------- //

.message {
  padding: 15px 10px 15px 0;
  margin-left: 60px;
  border-bottom: 1px solid #dbdbdb;
  cursor: pointer;
  &.new .message-text {
    color: black;
  }
  &.online .message-img:before {
    background: #7ed31e;
  }
  &.admin {
    & .message-img:before {
      display: none;
    }
    & .message-name {
      font-weight: bold;
    }
  }
}

.message-img {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  margin-left: -60px;
  & img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #d2d2d2;
  }
}

.message-name {
  margin-bottom: 8px;
  line-height: 1.27;
}

.message-text {
  color: #8b8d8c;
  line-height: 1.27;
}

#communication-messages-new .content-box-item {
  padding-top: 40px;
}

