.communication-comments {
    padding-bottom: 100px;
}

.comment {
    margin-bottom: 21px;
}

.comment-content {
    position: relative;
}

.comment-top {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.comment-img {
    // display: table-cell;
    width: 50px;
    height: 50px;
    top: 4px;
    position: absolute;
    left: 0;
    & img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
}

.comment-inf {
    display: table-cell;
    vertical-align: middle;
}

.comment-name a {
    display: inline-block;
    // margin-right: 13px;
    font-family: 'Handbook-bold';
    color: #000;
    font-size: 15px;
    &:hover {
        opacity: 0.85;
    }
}

.comment-description {
    color: #4A4A4A;
}

.comment-date {
    font-size: 13px;
    color: #5a5a5a;
    white-space: nowrap;
    & span:first-child {
        margin-right: 20px;
    }
}

.comment-reply {
    display: none;
    font-size: 21px;
    color: #4a90e2;
    position: absolute;
    top: 45%;
    left: 17%;
    & .separator {
        display: none;
    }
}

.comment-like {
    opacity: 1;
    position: absolute;
    top: 5px;
    right: 0;
    padding-left: 20px;
    font-size: 14px;
    background: none;
    font-family: "handbookpro-regular";
    width: 18px;
    height: 15px;
    &:hover {
        background: none;
        color: #000;
    }
    &:before {
        font: normal normal normal 14px/1 FontAwesome;
        width: 18px;
        height: 15px;
        position: absolute;
        top: 0;
        left: 0;
    }
    &.fa-heart {
        &:before {
            color: #FFEF00;
        }
    }
    &.fa-heart-o {
        &:before {
            color: #000;
        }
    }
}

#communication-comments-view {
    &.content-box-item {
        padding: 20px 20px 30px;
    }
    & .modal-message {
        background: #fff;
        bottom: -5px;
        height: auto;
        left: -20px;
        right: -20px;
        width: auto;
        & div {
            margin: 0 auto;
            text-align: center;
            @include translate(0, -50%);
            position: absolute;
            left: auto;
            text-transform: uppercase;
            font-size: 17px;
            top: 50%;
        }
    }
}

form.loading > * {
    opacity: 0.5;
}

.comment-like-mob {
    display: none;
}

.comment.liked > .comment-content {
    & .comment-like {
        opacity: 1;
    }
    & .comment-inf {
        padding-right: 60px;
    }
}

// COMMENT ANSWER -------------------------- //
.comment.answer {
    margin-top: 20px;
    padding-left: 20px;
}

// COMMENT FORM ------------------------ //
.communication-comments {
    & .message-form-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    & .message-form {
        padding: 0 10px;
    }
}

.message-form-wrapper {
    font-family: handbookpro-regular;
    font-size: 15.5px;
    & button[type="submit"] {
        float: right;
        border: none;
        font-size: 13px;
        background: none;
        color: #4a90e2;
        cursor: pointer;
        font-family: Handbook-bold;
        &:hover {
            text-decoration: underline;
        }
    }
    & .message-form-smileys {
        top: -1px;
    }
    & hr {
        margin: 5px -20px 5px;
        border: none;
        border-bottom: 1px solid #c3c3c3;
    }
}

// COMMENT ACTIVE FOR MOBILE ---------------- //
// COMMENT NOTIFICATIONS ------------- //
.c-notifications {
    margin: 0 -10px 20px;
    position: relative;
    & .title {
        padding: 6px 10px;
        background: #fafafa;
        position: relative;
    }
}

.c-show-notifications {
    margin-left: 15px;
    color: #4a90e2;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.c-hide-notifications {
    display: block;
    width: 15px;
    height: 15px;
    // background: url(img/sprite.png) -156px -55px;
    position: absolute;
    top: 6px;
    right: 10px;
    cursor: pointer;
}

// ---------------------------------- //
.c-notifications {
    background: #f5f5f5;
    color: #4a4a4a;
    position: relative;
    margin: 0 -20px 20px -20px !important;
    #communication-notifications-list{
      padding-bottom: 20px;
    }
    .c-notifications-list {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: #f5f5f5;
        padding: 40px 0 20px;
        z-index: 20;
        & .close-list {
            vertical-align: middle;
            position: absolute;
            top: 8px;
            right: 10px;
            font-family: 'Handbook-bold';
            font-size: 15px;
            &:after{
              content: '';
              display: inline-block;
              border: 1px solid #4a4a4a;
              width:8px;
              height:8px;
              border-radius:100%;
              margin-left: 10px;
              position: relative;
              margin-bottom: -1px;
              transition: all .2s linear;
            }
            &:hover{
              &:after{
                background: #4a4a4a;
              }
            }
        }
        & .c-notification-date {
            margin-left: 20px;
        }
    }
    .close-notification{
        border: 1px solid #4a4a4a;
        width:10px;
        height:10px;
        border-radius:100%;
        position: absolute;
        right: 10px;
        top: 10px;
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
        &:hover{
            background: #4a4a4a;
        }
    }
    .c-notification {
        position: relative;
        font-size: 15.5px;
        margin-bottom: 5px;
        padding: 5px 10px;
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
        &:hover {
            background: #ffffff;
        }
    }
    .c-notification-top {
        padding-left: 50px;
        position: relative;
    }

    .c-notification-img {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 9px;
        left: 0;
        & img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 50%;
            min-height: 0;
            min-width: 0;
        }
    }
    .c-notificaion-inf{
      position: relative;
      box-sizing: border-box;
      width:100%;
      white-space: nowrap;
      overflow:hidden !important;
      text-overflow: ellipsis;
      padding-right: 15px;
    }
    .c-notification-name {
        font-family: 'Handbook-bold';
        font-size: 15px;
    }

    .c-notification-date {
        white-space: nowrap;
        margin-left: 10px !important;
        & span:first-child {
            margin-right: 7px;
        }
    }

    .c-notification-question {
        margin-top: 3px;
        & span {
            color: #4a8fec;
            margin-left: 7px;
        }
    }

    .c-notification-description {
        line-height: 1.4;
        max-height: 45px;
        display:inline-block;
        width:100%;
        padding-right: 15px;
        white-space: nowrap;
        overflow:hidden !important;
        text-overflow: ellipsis;
    }

}

.mark-read {
    width: 10px;
    height: 10px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 15px;
    &:hover .service-pop-up {
        display: block;
        @include translate(-50%, -145%);
    }
}
.content-box-item {
    padding-right: 0;
}


// ---------------------------- //
.modal-message {
    background: #fff;
    bottom: -5px;
    height: auto;
    left: -20px;
    right: -20px;
    width: auto;
    & div {
        margin: 0 auto;
        text-align: center;
        @include translate(0, -50%);
        position: absolute;
        left: auto;
        text-transform: uppercase;
        font-size: 17px;
        top: 50%;
    }
}

.message-name {
    font-family: 'Handbook-bold';
    color: #000;
    font-size: 15px;
    &:hover {
        opacity: 0.85;
    }
}

.message-text {
    color: #4a4a4a;
    line-height: 1.27;
}

.comment-description,
.message-form-area {
    line-height: 20px;
}

.message-form-area {
    cursor: text;
    & img[class^="i-smile"] {
        padding-left: 0;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 0;
        margin-top: 10px;
        cursor: text;
        max-width: 18px;
        position: relative;
    }
}

.comment-description {
    cursor: text;
    & img[class^="i-smile"] {
        padding-left: 0;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 0;
        cursor: text;
        max-width: 18px;
        position: relative;
    }
}

.message-form-area div + img[class^="i-smile"] {
    margin-left: 0;
}

.message-form-area {
    min-height: 22px;
    & span {
        font-weight: bold;
        color: #000;
    }
}
