

.communication-comments {
  padding-bottom: 100px;
}

.comment {
  margin-bottom: 21px;
}

.comment-content {
  position: relative;
}

.comment-top {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}

.comment-img {
  // display: table-cell;
  width: 50px;
  height: 50px;
  top: 4px;
  position: absolute;
  left: 0;
  & img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
}

.comment-inf {
  display: table-cell;
  vertical-align: middle;
}

.comment-name a {
  display: inline-block;
  margin-right: 13px;
  font-family: 'Handbook-bold';
}

.comment-date {
  font-size: 13px;
  color: #5a5a5a;
  & span:first-child {
    margin-right: 20px;
  }
}

.comment-reply {
  display: none;
  font-size: 21px;
  color: #4a90e2;
  position: absolute;
  top: 45%;
  left: 17%;
  & .separator {
    display: none;
  }
}

.comment-like {
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 30px;
  font-size: 14px;
  background: none;
  
  &:hover {
    background: none;
    color: #000;
  }
  &:before {
    width: 18px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: 0; 
  }
  &.i-hart {
    &:before {
      color: #FFEF00;
    }
  }

  &.i-hart2 {
    &:before {
      color: #000; 
    }
  }
}



form.loading > * {
  opacity: 0.5;
}
.comment-like-mob {
  display: none;
}

.comment.liked > .comment-content {
  & .comment-like {
    opacity: 1;
  }
  & .comment-inf {
    padding-right: 60px;
  }
}

  // COMMENT ANSWER -------------------------- //

.comment.answer {
  margin-top: 20px;
  padding-left: 20px;
}

  // COMMENT FORM ------------------------ //

.communication-comments {
  & .message-form-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  & .message-form {
    padding: 0 10px;
  }
}
.message-form-wrapper {
  font-family: handbookpro-regular;
  font-size: 15px;

  & button[type="submit"] {
    float: right;
    border: none;
    font-size: 13px;
    background: none;
    color: #4a90e2;
    cursor: pointer;
    font-family: Handbook-bold;
  }
  & .message-form-smileys {
    top: -1px;
  }
  & hr {
    margin: 5px -20px 5px;
    border: none;
    border-bottom: 1px solid #c3c3c3;
  }
}
// COMMENT ACTIVE FOR MOBILE ---------------- //

// COMMENT NOTIFICATIONS ------------- //


.c-notifications {
  margin: 0 -10px 20px;
  position: relative;
  & .title {
    padding: 6px 10px;
    background: #fafafa;
    position: relative;
  }
}

.c-show-notifications {
  margin-left: 15px;
  color: #4a90e2;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.c-hide-notifications {
  display: block;
  width: 15px;
  height: 15px;
  background: url(img/sprite.png) -156px -55px;
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
}

  // ---------------------------------- //

.c-notifications-list {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background: white;
  padding: 40px 0 30px;
  z-index: 2;
  & .close-list {
    position: absolute;
    top: 8px;
    right: 10px;
    font-family: 'Handbook-bold';

  }
  & .c-notification-date {
    margin-left: 20px;
  }
}

.c-notification {
  position: relative;
  font-size: 15px;
  margin-bottom: 5px;
  padding: 5px 10px;
  &:hover {
    background: #fafafa;
  }
}

.mark-read {
  width: 10px;
  height: 10px;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 15px;
  &:hover .service-pop-up {
    display: block;
    @include translate(-50%, -145%);
  }
}

.c-notification-top {
  padding-left: 50px;
  min-height: 45px;
  position: relative;
}

.c-notification-img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  & img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
}

.c-notification-name {
  font-weight: bold;
}

.c-notification-date {
  white-space: nowrap;
  & span:first-child {
    margin-right: 5px;
  }
}

.c-notification-question {
  margin-top: 3px;
  & span {
    color: #4a8fec;
  }
}

.c-notification-description {
  line-height: 1.4;
  max-height: 45px;
  overflow: hidden;
}

.content-box-item {
  padding-right: 0;
}

  // ---------------------------- //


.modal-message {
    background: #fff;
    bottom: -5px;
    height: auto;
    left: -20px;
    right: -20px;
    width: auto;
    & div {
      margin: 0 auto;
      text-align: center;
      @include translate(0, -50%);
      position: absolute;
      left: auto;
      text-transform: uppercase;
      font-size: 17px;
      top: 50%;
    }
  }


.message-name {
  margin-bottom: 8px;
  line-height: 1.27;
}

.message-text {
  color: #8b8d8c;
  line-height: 1.27;
}

#communication-messages-new .content-box-item {
  padding-top: 40px;
}

.comment-description, .message-form-area {
  line-height: 22px;
  
}
.message-form-area {
  cursor: pointer;
}

.message-form-area { 
  min-height: 22px;
  & span {
    font-weight: bold;
    color: #000;
  }
}