// GAMES <<CHANCE>> -------------------- //

/*title of games view*/

.title-wrap {
    position: relative;
    width: 100%;
    padding: 20px;
}

.back-button {
    position: absolute;
    left: 0px;
    top: 50%;
    font-size: 35px;
    transform: translate(0, -50%);
    color: #6ba4e7;
    padding: 0;
    height: auto;
    vertical-align: middle;
    &:hover {
        i {
            color: #343434;
        }
    }
    i {
        transition: color .2s ease-in;
        display: inline;
        position: relative;
        left: -10px;
    }
}
.game-title {
    text-align: center;
    /*font-weight: bold;*/
    text-transform: uppercase;
    color: #343434;
    font-size: 20px;
    font-family: Handbookpro-regular;
}


/* END
title of games view*/

div > .games-previews {
    padding: 0;
}

.games-previews {
    overflow-y: hidden;
    .flex-box {
        font-family: handbookpro-regular;
        padding: 0 20px;
        .fixr {
            margin-left: -55px;
            position: relative;
        }
        a {
            display: inline-block;
            height: 320px;
            width: 200px;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            margin: 20px 0;
            margin-left: 54px;
        }
        a:active,
        a:hover {
            /*need animation*/
        }
        .game-img {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .game-info {
            background: #f8f8f8;
            width: 100%;
            position: relative;
            margin: 100px 0 0 0;
            min-height: 180px;
            padding: 10px 20px;
            box-sizing: border-box;
            text-align: center;
            overflow: hidden;
        }
        .game-name {
            font-family: Handbook-bold;
            font-size: 15.5px;
            text-transform: uppercase;
            line-height: 1;
            margin: 5px 0;
        }
        .fund_title {
            font-family: Handbook-bold;
            color: #605b5c;
            font-size: 14px;
            line-height: 2;
        }
        .game-fund>div {
            font-family: Handbook-bold;
            text-transform: uppercase;
            font-size: 24px;
        }
        .game-fund>div>span {
            font-size: 14px;
            color: #2f2f2f;
        }
        .players {
            font-family: Handbook-bold;
            padding-top: 20px;
            font-size: 14px;
        }
        .game-button {
            position: relative;
            text-align: center;
            line-height: 40px;
            height: 40px;
            font-size: 15px;
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
            text-transform: uppercase;
        }
    }
}

#games-chance {
    .game-info {
        background: transparent;
    }
    .game-fund > div {
        font-size: 15.5px;
        margin: 10px 0;
        &:first-child:nth-last-child(1) {
            font-size: 24px;
            margin: 20px 0;
        }
    }
}

//colors
$web_orange: orange;
$white: white;
$color_cape_cod_60_approx: rgba(64, 64, 64, 0.6);
$black_50: rgba(0, 0, 0, 0.5);
$color_gray_chateau_approx: #a5adb0;
$white_60: rgba(255, 255, 255, 0.6);
$color_celeste_approx: #ccc;
$black_30: rgba(0, 0, 0, 0.3);
$color_turbo_approx: rgb(255, 228, 0);
$color_geyser_95_approx: rgba(216, 227, 231, 0.95);
$mine_shaft_50: rgba(50, 50, 50, .5);
$red: red;
$color_rio_grande_approx: rgba(200, 200, 0, 1);
$color_jungle_mist_95_approx: rgba(178, 208, 212, 0.95);
$color_opal_approx: #a8c4c8;
$color_suva_gray_approx: #888;
$black: black;
$color_pink_swan_approx: #bababa;
$white_30: rgba(255, 255, 255, 0.3);
$white_50: rgba(255, 255, 255, 0.5);
$color_jungle_mist_approx: #b2d0d4;
$color_gravel_approx: #4c4c4c;
$color_tan_hide_approx: #f68e56;
$color_guardsman_red_approx: rgba(200, 0, 0, 1);
$gray: gray;
$black_20: rgba(0, 0, 0, 0.2);
$color_coral_red_approx: #ff4242;
$color_lima_approx: #7ed321;

//fonts
$hbRegular: handbookpro-regular;
$hbBold: Handbook-bold;
$font_2: Simple-Line-Icons;

//urls
$url_0: url(../img/games/card-table-bg.jpg);
$url_1: url(../img/games/bg-question.png);
$url_2: url(../img/games/card-deck.png);
$url_3: url(../img/games/lotzonBg.png);

// games styles

.active_small_devices {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
    margin: 0;
}

footer.unvisible {
    display: none;
}

//SeaBattle WhoMore ....... styles
#games-online-field {
    // timer
    #gameTimer{
        display: none;
    }
    .mx{
        .wrapper{
            width: 330px;
            min-height: 330px;
            margin: 0px auto;
            padding: 0;
            &:after{
                display: none;
            }
            > *{
                width: 100%;
            }
        }
    }
    // back-button
    .back-button{
        transform: none;
        top: 20px;
        left: 10px;
        width: auto;
        z-index: 100;
        cursor: pointer;
        &:before{
            content: '';
            height: 100%;
            width: 0;
            display: inline-block;
            vertical-align: middle;
        }
        i{
            display: inline-block;
            vertical-align: middle;
            width: 15px;
            // padding-right: 7px;
        }
        span{
            display: inline-block;
            vertical-align: middle;
            font-family:$hbRegular;
            font-size:13px;
            color:#000000;
            // height: 41px;
            // line-height:41px;
            text-transform: uppercase;
        }
    }
    //timer
    .circle ,
    .circle-timer {
        width: 74px;
        height: 74px;
        left: -7px;
        top: -7px;
        position: absolute;
        display: inline-block;
        border-radius: 50%;
        transform: scaleX(-1);
    }
    .circle {
        background: $color_coral_red_approx;
    }
    .beater {
        .circle {
            background: $color_lima_approx;
        }
        .timer-r ,
        .timer-l {
            border: 7px solid $color_lima_approx;
            border-left-color: transparent;
            border-top-color: $color_lima_approx;
        }
    }

    @-webkit-keyframes timer-slide {
        0% {border-top-color: transparent;}
        50% {border-top-color: transparent;}
        100% {border-top-color: transparent;}
    }
    @-webkit-keyframes timer-toggle {
        0% {opacity: 0;}
        50% {opacity: 0;}
        51% {opacity: 1;border-top-color: transparent;}
        76% {border-top-color: transparent;}
        100% {opacity: 1;}
    }
    @keyframes timer-slide {
        0% {transform: rotate(-225deg);border-top-color: transparent;}
        50% {transform: rotate(-45deg);border-top-color: transparent;}
        100% {transform: rotate(-45deg);border-top-color: transparent;}
    }
    @keyframes timer-toggle {
        0% {opacity: 0;}
        50% {opacity: 0;}
        51% {transform: rotate(-45deg);opacity: 1;border-top-color: transparent;}
        76% {border-top-color: transparent;}
        100% {transform: rotate(137deg);opacity: 1;}
    }
    .timer-l,
    .timer-r {
        border-radius: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 15;
        width: 74px;
        height: 74px;
        margin-left: -37px;
        margin-top: -37px;
        animation-iteration-count: infinite;
        animation-direction: reverse;
        border: 7px solid $color_coral_red_approx;
        border-left-color: transparent;
        border-top-color: $color_coral_red_approx;
    }

    .timer-l {
        animation-name: timer-slide;
        animation-timing-function: ease-in;
        z-index: 5;
        left: 0;
    }
    .timer-r {
        animation-name: timer-toggle;
        animation-timing-function: ease-out;
    }
    .timer-slot {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: 50%;
        overflow: hidden;
    }
    
    .players{
        .m{
            // main player bottom line
            .gm-pr{
                width: 100%;
                height: 80px;
                padding: 0 20px;
                box-sizing: border-box;
                z-index: 12;
                background: #4a4a4a;
                position: absolute;
                bottom: 0;
                margin: 0;
                
                &:after{
                    content: "";
                    display: block;
                    clear: both;
                }

                > * {
                    display: inline-block;
                    vertical-align: middle;
                }

                // player photo + timer
                .pr-ph-bk{
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    left: 50%;
                    margin-left: -50px;
                }

                // buttons
                .pr-cl{
                    float: left;
                    height: 100%;
                    position: relative;
                    text-align: left;
                    // vertical-align: middle;

                    &:before{
                        content: " ";
                        display: inline-block;
                        height: 100%;
                        width: 0%;
                        vertical-align: middle;
                    }
    
                    > *{
                        display: inline-block;
                        vertical-align: middle;
                        box-sizing: border-box;
                        padding: 7px 10px;
                        min-width: 100px;
                        margin-left: 20px;
                        font-size:14px;
                        text-transform: uppercase;
                        text-align: center;
                        color: #fff;
                        background: transparent;
                        border:1px solid #ffffff;
                        cursor: pointer;
                        transition: all .2s ease;
                        
                        &:hover{
                            box-shadow: 0 0 10px 1px $color_rio_grande_approx;
                        }

                        &:first-child{
                            margin-left: 0;
                        }
                        &.btn-primary{
                            color:#000000;
                            background:#f8e71c;
                            border: 1px solid #f8e71c;
                        }
                    }

                    [class^="msg-"]{
                        cursor: default;
                        border: none;
                        &:hover{
                            box-shadow: none;
                        }
                    }
                }

                // bet
                .pr-pr{
                    color: #fff;
                    float: right;
                    padding-top: 30px;
                    > *{
                        display: inline-block;
                    }
                    .title{
                        padding-right: 5px;
                        text-transform: uppercase;
                    }
                    b{
                        padding-right: 5px;
                    }
                }

                // ballance
                .pr-pt{

                    color: #fff;
                    padding-left: 45px;
                    padding-top: 22px;
                    text-align: left;
                    position: absolute;
                    left: 50%;
                    .title{
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    //END timer
    &:not(.Durak) {
        padding-bottom: 80px;
        height: auto;
        background: $url_3;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        .mx {
            height: 100%;
            .players {
                position: static;
                height: 80px;
                padding: 10px 50px;
                text-align: center;
                .o {
                    .gm-pr {
                        width: 100px;
                        min-height: 60px;
                        position: relative;
                        top: 5px;
                        left: 20px;
                    }
                    .wt{
                        display: none;
                    }
                }
                .m{
                    .wt{
                        // position: absolute;
                        // top: 0;
                        // border: 1px solid red;
                    }
                    .gm-pr{
                        .pr-ph-bk{
                            width: auto;
                            height: auto;
                            left: 50%;
                            top: 10px;
                            margin-left: -30px;
                        }
                    }
                }
                // player name
                .pr-nm{
                    position: relative;
                    left: 100%;
                    text-align: left;
                    padding: 20px 0 0 20px;

                    font-family:$hbRegular;
                    font-size:15px;
                    line-height:18px;
                    word-wrap: normal;
                    white-space: nowrap;
                }
            }
            .o {
                display: inline-block;
                margin: 0 10px;
                
            }
            .m {
                height: 80px;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                // overflow: hidden;
                // background: #4a4a4a;
                text-align: center;
            }
            // timer
            // .circle ,
            // .circle-timer {
            //     width: 100%;
            //     height: 100%;
            //     left: 0;
            //     top: 0;   
            // }
            // avatar
            .pr-ph-bk{
                width: auto;
                height: auto;
                opacity: 1;
                z-index: 2;
                position: relative;
                margin: auto;
                overflow: visible;
            }
            // .pr-ph{
            //     width: 100%;
            //     height: 100%;
            //     background-size: 100%;
            //     border-radius: 50em;
            // }
            .pr-ph {
                        width: 60px;
                        height: 60px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        border-radius: 70px;
                        margin: 0;
                    }
            .table {
                margin: 0px auto;
                padding: 7px 0;
                .inner {
                    padding: 1px 1px 0 0;
                    .cell {
                        width: 100%;
                        height: 100%;
                        background: #d3eaec;
                        font-size: 10em;
                        color: #4a4a4a;
                        text-align: center;
                        position: relative;
                        cursor: default;
                        overflow: hidden;
                        padding: 0;
                        &:before {
                            content: "";
                            display: inline-block;
                            height: 100%;
                            width: 0;
                            vertical-align: middle;
                        }
                        &[class='cell'] {
                            cursor: pointer;
                        }
                        &.m {
                            background: #f8e71c;
                        }
                        &.o {
                            background: #f78e51;
                        }
                        > * {
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
            
            .msg{
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                text-align: center;

                &:before{
                    content: '';
                    height: 100%;
                    width: 0;
                    display: inline-block;
                    vertical-align: middle;  
                }
                > *{
                    box-shadow: 1px 2px 2px rgba(0,0,0,0.4);
                    width:420px;
                    height:170px;
                    display: inline-block;
                    vertical-align: middle;
                    padding: 20px 10px;

                    font-size:15px;
                    color:#4a4a4a;
                    letter-spacing:0.2px;
                    line-height:36px;

                    .title{
                        font-size:40px;
                        color:#4a4a4a;
                        letter-spacing:0.92px;
                        line-height:36px;
                    }
                    .msg-buttons{
                        > *{
                            display: inline-block;
                            position: static;
                            vertical-align: middle;
                            text-transform: uppercase;
                            margin-top: 30px;
                            font-size:14px;
                            color:#000000;
                            letter-spacing:0.32px;
                            line-height:1;
                            background: transparent;

                            border:1px solid #000000;
                            min-width: 108px;
                            height:28px;
                            cursor: pointer;
                            padding: 0 10px;
                            transition: all .2s ease-in;
                            &:before{
                                content: '';
                                height: 100%;
                                width: 0;
                                display: inline-block;
                                vertical-align: middle;
                            }
                            &:first-child{
                                margin-right: 20px;
                            }

                            &:hover{
                                color: #fff;
                                background: #000;
                            }
                        }
                    }
                }

                .msg-win{
                    background:#f8e71c;
                }
                .msg-lose{
                    background:#f0e98f;
                }
                .msg-equal{
                    background:#fff;
                    padding: 40px;
                    vertical-align: middle;
                    position: relative;
                    &:before{
                        content: '';
                        height: 100%;
                        width: 0;
                        vertical-align: middle;
                        display: inline-block;
                    }
                    .title{
                        font-size:15px;
                        color:#4a4a4a;
                        line-height:18px;
                        text-align:center;
                        text-transform: uppercase;
                        vertical-align: middle;
                        display: inline-block;
                    }
                }
            }
        }

        // for specific games
        &.WhoMore {
            .moves{
                margin: 0px auto;
                &:last-child{
                    padding-bottom: 7px;
                }

                [class^="mv-"]{
                    &:after{
                        content: '';
                        display: block;
                        clear: both;
                    }
                    div{
                        position: relative;
                        width: 120px;
                        float: right;
                        padding: 0 10px 0 0;
                        box-sizing: initial;
                        &:first-child{
                            padding: 0 0 0 10px;
                            float: left;
                            span, i{
                                float: left;
                            }
                        }
                        span{
                            width: 60px;
                            float: right;
                            font-size:15px;
                            line-height:18px;
                            word-spacing: 300em;
                        }
                        i{
                            float: right;
                            font-size:37px;
                            line-height:38px;
                        }
                    }
                }
            }
            .mx{
                .wt{
                }   
                .m{
                    color: #fff;
                    // player avatar
                    .pr-nm{
                        display: none;
                    }
                    .wt{
                        span{
                            // top: 30px !important;
                        }
                    }
                }
                .table {

                    
                    .inner {
                        padding: 2px;
                        .cell {
                            color: #4a4a4a;
                            padding: 0;
                            margin: 0;
                            i[class^="i-"] {
                                font-size: 0.9em;
                            }
                            span {
                                font-family: $hbBold;
                                font-size: 1.1em;
                            }
                        }
                    }
                }
            }
        }
    }
}

// END SeaBattle WhoMore ....... styles
//Durak ....... styles
#games-online-field.Durak {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    box-shadow: 2px 2px 4px $black_50;
    height: 550px;
    * {}
    > div {
        top: 0;
        width: 100%;
        height: 550px;
        position: absolute;
        z-index: 10;
        // background: $url_3 $color_gray_chateau_approx no-repeat center center;
        background: $url_0 $color_gray_chateau_approx no-repeat center center;
        overflow: hidden;
        background-size: cover;
    }
    #gameTimer {
        display: none;
    }
    .mx {
        height: 100%;
        .players {
            width: 40%;
            height: 25%;
            margin: 0 30%;
            text-align: center;
            .m {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 40%;
                margin-left: -30%;
                z-index: 1;
                .gm-pr {
                    // z-index: 12;
                    // background: #4a4a4a;
                    // position: absolute;
                    // bottom: 0;
                    // width: 100%;
                    // height: 80px;
                    // margin: 0;
                    > *{
                        display: initial;
                    }

                    .pr-ph-bk {
                        left: 45%;
                        top: 10px;
                        .wt {
                            margin-top: -100px;
                        }
                    }
                    .pr-cl {
                        .btn-pass ,
                        .btn-ready ,
                        .msg-move {
                            display: none;
                        }
                    }
                    .pr-ph {
                        width: 60px;
                        height: 60px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        border-radius: 70px;
                        margin: 0;
                    }
                    .pr-pr {
                        // background: $color_opal_approx;
                        // position: relative;
                        // height: 65px;
                        // width: 65px;
                        // margin: 8px;
                        // float: right;
                        // border-radius: 80px;
                        // padding: 7px 10px;
                        // box-sizing: border-box;
                        // bottom: 0;
                        // b {
                        //     font: 36px/1 Handbook-bold;
                        //     letter-spacing: -3px;
                        //     margin-left: -3px;
                        //     display: block;
                        //     text-transform: uppercase;
                        // }
                        // span {
                        //     font: 13px/5px $hbBold;
                        //     text-transform: uppercase;
                        //     color: $black_50;
                        //     display: block;
                        // }
                    }
                    .pr-md {
                        margin-left: 20px;
                        vertical-align: middle;
                        position: relative;
                        height: 100%;
                        float: right;
                        color: #fff;
                        font-size: 30px;
                        position: relative;
                        line-height: 0;
                        &:before{
                            content: '';
                            display: inline-block;
                            width: 0;
                            height: 100%;
                            vertical-align: middle;
                        }
                        > *{
                            display: inline-block;
                            vertical-align: middle;
                        }
                        i{
                            // display: block;
                            vertical-align: middle;
                        }
                    }
                    .pr-nm {
                        display: none;
                    }
                    .tm {
                        margin: 5px 0 0 -200px;
                        background: none;
                        color: $black;
                    }
                }
                .pr-pt {
                    // position: relative;
                    // float: right;
                    // height: 100%;
                    // width: 20%;
                    // padding: 23px 0;
                    // box-sizing: border-box;
                    // color: $black;
                    // text-align: left;
                    // margin: 0 0 0 40px;
                    // .wallet {
                    //     font-size: 36px;
                    //     color: $black;
                    //     float: left;
                    //     margin-right: 20px;
                    // }
                }
                &.current:not(.starter) .gm-pr .pr-cl {
                    .btn-pass ,
                    .btn-ready {
                        display: inline-block;
                    }
                }
                &.starter .gm-pr .pr-cl .msg-move {
                    display: inline-block;
                }
            }
            .o {
                width: 30%;
                float: left;
                margin: 0;
                .gm-pr {
                    height: auto;
                    margin: 0 0 0 5px;
                    width: 172px;
                    float: left;
                    text-align: center;
                    // height: 480px;
                    // margin: 0 19px;
                    position: relative;
                    .pr-ph {
                        width: 60px;
                        height: 60px;
                        background-repeat: no-repeat;
                        background: $white;
                        background-size: contain;
                        position: relative;
                        box-shadow: 0 0 10px;
                        margin: 30px 0 0;
                        border-radius: 50px;
                    }
                    .pr-nm {
                        width: 100%;
                        background: $color_cape_cod_60_approx;
                        color: $white;
                        top: 60px;
                        padding: 2px;
                        position: absolute;
                        border-radius: 3px;
                        font: 14px/1 "handbookpro-regular";
                    }
                    .tm {
                        color: $white;
                        background: $black_50;
                        margin: 5px;
                    }
                }
            }
            .col1 {
                padding-left: 42%;
            }
            .col2 {
                padding-left: 25%;
            }
            .col3 {
                padding-left: 10%;
            }
            .exit {
                position: absolute;
                top: 0;
                left: 0;
                margin: 15px;
                // border-radius: 50em;
                // border: 1px solid rgba(0,0,0,0.25);
                // box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.3);
                padding: 10px;
                // width: 50px;
                // height: 30px;
                // background-color: $white_30;
                cursor: pointer;
                &:hover {
                    // background-color: $white_50;
                }
                span {
                    display: none;
                }
            }
            .gm-pr .pr-ph-bk {
                width: auto;
                height: auto;
                opacity: 1;
                z-index: 2;
                position: relative;
                margin: auto;
                overflow: visible;
                .pr-ph {
                    box-shadow: 0 0 6px 0 $black_50;
                }
                .mt {
                    display: block;
                    background: $white;
                    border: 1px solid $color_celeste_approx;
                    border-radius: 5px;
                    padding: 5px;
                    font-size: 22px;
                    font: 22px/1 "handbookpro-regular";
                    width: 140%;
                    margin-left: -20%;
                    box-sizing: border-box;
                    top: 0;
                    box-shadow: 3px 3px 3px 0 $black_30;
                    white-space: nowrap;
                }
                .tm {
                    font: 32px/1 "handbookpro-regular";
                    padding: 4px;
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    margin: -20px 17px;
                    border-radius: 50px;
                    border: 5px solid $color_turbo_approx;
                    box-sizing: border-box;
                }
                .wt {
                    display: none;
                    top: 0;
                    width: 130px;
                    background: $color_geyser_95_approx;
                    min-height: 50px;
                    line-height: 1;
                    margin-left: -40px;
                    border-radius: 5px;
                    padding: 5px;
                    box-shadow: 0 0 5px 1px $mine_shaft_50;
                    font-size: 24px;
                    position: relative;
                    z-index: 1;
                    &.loser {
                        color: $red;
                    }
                }
            }
        }
        // .gm-pr {
        //     width: 172px;
        //     float: left;
        //     text-align: center;
        //     height: 480px;
        //     margin: 0 19px;
        //     position: relative;
        // }
        .msg.winner {
            width: 100%;
            height: 100%;
            background-color: $white_60;
            .re {
                margin-top: 160px;
            }
            .ot-exit {
                margin-top: 160px;
            }
            .ch-ot {
                margin-bottom: 30px;
            }
        }
    }
    .cards {
        .players {
            .m {
                .card {
                    transform-origin: 50% 100%;
                }
                .gm-pr .pr-md .icon-reload {
                    display: none;
                }
            }
            .o .card {
                position: absolute;
                margin-left: -20px;
                margin-top: 20px;
                border-radius: 5px;
                transform-origin: 50% 25%;
            }
        }
        .deck {
            float: left;
            height: 35%;
            width: 100px;
            box-sizing: border-box;
            z-index: 10;
            position: relative;
            width: 15%;
            .card {
                position: absolute;
                left: -80px;
                top: 20px;
                transform: rotate(10deg);
                &.trump {
                    left: 0;
                    top: 80px;
                    transform: rotate(100deg);
                    transform-origin: 50% 25%;
                }
            }
            .last {
                position: absolute;
                top: 0;
                left: 10px;
                color: $white;
            }
            .lear {
                position: absolute;
                top: 75px;
                left: 10px;
                width: 50px;
                height: 50px;
                background: $url_2 no-repeat;
                background-position: -138px -227px;
                border-radius: 50px;
                &.card1 {
                    background-position: -1491px -531px;
                }
                &.card2 {
                    background-position: -1438px -480px;
                }
                &.card3 {
                    background-position: -1438px -531px;
                }
                &.card4 {
                    background-position: -1491px -480px;
                }
            }
        }
        .table {
            float: left;
            height: 35%;
            width: 100px;
            box-sizing: border-box;
            z-index: 10;
            width: 78%;
            .cards {
                float: left;
                width: 16.6%;
                height: 120px;
                position: relative;
                .card {
                    float: left;
                    position: absolute;
                    left: 25px;
                    margin-top: 5px;
                    transform: rotate(2deg) scale(0.7, 0.7);
                }
                &.highlight {
                    div:first-of-type {
                        animation: pulsate 1s linear infinite;
                        &:hover {
                            animation: none;
                            box-shadow: 0 0 2px 2px $color_guardsman_red_approx;
                            cursor: pointer;
                        }
                    }
                    &.hover div:first-of-type {
                        animation: none;
                        box-shadow: 0 0 2px 2px $color_guardsman_red_approx;
                        cursor: pointer;
                    }
                }
                &.revert {
                    .card {
                        background: none;
                        border: 3px dashed $gray;
                        box-shadow: none !important;
                    }
                    .card::before {
                        font-family: $font_2;
                        font-size: 72px;
                        content: "\e099";
                        position: absolute;
                        left: 16px;
                        top: 46px;
                        color: $gray;
                    }
                    &.highlight .card {
                        border-color: $color_guardsman_red_approx;
                    }
                }
                div:first-of-type {
                    left: 0;
                    margin-top: 0;
                    transform: rotate(-1deg) scale(0.7, 0.7);
                }
            }
            > div:nth-of-type(even) {
                padding-top: 30px;
                transform: rotate(-4deg);
            }
        }
        .off {
            float: left;
            height: 35%;
            width: 100px;
            box-sizing: border-box;
            z-index: 10;
            width: 3%;
            float: right;
            .card {
                transform: rotate(-4deg) scale(0.7, 0.7);
                transform-origin: 50% 25%;
                position: absolute;
                margin-left: -40px;
            }
        }
        &.Revert .players .m .gm-pr .pr-md .icon-reload {
            display: block;
            position: absolute;
            top: 14px;
            font-size: 29px;
            left: 1px;
        }
        &:not(.active_small_devices) .players .m .card:hover {
            box-shadow: 0 0 10px 1px $color_rio_grande_approx;
            cursor: pointer;
        }
    }
    .card {
        position: absolute!important;
        width: 106px;
        height: 162px;
        text-align: center;
        background: $url_2 no-repeat;
        background-position: -1430px 0;
        transform-origin: 50% 20%;
        border-radius: 10px;
        box-shadow: 2px 0 10px 0 $black_20;
        &.select {
            box-shadow: 0 0 10px 1px $color_rio_grande_approx;
        }
    }
    .card1x2 {background-position: 0 -170px;}
    .card1x3 {background-position: -110px -170px;}
    .card1x4 {background-position: -220px -170px;}
    .card1x5 {background-position: -330px -170px;}
    .card1x6 {background-position: -440px -170px;}
    .card1x7 {background-position: -550px -170px;}
    .card1x8 {background-position: -660px -170px;}
    .card1x9 {background-position: -770px -170px;}
    .card1x10 {background-position: -880px -170px;}
    .card1x11 {background-position: -990px -170px;}
    .card1x12 {background-position: -1100px -170px;}
    .card1x13 {background-position: -1210px -170px;}
    .card1x14 {background-position: -1320px -170px;}
    .card2x2 {background-position: 0 0;}
    .card2x3 {background-position: -110px 0;}
    .card2x4 {background-position: -220px 0;}
    .card2x5 {background-position: -330px 0;}
    .card2x6 {background-position: -440px 0;}
    .card2x7 {background-position: -550px 0;}
    .card2x8 {background-position: -660px 0;}
    .card2x9 {background-position: -770px 0;}
    .card2x10 {background-position: -880px 0;}
    .card2x11 {background-position: -990px 0;}
    .card2x12 {background-position: -1100px 0;}
    .card2x13 {background-position: -1210px 0;}
    .card2x14 {background-position: -1320px 0;}
    .card3x2 {background-position: 0 -510px;}
    .card3x3 {background-position: -110px -510px;}
    .card3x4 {background-position: -220px -510px;}
    .card3x5 {background-position: -330px -510px;}
    .card3x6 {background-position: -440px -510px;}
    .card3x7 {background-position: -550px -510px;}
    .card3x8 {background-position: -660px -510px;}
    .card3x9 {background-position: -770px -510px;}
    .card3x10 {background-position: -880px -510px;}
    .card3x11 {background-position: -990px -510px;}
    .card3x12 {background-position: -1100px -510px;}
    .card3x13 {background-position: -1210px -510px;}
    .card3x14 {background-position: -1320px -510px;}
    .card4x2 {background-position: 0 -340px;}
    .card4x3 {background-position: -110px -340px;}
    .card4x4 {background-position: -220px -340px;}
    .card4x5 {background-position: -330px -340px;}
    .card4x6 {background-position: -440px -340px;}
    .card4x7 {background-position: -550px -340px;}
    .card4x8 {background-position: -660px -340px;}
    .card4x9 {background-position: -770px -340px;}
    .card4x10 {background-position: -880px -340px;}
    .card4x11 {background-position: -990px -340px;}
    .card4x12 {background-position: -1100px -340px;}
    .card4x13 {background-position: -1210px -340px;}
    .card4x14 {background-position: -1320px -340px;}
    .game-cards {
        width: 80%;
        margin: 0 auto;
        height: 100%;
        position: relative;
        div:not(.animatedCard) {}
    }
    .small-card {
        transform: rotate(2deg) scale(0.7, 0.7) !important;
        cursor: none;
    }
    .transition {
        transition: all 0.2s linear;
    }
    .highlight {
        animation: highlight-fade 2s ease-out;
    }
    @-webkit-keyframes highlight-fade {
        0% {
            background: $web_orange;
        }
        100% {
            background: $white;
        }
    }
    @-moz-keyframes highlight-fade {
        0% {
            background: $web_orange;
        }
        100% {
            background: $white;
        }
    }
    @-ms-keyframes highlight-fade {
        0% {
            background: $web_orange;
        }
        100% {
            background: $white;
        }
    }
    @keyframes highlight-fade {
        0% {
            background: $web_orange;
        }
        100% {
            background: $white;
        }
    }
}

// END Durak ....... styles

