/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.01.2016, 15:09:51
    Author     : squama
*/

//colors
$color_turbo_approx: #ffe700;
$black: #000;
$black_35: rgba(0, 0, 0, 0.35);
$white: #fff;
$white_90: rgba(255,255,255, 0.95);
$black_10: rgba(0,0,0,0.1);
$color_ziggurat_approx: #b9dadd;
$gray: #808080;

.moment-game-box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 101;
    background: $black_35;
    .title {
        font-size: 20px;
        text-transform: uppercase;
        padding: 10px 0;
    }
    .message {
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all .4s ease-out;
        text-transform: uppercase;
        /*font-weight: bold;*/
        span {
            padding: 0 10px;
            &:before,
            &:after{
                content: '"';
            }
        }
    }
    .minefield {
        margin: 20px 0;
        .inner {
            padding: 4%;
        }
        button {
            background: $color_ziggurat_approx;
            color: $black;
            width: 100%;
            height: 100%;
            font-size: 17em;
            opacity: 1;
            cursor: pointer;
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: rotateY(0deg);
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all .4s ease-in;
            border: 1px solid $black_10;
            &.win {
                background: $color_turbo_approx;
                .flipFix {
                    * {
                        display: block;
                        font-size: .3em;
                        line-height: .9;
                        text-transform: uppercase;
                        &:first-child {
                            font-size: .7em;
                            font-weight: bold;
                        }
                    }
                    :first-child:nth-last-child(1) {
                        display: block;
                        font-size: .4em;
                        text-transform: none;
                    }
                }
                &:not(.played) {
                    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                    transform: rotateY(180deg);
                    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                    transition: all .4s ease-out;
                    opacity: 0.7;
                }
            }
            &.played {
                //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                transform: rotateY(180deg);
                //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                transition: all .4s ease-out;
            }
            &.lose {
                background: $white;
                i:not(.i-x) {
                    display: none;
                }
            }
            > *:not(i) {
                opacity: 0;
                display: block;
                //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                transform: rotateY(180deg);
                //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                transition: all 1.4s ease-out;
            }
            &:not([class]) i:not(.i-question) {
                display: none;
            }
        }
        i {
        }
        > div > div {
        }
        button[class] .flipFix {
            opacity: 1;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all 1.4s ease-out;
        }
    }
    > .inner {
        position: absolute;
        top: 50%;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(-50%);
        width: 60%;
        margin: 0 20%;
        background: $white;
        padding: 20px;
        > i.i-x-slim{
            
            position: absolute;
            right: -30px;
            top: 0;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
        }
    }
    &:not(.game-started) .message {
            position: absolute;
            z-index: 1;
            background: $white_90;
            padding: 20px;
            top: 50%;
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin: 0;
            width: 500px;
            left: 50%;
            transform: translate(-50%, -50%);
    }
}
@media all and(min-width: 1600px) {
    .moment-game-box .minefield button {
        font-size: 30em;
    }
}
@media all and(max-width: 1600px) {
    .moment-game-box .minefield button {
        font-size: 22em;
    }
}
@media all and(max-width: 1366px) {
    .moment-game-box .minefield button {
        font-size: 16em;
    }
}
@media all and(max-width: 1024px) {
    .moment-game-box > .inner {
        width: 80%;
        margin: 0 10%;
    }
}
@media all and(max-width: 768px) {
    .moment-game-box {
        .ad{
            display: none;
        }
        &:not(.game-started) .message {
            top: 55%;
            
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: translateY(-50%);
            margin: 0;
            width: 90%;
            left: 5%;
        }       
        > .inner {
            width: 100%;
            min-height: 100%;
            margin: 0;
            background: $color_turbo_approx;
            > i.i-x-slim{
                
                position: absolute;
                right: 0;
                top: 20px;
                font-size: 18px;
                color: #000;
            }
        }
        .minefield div .inner button {
            font-size: 16em;
            background: $black;
            color: $color_turbo_approx;
        }
    }
}
@media all and(max-width: 525px) {
    .moment-game-box {
        > .inner {
            width: 100%;
            min-height: 100%;
            margin: 0;
            padding: 10px 0;
            > *:not(.minefield) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .minefield div .inner button {
            font-size: 13em;
            &.win {
             
                .flipFix {
                    * {
                        font-size: .35em;
                        line-height: .9;
                        &:first-child {
                            font-size: .7em;
                        }
                    }
                    :first-child:nth-last-child(1) {
                        font-size: .5em;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 434px) {
    .moment-game-box {
        .minefield div .inner button {
            font-size: 8em;
            &.win {
             
                .flipFix {
                    * {
                        font-size: .5em;
                        line-height: .9;
                        &:first-child {
                            font-size: .9em;
                        }
                    }
                    :first-child:nth-last-child(1) {
                        font-size: .6em;
                    }
                }
            }
        }
    }
}
@media screen and (orientation:portrait) and (max-width: 768px){
    .moment-game-box .minefield{
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            margin: 0;
    }
}
@media screen and (orientation:landscape) and (max-width: 768px){
}