
//colors
$color_tuatara_approx: #343434;
$color_gravel_approx: #474747;
$color_turbo_approx: #ffe700;
$white: #fff;
$color_hippie_blue_approx: #5a90b7;
$color_sinbad_approx: #a7d1d5;
$mercury: #e5e5e5;
$wild_sand: #f4f4f4;
$color_fuscous_gray_approx: #4f4f4f;
$color_bright_sun_approx: #ffe634;
$color_silver_chalice_approx: #aaa;

//fonts
$font_0: handbook-bold;
$font_1: handbookpro-regular;

//@extend-elements
//original selectors
//.games-view .game-settings .settings-tabs div.active, .games-view .game-settings .settings-tabs div:hover
%extend_1 {
	background: $color_gravel_approx;
	color: $white;
	text-align: center;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}

//original selectors
//.game-settings [type="radio"]:not(:checked) +label, .game-settings [type="radio"]:checked +label
%extend_2 {
	position: relative;
	padding: 5px 15px;
	cursor: pointer;
}


#games-online-view {
}
.games-view {
	padding: 20px;
	font-family: $font_0;
	.info-top {
		width: 100%;
		.title-wrap {
			position: relative;
			padding: 20px;
		}
		.back-button {
			position: absolute;
			left: 0;
			top: 50%;
			font-size: 25px;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(-50%);
		}
		.game-title {
			text-align: center;
			font-weight: bold;
			text-transform: uppercase;
			color: $color_tuatara_approx;
		}
		.player-info {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}
		.balance {
			text-transform: uppercase;
			margin-left: 10px;
			height: auto;
			top: initial;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translate(0,0);
			> * {
				display: block;
				float: left;
			}
			i:before {
				font-size: 37px;
				padding-right: 10px;
				color: $color_gravel_approx;
			}
		}
		.points {
			font-size: 14px;
			display: block;
			span {
				font-size: 18px;
				font-weight: 600;
			}
		}
		.money {
			font-size: 14px;
			display: block;
			span {
				font-size: 18px;
				font-weight: 600;
			}
		}
		.photo img {
			overflow: hidden;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
			width: 60px;
			height: 60px;
		}
	}
	.wrapper {
		padding: 20px 0 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
		color: $color_gravel_approx;
		font-size: 15px;
	}
	.description-block {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		width: 50%;
		padding-right: 10px;
		.game-fund {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: stretch;
			word-wrap: break-word;
			word-spacing: 200px;
			//Instead of the line below you could use @include word-break($value)
			word-break: break-word;
			text-align: center;
			text-transform: uppercase;
			background: $color_turbo_approx;
			letter-spacing: -1px;
			div {
				display: inline-block;
				padding: 10px 0;
				span {
					word-spacing: normal;
					font-size: 32px;
				}
			}
			.title {
				border-right: 1px solid $white;
				padding-top: 18px;
				width: calc(25% - 1px);
			}
			.money {
				width: 35%;
			}
			.points {
				width: 40%;
			}
			.balance {
			}
		}
		.game-description {
			padding-top: 20px;
		}
		.read-more {
			background: none;
			width: 100%;
			color: $color_hippie_blue_approx;
			text-align: left;
			margin-top: 20px;
			cursor: pointer;
			text-transform: uppercase;
			i {
				float: right;
			}
		}
	}
	.game-settings {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		font-weight: 600;
		width: 50%;
		padding-left: 10px;
		line-height: 1.2;
		color: $color_gravel_approx;
		.settings-tabs {
			text-transform: uppercase;
			text-align: center;
			background: $color_sinbad_approx;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: stretch;
			min-height: 75px;
			div {
				min-height: 40px;
				padding: 10px;
				display: inline-block;
				width: calc(100%/3);
				//Instead of the line below you could use @include box-sizing($bs)
				box-sizing: border-box;
				position: relative;
				cursor: pointer;
				span {
					position: absolute;
					top: 50%;
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: translateY(-50%);
					display: block;
					left: 0;
					width: 100%;
				}
				i {
					font-size: 120%;
					margin-right: 6px;
				}
				&.active {
					@extend %extend_1;
				}
				&:hover {
					@extend %extend_1;
				}
			}
		}
	}
}
.game-settings {
	.games-online {
		font-family: $font_1;
		font-weight: normal;
	}
	.filter {
		display: block;
		padding: 15px 10px;
		li {
			float: left;
			font-size: 13px;
			display: block;
			text-transform: uppercase;
		}
	}
	.games-list {
		font-size: 15px;
		width: 100%;
		.render-list {
			margin-bottom: 30px;
		}
		.game {
			border-bottom: 1px solid $mercury;
			padding: 15px 20px 15px 5px;
			position: relative;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			> div {
				padding-right: 15px;
				min-width: 60px;
			}
			.bet {
				min-width: 27%;
				text-transform: uppercase;
			}
			.players-number {
			}
			.game-type {
			}
			.players {
				text-align: left;
				padding: 0;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				max-height: 20px;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 1.9s ease;
			}
			> i {
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.1s ease-in 0.1s;
				position: absolute;
				left: 100%;
				margin-left: -20px;
				top: 50%;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: translateY(-50%);
			}
			&.available {
				cursor: pointer;
				&:hover > i {
					margin-left: 0;
					font-size: 120%;
				}
			}
		}
		> div:first-child {
			border-top: 1px solid $mercury;
		}
	}
	.players-list {
		font-size: 13px;
		color: $color_gravel_approx;
		counter-reset: my-awesome-counter;
		.render-list {
			margin-bottom: 30px;
		}
		.player {
			counter-increment: my-awesome-counter;
			border-bottom: 1px solid $mercury;
			padding: 5px;
			position: relative;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: background .5s linear;
			.name {
				flex-grow: 1;
				font-size: 15px;
				&:before {
					content: counter(my-awesome-counter);
					display: block;
					font-size: 13px;
				}
			}
			&:hover {
				background: $wild_sand;
			}
			&:first-child {
				border-top: 1px solid $mercury;
			}
			.photo {
				overflow: hidden;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 50px;
				margin: 0 10px;
				max-width: 50px;
				img {
					display: block;
					max-width: 50px;
					max-height: 50px;
				}
			}
			.rating i {
				margin-left: 5px;
				color: $color_bright_sun_approx;
			}
		}
	}
	[type="radio"] {
		&:checked {
			position: absolute;
			left: -9999px;
			+ label {
				@extend %extend_2;
				background: $color_gravel_approx;
				color: $white;
			}
		}
		&:not(:checked) {
			position: absolute;
			left: -9999px;
			+ label {
				@extend %extend_2;
				&:hover {
					background: $color_gravel_approx;
					color: $white;
				}
			}
		}
		&:disabled + label {
			color: $color_silver_chalice_approx;
			background: transparent;
			&:hover {
				color: $color_silver_chalice_approx;
				background: transparent;
			}
		}
	}
}
.create-game {
	color: $color_gravel_approx;
	font-size: 14px;
	.title {
		font-size: 16px;
		text-transform: uppercase;
		padding: 15px 0 11px;
	}
	.buttons-group {
		background: $wild_sand;
		margin-bottom: 5px;
		position: relative;
		> * {
			float: right;
			> label {
				padding: 10px 15px !important;
				display: block;
			}
		}
		.title {
			padding: 10px 15px !important;
			display: block;
			font-size: 13px;
			float: left;
		}
		.button {
			cursor: pointer;
			min-width: 14%;
			text-align: center;
			height: 100%;
			&.active {
				background: $color_gravel_approx;
				color: $white;
			}
			&:hover {
				background: $color_gravel_approx;
				color: $white;
			}
			&:first-child:nth-last-child(1) {
				width: 100%;
			}
		}
	}
	.start-game {
		margin-top: 20px;
		border: 1px solid $color_fuscous_gray_approx;
		text-align: center;
		cursor: pointer;
		padding: 7px;
		text-transform: uppercase;
		font-weight: normal;
	}
}
@media all and(max-width: 768px) {
	.games-view {
		.game-settings {
			width: 100%;
			padding: 0;
		}
		.description-block {
			width: 100%;
			padding: 0;
		}
	}
}