/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.01.2016, 15:09:51
    Author     : squama
*/

//colors
$color_turbo_approx: #ffe700;
$black: #000;
$black_35: rgba(0, 0, 0, 0.35);
$white: #fff;
$white_90: #fff;
$black_10: rgba(0,0,0,0.1);
$color_ziggurat_approx: #b9dadd;
$gray: #808080;

.moment-game-box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 101;
    background: $black_35;
    text-align: center;
    &:before{
        content: "";
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle;
    }
    .title {
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
        padding: 0 0 10px 0;
    }
    .description {
        font-size: 18px;
    }
    .message {
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        font-weight: bold;
        // transition: all .4s ease-out;
        text-transform: uppercase;
        text-align: center;
        padding: 0;
        span {
            display: block;
            padding: 0 5px;
        }
    }
    .minefield {
        position: relative;
        // transform: scale(1.01);
        margin: 20px auto;
        
        .inner {
            padding: 4%;
        }
        button {
            background: $color_ziggurat_approx;
            color: #4a4a4a;
            width: 100%;
            height: 100%;
            font-size: 14em;
            opacity: 1;
            cursor: pointer;
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: rotateY(0deg);
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all .4s ease-in;
            border: 1px solid $black_10;
            &.win {
                background: $color_turbo_approx;
                .flipFix {
                    * {
                        display: block;
                        font-size: .35em;
                        line-height: .9;
                        text-transform: uppercase;
                        &:first-child {
                            font-size: .75em;
                            font-weight: bold;
                        }
                    }
                    :first-child:nth-last-child(1) {
                        display: block;
                        font-size: .3em;
                        text-transform: none;
                    }
                }
                &:not(.played) {
                    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                    transform: rotateY(180deg);
                    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                    transition: all .4s ease-out;
                    opacity: 0.7;
                }
            }
            &.played {
                //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                transform: rotateY(180deg);
                //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                transition: all .4s ease-out;
            }
            &.lose {
                background: $white;
                i:not(.i-x) {
                    display: none;
                }
            }
            > *:not(i) {
                opacity: 0;
                display: block;
                //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                transform: rotateY(180deg);
                //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                transition: all 1.4s ease-out;
            }
            &:not([class]) i:not(.i-question) {
                display: none;
            }
        }
        i {
        }
        vw > div {
        }
        button[class] .flipFix {
            opacity: 1;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all 1.4s ease-out;
        }
    }
    > .inner {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        background: $white;
        padding: 20px 40px;
        
        > i.i-x-slim{

            position: absolute;
            right: -35px;
            top: 0;
            color: #fff;
            font-size: 25px;
            cursor: pointer;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
        }
    }
    &:not(.game-started) .message {
        background: rgba(255,255,255,0.1);
        position: absolute;
        width: 100%;
        height: 100%;
        display: inline-block;
        text-align: center;
        z-index: 1;
        margin: 0;
        &:before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }
        > *{
            border: 1px solid rgba(0, 0, 0, 0.1);
            left: 50%;
            max-width: 95%;
            padding: 20px;
            background: $white_90;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .ad{
        border: 1px solid #d6d6d6;
        background: #f1f1f1;
        padding: 10px;
        margin: 0 0.9%;
        *{
            vertical-align: top;
        }
    }
}