#reports-transactions,
#reports-payments,
#balance-convert{
  .content-box-header{
    span > span {
      display: none;
    }
  }
}

.privacy-box{
      // min-width: 55%;
      // width: 40px;
      // ^^^^^^^^^^^ 4 test
      position: absolute;
      top: 0;
      right: 20px;
      padding-right: 20px;
      transition: all .2s linear;

      &.active{
        background: #f5f5f5;
        right: 0;
        padding-right: 0;
        &:hover{
          > i{
            opacity: 0;
          }  
        }
        > i{
          opacity: 0;
        }
        .buttons-group{
          .button{
            input:checked {
              + label{
               background: #e9e9e9;
              }
            }
            label{
              display: inline-block;
              span,i{
                color: #4a4a4a;
                display: initial;
              }
            }
          }
        }
      }
      &:hover {
        > i{
          opacity: 1;
        }
      }
      > i{
        display: inline-block;
        color:#4a90e2;
        font-size: 11px;
        cursor: pointer;
        margin: 0 7px 0 0;
        position: absolute;
        right: 5px;
        top: 0;
        opacity: 0;
        transition: all .2s linear;
        
      }

      .buttons-group{
        display: inline-block;
        text-align: left;

        // on disabled
        &.disabled{
          .button{
              label{
                background-color: transparent;
                cursor: default;
                display: none;
              }
              input:checked + label {
                display: initial;
                span{
                  display: none;
                }
                i{
                  display: initial;
                  color: #9e9e9e;
                }
              }
          }
          & + i{
            display: none;
          }
        }
        // END on disabled
      }
      .button{
          display: inline-block;
          // display: none;
          font-size: 0;
          height: 45px;
          vertical-align: top;
      }

      input[type="radio"]{
        position: absolute;
        left: -9999px;
        &:checked + label{
            display: inline-block;
            // background: #e9e9e9;
            i{}
            span{
              display: none;
            }
        }
      }
      label{
        height: 100%;
        // display: inline-block;
        display: none;
        cursor: pointer;
        padding: 0 10px;
        height: 45px;
        span{
          color: #4a4a4a !important;
          font-size: 15.5px;
        }
        i{
          // color: #9e9e9e;
          color: #4a4a4a;
          font-size: 13px;
          margin: 0 7px 0 0;
        }
      }

    }
// CABINET ---------------------------------------- //

.cabinet .content-box-tab span {
  display: none;
}

.cabinet .content-box-tab {
  width: 20%;
}

.cabinet .content-box-tab:after {
  content: "";
  display: block;
  margin: auto;
  position: relative;
  top: 14px;
  background-image: url(img/sprite.png);
}

.cabinet-history-tab:after {
  width: 30px;
  height: 26px;
  background-position: 0 -130px;
}

.cabinet-bonuses-tab:after {
  width: 26px;
  height: 26px;
  background-position: -61px -130px;
}

.cabinet-referrals-tab:after {
  width: 28px;
  height: 26px;
  background-position: -120px -130px;
}

.cabinet-account-tab:after {
  width: 26px;
  height: 25px;
  background-position: -182px -130px;
}

.cabinet-account {
  text-align: center;
}

// ------------------------------ //

.c-user-inf-wrapper {
  margin-bottom: 30px;
}

.c-user-inf {
  margin-bottom: 30px;
}

.c-user-img {
  width: 150px;
  height: 150px;
  position: relative;
  float: left;
  margin: 0 auto 20px;
}

.c-user-img img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.c-user-nickname {
  position: absolute;
  bottom: 30px;
  width: 100%;
  color: white;
  font-size: 16px;
  text-align: center;
}

.c-socials {
  margin-bottom: 30px;
}

.c-social-inf {
  margin-bottom: 10px;
  text-align: center;
}

.c-social-inf span {
  margin-left: 10px;
}

.c-social-icons {
  text-align: center;
}

.c-social-item {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(img/sprite.png);
}

.c-social-item.soc-1 {
  background-position: -496px -260px;
}

.c-social-item.soc-2 {
  background-position: -526px -260px;
}

.c-social-item.soc-3 {
  background-position: -556px -260px;
}

// ------------------------------ //

.c-user-personal-inf {
  font-size: 14px;
}

.c-user-personal-inf table {
  width: 100%;
  line-height: 1.3;
  margin-bottom: 10px;
}

.c-user-personal-inf tr {
  border-bottom: 1px solid #e6e6e6;
}

.c-user-personal-inf td {
  text-align: center;
  padding: 10px 0;
  &:first-child {
    display: none;
  }
}

.c-favorite-combination-item {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #525252;
  text-align: center;
  line-height: 28px;
  margin-right: 5px;
}

.personal-inf-edit-btn {
  float: right;
  font-size: 14px;
  color: #4a90e5;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// ------------------------------ //


.c-play-inf-win span {
  margin-left: 10px;
}

.c-play-inf table {
  width: 100%;
  line-height: 1.3;
}

.c-play-inf tr {
  border-bottom: 1px solid #e6e6e6;
}

.c-play-inf td {
  padding: 14px 0 14px 10px;
  &:first-child {
    padding-left: 0;
  }
}

.ae-top {
  margin-bottom: 0;
  position: relative;
  // margin: 0 -20px;
  overflow: hidden;
  height: 180px;
  background: #AFABAB;
  & > .overflow-hid {
    height: 180px;
    & > div:first-child {
      background: rgba(255, 255, 255, 0.2);
      position: absolute;
      width: 100%; 
      height: 100%;
      z-index: 20;
    }
  }
}

#profile {
  
  .content-box-tabs {
    background: #f5f5f5;
    max-height: 45px;
    
    > a{
      line-height: 45px;
      font-size: 15.5px;
      text-transform: capitalize;
     
      &.active{
        background: #dfdfdf;
        color: #4a4a4a;
      }
    }

  }

  .ae-user-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: -2px;
    margin-left: 15px;
    cursor: pointer;
    &:before {
      top: 0;
      left: 0;
      display: inline-block;
      position: absolute;
      z-index: 40;
      height: 150px;
      width: 150px;
      
      font-size: 50px;
      line-height: 150px;
      opacity: 0.59;
      color: #FFFFFF;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.72);
    }
  }
  .img-avatar-name {
    position: absolute;
    left: 185px;
    top: 11px;
    font-size: 25px;
    color: #fff;
    font-weight: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  }
  .ae-user-img img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 30;
  }
}

.user-view-box {
  .content-box-content{
    top: -1px;
  }
  .user-actions{
    background: #f5f5f5;
    padding-left: 0;
    line-height: 0;
  }
  .fake-tabs {
    max-height: 45px;
    
    > a{
      line-height: 45px;
      font-size: 15.5px;
      color: #4a4a4a;
      padding: 0 20px;
      margin: 0;
      &.active{
        background: #dfdfdf;
        color: #4a4a4a;
      }
    }

  }

  .ae-user-img {
    width: 150px;
    height: 150px;
    position: relative;
    top: -2px;
    margin-left: 15px;
    img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
    }
    &.offline:after {
        width: 12px;
        height: 12px;
        border: 2px solid #ffffff;
    }
    &.online:after {
        width: 12px;
        height: 12px;
        border: 2px solid #ffffff;
    }
  }
  .img-avatar-name {
    position: absolute;
    left: 185px;
    top: 11px;
    color: #fff;
    font-weight: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

    .username{
      font-size: 25px;
      margin-bottom: 10px;
    }
    
    .total-won{
      font-size:15.5px;
      line-height:19px;
      text-align:left;
    }
  }
  .ae-user-img img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 30;
  }
}

.ae-inf {
  display: none;
}
.avatar-bg {
  position: absolute;
  top: -7px;
  right: -7px;
  left: -7px;
  bottom: -7px;
  z-index: 0;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  -moz-filter: filter(8px);
  -o-filter: filter(8px);
  -ms-filter: filter(8px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='8');

  & > div {
    background: rgba(131, 128, 128, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
  }

}
// --------------------------- //

.ae-personal-form {
  position: relative;
  line-height: 50px;
  clear: both;

}

.ae-personal-form-names {
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
  color: #b4aeae;
  font-size: 15.5px;
  z-index: 1;
}

.ae-personal-form-names li {
  margin-bottom: 2px;
}

.ae-personal-form-values li {
  position: relative;
  .required-bubs:after{
    content: '*';
    font-size:15.5px;
    color:#ff4242;
    margin-left: 3px;
  }
  &.empty {
    height: 36px;
  }
  &.title{
    margin-bottom: 0;
    text-align: left;
    padding: 0 20px;
    color: #000000;
    min-height: 60px;
    > p{
      line-height: 60px;
    }
  }
}

.ae-personal-form .error-msg {
  display: none;
  color: #ff4242;
  font-size: 15.5px;
  position: absolute;
  top: 0;
  right: 30px;
}

.ae-personal-form-values input {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #b4aeae;
  display: block;
  width: 100%;
  line-height: inherit;
  padding: 0;
  padding-bottom: 1px;
  font-size: 15.5px;
  margin-left: 3px;
  max-height: 43px;
  &:focus {
    border-width: 0 0 2px;
    border-color: #bed8d9;
    padding-bottom: 0;
  }
  &.alert {
    padding-bottom: 0;
    color: #ff4242;
  }
  &.error + .error-msg {
    display: block;
  }

  // &:disabled:hover + div{
  //   display: block;
  // }
  
}


.ae-personal-form-names input {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #b4aeae;
  display: inline-block;
  width: 100%;
  line-height: inherit;
  padding: 0;
  padding-bottom: 1px;
  font-size: 15.5px;
  &:focus {
    border-width: 0 0 2px;
    border-color: #bed8d9;
    padding-bottom: 0;
  }
  &.error {
    border-width: 0 0 2px;
    border-color: #ff4242;
    padding-bottom: 0;
    color: #ff4242;
  }
  &.error + .error-msg {
    display: block;
  }
}

.ae-personal-form-values {
  & input {
    display: inline-block;
    width: auto;
    border: none;
    margin-left: 8px;
    color: #4a4a4a;
    font-size: 15.5px;
  }

  & li {
    border-top: 1px solid #eaeaea;
    height: 45px;
    line-height: 45px;
    padding-right: 20px;
    position: relative;
    padding-left: 220px;
    &:last-child{
      border-bottom: 1px solid #eaeaea;
    }
    & > * {
      line-height: 45px;
    }
    .select-wrapper{
      width: 100%;
    }
  }
  & li.user-actions {
    > *{
        width: auto;
    }
  }
  >ul > li > i {
    width: 190px;
    color: #9e9e9e;
    position: absolute;
    left: 20px;
    display: inline-block;
    vertical-align: top;
  }
  & .select-wrapper {
    // overflow: hidden;
    display: inline-block;
    position: relative;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    &:before {
      z-index: 0;
    }
    // for chosen width
    select{
      width: 90px;
      float: left;
      &[name="day"]{
        width: 55px;
        margin-left: 20px;
      }
      &[name="country"]{
        width: 175px;
      }
      // for countries
      &[name="country"]{
        color: #4a4a4a;
        margin-left: 8px;
        line-height: 45px;
      }
    }
  }


  & select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 20px 0 0;
    border: none;
    position: relative;
    background: transparent;
    outline: none;
    font-size: 15.5px;
    width: 100px;
    color:#000;
    position: relative;

      
    &.default {
      color:#a3a5a4;
    }
    &:invalid { color: gray; }
    &:focus {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
    }
    & option {
      outline: none;
       -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: #000;
    
      &:focus {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
      }

    }
    & option[velue='']{
      color:#a3a5a4;
    }
  }
}

.wrapper-margin-right {
    display: inline-block;
    position: relative;

  > &:after {
    content: "";
    display: block;
    clear: both;
  }
  > &:before {
    top: 15px;
    z-index: 0;
  }  
  > *{
    padding-top: 13px;
    float: left;
    width: 100px;
  }
}
.ae-name-block {
  & i {
    display: inline-block;
  }
  & li {
    // padding-left: 20px;
    &:last-child {
      border-bottom: none;
      
    }
  }
}
// --------------------------- //

.ae-personal-inf .title {
  text-align: center;
  margin-bottom: 10px;
}

.ae-combination {
  border-bottom: 1px solid #f5f5f5;
}


// --------------------------- //

.ae-combination-box {
  padding: 20px 15px 15px 20px;
  background: #fafafa;
}

.ae-combination-box li {
  float: left;
  border: 1px solid transparent;
  border-radius: 50%;
  margin: 0 4px 4px 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 15.5px;
  text-align: center;
  cursor: pointer;
  &:hover {
    border: 1px solid #cccccc;
  }
  &.selected {
    border: 1px solid;
  }
  &.unavailable {
    opacity: 0.5;
  }
  &.unavailable:hover {
      border: 1px solid transparent;
  }
}

// --------------------------- //
.ae-current-combination {
  margin-left: 20px;
}
.settings .ae-current-combination > * {
  float: left;
  width: 20px;
  height: 35px;
  border-radius: 50%;
  line-height: 34px;
  text-align: center;
  margin-left: 0!important;
  cursor: pointer;
  margin-right: 15px;
  min-width: 0;
  &:last-child {
    margin-right: 0;
  }
}

// --------------------------- //

.ae-socials {
  margin-bottom: 30px;

}
.ae-socials {
  background: #fff;

}
.ae-binded {
  margin-bottom: 25px;
}

.ae-social {
  margin: auto;
  & span {
    color: #000;
    font-weight: bold;
    font-size: 15.5px;

  }
}

.ae-social-item {
  display: inline-block;
  text-decoration: none;
  margin-right: 5px;
  font-size: 30px;
  position: relative;
  height: 25px;
  width: 30px;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 34px;
  }
  &.i-Facebook {
    &:before {
      color: #3c5a96;
    }
  }
  &.i-Twitter {
    &:before {
      color: #d8d8d8;
    }
  }
  &.i-Google {
    &:before {
      color: #bd4c3a;
    }
  }
  &.i-Instagram {
    &:before {
      color: #417398;
    }
  }
  &.i-Vkontakte {
    &:before {
      color:  #537599;
    }
  }
  &.i-Odnoklassniki {
    &:before {
      color:  #e0a53f;
    }
  }
}
.ae-personal-inf .text-notice {
  margin-top: 25px;
  color: #000000;
  p {
    margin-bottom: 25px;
  }
}
.ae-social-item.soc-1 {
  background-position: -168px -255px;
}

.ae-social-item.soc-2 {
  background-position: -213px -255px;
}

.ae-social-item.soc-3 {
  background-position: -258px -255px;
}

.ae-social-item.soc-4 {
  background-position: -332px -255px;
}

.ae-social-item.soc-5 {
  background-position: -377px -255px;
}

.ae-social-item.soc-6 {
  background-position: -422px -255px;
}

// --------------------------- //
#balance-cashout{
  .content-box-header{
      .back{
        > span{
          display: none;
        }
      }
  }
}
.ae-save-btn {
  display: block;
  margin: auto;
  width: 200px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  color: #b4aeae;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  padding: 7px 0;
  margin-bottom: 20px;
}

.cabinet-cashout a {
  color: #4990e2;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.cabinet-cashout .rules {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  & .btn-arrows {
    width: 155px;
    position: absolute;
    & .change {
      position: absolute;
      right: 0;
      width: 160px;
      text-align: right;
    }
  }
}


.cco-title {
  padding: 21px 20px;
  div {
    float: left;
    
    &:first-of-type{
      font-size:15.5px;
      color:#000000;
      text-align:center;
    }
  }
  a{
    float: right;
  } 
  > * {
      // margin-bottom: 20px;
  }
}
.cco-edit {
  margin-left: 18px;
  display: inline-block;
}
.rules {
  float: right;
  color:#4a90e2;
  & .btn-arrows {
    float: none;
    display: inline-block;
    position: relative;
    top: 2px;
    left: 5px;
    color: #4a90e2;
    & > *:before {
      color: #4a90e2;
    }
  }
}

div.rules-text {
  color: #000000;
  background: #fafafa;
  margin: 0 -20px;
  padding: 13px 20px;
  float: none;
  & p {
    line-height: 20px;
    a {
      display: inline-block;
    }
  }
}

#profile-cachout .content-box-item {
  padding: 20px;
}

.cco-choose-method {
  margin-bottom: 40px;
}

.cco-methods {
  margin-bottom: 0;
  label.input-radio {
    cursor: pointer;
    transition: all .2s linear;
    &.fail{
      border: 1px solid red;
    }
  }
  .cco-method {
    padding: 12px 20px;
    border-top: 1px solid #eaeaea;
    
    & > * {
      position: static;
    }

    &:last-child {
      border-bottom: 1px solid #eaeaea;
    }
    
    label.input-radio {
      width: 15px;
      height: 15px;
      display: inline-block;
      top:3px;

    }
    
    & input.input-radio:checked + label.input-radio:before {
      content: "";
      display: block;
      width: 11px;
      height: 11px;
      position: absolute;
      top: 1px;
      left: 1px;
      background: black;
      border-radius: 50%;
    }
    
  }
  .cco-method > label {
    cursor: pointer;
    display: inline-block;
  }
}

.cco-method-name {
  margin-left: 20px;
  margin-bottom: 0;
  margin-right: 10px;
}

.cco-method-name,
.cco-method-value {
  display: inline-block;
}

// -------------------------- //

.cco-enter-sum {

  & > div:first-of-type {
      background:#fafafa;
      padding: 0;
      margin-bottom: 25px;
      color: #9e9e9e;
      & > * {
        
      }
  }
  .cco-bottom-message{
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
    color: #000000;
    .underline{
      text-decoration: underline;
    }
  }
  & .cco-currency {
    text-transform: lowercase;
  }
  .current-ballance {
    font-weight: normal;
    font-size:15.5px;
    line-height:45px;
    padding: 0 20px 0 0;
  }
  .cco-enter-sum-box {
    
    input{
      border: none;
      height: 45px;
      font-size: 15.5px;
      font-weight: normal;
      width: 130px;
      background: #e9e9e9;
      vertical-align: middle;
      text-align: left;
      padding: 0px 5px 0px 20px;
      
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      transition: all .2s linear;
      &.fail{
        
        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:    #ff0000;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color:    #ff0000;
           opacity:  1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
           color:    #ff0000;
           opacity:  1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
           color:    #ff0000;
        }
      }
    }
  }
}


.cco-enter-sum .title {
  display: block;
  float: left;
  margin-right: 10px;
}

.cco-currency {
  display: block;
  float: left;
  text-transform: uppercase;
  position: relative;
}



// -------------------------- //

.cco-inf {
  margin: 0 -10px;
  padding: 20px 10px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #cbc7c6;
}

.cco-inf p {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.cco-method-value {
  color: rgba(0,0,0, 0.5);
}
// -------------------------- //

.cco-method-name,
.cco-method-value {
  display: inline-block;
}
// ------------------- //
.cco-enter-sum-box {
  margin-bottom: 0;
  // float: left;
  // margin-right: 30px;
}

// CABINET CASHOUT LIMITED ----------------------------- //

.cb-title {
  border-width: 1px 0;
  border-style: solid;
  border-color: #cbc7c6;
  padding: 15px 20px;
  margin: 0 -10px 30px;
  text-align: center;
  line-height: 1.5;
}

.cb-inf p {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.cb-verified {
  color: #b4afb6;
}

// CABINET CASHOUT BLOCKED ----------------------------- //

.content-box-content.cashout-block .content-box-item {
  opacity: 0.5;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
}

.cabinet-cashout-block {
  border-width: 1px 0;
  border-style: solid;
  border-color: #cbc7c6;
  padding: 15px 20px;
  margin: 20px 0 30px;
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
}

.cabinet-cashout-block a {
  color: #4a90e5;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.ci-title {
  font-size: 15.5px;
  color: #000000;
  line-height: 60px;
  padding: 0 20px;
}


// --------------------------- //

.ci-personal-form {
  position: relative;
  line-height: 50px;
  margin: 0 0 30px;
  font-size: 15.5px;
  border-top: 1px solid #ececec;
}

.ci-personal-form-names {
  z-index: 1;
  color: #4a4a4a;
  & ul li > * {
    float: left;
  }
}

.ci-personal-form-names li {
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
  border-bottom: 1px solid #eaeaea;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 15.5px;

}

.ci-personal-form-values li {
  position: relative;
}
.ci-personal-form-names li.error {

  > .error{
    display: block;
    font-size:13px;
    color:#ff4242;
    float: right;
  }
  // border-top: 1px solid #FF2619;
  // border-bottom: 1px solid #FF2619;
  // input.error {
  // color: #FF2619;
  //   &:focus {
  //     color: #000;
  //   }
  // }
}
.ci-personal-form-values.error {
  width: 100%;
  border-top: 1px solid #FF2619;
  border-bottom: 1px solid #FF2619;
  color: #FF2619;
  position: absolute;
  margin-left: -20px;
  z-index: 0;
  background: transparent;
  height: 45px;
  input.error {
  color: #FF2619;
    &:focus {
      color: #000;
    }
  }
}
.ci-personal-form-values input {
  display: block;
  width: 100%;
  line-height: inherit;
  font-size: 15.5px;
  border: none;
  border-radius: 0;
  padding: 0;
  
  -webkit-box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  
  -webkit-appearance: none;
  font-weight: normal;
  
  height: 45px;
  line-height: 45px;
  margin-left: 18px;
  min-width: 160px;
  color: #4a4a4a;
  &.input-prefix {
    padding-left: 165px;
  }
}

span.input-prefix {
  color: #b4aeae;
  position: absolute;
  top: -1px;
  left: 150px;
}
.cabinet-convert{
  .green{
    color: #417505;
  }
  .gray{
    color: #4a4a4a;
  }
  .cc-title {
    position: relative;
    &:after{
      content: '';
      display: block;
      clear: both;
    }
    span{
      display: inline;
      vertical-align: top;
      & > span{
        text-decoration: underline;
      }
      &:first-child{
        // height: 100%;
      }
    }
  }
  .cc-text{
    padding: 20px;
    & > span{
      display: inline-block;
      padding-top: 20px;
    }
  }
  .cc-row-wrapper{
    & > .cc-row{
        text-align: left;
        vertical-align: top;
        padding: 0 20px;
        min-height: 45px;
        border-bottom: 1px solid #ececec;
        position: relative;
        vertical-align: middle;

        &:first-child{
          border-top: 1px solid #ececec;
        }
        
        & > *{
          display: inline-block;
          line-height: 45px;
        }
        .left{
          width: 140px;
          line-height: 1;
          img{
            display: inline-block;
            vertical-align: middle;

          }
        }
        .right{

        }
    }
  }
  
}

.cc-title {
  padding: 20px;
  color: #000000;
  background: #f5f5f5;
}


.cc-form-top {
  padding: 0;
  background:#fafafa;
  height:45px;
  & > *{
    float: left;
  }
  .cc-box {
    background:#e9e9e9;
    width:215px;
    margin: 0 10px 0 0;
    padding: 0 15px;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    .title{
      margin: 0 15px 0 0;
      color: #000000;
    }
    & > * {
      display: block;
      position: relative;
      line-height: 45px;
      float: left;
      letter-spacing:0.2px;
    } 
    &.cc-out > input{
      width: 105px;
    }
    input {
      display: inline-block;
      min-width: 0;
      width: 75px;
      background: none;
      position: static;
      border-radius: 0;
    }
    .cc-currency {
      text-transform: lowercase;
    }  
  }
  
  .btn-flat{
    float: right;
    margin: 8px 20px 0 0;
    padding: 0 15px;
  }
}


.cc-currency {
  text-transform: uppercase;
}

.s-mailing-text{
  .mailing-text{
    > span:not(.current){
      display: none;
    }
  } 
}
.s-pass {
  & ul {
    position: relative;
    line-height: 50px;
  }
}

.s-pass-text {
  margin-top: 2px;
}

.s-pass-names {
  position: absolute;
  top: 0;
  left: 0;
  color: #b4aeae;
  font-size: 14px;
  z-index: 1;
  & li {
    margin-bottom: 2px;
  }
}

.s-pass-values {
  & input {
    display: block;
    width: 100%;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #e5e5e5;
    padding-left: 140px;
    padding-bottom: 1px;
    line-height: inherit;
    font-size: 20px;
    &:focus {
      border-width: 0 0 2px;
      border-color: #bed8d9;
      padding-bottom: 0;
    }
  }
}


.settings-btn {
  display: block;
  border: 1px solid #4a4a4a;
  border-radius: 2px;
  width: 200px;
  padding: 9px 0;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  margin: auto;
  font-weight: bold;
}



.settings {
  .title {
      min-width: 200px;
  }
  .option-block{
    border-top: 1px solid #f5f5f5;
    &.last{
      border-bottom: 1px solid #f5f5f5;
    }
  }

  &  .option {
      float: none;
      background: #fafafa;
      font-size: 15.5px 
  }
  & .strip {
    padding: 0 20px;
    height: 45px;
    & .option {
      float: none;
      background: #fafafa;
      font-size: 15.5px 
    }
    & > * {
      float: left;
      position: relative;
      top: 50%;
      @include translate(0, -50%);

      & .option {
      float: left;
      }
      &.uk-float-right {
        background: transparent;
        float: right;
        width: auto;
      }
    }
    & .hidden-notice {
    display: none;
    color: #ff4c4b;
    float: right;
    height: auto;
    line-height: 45px;
    top: 0;
    }
  }
  .title {
    float: left;
    text-align: left;
    color: #9e9e9e;
    min-width: 200px;
  }

  .s-notice {
    float: none;
    border-top: 1px solid #f5f5f5;
    clear: both;
    margin-right: -30px;
    margin-left: -30px;
    padding-left: 30px;
    padding-right: 30px;  
    height: 45px;
    & > p {
            position: relative;
      top: 50%;
      @include translate(0, -50%);
    }
  }
  input, input+span, .ae-social {
    margin-left: 20px;
    font-size: 15.5px;
  }
  input {
    border: none;
    background: transparent;
    min-width: 160px;
    
  }


  & .btn-flat {
    margin-top: 30px;
  }

  & .hidden-notice {
    display: none;
    color: #ff4c4b;
    float: right;
    height: auto;
    line-height: 45px;
    top: 0;
  }
}

.change {
  cursor: pointer;
  color: #4990e2;
}

.hidden {
  display: none;
}
.danger {
    color: #ff4c4b;
}
#profile {
  .content-box-item{
    .content-box-item{
      min-height: 0;
      padding-bottom: 5px;
    }
  }
  & .ae-social-item {
    display: inline-block;
    text-decoration: none;
    margin-right: 5px;
    font-size: 30px;
    position: relative;
    height: 42px;
    width: 30px;
    line-height: 42px;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 42px;
      line-height: 42px;
    }
  }
  & .ae-social-item:hover .tooltip {
    line-height: 1.2;
    color: #fff;
  }
  & .calendar-range {
    width: auto;
    & input {
      width: 100px;
      padding-right: 20px;
      background: transparent;
      z-index: 1;
      position: relative;
      cursor: pointer;
    }
    // & .daterangepicker.dropdown-menu.opensright:before {
    //   right: auto;
    //   left: 2px;
    // }
  }
  & .wrapper-calendar {
    z-index: 10;
    margin-left: 1px;
    &:before {
      position: relative;
      left: -3px;
    }
    & .calendar-range {
      border: none;
    }
  }
  // & .ae-personal-form-values li span {
  //   color: #a3a5a4;
  // }
  // & .ae-personal-form-values input:not(.input-filled)  {
  //   color: #a3a5a4;
  // }

  & .ae-personal-form-values .ae-social {
    border-bottom: 1px solid #eaeaea;
    & span {
      color: #000;
    }
  }
  // & .daterangepicker.dropdown-menu {
  //   left: 20px;
  // }
}
.ae-personal-form-values input::-webkit-input-placeholder {color:#a3a5a4;}
.ae-personal-form-values input::-moz-placeholder          {color:#a3a5a4;}
.ae-personal-form-values input:-moz-placeholder           {color:#a3a5a4;}
.ae-personal-form-values input:-ms-input-placeholder      {color:#a3a5a4;}
.settings input::-webkit-input-placeholder {color:#a3a5a4; font-size: 15.5px ;}
.settings input::-moz-placeholder          {color:#a3a5a4; font-size: 15.5px ;}
.settings input:-moz-placeholder           {color:#a3a5a4; font-size: 15.5px ;}
.settings input:-ms-input-placeholder      {color:#a3a5a4; font-size: 15.5px ;}

.user-view-box {
  .ae-personal-form-values div {
    padding: 0;
    padding-bottom: 1px;
    font-size: 15.5px ;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    &.c-play-inf-win {
        text-align: left;
        line-height: 1.4;
        padding: 12px 0;
        color: #000;
        font-weight: bold;
    }
    &:focus {
      border-width: 0 0 2px;
      border-color: #bed8d9;
      padding-bottom: 0;
    }
    &.error {
      padding-bottom: 0;
      color: #ff4242;
    }
    &.error + .error-msg {
      display: block;
    }
  }
  .render-list {
    margin-top: 0;
  }

  & .ae-social-item {
    height: 45px;
    &:before {
      line-height: 45px;
    }
  }

  & .i-arrow-down:before {
    color: #4990e2;
    position: relative;
    margin-left: 8px;
    top: 2px;
  }
  & .user-actions, .user-actions + li {
    border-top: none;
  }
  & .content-box-item {
    min-height: 550px;
  }
}
.user-actions button.danger {
  color: #ff4c4b;
}
#profile .content-box-item, #user-view .content-box-item {
  padding: 0 0 20px;
}

.c-form-title {
  height: 45px;
  line-height: 45px;
  background: #fafafa;
  margin: 0 -20px;
  padding: 0 20px;
  color: #000;
  font-weight: bold;
  font-size: 15.5px;
}

.c-form-stat {
  & .ae-personal-form-values {
    & li:last-child {
      border-bottom: 1px solid #eaeaea;
    }
    & li:first-child {
      border-top: none;
    }
  }
}
.user-actions {
  background: #fafafa;
  .uk-float-right {
    a, button{ 
      margin: 0 0 0 30px;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.user-actions a,  .user-actions button {
  margin-right: 30px;
  color: #4990e2;
  background: none;
  background-color: transparent;
  // font-weight: bold;
  font-size: 15.5px;
  opacity: 1;
  cursor: pointer;
}

.setting-title {
  height: 60px;
  line-height: 60px;
  font-size: 15.5px;
  color: #000000;
  text-align: left;
  padding: 0 20px;
}
.radio-text {
  margin-right: 15px;
  & input {
    display: none;
    &:checked + span {
      color: #000;
      font-weight: bold;
      font-size: 15.5px;
    }
  }
  & span {
    display: inline-block;
    cursor: pointer;
  }
}
#profile-settings {
  .social-box{
    text-align: left;
    .social-item{
      display: inline-block;
      font-size:15.5px;
      color:#4a4a4a;
      margin: 0 20px 0 0;
      line-height: 45px;
      cursor: pointer;
      
      &:before {
        margin: 0;
        font-size: 19px;
      }
      
      &.disabled{}
      &.enabled{
        color: #ff4242;
      }
      &.i-Vkontakte-simple{
        &:before {
          color: #3a5b9e;
        }
      }
      &.i-Facebook-simple{
        &:before {
          color: #3c5a96;
        }
      }
      &.i-Odnoklassniki-simple{
        &:before {
          color: #ff9f00;
        }
      }

    }
  }



  & .content-box-item {
    padding-top: 0;
    min-height: 550px;
  }
  & span:not([class]) {
    color: #959595;
    &.tooltip {
      color: #fff;
    }
  }
  // privacy radio
  .option-block{
    .buttons-group{
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      > *{
        float: left;
      }
      i{
        display: none;
      }
    }
    .option{
      .buttons-group{
        span{
          margin: 0 15px;
        }
        input{
    
          &:checked + label span{
            color: #000000;
          }
        }
      }
    }
  }
  // end privacy radio
  & .radio-text {
    margin-right: 15px;
    & input {
      display: none;
      &:checked + span {
        color: #000;
      }
    }
    & span {
      display: inline-block;
      cursor: pointer;
    }
  }
  .change {
    cursor: pointer;
    color: #4990e2;
  }
  & .danger {
    color: #ff4c4b!important;
  } 
}

.settings .question {
  display: inline-block;
  color: #4990e2;
  position: relative;
}


#profile-billing  {
  .text-notice{
    padding: 0 20px;
  }
  .content-box-item {
    padding: 16px 20px 20px;
    & .back.danger {
      position: static;
      margin-left: 30px;
    }
  }
}

.billing-title {
  min-width: 200px;
}

.placeholder {
  position: absolute;
  background: #fff;
  z-index: 10;
  width: 80px;
  color: #a3a5a4;
  bottom: 1px;
  top: 1px;
}

// #profile .daterangepicker.opensright:after {
//   display: none;
// }

.current-ballance {
  opacity:0.5;
  font-weight: normal;
  font-size:15.5px;
  color:#000000;
  line-height:18px;
}

// CHOSEN style fix
#profile {
  .chosen-container{
    margin: 0 15px 0 0;
    position: relative;
    
  }
  .chosen-single{
    background: transparent;
    min-height: 45px;
    span{
      line-height: 45px;
      color: #4a4a4a ;
    }
  }
  .chosen-drop{
    background: #ffffff;
    border-radius: 0;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
    input[type="text"]{
      width: 100%;
      min-width: 0;
      border: none;
      background: #ffffff;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
    }
    .chosen-results {
      li{
        border-top: 1px solid transparent;
        vertical-align: middle;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        &.result-selected,
        &.highlighter{
          background: #f5f5f5;
        }
        & > *{
          line-height: 1;
        }
      }
    }
  }
}