.ph-notice {
  text-align: center;
  margin-bottom: 20px;
  & span {
    color: #ff4242;
  }
}

// ----------------------------- //

.ph-header {
  display: none;
}

// ----------------------------- //

.ph-item {
  margin: 0 -10px;
  padding: 20px 10px;
  cursor: pointer;
  position: relative;
  border-top: 1px solid #fafafa;
  & > div {
    display: table-row;
  }
  &:last-child {
    
    border-bottom: 1px solid #fafafa;
  }
}

.ph-inf-name,
.ph-inf-value {
  display: table-cell;
  padding: 2px 0;
}

.ph-inf-name {
  padding-right: 20px;
}

// ----------------------------- //

.ph-item.ph-paid .ph-status .ph-inf-value {
  color: #417506;
}


.ph-item.ph-denied .ph-status .ph-inf-value {
  color: #ff4242;
  position: relative;
  display: inline-block;
  padding-right: 35px;
  text-decoration: underline;
}
.cabinet-payments-history.content-box-item {
  padding-top: 20px;
  .render-list {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
// ----------------------------- //


.ph-header {
  margin: 0 -10px 20px;
  padding: 0 10px;
  font-family:  'Handbook-bold'
}
.ph-header-item {
  float: left;
}
// ------------------ //
.ph-item {
  padding: 0 10px;
  height: 45px;
  & > div {
    display: block;
    float: left;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }
  &:hover:before {
    top: 10px;
    right: 10px;
  }
}
.ph-inf-name {
  display: none;
}
.ph-inf-value {
  display: block;
}
// ------------------ //
.ph-date,
.ph-date-text {
  width: 15%;
}
.ph-won,
.ph-won-text {
  width: 18%;
}
.ph-method,
.ph-method-text {
  width: 38%;
}
.ph-status,
.ph-status-text {
  width: 22%;
}


.content-box-item.cabinet-referrals {
  padding: 0 20px 30px;
  min-height: 0;
  & .content-box-item-content {
    padding-top: 60px;
  }
}

.cabinet-referrals .content-box-cat {
  float: none;
}
.cabinet-referrals .calendar-range {
  float: right;

}

.cabinet-referrals .content-box-cat a {
  padding: 0 10px;
  margin-right: 5px;
}
.cabinet-referrals .content-box-item-top {
  padding-top: 0;
}

.cabinet-referrals .calendar-range {
margin-top: 10px;
border: none;
}
// ----------------------------- //

.r-header {
  display: none;
}

// ----------------------------- //
#reports-referrals-list {
  margin-top: 0;
  margin-bottom: 30px;
}

#reports-referrals {
  & .content-box-item-top {
    padding: 0;
    & .report-top-wrapper {
      margin-top: 20px;
      letter-spacing: 0.7px;
      font-family: 'handbookpro-regular';
      font-size: 15px;
      color: #4D4D4D;
      & > div {
        position: relative;
        display: inline-block;
        padding: 0 0 20px 0;
        margin-right: 0;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
  & .r-header-item {
    & .tooltip-block{
      position: relative;
      color: #4990e2;
      display: inline-block;
      & .tooltip {
        top: -60px;
      }
    }
  }
}

.r-item {
  line-height: 1.7;
  margin: 0 -20px;
  padding: 20px 20px;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #f3efec;
  &:first-child {
    // border-bottom: 0;
  }
  &.r-header {
    background: #fafafa;
    border-bottom:0;

    color: #000;
    font-family: 'Handbook-bold';
  }
}

.r-inf-names {
  float: left;
  margin-right: 20px;
}

.r-inf {
  float: left;
}

.r-active {
  position: relative;
  &:hover .r-active-inf {
    display: block;
  }
}

.r-active-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  // background-image: url(img/sprite.png);
  // background-position: -81px -54px;
  position: relative;
  top: 3px;
  cursor: pointer;
  &:before {
    content: "NO";
    display: inline-block;
    color: #ed502f;
  }
}

.r-item.online .r-active-icon {
  width: 18px;
  height: 15px;
  // background-position: -192px -54px;
  &:before {
    content: "OK";
    display: inline-block;
    color: #407405;
  }
}


 .daterangepicker.dropdown-menu {
  top: 30px;
  right: 5px;
  left: auto;
  width: 490px;
  background: #F2EFED;
  &.opensright {
    &:before {
      right: 2px;
      left: auto;
      border-bottom: 7px solid #F2EFED;
      border-bottom-color: #F2EFED;
    }
  }
  & .btn-flat {
    margin-right: 15px;
  }
  & input:-webkit-autofill {
    background-color: transparent;
  }
  & textarea:-webkit-autofill  {
    background-color: transparent;
  }
  & select:-webkit-autofill  {
    background-color: transparent;
  }
}

// ----------------------------- //



// ----------------------------- //

.th-item {
  margin: 0 -10px;
  padding: 13px 10px 0;
  cursor: pointer;
  position: relative;
  line-height: 1.4;
  &:hover:before {
    content: "";
    clear: none;
    display: block;
    position: absolute;
    width: 17px;
    height: 30px;
    background: url(img/sprite.png) -214px -187px;
    top: 10px;
    right: 10px;
  }
  &:nth-child(odd) {
    background: #fafafa;
  }
}

// ----------------------------- //

.th-date-range {
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 30px;
  &:first-child {
    margin-top: 0;
  }
}

// ----------------------------- //

.th-item-left,
.th-item-right {
  margin-bottom: 13px;
}

// ----------------------------- //

.th-item-left {
  float: left;
}

.th-item-left div {
  float: left;
  margin-right: 30px;
}

.th-item-right {
  float: right;
}

.th-item-right div {
  float: left;
  margin-right: 35px;
}

// ----------------------------- //

.th-item.th-minus .th-item-sum {
  color: #ff466d;
}

// ----------------------------- //

@media (min-width: 530px) {
  .content-box-item.cabinet-transaction-history {
    padding-top: 90px;
  }
  .cabinet-transaction-history .calendar-range {
    float: left;
    margin-bottom: 0;
  }

  .cabinet-transaction-history .content-box-cat {
    float: right;
    padding-top: 8px;
    margin-right: 30px;
  }
}
