.support {
    font-family: handbookpro-regular;

     h1 {
        font-size: 15px;
        color: #4a90e2;
        line-height: 18px;
        text-transform: uppercase;
        cursor: pointer;
        margin: 0 0 10px 0;
    }
     p {
        font-size: 15px;
        color: #4a4a4a;
        letter-spacing: 0.1px;
        line-height: 18px;
        margin: 0 0 20px 15px;
    }
}
