.content-box {
	margin: 0 -10px;
}
#communication-messages-new .content-box-item {
    padding: 40px 20px 0;
}
.content-box-item {
	padding-left: 20px;
	padding-right: 20px;
}

.pop-box {

  overflow: scroll;
}

*:hover > .tooltip {
    display: block;
    position: absolute;
    top: -35px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -khtml-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: #4a4a4a;
    color: #fff;
    font-size: 11px;
    min-width: 240px;
    z-index: 10;
    /* padding: 5px 10px; */
    text-align: center;
    margin: 0;
    line-height: 1.2;
    height: 45px;
    padding: 7px;

}