.header-left {
  height: 40px;
}

.pushy, .wrapper, .push {
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}
.pushy-open {
    display: block;
    @include translate3d(0,0,0);
    // -webkit-transform: translate3d(0,0,0);
    // -moz-transform: translate3d(0,0,0);
    // -ms-transform: translate3d(0,0,0);
    // -o-transform: translate3d(0,0,0);
    // transform: translate3d(0,0,0);
}
.pushy {
    position: fixed;
    width: 270px;
    height: 100%;
    top: 0;
    left: auto;
    right: 0;
    z-index: 9999;
    background: #fafafa;
    overflow: auto;
    padding-left: 20px;
    -webkit-overflow-scrolling: touch;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
}

.pushy-left {
    @include translate3d(270px,0,0);
    // -webkit-transform: translate3d(270px,0,0);
    // -moz-transform: translate3d(270px,0,0);
    // -ms-transform: translate3d(270px,0,0);
    // -o-transform: translate3d(270px,0,0);
    // transform: translate3d(270px,0,0);
}

.wrapper {
    position: relative;
}
.wrapper-push, .push-push {
    @include translate3d(-270px,0,0);
    // -webkit-transform: translate3d(-270px,0,0);
    // -moz-transform: translate3d(-270px,0,0);
    // -ms-transform: translate3d(-270px,0,0);
    // -o-transform: translate3d(-270px,0,0);
    // transform: translate3d(-270px,0,0);
}
.site-overlay {
    display: none;
}
.pushy-active {
    // position: fixed;
}
.pushy-active .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
}
.menu {
padding: 20px 0;
  font-size: 15px;
  width: 250px;
  display: none;  
}
.menu-main {
  padding-bottom: 15px;
}

.menu-more {
  padding-top: 15px;
}

.menu-btns {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
}

#menu-navigation-mobile {
    font: 15px / 45px 'Handbook-bold';
    & .menu-balance-inf  {
        font-size: 17px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 0;
        & > div {
            float: left;
            width: auto;
            margin-right: 20px;
            height: 40px;
            position: relative;
            & > span {
                font-size:  15px;
                font-weight: bold;
            }

            &:first-of-type {
                padding-left: 40px;
                padding-left: 30px;
                // &:before {
                //     content: "";
                //     display: block;
                //     background: url(../img/sprite.png);
                //     position: absolute;
                //     width: 24px;
                //     height: 22px;
                //     background-position: -516px -54px;
                //     top: 9px;
                //     left: 0px;
                // }
            } 
        }   
    }
    & .menu-main {
       padding-bottom: 0;
        &:after {
            display: none;
        } 
        & li {
            padding: 0;
            line-height: 1;  
            margin: 15px 0 10px;   
            & a {
                text-transform: none;
                padding: 0;
            }    
        }

    }
    & .menu-more  {
        // padding-bottom: 10px;
        padding-top: 0;
        & li {
            padding: 0;
            line-height: 1;   
            margin: 15px 0 10px;   
            & a {
                padding: 0;
            }
            &:last-child {
                & a {
                    margin-top: 0;       
                }
            }
        }
    }
    & .menu-profile  {
        // padding: 0 0 10px;
        min-width: 0;
        padding: 0;
        & li {
            padding: 0;
            line-height: 1;   
            margin: 15px 0 10px; 
            & a {
                padding: 0;
            }
            &:last-child {
                & a {
                    margin-top: 0;       
                }
            }
        }
    }
    & hr {
        margin: 0 0 0 -20px;
        border: none;
        border-bottom: 1px solid #cbc7c6;
    }
    & li a.active {
        text-decoration: underline;
    }

}   

.menu-balance-btn {
    display: none;
}
.menu-btn-item.active {
  box-shadow: none;
  background: none;
}
.fixed {
  & header {
    position: fixed;
    top: 0;
  }
  & > .wrapper > .container {
    margin-top: 40px; 
  }  
}
@media (max-width: 767px) {
  .i-mobile-pensil {
    &:before {
      content: '\e826'; 
    }
  }
}
