/*==========================================================================
                            GAME styles
  ==========================================================================*/

#games-online-field.SeaBattle ul li {
    float: left;
    position: relative !important;
    background: aliceblue;
}

#games-online-field.SeaBattle .table {
    width: 230px !important;
    float: left;
    position: relative !important;
    border: 1px solid red;
}

#games-online-field.SeaBattle .mx{
    min-height: 500px;
}

#games-online-field.SeaBattle .mx ul{
    padding: 0 !important;
}

#games-online-field.SeaBattle .mx ul li{
    margin: 0 1px 1px 0 !important;
}

#games-online-field.SeaBattle .mx li.s{
    background: lightskyblue;
}

#games-online-field.SeaBattle .mx ul.o li:not(.e,.d,.k) {
    cursor:crosshair;
    cursor: url('/tpl/img/games/Crosshair.cur') 12 12, crosshair;
}

#games-online-field.SeaBattle .mx li.d, #games-online-field.SeaBattle .mx li.k{
    background: url(/tpl/img/games/damage.png) no-repeat 50% 50% yellow;
}

#games-online-field.SeaBattle .mx li.e{
    background: gray;
}

#games-online-field.SeaBattle .mx .table div{
    position: absolute;
    background: lightskyblue;
    cursor: pointer;
}