/*==========================================================================
                            GAME styles
  ==========================================================================*/

/* #games-online-field.SeaBattle ul li {
    float: left;
    position: relative !important;
    background: aliceblue;
}

#games-online-field.SeaBattle .table {
    width: 230px !important;
    float: left;
    position: relative !important;
    border: 1px solid red;
}

#games-online-field.SeaBattle .mx {
    min-height: 500px;
}

#games-online-field.SeaBattle .mx ul {
    padding: 0 !important;
}

#games-online-field.SeaBattle .mx ul li {
    margin: 0 1px 1px 0 !important;
}

#games-online-field.SeaBattle .mx li.s {
    background: lightskyblue;
}

#games-online-field.SeaBattle .mx ul.o li:not(.e,.d,.k) {
    cursor: crosshair;
    cursor: url('/tpl/img/games/Crosshair.cur') 12 12, crosshair;
}

#games-online-field.SeaBattle .mx li.d, #games-online-field.SeaBattle .mx li.k {
    background: url(/tpl/img/games/damage.png) no-repeat 50% 50% yellow;
}

#games-online-field.SeaBattle .mx li.e {
    background: gray;
}
!!!!!!!!!!!!!!!!!!!!
#games-online-field.SeaBattle .mx .table.m {
    height: auto !important;
    padding: 0 !important;
    width: 328px !important;
}
#games-online-field.SeaBattle .mx .table .drag-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#games-online-field.SeaBattle .mx .table .drag-wrapper div {
    position: absolute;
    top: 0;
    left: 0;
    background: lightskyblue;
    cursor: pointer;
}
#games-online-field:not(.Durak) .mx .table .inner .cell.m.s{
    background: red !important;
}  */

/*
/////////////////////////////////////////////////*/
.FiveLine ul > li div {
    border-radius: 50%;
    margin: 10%;
    width: 80%;
    height: 80%;
}



#games-online-field.FiveLine .table {
    width: 480px !important;
}

#games-online-field.FiveLine .mx .wrapper{
    width: 100%;
}

#games-online-field.FiveLine ul li {
    float: left;
    position: relative !important;
    background: aliceblue;
}

.FiveLine ul > li {
    background-color: #d8e7e9;
    margin: 0 1px 1px 0 !important;
    float: left;
    cursor: pointer;
    text-align: center;
    color: #4c4c4c;
    letter-spacing: -2px;
}

.FiveLine ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.FiveLine ul > li.m div {
    background: #000;
    opacity: 0.6;
}

.FiveLine ul > li.o div {
    background: #ff0000;
    opacity: 0.6;
}

.FiveLine ul > li.m.last div {
    opacity: 1;
}

.FiveLine ul > li.o.last div {
    opacity: 1;
}