.content-top{
    position: relative;
}

@media (min-width: 120px){
    .content-box-content {
        min-height: 200px;
    }
}

.ticket-item {
    min-height: 422px;
}









.select {
    background-color: #ffe400 !important;
    -webkit-transition: background 500ms cubic-bezier(0.215, 0.61, 0.355, 1), color 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: background 500ms cubic-bezier(0.215, 0.61, 0.355, 1), color 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition: background 500ms cubic-bezier(0.215, 0.61, 0.355, 1), color 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: background 500ms cubic-bezier(0.215, 0.61, 0.355, 1), color 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: background 500ms cubic-bezier(0.215, 0.61, 0.355, 1), color 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.balls-count {
    color: #e7f6f7;
    font-size: 15px;
    position: absolute;
    right: 235px;
    bottom: 40px;
}

.balls-count b {
    color: #4c4c4c;
    font-size: 15px;
    font-weight: bold;
}

.ticket-random .after {
    display: none;
    position: absolute;
    bottom: 27px;
    left: 150px;
    color: #4c4c4c;
    font-size: 15px;
    text-align: left;
    padding-left: 30px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.ticket-favorite .after {
    display: none;
    position: absolute;
    bottom: 2px;
    left: 50px;
    font-size: 15px;
    width: 200px;
    line-height: 18px;
}

.after span {
    color: #fff;
}

.ticket-done {
    position: absolute;
    height: 30px;
    right: 41px;
    bottom: 30px;
    color: #e7f6f7;
}


.add-ticket.on {
    color: #4c4c4c;
    cursor: pointer;
}

.add-ticket {
    color: #8f8e8e;
    cursor: default;
}


.error, .loading{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:20;
}

.error {background-color:rgba(0,0,0,0.5);
    display: block !important;}
.loading {background-color:rgba(255,255,255,0.5);}

.loading div{

    margin: 0 auto;
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: -20px;
    margin-top: -20px;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(http://lotzon.com/tpl/img/preloader.gif);

}

.error div{

    margin: 0 auto;
    width: 240px;
    height: auto;
    position: absolute;
    margin-left: -120px;
    top: 20%;
    left: 50%;
    background-color:white;
    border-radius:3px;
    padding: 20px;
}

.error span{
    display: block;
    color: red;
}
/*.ticket-result{
    background-color:#B2D0D4;
    z-index:10;
    border-radius:14px;
    padding: 10px 10px;
    position:relative;

}*/
.tickets-number-result{
    font-size:15px;
    line-height:45px;
    color:#4C4C4C;
    font-weight:bold;
    margin:0 20px 0 0;
    width:12%;
}
.balls-box{
    top: 4px;
    margin-bottom: 5px;
    position:relative;
    height:40px;
    float:left;
    margin-left:3%;
    width:100%;
}
.balls-box li{
    padding:0;
}
.ball-circle{
    border:1px solid #4C4C4C;
    border-radius:50%;
    position:relative;
    float:left;
    height:35px;
    width:35px;
    margin-right:6%;
    line-height:40px;
    text-align:center;
}
.text-result{
    color:#4C4C4C;
    font-size:16px;
    line-height: 20px;
    margin:0;
}
.text-result-top{
    color:white;
    margin-bottom:20px;
}

.tickets-number-result p{
    margin:0;
}
.tickets-number-result p{
    text-align:right;;
}
@media screen and (max-width:1200px) {
    .tickets-number-result span, .text-result span {
        display: none;
    }

    .tickets-number-result p {
        text-align: center;
    }

    .text-result {
        top: 0;
        position: absolute;
        margin-left: 20px;
    }

    /*.balls-result {
        margin-top: 60px;
        width: 87%;
    }*/

    .tickets-number-result {
        margin: 60px 0 0 0;
        width: 15%;
    }
}
    @media screen and (max-width:768px) {

        .ball-circle{
            margin-right:1%;
        }
        .balls-box{
            margin-bottom:2px;
        }
        .tickets-number-result p{
            line-height:42px;
        }
        .tickets-number-result{
            width:5%;
        }
    }
















