body {
    box-sizing: border-box;

}

.game * {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;}
.cards #tm {display: none;}
.game.single-game {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    height: 550px;
}
.mx.Durak {height: 100%;}
.game > .cards {top: 0; width: 100%; height: 550px; position: absolute;  z-index: 10;  background: url('../img/games/card-table-bg.jpg') #a5adb0 no-repeat center center;overflow: hidden;background-size: cover;}
.cards .msg.winner{width: 100%; height: 100%;  background-color: rgba(255, 255, 255, 0.6);}
.cards .msg.winner .re, .cards .msg.winner .ot-exit {margin-top: 160px;}
.cards .msg.winner .ch-ot {margin-bottom: 30px;}

.cards .players { width: 40%; height:25%;margin: 0 30%;text-align: center;}
/*.cards .players .card{float: left; margin-right: -20px;}*/

.cards .players .gm-pr .pr-ph-bk .pr-ph {box-shadow: 0 0 6px 0px rgba(0,0,0,0.5);}
.cards .players .gm-pr .pr-ph-bk{  width: auto;height: auto;opacity: 1;z-index:2;position:relative;margin: auto;overflow: visible;}
.cards .players .m .gm-pr .pr-ph-bk{  left: 45%;top: 10px;}
.cards .players .gm-pr .pr-ph-bk .mt{display: block;background: white;border: 1px solid #ccc;border-radius: 5px;padding: 5px;font-size: 22px;font: 22px/1 "handbookpro-regular";width: 140%;margin: -20%;box-sizing: border-box;top: 0px;box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.3);}
.cards .players .gm-pr .pr-ph-bk .tm{ font: 32px/1 "handbookpro-regular"; padding: 4px; position: absolute; width: 50px; height: 50px; margin: -20px 17px; border-radius: 50px; border: 5px solid rgb(255,228,0); box-sizing: border-box;}
.cards .players .gm-pr .pr-ph-bk .wt{
    display: none;
    top: 0;
    width: 130px;
    background: rgba(216,227,231,0.95);
    height: 50px;
    margin-left: -40px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 5px 1px rgba(50,50,50,.5);
    font-size: 24px;
}
.cards .players .gm-pr .pr-ph-bk .wt.loser{color: red;}
.cards .players .m .gm-pr .pr-ph-bk .wt{margin-top: -100px;}

.cards .players .m {position: absolute;bottom: 0;  width: 100%;  height: 40%;  margin-left: -30%; z-index: 1;}
.cards .players .m .card{transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; -webkit-transform-origin: 50% 100%;
    /*margin-right: -40px;*/
}
.cards .players .m .card:hover, .cards .players .m .gm-pr .pr-cl .btn-ready:hover, .cards .players .m .gm-pr .pr-cl .btn-pass:hover{box-shadow: 0px 0px 10px 1px rgba(200,200,0,1);cursor: pointer;}
.cards .players .m .gm-pr {z-index: 12; background: rgba(178,208,212,0.95); position: absolute; bottom: 0; width: 100%; height: 80px;margin: 0; }
.cards .players .m .gm-pr .pr-ph {width: 60px;height: 60px;background-repeat: no-repeat;background-size: contain;position: absolute;border-radius: 70px;margin: 0px;}
.cards .players .m .gm-pr .pr-pr{  background: #a8c4c8;  position: relative;height: 65px;width: 65px;margin: 8px;float:right;border-radius: 80px;padding: 7px 10px;box-sizing: border-box;bottom:0;}
.cards .players .m .gm-pr .pr-md{      margin: 10px 25px;
    float: right;
    width: 35px;
    height: 60px;
    border: 2px solid #888;
    /* padding: 17px 3px; */
    border-radius: 5px;
    color: #888;
    font: 18px/1 Handbook-bold;
    position: relative;}
.cards .players .m .gm-pr .pr-md span {
    font: 18px/1 Handbook-bold;
    line-height: 60px;
    }
.cards .players .m .gm-pr .pr-md .icon-reload{ display: none;}
.cards.Revert .players .m .gm-pr .pr-md .icon-reload{display: block;
    position: absolute;
    top: 14px;
    font-size: 29px;
    left: 1px;}
.cards .players .m .gm-pr .pr-pr b{font: 36px/1 Handbook-bold;
    letter-spacing: -3px;
    margin-left: -3px;
    display: block;
    text-transform: uppercase;}
.cards .players .m .gm-pr .pr-pr span{font: 13px/5px Handbook-bold;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    display: block;}

.cards .players .m .pr-pt {position: relative;  float: right;height: 100%;width: 20%;padding: 23px 0;box-sizing: border-box;color: black;text-align: left;margin: 0 0 0 40px;}
.cards .players .m .pr-pt .wallet {font-size: 36px;color: black;float: left;margin-right: 20px;}
.cards .players .m .gm-pr .pr-nm { display: none;}
.cards .players .m .gm-pr .tm {  margin: 5px 0 0 -200px;background: none;color: black;}
.cards .players .m .gm-pr .pr-cl { margin: 15px 30px;  float: left; width: 20%;}
.cards .players .m .gm-pr .pr-cl .btn-pass, .cards .players .m .gm-pr .pr-cl .btn-ready {width: 100%;display: none;  height: 50px; background: white; border: 1px solid #bababa; border-radius: 5px; color: red; font: 32px/50px "handbookpro-regular"; text-transform: uppercase;}
.cards .players .m.current:not(.starter) .gm-pr .pr-cl .btn-pass, .cards .players .m.current:not(.starter) .gm-pr .pr-cl .btn-ready{display: block;}
.cards .players .m .gm-pr .pr-cl .msg-move{width: 100%;display: none;  height: 50px;color: red; font: 32px/50px "handbookpro-regular"; text-transform: uppercase;}
.cards .players .m.starter .gm-pr .pr-cl .msg-move{display: block;}

.cards .players .o{width: 30%;float: left;margin: 0;}
.cards .players .col1 {padding-left: 42%;}
.cards .players .col2 {padding-left: 25%;}
.cards .players .col3 {padding-left: 10%;}
.cards .players .exit {  position: absolute;top: 0;left: 0;margin: 15px;border-radius: 10px;padding: 10px;width: 50px;height: 30px;background-color: rgba(255,255,255,0.3); cursor: pointer;}
.cards .players .exit:hover{background-color: rgba(255,255,255,0.5);}
.cards .players .exit span {color: white;font-size: 30px;}

.cards .players .o .card{position: absolute; margin-left: -20px; margin-top: 20px;/*width: 70px; height: 108px;background-position: -1430px 0px;*/ border-radius: 5px; -webkit-transform-origin: 50% 25%; transform-origin: 50% 25%;}
.cards .players .o .gm-pr { height: auto;  margin: 0 0 0 5px;  }
.cards .players .o .gm-pr .pr-ph {width: 60px;  height: 60px;  background-repeat: no-repeat;  background: white;  background-size: contain;  position: relative; box-shadow: 0px 0px 10px;  margin: 30px 0 0 0px;border-radius: 50px;}
.cards .players .o .gm-pr .pr-nm {width: 100%;  background: rgba(64,64,64,0.6);  color: #ffffff;    top: 60px; padding:2px; position: absolute;border-radius: 3px;font: 14px/1 "handbookpro-regular";}
.cards .players .o .gm-pr .tm{ color: white; background: rgba(0,0,0,0.5); margin: 5px;}

.cards .deck, .cards .table, .cards .off {float: left;height: 35%;;width: 100px;box-sizing: border-box; z-index: 10;}
/*.cards .table {width: 780px;}*/
.cards .table > div:nth-of-type(even) {   padding-top: 30px;  transform: rotate(-4deg);-webkit-transform: rotate(-4deg); }
.cards .table .cards { float: left; width: 16.6%; height: 120px;  position: relative;}
.cards .table .cards .card{float:left; position: absolute; left: 25px;  margin-top: 5px;  transform: rotate(2deg) scale(0.7,0.7);-webkit-transform: rotate(2deg) scale(0.7,0.7);}
.cards .table .cards div:first-of-type {  left: 0px;  margin-top: 0px;  transform: rotate(-1deg) scale(0.7,0.7);-webkit-transform: rotate(-1deg) scale(0.7,0.7);}
.cards .table .cards.highlight div:first-of-type {
    -webkit-animation: pulsate 1s linear infinite;
    animation: pulsate 1s linear infinite; }
.cards .table .cards.highlight.hover div:first-of-type, .cards .table .cards.highlight div:first-of-type:hover {
    -webkit-animation: none;
    animation: none;
    box-shadow: 0px 0px 2px 2px rgba(200,0,0,1); cursor: pointer; }
.cards .table .cards.revert {/*float: right;margin-right: 50px;*/}
.cards .table .cards.revert .card {  background: none;border: 3px dashed gray;box-shadow: none !important;}
.cards .table .cards.revert .card::before{  font-family: 'Simple-Line-Icons';font-size: 72px;content: "\e099";position: absolute;left: 16px;top: 46px;color: gray;}
.cards .table .cards.revert.highlight .card {border-color:rgb(200,0,0);}

.cards .off {width: 3%; float: right;}
.cards .off .card {  transform: rotate(-4deg) scale(0.7,0.7); -webkit-transform: rotate(-4deg) scale(0.7,0.7); -webkit-transform-origin: 50% 25%; transform-origin: 50% 25%;position: absolute; margin-left: -40px;}

.cards .deck {position: relative; width:15%; }
.cards .table {width: 78%;}
.cards .deck .card{position: absolute;  left: -80px;  top: 20px;  transform: rotate(10deg);-webkit-transform: rotate(10deg);}
.cards .deck .card.trump {  left: 0;  top: 80px;transform: rotate(100deg);-webkit-transform: rotate(100deg); transform-origin: 50% 25%; -webkit-transform-origin: 50% 25%;}
.cards .deck .last{position: absolute;  top:0;  left: 10px; color: #ffffff;}
.cards .deck .lear{position: absolute;top: 75px;left:10px;width: 50px;height: 50px;background: url('../img/games/card-deck.png') no-repeat;background-position: -138px -227px;border-radius: 50px;}
.cards .deck .lear.card1{background-position: -1491px -531px;}
.cards .deck .lear.card2{background-position: -1438px -480px;}
.cards .deck .lear.card3{background-position: -1438px -531px;}
.cards .deck .lear.card4{background-position: -1491px -480px;}

 .card{position: absolute!important; width: 106px; height: 162px; text-align: center; background: url('../img/games/card-deck.png') no-repeat; background-position: -1430px 0px; transform-origin: 50% 20%; border-radius: 10px; box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.2);}
 .card.select { box-shadow: 0px 0px 10px 1px rgba(200,200,0,1);  }
 /*.card.select-next { box-shadow: 0px 0px 10px 1px rgba(200,200,0,1); }*/
 .card1x2 {background-position: 0px -170px;}
 .card1x3 {background-position: -110px -170px;}
 .card1x4 {background-position: -220px -170px;}
 .card1x5 {background-position: -330px -170px;}
 .card1x6 {background-position: -440px -170px;}
 .card1x7 {background-position: -550px -170px;}
 .card1x8 {background-position: -660px -170px;}
 .card1x9 {background-position: -770px -170px;}
 .card1x10 {background-position: -880px -170px;}
 .card1x11 {background-position: -990px -170px;}
 .card1x12 {background-position: -1100px -170px;}
 .card1x13 {background-position: -1210px -170px;}
 .card1x14 {background-position: -1320px -170px;}

 .card2x2 {background-position: 0px 0px;}
 .card2x3 {background-position: -110px 0px;}
 .card2x4 {background-position: -220px 0px;}
 .card2x5 {background-position: -330px 0px;}
 .card2x6 {background-position: -440px 0px;}
 .card2x7 {background-position: -550px 0px;}
 .card2x8 {background-position: -660px 0px;}
 .card2x9 {background-position: -770px 0px;}
 .card2x10 {background-position: -880px 0px;}
 .card2x11 {background-position: -990px 0px;}
 .card2x12 {background-position: -1100px 0px;}
 .card2x13 {background-position: -1210px 0px;}
 .card2x14 {background-position: -1320px 0px;}

 .card3x2 {background-position: 0px -510px;}
 .card3x3 {background-position: -110px -510px;}
 .card3x4 {background-position: -220px -510px;}
 .card3x5 {background-position: -330px -510px;}
 .card3x6 {background-position: -440px -510px;}
 .card3x7 {background-position: -550px -510px;}
 .card3x8 {background-position: -660px -510px;}
 .card3x9 {background-position: -770px -510px;}
 .card3x10 {background-position: -880px -510px;}
 .card3x11 {background-position: -990px -510px;}
 .card3x12 {background-position: -1100px -510px;}
 .card3x13 {background-position: -1210px -510px;}
 .card3x14 {background-position: -1320px -510px;}

 .card4x2 {background-position: 0px -340px;}
 .card4x3 {background-position: -110px -340px;}
 .card4x4 {background-position: -220px -340px;}
 .card4x5 {background-position: -330px -340px;}
 .card4x6 {background-position: -440px -340px;}
 .card4x7 {background-position: -550px -340px;}
 .card4x8 {background-position: -660px -340px;}
 .card4x9 {background-position: -770px -340px;}
 .card4x10 {background-position: -880px -340px;}
 .card4x11 {background-position: -990px -340px;}
 .card4x12 {background-position: -1100px -340px;}
 .card4x13 {background-position: -1210px -340px;}
 .card4x14 {background-position: -1320px -340px;}

.mx .gm-pr {width:172px;float:left;text-align:center;height:480px;margin:0 19px;position: relative;}
.game-cards {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.tmp_but  {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 100;
}
.tmp_but2 {
    right: 10px;
    position: absolute;
    top: 10px;
    z-index: 100;
}

.transition {
    transition: all 0.2s linear ;
    -moz-transition: all 0.2s linear ;
    -o-transition: all 0.2s linear ;
    -webkit-transition: all 0.2s linear ;

/*  -webkit-transition-property: top;
    -moz-transition-property: top;
    -o-transition-property: top;
    transition-property: top;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;*/
}  
.game-cards div:not(.animatedCard)   {
    /*transition: all 0s ease 0s !important;*/

}
.small-card {
    trasform: rotate(2deg) scale(0.7,0.7)!important;
    -webkit-transform: rotate(2deg) scale(0.7,0.7)!important;
}
@media  all and ( max-width: 768px) { 

    .active_small_devices {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        margin: 0;
    }
    .content-box-content {
        min-height: 0;
    }
    .cards .deck .card  {
    transform: rotate(10deg) scale(0.7, 0.7);
    -webkit-transform: rotate(10deg) scale(0.7, 0.7);
    left: -60px;
    }
    .cards .deck .card.trump {
         transform: rotate(100deg) scale(0.7, 0.7);
    -webkit-transform: rotate(100deg) scale(0.7, 0.7); 
    }
    .cards .players .m .gm-pr .pr-cl .btn-pass, .cards .players .m .gm-pr .pr-cl .btn-ready {
        font: 18px "handbookpro-regular";
        height: 40px;
        line-height: 40px;
    }
    .cards .players .m .gm-pr .pr-cl {
        margin: 20px 15px;
        width: 15%;
    }

    footer.unvisible {
        display: none;
    }
    .cards .players .m {
        height: auto;
        min-height: 220px;

    }

    .cards .players .m .gm-pr .pr-pr {
        margin: 7px 0;
        /*padding: 15px 0;*/
    }  
    .cards .players .m .gm-pr .pr-ph-bk {
        left: 30%;
    }
    .cards .players .m .gm-pr .pr-cl .msg-move {
        font-size: 14px;
    }
  /*  .cards .players .m .card {
     
    }*/
    .cards .players .o .gm-pr .pr-nm {
        width: 100%;
        background: rgba(64,64,64,0.6);
        color: #ffffff;
        top: 40px;
        padding: 2px;
        position: absolute;
        border-radius: 3px;
        font: 8px/1 "handbookpro-regular";
        text-align: center;
        /* white-space: nowrap; */
        /* left: 0; */
        /* right: 0; */
        margin: 0 auto;
        text-align: center;
    }


}




@media (max-width: 650px) { 
        .cards .players .m .gm-pr .pr-ph-bk{
            left: 25%; 
        }

/*    .cards .players .gm-pr .pr-ph-bk {

    }    */

       
}

@media (max-width: 550px) { 

    .cards .players .m .gm-pr .pr-ph-bk {
        top: 6px;
    }
    .cards .players .m .gm-pr .pr-pr b {
        font: 26px/1 Handbook-bold;
        letter-spacing: -3px;
        margin-left: -3px;
        display: block;
        text-transform: uppercase;
        margin-top: 0;
    }


    .cards .players .o .gm-pr {
        width: auto;
        height: 30px;
    }
    .cards .players .gm-pr .pr-ph-bk {
        width: 50px;
        height: 50px;
        position: absolute;
    }
    .cards .players .o .gm-pr .pr-ph {
        width: 40px;
        height: 40px;
        margin: 0;
    }
    .cards .players .o .card {
        margin-left: -28px;
        margin-top: -15px;
    }

     .cards .table .cards .card {
        transform: rotate(-1deg) scale(0.4,0.4);
        -webkit-transform: rotate(-1deg) scale(0.4,0.4);
    } 
    .small-card {
        transform: rotate(-1deg) scale(0.4,0.4)!important;
        -webkit-transform: rotate(-1deg) scale(0.4,0.4)!important;
    } 
    .cards .table .cards div:first-of-type {
         transform: rotate(-1deg) scale(0.4,0.4);
        -webkit-transform: rotate(-1deg) scale(0.4,0.4);
    }
    .cards .deck .card {
        transform: rotate(10deg) scale(0.4, 0.4);
        -webkit-transform: rotate(10deg) scale(0.4, 0.4);
        left: -40px;
    }
    .cards .deck .card.trump {
        transform: rotate(100deg) scale(0.4, 0.4);
        -webkit-transform: rotate(100deg) scale(0.4, 0.4);
        top: 50px
    }
    .cards .players .m {
        height: auto;
        min-height: 200px;
    }
    .cards .players .m .gm-pr {
        height: 60px;
        margin: 0;
    }
    .cards .table > div:nth-of-type(even) {
        margin-top: -10px;
        padding-top: 0;
    }
    .cards .players .gm-pr .pr-ph-bk .mt {
        font-size: 14px;
        width: auto;
    }
    .cards .players .m .gm-pr .pr-ph,.cards .players .m .gm-pr .pr-pr {
        width: 50px;
        height: 50px;
        margin: 0;
    }
    .cards .players .m .gm-pr .pr-pr {
        margin: 5px 0;

    }
    .cards .players .m .gm-pr .pr-pr {
        padding: 8px 0;
    }
    .cards .players .m .gm-pr .pr-pr span {
    font: 9px/5px Handbook-bold;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    }
    .cards .players .m .gm-pr .pr-cl {
        margin: 12px 15px;
    }
    .cards .players .m .pr-pt {
        margin: 5px 0;
    padding: 0 10px;
    }
    .cards .deck .lear {
        top: 60px;
    }
    .cards .players .m .gm-pr .pr-md {
        height: 45px
    }
    .cards .players .m .gm-pr .pr-md span {
        line-height: 45px;
    }
    .cards .players {
        height: 20%;
    }

    .cards .players .m .gm-pr .pr-cl .msg-move {
    font-size: 14px;
    line-height: 1.5;
    }
    .circle-timer, .circle {
        width: 64px;
        height: 64px;
    }
    .timer-l, .timer-r {
        width: 64px;
        height: 64px;
        margin-left: -32px;
        margin-top: -32px;  
    }
    .o .circle-timer, .circle {
        width: 54px;
        height: 54px;
    }
    .o .timer-l, .timer-r {
        width: 54px;
        height: 54px;
        margin-left: -27px;
        margin-top: -27px;  
    }
    .o .cards .players .o .gm-pr .pr-ph {
        margin: 0px;
    }

} 


@media (max-width: 479px) {
    .js-detect {
        opacity: 0.2;
    }
    .cards .players .m .pr-pt {
        font-size: 9px; 
        line-height: 1;
        margin: 17px 0;
        padding: 5px;

    }
    .cards .table .cards .card {
        transform: rotate(-1deg) scale(0.5,0.5);
        -webkit-transform: rotate(-1deg) scale(0.5,0.5);
    } 
    .small-card  {
        transform: rotate(-1deg) scale(0.5,0.5)!important;
        -webkit-transform: rotate(-1deg) scale(0.5,0.5)!important;
    } 
    .cards .table .cards div:first-of-type {
         transform: rotate(-1deg) scale(0.5,0.5);
        -webkit-transform: rotate(-1deg) scale(0.5,0.5);
    }
    .cards .players .m .gm-pr .pr-cl .msg-move {
        font-size: 14px;
        line-height: 1.5;
    }
/*    .cards .players .m .gm-pr .pr-ph {
        width: 40px;
        height: 40px;
        margin: 10px 0;
    }*/
/*    .cards .players .m .gm-pr .pr-pr { 
        width: 40px;
        height: 40px;
        margin: 20px 0;
        padding: 0;
    }*/
    .cards .players .gm-pr .pr-ph-bk .mt {
        font-size: 16px;
    }

/*    .cards .players .m .gm-pr .pr-pr b {
        font-size: 20px;
        display: block;
        line-height: 14px;
        margin-top: 5px;
    }*/
    .cards .players .m .gm-pr .pr-cl .btn-pass, .cards .players .m .gm-pr .pr-cl .btn-ready {
        font: 14px "handbookpro-regular";
        line-height: 40px;
    }
/*     .cards .players .m .gm-pr .pr-md {
    margin: 20px 25px;
} */
    .cards .deck .card {
        transform: rotate(10deg) scale(0.6, 0.6);
        -webkit-transform: rotate(10deg) scale(0.6, 0.6);  
    }
    .cards .deck .card.trump {
        transform: rotate(100deg) scale(0.6, 0.6);
        -webkit-transform: rotate(100deg) scale(0.6, 0.6);  
    } 
    .cards .deck .lear {
        top: 85px;
    }
    .cards .deck { width: 20%; }
    .cards .table .cards { width: 33%; }
    .cards .table { width: 60%; }
}

/*@media (max-height: 550px) {
    .cards .players .m .gm-pr .pr-ph-bk {
        top: 6px;
    }
    .cards .players .m .gm-pr .pr-pr b {
        font: 26px/1 Handbook-bold;
        letter-spacing: -3px;
        margin-left: -3px;
        display: block;
        text-transform: uppercase;
        margin-top: 0;
    }


    .cards .players .o .gm-pr {
        width: auto;
        height: 30px;
    }
    .cards .players .gm-pr .pr-ph-bk {
        width: 50px;
        height: 50px;
        position: absolute;
    }
    .cards .players .o .gm-pr .pr-ph {
        width: 40px;
        height: 40px;
        margin: 5px 0 0;
    }
    .cards .players .o .card {
        margin-left: -28px;
        margin-top: -15px;
    }
    .cards .deck .card {

    }
        .cards .table .cards .card {
        transform: rotate(-1deg) scale(0.4,0.4);
        -webkit-transform: rotate(-1deg) scale(0.4,0.4);
    } 
    .cards .table .cards div:first-of-type {
         transform: rotate(-1deg) scale(0.4,0.4);
        -webkit-transform: rotate(-1deg) scale(0.4,0.4);
    }
    .cards .deck .card {
        transform: rotate(10deg) scale(0.4, 0.4);
        -webkit-transform: rotate(10deg) scale(0.4, 0.4);
        left: -40px;
    }
    .cards .deck .card.trump {
        transform: rotate(100deg) scale(0.4, 0.4);
        -webkit-transform: rotate(100deg) scale(0.4, 0.4);
        top: 50px
    }
    .cards .players .m {
        height: auto;
        min-height: 200px;
    }
    .cards .players .m .gm-pr {
        height: 60px;
        margin: 0;
    }
    .cards .table > div:nth-of-type(even) {
        margin-top: -10px;
        padding-top: 0;
    }
    .cards .players .gm-pr .pr-ph-bk .mt {
        font-size: 14px;
        width: auto;
    }
    .cards .players .m .gm-pr .pr-ph,.cards .players .m .gm-pr .pr-pr {
        width: 50px;
        height: 50px;
        margin: 0;
    }
    .cards .players .m .gm-pr .pr-pr {
        margin: 5px 0;

    }
    .cards .players .m .gm-pr .pr-pr {
        padding: 8px 0;
    }
    .cards .players .m .gm-pr .pr-pr span {
    font: 9px/5px Handbook-bold;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    }
    .cards .players .m .gm-pr .pr-cl {
        margin: 12px 15px;
    }
    .cards .players .m .pr-pt {
        margin: 5px 0;
    padding: 0 10px;
    }
    .cards .deck .lear {
        top: 60px;
    }
    .cards .players .m .gm-pr .pr-md {
        height: 45px
    }
    .cards .players .m .gm-pr .pr-md span {
        line-height: 45px;
    }
    .cards .players {
        height: 20%;
    }

}*/

@media (max-height: 550px) and (max-width: 1010px) and (orientation: landscape) {
    .cards .players .m .gm-pr .pr-ph-bk {
        top: 6px;
        left: 35%;
    }
    .cards .players .m .gm-pr .pr-pr b {
        font: 26px/1 Handbook-bold;
        letter-spacing: -3px;
        margin-left: -3px;
        display: block;
        text-transform: uppercase;
        margin-top: 0;
    }

    .cards .players .o .gm-pr {
        width: auto;
        height: 30px;
    }
    .cards .players .gm-pr .pr-ph-bk {
        width: 50px;
        height: 50px;
        position: absolute;
    }
    .cards .players .o .gm-pr .pr-ph {
        width: 40px;
        height: 40px;

    }
    .cards .players .o .card {
        margin-left: -28px;
        margin-top: -15px;
    }

   .cards .table .cards .card {
        transform: rotate(-1deg) scale(0.4,0.4);
        -webkit-transform: rotate(-1deg) scale(0.4,0.4);
    }
    .small-card  {
        transform: rotate(-1deg) scale(0.4,0.4)!important;
        -webkit-transform: rotate(-1deg) scale(0.4,0.4)!important;
    }
    .cards .table .cards div:first-of-type {
         transform: rotate(-1deg) scale(0.4,0.4);
        -webkit-transform: rotate(-1deg) scale(0.4,0.4);
        
    }
    .cards .table .cards div {
        margin-left: -30px;
    }
    .cards .deck .card {
        transform: rotate(10deg) scale(0.4, 0.4);
        -webkit-transform: rotate(10deg) scale(0.4, 0.4);
        left: -40px;
    }
    .cards .deck .card.trump {
        transform: rotate(100deg) scale(0.4, 0.4);
        -webkit-transform: rotate(100deg) scale(0.4, 0.4);
        top: 50px
    }
    .cards .players .m {
        height: auto;
        min-height: 200px;
    }
    .cards .players .m .gm-pr {
        height: 60px;
        margin: 0;
    }
    .cards .table > div:nth-of-type(even) {
        margin-top: -10px;
        padding-top: 0;
    }
    .cards .players .gm-pr .pr-ph-bk .mt {
        font-size: 14px;
        width: auto;
    }
    .cards .players .m .gm-pr .pr-ph,.cards .players .m .gm-pr .pr-pr {
        width: 50px;
        height: 50px;
        margin: 0;
    }
    .cards .players .m .gm-pr .pr-pr {
        margin: 5px 0;

    }
    .cards .players .m .gm-pr .pr-pr {
        padding: 8px 0;
    }
    .cards .players .m .gm-pr .pr-pr span {
    font: 9px/5px Handbook-bold;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    }
    .cards .players .m .gm-pr .pr-cl {
        margin: 12px 15px;
    }
    .cards .players .m .pr-pt {
        padding: 0 10px;
        font-size: 12px;
        margin: 20px 0;
    }
    .cards .deck .lear {
        top: 60px;
    }
    .cards .players .m .gm-pr .pr-md {
        height: 45px
    }
    .cards .players .m .gm-pr .pr-md span {
        line-height: 45px;
    }
    .js-detect {
        opacity: 0.3;
    }
    .cards .players {
        height: 20%;
    }
    .cards .players .m .gm-pr .pr-cl .btn-pass, .cards .players .m .gm-pr .pr-cl .btn-ready {
        line-height: 40px;
    }
    .cards .deck {
        width: 18%;
    }
    .cards .table {
        width: 75%;
    }
}














* ==========================================================================
                            POPUPs styles
   ========================================================================== */
.popup {display:none;}
.bl-pp-bk {position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.8);z-index:1000;overflow-x:hidden;overflow-y:auto;}
.gr-pp-bk {position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.6);z-index:1000;overflow-x:hidden;overflow-y:auto;}
.wt-pp-bk {position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(178, 208, 212, 0.93);z-index:1000;overflow-x:hidden;overflow-y:auto;}
.bl-pp_table {display:table;width:100%;height:100%;}
.bl-pp_td {display:table-cell;vertical-align:middle;}
.bl-pp-bk .pr-mg {background-color:#fff;width:460px;height:200px;margin:auto;position: relative;}
.cs {width:30px;height:30px;background:url("../img/bg-but-close-rules.png") no-repeat 0 0;position:absolute;top:0;right:-50px;cursor:pointer;}
.ws-lt-bk .cs {width:30px;height:30px;background:url("../img/bg-but-close-game.png") no-repeat 0 0;position:absolute;top:0;right:-50px;cursor:pointer;}
.bl-pp-bk .pr-mg .padd {padding:35px 30px 0 30px;}
.bl-pp-bk .pr-mg .padd .txt {font:18px/19px "handbookpro-regular";color:#000;}
.bl-pp-bk .pr-mg .padd .go-pzs {margin:45px 0 0 123px;height:36px;display:inline-block;font:18px/36px "handbookpro-regular";color:#000;position:relative;}
.bl-pp-bk .pr-mg .padd .go-pzs:before {content:"";width:0;height:0;display:block;border-bottom: 18px solid transparent;border-left: 10px solid #000;border-top: 18px solid transparent;position:absolute;top:0;right:-30px;}
.bl-pp-bk .pr-mg .padd .go-pzs:after {content:"";width:0;height:0;display:block;border-bottom: 18px solid transparent;border-left: 10px solid #fff;border-top: 18px solid transparent;position:absolute;top:0;right:-29px;}

.wt-pp-bk .ws-lt-bk {margin:60px auto;padding:0;width:860px;position:relative;background-color:#fff;}
.wt-pp-bk .ws-lt-bk .ws-pf-rt-bk {}
.wt-pp-bk .ws-lt-bk .ws-pf-rt-bk .ws-pf-tl {height:100px;background-color:#b2d0d4;position:relative;}
.wt-pp-bk .ws-lt-bk .ws-pf-rt-bk .ws-pf-tl .ws-dt {font:20px/1 Handbook-bold;text-transform:uppercase;color:#4c4c4c;display:block;position:absolute;left:70px;top:40px;}
.font-fix .wt-pp-bk .ws-lt-bk .ws-pf-rt-bk .ws-pf-tl .ws-dt {top:43px; }
.wt-pp-bk .ws-lt-bk .yr-tt {font: 15px/1 Handbook-bold;overflow:hidden;text-transform: uppercase;margin-bottom:27px;padding-bottom:3px;}
.wt-pp-bk .ws-lt-bk .ws-pf-rt-bk .ws-pf-tl .yr-tt {padding:30px 0 5px 250px;}
.wt-pp-bk .ws-lt-bk .yr-tt .yr-tt-tn {color:#4c4c4c;float:left;width:90px;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);padding:13px 0 0 0;}
.wt-pp-bk .ws-lt-bk .yr-tt .yr-tt-tn.none {width:400px;}
.font-fix .wt-pp-bk .ws-lt-bk .yr-tt .yr-tt-tn {padding-top:14px;}
.wt-pp-bk .ws-lt-bk .yr-tt .yr-tt-tr {list-style:none;margin:0;padding:0;float:left;}
.wt-pp-bk .ws-lt-bk .yr-tt .yr-tt-tr .null {height:40px;line-height:40px;}
.wt-pp-bk .ws-lt-bk .yr-tt .yr-tt-tr .yr-tt-tr_li {width:38px;height:38px;border:1px solid #2d2d2d;color:#2d2d2d;border-radius:50%;float:left;margin-right:10px;box-shadow: 0 1px 1px 0 rgba(255,255,255,0.3);text-align:center;text-shadow: 0 1px 0px rgba(255, 255, 255, 0.4);line-height:38px;}
.wt-pp-bk .ws-lt-bk .ws-pf-tl .yr-tt .yr-tt-tr .yr-tt-tr_li {width:40px;height:40px;background-color:#ffe400;border:none;box-shadow:inset 1px 1px 0px 0px rgba(20, 20, 20, 0.4), 0 1px 0px 0 rgba(255,255,255,0.6);line-height:40px;}
.font-fix .wt-pp-bk .ws-lt-bk .ws-pf-tl .yr-tt .yr-tt-tr .yr-tt-tr_li {line-height:43px;}
.font-fix .wt-pp-bk .ws-lt-bk .yr-tt .yr-tt-tr .yr-tt-tr_li {line-height:41px;}
.wt-pp-bk .ws-lt-bk .yr-tt .yr-tt-tr .yr-tt-tr_li.won {width:40px;height:40px;background-color:#ffe400;border:none;box-shadow:inset 1px 1px 0px 0px rgba(20, 20, 20, 0.4), 0 1px 0px 0 rgba(255,255,255,0.6);line-height:40px;}
.font-fix .wt-pp-bk .ws-lt-bk .yr-tt .yr-tt-tr .yr-tt-tr_li.won {line-height:43px;}
.wt-pp-bk .ws-lt-bk .yr-tt .yr-tt-tr .yr-tt-tr_li:last-child {margin:0;}
.wt-pp-bk .ws-lt-bk .ws-yr-tks-bk {background:#b2d0d4 url("../img/bg-winers-list-result.png") repeat-y center;position:relative;}
.wt-pp-bk .ws-lt-bk > i {display:block;width:30px;height:34px;position:absolute;top:250px;cursor:pointer;}
.wt-pp-bk .ws-lt-bk > i.ar-l {background:transparent url("../img/but-arrow-left.png") no-repeat center;left:-50px;}
.wt-pp-bk .ws-lt-bk > i.ar-r {background:transparent url("../img/but-arrow-right.png") no-repeat center;right:-50px;}
.wt-pp-bk .ws-lt-bk .ws-yr-tks-bk .wr-pf-ph {width:50px;height:50px;position:absolute;top:30px;left:70px;background-repeat:no-repeat;background-position:center;background-size:contain;display:none}
.wt-pp-bk .ws-lt-bk .ws-yr-tks-bk .wr-pf-ph > img {width:50px;height:50px;}
.wt-pp-bk .ws-lt-bk .ws-yr-tks-bk .wr-pf-pr {width:40px;height:40px;position:absolute;margin-left:-20px;margin-top:-20px;top:50%;left:50%;background-repeat:no-repeat;background-position:center;background-size:contain;}
.wt-pp-bk .ws-lt-bk .ws-yr-tks-bk .wr-pf-pr > img {width:40px;height:40px;}
.wt-pp-bk .ws-lt-bk .ws-yr-tks-bk .yr-tb {list-style:none;padding:30px 0 50px 250px;margin:0;min-height: 323px;}


.wt-pp-bk .ws-lt-bk > .ws-dt {height:30px;padding:40px 0 0 70px;font:20px/1 Handbook-bold;color: #4c4c4c;display:block;margin-bottom:-30px;}
.wt-pp-bk .ws-lt-bk .ws-lt {list-style:none;overflow:hidden;margin:50px 0 0 20px;padding:40px 0 0 30px;}
.wt-pp-bk .ws-lt-bk .ws-lt > li {width:240px;height:70px;float:left;cursor:pointer;margin:0 30px 10px 0;}
.wt-pp-bk .ws-lt-bk .ws-lt > li.you {background-color:#b2d0d4;}
.wt-pp-bk .ws-lt-bk .ws-lt > li .tl {display:table;width:210px;height:50px;margin:10px 10px 10px 20px;}
.wt-pp-bk .ws-lt-bk .ws-lt > li .tl .ph {width:50px;display:table-cell;background-repeat:no-repeat;background-position:center;background-size:contain;}
.wt-pp-bk .ws-lt-bk .ws-lt > li .tl .ph >img {width:50px;height:50px;}
.wt-pp-bk .ws-lt-bk .ws-lt > li .tl .nm {display:table-cell;vertical-align:middle;padding-left:20px;font:15px/1 Handbook-bold;color:#4f4f4f;}
.wt-pp-bk .ws-lt-bk .ws-lt > li:hover .tl .nm {color:#000;}

.csh-ch-bk {background-color:#ffe400;position:relative;width:460px;margin:50px auto;}
.csh-ch-bk .cl-bt {width:30px;height:30px;position:absolute;top:0;right:-50px;background:url("../img/bg-but-close.png") no-repeat 0 0;cursor:pointer;}
.csh-ch-bk .padd {padding:0 30px;}
.csh-ch-bk .padd > p {font:18px/19px "handbookpro-regular";color:#000;padding:35px 0 0 0;margin:0;}
.csh-ch-bk .padd .csh-ch-lst {margin:0;padding:35px 0 45px 25px;list-style:none;}
.csh-ch-bk .padd .csh-ch-lst > li {margin-bottom:20px;height:20px;}
.csh-ch-bk .padd .csh-ch-lst > li:last-child {margin-bottom:0;}
.csh-ch-bk .padd .csh-ch-lst > li > label {font:18px/18px "handbookpro-regular";}
.csh-ch-bk .padd .csh-ch-lst > li > label:before {top:0px;}
.csh-ch-bk .padd .csh-ch-lst > li > label:after {top:2px;}
.csh-ch-bk .padd .form {overflow:hidden;display:none;}
.csh-ch-bk .padd .cards {}

.csh-ch-bk .padd .form .inp-bk {height:31px;position:relative;border-bottom:1px solid #b29f00;color:#000;margin-bottom:18px;}
.csh-ch-bk .padd .form .inp-bk.last {margin-bottom:0;}
.csh-ch-bk .padd .form .inp-bk.focus {border-bottom:1px solid #000;}
.csh-ch-bk .padd .form .inp-bk .ph {height:32px;text-align:right;position:absolute;top:0;right:0;font:18px/29px Handbook-italic;display:none;}
.font-fix .csh-ch-bk .padd .form .inp-bk  .ph {line-height:32px;}
.csh-ch-bk .padd .form .inp-bk.focus .ph {display:block;}
.csh-ch-bk .padd .form .inp-bk .m_input {border:none;background:none;outline:none;height:31px;font:18px/29px Handbook-italic;width:300px;}
.csh-ch-bk .padd .form .inp-fl-bk {position:relative;margin-top:40px;}
.csh-ch-bk .padd .form .inp-fl-bk .inp-fl-txt {font:15px/1 "handbookpro-regular";color:#000;width:180px;}
.csh-ch-bk .padd .form .inp-fl-bk .inp-fl-bt {width:218px;height:28px;border:1px solid #000;text-align:center;font:12px/28px Handbook-bold;text-transform:uppercase;position:absolute;top:0;right:0;overflow:hidden;}
.csh-ch-bk .padd .form .inp-fl-bk .inp-fl-bt.hover, .csh-ch-bk .padd .form .inp-fl-bk .inp-fl-bt.check {background-color:#000;color:#ffe400;}
.csh-ch-bk .padd .form .inp-fl-bk .f_input {width:220px;height:30px;position:absolute;top:0;right:0;opacity:0;}
.csh-ch-bk .padd .form .s-b{margin:50px 0 40px 0;}
.csh-ch-bk .txt-set-number{margin:0 20px 40px 20px;}
.csh-ch-bk .padd .form .s-b .sb_but {box-sizing: border-box;width:100%;background:none;border:1px solid #998900;outline:none;text-align:center;height:50px;font:17px/49px Handbook-bold;text-transform:uppercase;letter-spacing:1px;color:#736600;}
.csh-ch-bk .padd .form .s-b .sb_but:hover {border-color:#000;color:#000;}
.csh-ch-bk .padd .form .purse-ch-bk {overflow:hidden;margin-bottom:30px;}
.csh-ch-bk .padd .form .purse-ch-bk .ps-ch-tl {width:155px;float:left;font:18px/20px "handbookpro-regular";color:#000;}
.csh-ch-bk .padd .form .purse-ch-bk .ps-r {float:left;width:90px;}
.csh-ch-bk .padd .form .purse-ch-bk .ps-u {float:left;width:90px;}
.csh-ch-bk .padd .form .purse-ch-bk .ps-b {float:left;width:auto;}
.csh-ch-bk .padd .form .purse-ch-bk > div > label {font:18px/20px "handbookpro-regular";color:#000;}
.csh-ch-bk .padd .form .purse-ch-bk > div > label:before {top:0;}
.csh-ch-bk .padd .form .purse-ch-bk > div > label:after {top:2px;}

.csh-ch-bk input.m_input::-webkit-input-placeholder {color:#000;opacity:0.5;letter-spacing:-0.5px;}
.csh-ch-bk input.m_input:-moz-placeholder {color:#000;opacity:0.5;letter-spacing:-0.5px;}
.csh-ch-bk input.m_input::-moz-placeholder {color:#000;opacity:0.5;letter-spacing:-0.5px;}
.csh-ch-bk input.m_input:-ms-input-placeholder {color:#000;opacity:0.5;letter-spacing:-0.5px;}
.csh-ch-bk .focus input.m_input::-webkit-input-placeholder {opacity:0;}
.csh-ch-bk .focus input.m_input:-moz-placeholder {opacity:0;}
.csh-ch-bk .focus input.m_input::-moz-placeholder {opacity:0;}
.csh-ch-bk .focus input.m_input:-ms-input-placeholder {opacity:0;}

.quickgame .prize-holder { height: 100px;width: 100px;display: inline-table;margin-left: -3px; text-align: center; color: white; /*text-shadow: 1px 1px 1px rgba(100, 100, 100, 1);*/ }
.quickgame .prize-holder.l {opacity: 0.5;}
.quickgame .points-holder{ background: url('../img/points-holder.jpg') no-repeat 0 0 / 100% 100%; }
.quickgame .math-holder{ background: url('../img/math-holder.jpg') no-repeat 0 0 / 100% 100%; }
.quickgame .money-holder{ background: url('../img/money-holder.jpg') no-repeat 0 0 / 100% 100%; }
.quickgame .prize-holder span {
font: 24px/1 Handbook-bold;
vertical-align: middle;
margin: 0 auto !important;
display: table-cell;
position: relative;}
.quickgame .prize-holder img {
    width: 100%;
    height:100%;}
.quickgame.pop-box {width:570px;}
.quickgame.pop-box .qg-bk-pg {padding:35px 40px 40px 40px;min-height: 170px;}
.quickgame .qg-bk-pg .qg-tbl.wait {/*opacity: 0.5*/}
.quickgame .qg-bk-pg .qg-tbl li .preloader {
    background: url(../img/preloader.gif) #b2d0d4 no-repeat 50% 50% / 40px 40px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;}


.quickgame {background-color:#fff;/*width:570px;*/margin:0 auto;position:relative;}

.quickgame .qg-bk-pg .qg-msg {position:absolute;width:100%;height:100%;text-align: center;padding:0;left:0;background-color: rgba(255,255,255,0.6);z-index: 5;display:table;}
.quickgame .qg-bk-pg .qg-msg .td .txt {width: 250px;background-color: #fff;font: 15px/18px Handbook-bold;color: #a13b3b;padding: 20px 0;margin: 0 auto;text-align: center;text-transform: uppercase;}

.quickgame .qg-bk-pg .qg-msg .td .bt:hover {background-color:#000!important;color:#fff;}
.quickgame .qg-bk-pg .qg-msg .td .bt {
    height: 50px;
    width: 250px;
    margin-top: 20px;
    background-color: #ffe400;
    font: 15px/50px Handbook-bold;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;}
.quickgame .qg-bk-pg .qg-msg.win .td .txt {color:black;}
.quickgame .qg-bk-pg .qg-msg .rld {width: 250px;background-color: #ffe400;font: 15px/45px Handbook-bold;color: #000;text-transform: uppercase;cursor: pointer;display: inline-block;}
.quickgame .qg-bk-pg .qg-msg .rld:hover {background-color:#000!important;color:#fff;}
.quickgame .qg-bk-pg .qg-msg .td {display:table-cell;vertical-align:middle;text-align:center;}
.quickgame .qg-bk-pg .qg-bk-tl {color:#2f2f2f;font:30px/1 Handbook-bold;margin-bottom:10px;text-transform:uppercase;}
.quickgame .qg-bk-pg .qg-txt {color:#404040;font:18px/19px "handbookpro-regular";margin-bottom:30px;}
.quickgame .qg-bk-pg .qg-tbl {list-style:none;display:inline-block;width:100%;margin:0;padding:0;}

.quickgame .qg-bk-pg .qg-tbl > li {
    width:148px;height:148px;float:left;margin-right:20px;text-align:center;background-color:#b2d0d4;cursor:pointer;background:url("../img/bg-chanse-game-hz.png") no-repeat 0 0 / 100% 100%;border:1px solid #b2d0d4;
    position: relative;
    color:black;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5;}

.quickgame .qg-bk-pg .qg-tbl > li.m {cursor: default;}
.quickgame .qg-bk-pg .qg-tbl > li:last-child {margin:0;}
.quickgame .qg-bk-pg .qg-tbl > li.item img{width:100%;height:100%;}
.quickgame .qg-bk-pg .qg-tbl > li.prize:before {background: url("../img/bg-chanse-game-hz.png") no-repeat 0 0 / 100% 100%;width: 100%;height: 100%;right: 0;position: absolute;content: " ";}
.quickgame .qg-bk-pg .qg-tbl > li.los {border-color:#707070;background-image: url("../img/bg-chanse-game-x.png");}
.quickgame .qg-bk-pg .qg-tbl > li.won {background-color:#ffe400;border-color:#ffe400;background-image:none;font:24px/1 Handbook-medium;color:#000;}
.quickgame .qg-bk-pg .qg-tbl > li.won > b {font:69px/1 Handbook-medium;display:block;margin:10px 0 5px;}
.quickgame .qg-bk-pg .qg-tbl > li.hit {border-color: #ffe400;background-image: url("../img/bg-chanse-game-lot.png");}

.quickgame .qg-bk-pg .qg-tbl > li.money,.quickgame .qg-bk-pg .qg-tbl > li.points,.quickgame .qg-bk-pg .qg-tbl > li.math {
    background:rgb(255,228,0);
    border:0;
    overflow: hidden;
}

.quickgame ul li span {
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.5);
    padding: 5px;
    font-size: 10px;
}
.quickgame ul li div {
    float: inherit;
    width: 100%;
}

.quickgame .qg-bk-pg .qg-tbl > li.true {background-color:#ffe400;border-color:#ffe400;background-image:none;font:24px/1 Handbook-medium;color:#000;opacity:0.5;}
.quickgame .qg-bk-pg .qg-tbl > li.true > b {font:69px/1 Handbook-medium;display:block;margin:10px 0 5px;}
.quickgame .qg-bk-pg .block {
    /*margin-bottom: 50px;
    margin: 30px 10px 10px 10px;*/
    padding-bottom: 15px;
    margin-top: 20px;
    border: 1px solid #d6d6d6;
    background: #f1f1f1;
    width: 100%;}
.quickgame .qg-bk-pg .block > div{
    margin: 0 auto;
}
.quickgame .qg-bk-pg .block table
{
    width: 100% !important;}
.quickgame .qg-bk-pg .block .tl {
    padding: 5px;
    font-size: 14px;
    color: #727272;

}

/*
.momentum {width:570px;background-color:#fff;margin:50px auto;position:relative;}
.momentum .mm-bk-pg {padding:35px 40px 40px 40px;}

.momentum .mm-bk-pg .mm-msg {position:absolute;width:470px;height:130px;text-align: center;padding:10px;background-color: rgba(255,255,255,0.6);z-index: 5;display:table;}
.momentum .mm-bk-pg .mm-msg .txt {width: 250px;background-color: #fff;font: 15px/18px Handbook-bold;color: #a13b3b;padding: 20px 0;margin: 0 auto;text-align: center;text-transform: uppercase;}
.momentum .mm-msg.win .txt {color:black;}
.momentum .mm-bk-pg .mm-msg .rld {width: 250px;background-color: #ffe400;font: 15px/45px Handbook-bold;color: #000;text-transform: uppercase;cursor: pointer;display: inline-block;}
.momentum .mm-bk-pg .mm-msg .rld:hover {background-color:#000!important;color:#fff;}
.momentum .mm-bk-pg .mm-msg .td {display:table-cell;vertical-align:middle;text-align:center;}
.momentum .mm-bk-pg .mm-bk-tl {color:#2f2f2f;font:30px/1 Handbook-bold;margin-bottom:10px;text-transform:uppercase;}
.momentum .mm-bk-pg .mm-txt {color:#404040;font:18px/19px "handbookpro-regular";margin-bottom:30px;}
.momentum .mm-bk-pg .mm-tbl {list-style:none;display:table;width:100%;margin:0;padding:0;}
.momentum .mm-bk-pg .mm-tbl > li {width:148px;height:148px;float:left;margin-right:20px;text-align:center;background-color:#b2d0d4;cursor:pointer;background:url("../img/bg-chanse-game-hz.png") no-repeat 0 0 / 100% 100%;border:1px solid #b2d0d4;color:transparent;}
.momentum .mm-bk-pg .mm-tbl > li:last-child {margin:0;}

.momentum .mm-bk-pg .mm-tbl > li.los {border-color:#707070;background-image: url("../img/bg-chanse-game-x.png");}
.momentum .mm-bk-pg .mm-tbl > li.won {background-color:#ffe400;border-color:#ffe400;background-image:none;font:24px/1 Handbook-medium;color:#000;}
.momentum .mm-bk-pg .mm-tbl > li.won > b {font:69px/1 Handbook-medium;display:block;margin:10px 0 5px;}

.momentum .mm-bk-pg .mm-tbl > li.true {background-color:#ffe400;border-color:#ffe400;background-image:none;font:24px/1 Handbook-medium;color:#000;opacity:0.5;}
.momentum .mm-bk-pg .mm-tbl > li.true > b {font:69px/1 Handbook-medium;display:block;margin:10px 0 5px;}
.momentum .mm-bk-pg .block {
    padding-bottom: 15px;
    margin-top: 20px;
    border: 1px solid #d6d6d6;
    background: #f1f1f1;
    width: 100%;}
.momentum .mm-bk-pg .block > div{
    margin: 0 auto;
}
.momentum .mm-bk-pg .block table
{
    width: 100% !important;}
.momentum .mm-bk-pg .block .tl {
    padding: 5px;
    font-size: 14px;
    color: #727272;

}
*/
.prize-info {width:560px;margin:auto;position:relative;background-color:#fff;}
.prize-info .pz-ifo-bk {overflow:hidden;padding:0 30px 0 40px;}
.prize-info .pz-ifo-bk .pz-ph {width:210px;height:210px;margin:60px 0 50px 0;float:left;background-color:#b2d0d4;}
.prize-info .pz-ifo-bk .pz-ph > img {width:210px;height:210px;}
.prize-info .pz-ifo-bk .pz-tl-bk {width:250px;float:right;margin:56px 0 50px 0;}
.prize-info .pz-ifo-bk .pz-tl-bk .pz-tl {color:#2f2f2f;font:20px/1 "handbookpro-regular";}
.prize-info .pz-ifo-bk .pz-tl-bk .pz-ps {color:#2f2f2f;font:30px/1 "handbookpro-regular";margin-bottom:15px;}
.prize-info .pz-ifo-bk .pz-tl-bk .pz-ps > b {font:30px/1 Handbook-bold;}
.prize-info .pz-ifo-bk .pz-tl-bk .px-des {font:18px/19px "handbookpro-regular";color:#404040;margin-bottom:25px;}
.prize-info .pz-ifo-bt {border: 1px solid #000;cursor: pointer;font: 15px/48px Handbook-bold;height: 48px;margin: 0 0 0 auto;text-align: center;text-transform: uppercase;width:auto;}
.font-fix .prize-info .pz-ifo-bt {line-height:52px;}

.prize-info .pz-fm-bk {padding:35px 50px 40px 50px;display:none;}
.prize-info .pz-fm-bk .fm-txt {font:18px/19px "handbookpro-regular";color:#404040;margin-bottom:60px;}
.prize-info .pz-fm-bk .fm-inps-bk {margin-bottom:60px;}

.prize-info .pz-fm-bk .pi-inp-bk {height:29px;border-bottom:1px solid #e3e3e3;margin-bottom:20px;position:relative;}
.prize-info .pz-fm-bk .pi-inp-bk.error {border-color:#c51e1e!important;color:#c51e1e!important;}
.prize-info .pz-fm-bk .pi-inp-bk.error > input, .prize-info .pz-fm-bk .pi-inp-bk.error .ph {color:#c51e1e!important;}
.prize-info .pz-fm-bk .pi-inp-bk.focus {border-bottom:1px solid #000;}
.prize-info .pz-fm-bk .pi-inp-bk:last-child {margin-bottom:0;}

.prize-info .pz-fm-bk .pi-inp-bk > input {border:none;background:transparent;height:29px;width:350px;font:18px/29px "handbookpro-regular";color:#000;outline:none;}
.prize-info .pz-fm-bk .pi-inp-bk.td > input {width:300px;}
.prize-info .pz-fm-bk .pi-inp-bk > input::-webkit-input-placeholder {font:18px/29px Handbook-italic;color:#d2d2d2;opacity:1;}
.prize-info .pz-fm-bk .pi-inp-bk > input:-moz-placeholder {font:18px/29px Handbook-italic;color:#d2d2d2;opacity:1;}
.prize-info .pz-fm-bk .pi-inp-bk > input::-moz-placeholder {font:18px/29px Handbook-italic;color:#d2d2d2;opacity:1;}
.prize-info .pz-fm-bk .pi-inp-bk > input:-ms-input-placeholder {font:18px/29px Handbook-italic;color:#d2d2d2;opacity:1;}
.prize-info .pz-fm-bk .pi-inp-bk.focus > input::-webkit-input-placeholder {opacity:0;}
.prize-info .pz-fm-bk .pi-inp-bk.focus > input:-moz-placeholder {opacity:0;}
.prize-info .pz-fm-bk .pi-inp-bk.focus > input::-moz-placeholder {opacity:0;}
.prize-info .pz-fm-bk .pi-inp-bk.focus > input:-ms-input-placeholder {opacity:0;}

.prize-info .pz-fm-bk .pi-inp-bk .ph {height:29px;font:18px/29px Handbook-italic;color:#d2d2d2;position:absolute;top:0;right:0px;}
.prize-info .pz-fm-bk .pi-inp-bk.td .ph {display:none;}

.prize-info .pz-fm-bk .pi-inp-bk.focus .ph {color:#000;display:block;}


.prize-info .pz-rt-bk {font:18px/19px "handbookpro-regular";color:#404040;padding:35px 50px 40px 50px;display:none;}

.report-block {width:560px;margin:auto;background-color:#fff;position:relative;z-index:500;}
.report-block .txt {font:18px/19px "handbookpro-regular";color:#404040;padding:35px 50px 40px 50px;}

.notifications .badge .badge-block {width:270px;margin:auto;position:relative;z-index:500;height: 140px;}
.notifications .badge#notice .badge-block div {cursor:pointer}
.notifications .badge .badge-block .txt {font:18px/19px "handbookpro-regular";color:#404040;padding: 15px;}
.notifications .badge .badge-block .title {font:19px/20px Handbook-bold;text-transform:uppercase;color:#404040;padding:15px;}
.notifications .badge .cs {right: 0; background: url("../img/bg-but-close-game.png") no-repeat 0 0;
    background-size: cover;width: 24px;cursor:pointer;
    height: 24px; margin: 10px;}
.notifications .badge .cs:hover{
    width: 26px;
    height: 26px;
    right: -1px;
    top: -1px;
    }
.notifications .badge#qgame .txt div.start{
width: 190px;
height: 40px;
font: 15px/40px Handbook-bold;
text-transform: uppercase;
text-align: center;
background-color: black;
cursor: pointer;
border: 1px solid black;
    color:#ffe400;
    margin: 0 25px;
    display:none;
}

.notifications .badge#qgame .txt div span#timer_soon{
    font: 48px/30px Handbook-bold;
    display: inherit;
    margin-right: 0;
    float: right;
}
.notifications .badge#qgame .txt div span#text_soon{
    width: 120px;
    float: left;
}

.notifications .badge {float:left;background: rgba(255,228,0,0.95);margin-top: 40px;    border-radius: 5px;
    text-align: left;
    white-space: normal;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(153,153,153,0.5);
    -moz-box-shadow: 1px 1px 1px 0px rgba(153,153,153,0.5);
    box-shadow: 1px 1px 1px 0px rgba(153,153,153,0.5);
}
.notifications .badge#notice .txt{
    margin-left: 20px;
    padding: 15px 30px;
    background: url("../img/but-arrow-right.png") no-repeat left center;}

.notifications .badge.parent{display:none;}
.notifications {width:290px;margin: 0 0 40px 60px;position:fixed;bottom: 0;z-index: 5;}
.preloader{
    background: url(../img/preloader.gif) no-repeat;
    display:none;
    width: 40px;
    height: 40px;margin: 0 auto;}
#logout-popup {}
#logout-popup .logout-bk {background-color:#ffe400;width:460px;margin:auto;position: relative;}
#logout-popup .logout-bk .cnt {padding:50px 60px;}
#logout-popup .logout-bk .cs {background:url("../img/bg-but-close.png") no-repeat 0 0;}
#logout-popup .logout-bk .cnt .txt {font:18px/19px "handbookpro-regular";color:#000;}
#logout-popup .logout-bk .cnt .buts {overflow:hidden;margin-top:30px;}
#logout-popup .logout-bk .cnt .buts .exit, #logout-popup .logout-bk .cnt .buts .back {width:158px;height:48px;border:1px solid #000;font:17px/48px Handbook-bold;color:#000;text-transform:uppercase;text-align:center;cursor:pointer;}
#logout-popup .logout-bk .cnt .buts .exit:hover, #logout-popup .logout-bk .cnt .buts .back:hover {background-color:#000;color:#ffe400;}
#logout-popup .logout-bk .cnt .buts .exit {float:left;}
#logout-popup .logout-bk .cnt .buts .back {float:right;}



/*.ticket-tabs li.done:after {
    content: "";
    display: inline-block;
    background: url(img/sprite.png) center center no-repeat;
    background-position: -597px -61px;
    position: relative;
    width: 11px;
    height: 8px;
    left: 10px;
}*/


#debug-stat-box {
    display: none;
}
