@media (max-width: 479px) {
    #blog-post-view {
        & .comment-content {
            padding-left: 70px;
        }
        & .comment-img {
            position: absolute;
        }
        & .comment-like {
            top: 0;
        }
        .post-comments .render-list-form .message-form-wrapper {
            padding-left: 70px;
        }
    }
}

.comment-reply {
    display: inline!important;
}

#blog-posts {
    & .post-item-img {
        margin: 0;
        min-height: 300px;
    }
}

#blog-post-view .message-form-wrapper button[type="submit"] {
    font-weight: bold;
}

.comment-description {
    line-height: 1.5;
}