
#blog-posts {
	.post-item-title {
		font-size: 25px;
    	line-height: 30px;
    	margin-bottom: 14px;
    	font-weight: normal;
	}
}

@media (max-width: 479px) {
	#blog-post-view {
	    & .comment-content {
	      padding-left: 70px;
	    }
	    & .comment-img {
	      position: absolute;
	    }
	    & .comment-like {
	      top: 0;
	    }
	    .post-comments .render-list-form .message-form-wrapper {
	      padding-left: 70px;
	    }
	}
}	

.comment-reply {
    display: inline!important;
}
#blog-posts {

	& .post-item-img {
		margin: 0;
	}

}

#blog-post-view .post > .title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 14px;
    font-weight: normal;
}
#blog-post-view .message-form-wrapper button[type="submit"] {
	font-family: Handbook-bold;
}

.comment-description, .message-form-area {
	line-height: 1.5;
}