// COMMUNICATION ---------------------------------------- //

.communication .content-box-tab.back-tab {
  padding: 0 74px 0 20px;
}

.communication .content-box-tab span {
  display: inline;
}

.communication .content-box-tab:before {
  display: none;
}


.communication .content-box-tab.back-tab:before {
  display: block;
}

#communication .content-box-tab .count {
  margin-left: 6px;
}

// COMMENTS//

.comment-content {
  padding-left: 70px;
}

.comment-img {
  display: block;
  position: absolute;
  top: 4px;
  left: 0;
}

.comment-inf {
  padding-left: 0;
  padding-right: 60px;
}

.comment-name {
  margin-right: 20px;
}

.comment-reply {
  display: inline;
  font-size: 13px;
  position: static;
  opacity: 0;
  transition: all 0.1s linear;
  & .separator {
    display: inline;
    margin: 0 10px;
  }
}

.comment-reply-btn {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.comment-like {
  top: 0;
  cursor: pointer;
}
.comment-reply .comment-reply-btn {
  display: inline-block;
}

.comment-content:hover {
  & .comment-like,
  & .comment-reply {
    opacity: 1;
  }
}

div.comment-reply-btn {
  display: none;
}


.comment.answer {
  margin-top: 20px;
  padding-left: 70px;
}

// COMMENT NOTIFICATIONS ------------- //

.c-notifications {
  margin: 0 0 20px;
}

// ---------------------------------- //

.c-notifications-list {
  left: 0;
  padding: 40px 0 10px;
  border-radius: 2px;
  & .close-list {
    top: 10px;
    cursor: pointer;
  }
}

.c-notification {
  cursor: pointer;
}

.close-notification {
  cursor: pointer;
}

.c-notification-top {
  min-height: auto;
}

.c-notification-question {
  margin-top: 0;
  display: inline;
}

.c-notification-description {
  padding: 5px 0 0 50px;
}

.cm-top {
  padding: 0 20px;
  & .new-message {
    padding: 5px 30px;
  }
}

// ---------------------------- //

.message {
  padding-right: 20px;
  margin-left: 70px;
}

.message-img,
.message-name,
.message-text {
  display: inline-block;
  vertical-align: middle;
}

.message-img {
  float: none;
  margin-left: -70px;
  margin-right: 16px;
}
.message-name {
  width: 22%;
  margin-right: 1%;
}

.message-text {
  width: 76%;
}


// SELECTED FRIEND -------------------- //

.nm-selected {
  &.nm-change {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.comment.active > .comment-content {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.95;
    background: white;
    z-index: 1;
  }
}

// #communication {
  
// }
& .content-box-tab  {
    padding: 0 30px 0 20px;
    & [class^="i-"] {
      display: none;
    }
    & [class*=" i-"] {
      display: none;
    }
    & .count {
      position: static;
    }
  }