// GAMES <<CHANCE>> -------------------- //
// size - ? screen/middle //
@media  all and ( max-width: 1199px) {
    .games-previews{
        .flex-box{
            padding: 5px 20px;
            padding-bottom: 15px;
            .fixr{
                margin-left: -5px;
                a{
                    margin: 15px 0 0 5px;
                }
            }
        }
    }
}
