#lottery-history {
    min-height: 484px;
}

.ticket-items {
    background: rgb(167, 209, 213);
    height: 406px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    margin: 5px 0 7px;
    padding-left: 10px;
    display: table-header-group;
}

.scroll-box {
    height: auto;
}

.ticket-tabs {
    top: -40px;
    background: transparent;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -10;
    display: block;
    margin: 0;
    padding: 0 0 14px;
    left: 0;
    & li {
        top: 12px;
        width: 62px;
        height: 37px;
        margin-right: 8px;
        line-height: 32px;
        background: #4c4c4c;
        color: #b2d0d4;
        text-shadow: 1px 0 0 rgba(0, 0, 0, 0.4);
        position: relative;
        float: left;
        border-radius: 5px 5px 0 0;
        font-size: 15.5px;
        font-weight: bold;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        display: block;
        &:hover {
            @include translate(0, -8px);
            -moz-transition: all 0.1s ease-in-out;
            -o-transition: all 0.1s ease-in-out;
            -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
        }
        &.unavailable {
            background: #8f8e8e;
            color: #ffffff;
            &:hover {
                & .ticket-number-sm {
                    background: transparent;
                }
            }
        }
        &.done {
            background: #4c4c4c;
            color: #b2d0d4;
            text-shadow: 1px 0 0 rgba(0, 0, 0, 0.4);
            &:after {
                content: "";
                display: inline-block;
                background: url(../img/sprite.png) center center no-repeat;
                background-position: -597px -61px;
                position: absolute;
                width: 11px;
                height: 8px;
                right: 8px;
                top: 12px;
            }
            &:before {
                display: none;
            }
            &:hover .ticket-number-sm:before {
                display: none;
            }
            & .ticket-number-sm:before {
                display: none;
            }
        }
        &.active {
            height: 40px;
            line-height: 40px;
            color: #464444;
            text-shadow: 1px 0 0 rgba(255, 255, 255, 0.4);
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
            background: #a7d1d5;
            & .ticket-number-sm {
                background: transparent;
            }
            &:hover {
                -webkit-transform: none;
                -moz-transform: none;
                -o-transform: none;
                -moz-transition: all 0s ease 0s;
                -o-transition: all 0s ease 0s;
                -webkit-transition: all 0s ease 0s;
                transition: all 0s ease 0s;
            }
            &.done {
                &:after {
                    top: 16px;
                }
            }
        }
        &:last-of-type {
            background: #FFD700;
            background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.61) 0%, rgba(255, 255, 255, 0.61) 10%, rgba(0, 0, 0, 0.13) 40%, rgba(0, 0, 0, 0.15) 55%, rgba(0, 0, 0, 0.13) 100%);
            background-image: -o-linear-gradient(rgba(255, 255, 255, 0.61) 0%, rgba(255, 255, 255, 0.61) 10%, rgba(0, 0, 0, 0.13) 40%, rgba(0, 0, 0, 0.15) 55%, rgba(0, 0, 0, 0.13) 100%);
            background-image: linear-gradient(rgba(255, 255, 255, 0.61) 0%, rgba(255, 255, 255, 0.61) 10%, rgba(0, 0, 0, 0.13) 40%, rgba(0, 0, 0, 0.15) 55%, rgba(0, 0, 0, 0.13) 100%);
            color: #4A4A4A;
            text-shadow: 1px 0 0 rgba(255, 255, 255, 0.4);
            width: 115px;
            &.done {
                &:after {
                    background: url(../img/sprite.png) center center no-repeat;
                    background-position: -597px -70px;
                }
            }
            &.active {
                color: #4c4c4c;
            }
            &:hover {
                color: #4c4c4c;
            }
            & .ticket-number-sm {
                display: inline;
                width: auto;
                height: auto;
                background: transparent;
                line-height: 1;
                border-radius: 0;
                position: static;
            }
        }
        & .ticket-number-sm {
            display: inline;
            width: auto;
            height: auto;
            background: transparent;
            line-height: 1;
            border-radius: 0;
            position: static;
        }
        & .ticket-number-sm:before {
            display: none;
        }
    }
}

// HZ 
.is-done {
    padding-top: 0;
}

.is_done {
    padding-right: 7px;
}

// HZ 
.ticket-done {
    bottom: 0px;
    margin-top: 12px;
    margin-right: 10px;
}

.ticket-numbers-wrapper {
    height: auto;
    overflow: visible;
}

.ticket-item {
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.45);
    height: inherit;
    padding: 25px 23px 8px;
    & .ticket-numbers {
        & li {
            margin: 0 22px 21px 0;
        }
    }
    & .ticket-actions {
        margin-left: 0;
        & li {
            margin: 0 22px 21px 0;
        }
    }
}

.add-ticket {
    margin-right: 0;
}

.balls-count {
    bottom: 43px;
}

.ticket-btn {
    padding: 0 40px;
}

.lottery-grid .title {
    padding: 16px 0 16px 23px;
}

.matches-inf-wrapper.carousel .matches-inf {
    width: 48%;
}

// RATING ------------------------------- //
.raiting-item {
    width: 297px;
    margin-right: 20px;
}

.balls-result {
    width: 100%;
}

.text-result {
    width: 100%;
}

.ticket-number-result {
    margin-right: 40px;
}

.ball-number-result {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.tickets-number-result {
    &span {
        display: none;
    }
}

.text-result {
    &span {
        display: none;
    }
}

.tickets-number-result {
    &p {
        text-align: center;
    }
}

.text-result {
    top: 0;
}

.tickets-number-result {
    margin: 60px 0 0 0;
    width: 15%;
}

.timer {
    width: 200px;
}

.matches-inf-wrapper.carousel {
    padding: 30px 0;
    margin-bottom: 0;
}

.matches-inf {
    margin-bottom: 0;
}

.lottery-grid.timer-box {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    padding: 0 20px;
}

.ticket-box {
    display: table;
    width: 100%;
    margin-top: 40px;
    background-color: transparent;
    &.gold {
        background: none;
        & .header-box {
            background: #A9D0D5;
        }
        & .lottery-grid {
            position: relative;
            background: #FFD700;
            background-image: -webkit-linear-gradient(283deg, rgba(255, 255, 255, 0.41) 0%, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0.13) 99%, rgba(0, 0, 0, 0.13) 100%), radial-gradient(400px 200px at 96% 70%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 40%), radial-gradient(200px 200px at 20% 23%, rgba(255, 255, 255, 0.35) 32%, rgba(255, 255, 255, 0) 100%), radial-gradient(170px at 79% 55%, rgba(255, 255, 255, 0.15) 21%, rgba(255, 255, 255, 0) 71%);
            background-image: -o-linear-gradient(283deg, rgba(255, 255, 255, 0.41) 0%, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0.13) 99%, rgba(0, 0, 0, 0.13) 100%), radial-gradient(400px 200px at 96% 70%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 40%), radial-gradient(200px 200px at 20% 23%, rgba(255, 255, 255, 0.35) 32%, rgba(255, 255, 255, 0) 100%), radial-gradient(170px at 79% 55%, rgba(255, 255, 255, 0.15) 21%, rgba(255, 255, 255, 0) 71%);
            background-image: linear-gradient(13deg, rgba(255, 255, 255, 0.41) 0%, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0.13) 99%, rgba(0, 0, 0, 0.13) 100%), radial-gradient(400px 200px at 96% 70%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 40%), radial-gradient(200px 200px at 20% 23%, rgba(255, 255, 255, 0.35) 32%, rgba(255, 255, 255, 0) 100%), radial-gradient(170px at 79% 55%, rgba(255, 255, 255, 0.15) 21%, rgba(255, 255, 255, 0) 71%);
        }
        & .ticket-items {
            position: relative;
            background: #FFD700;
            background-image: -webkit-linear-gradient(283deg, rgba(255, 255, 255, 0.41) 0%, rgba(0, 0, 0, 0.13) 75%, rgba(0, 0, 0, 0.13) 99%, rgba(0, 0, 0, 0.13) 100%), radial-gradient(200px at 86% 88%, rgba(255, 255, 255, 0.11) 2%, rgba(255, 255, 255, 0) 43%), radial-gradient(200px 200px at 20% 23%, rgba(255, 255, 255, 0.35) 32%, rgba(255, 255, 255, 0) 100%), radial-gradient(170px at 79% 55%, rgba(255, 255, 255, 0.15) 21%, rgba(255, 255, 255, 0) 71%);
            background-image: -o-linear-gradient(283deg, rgba(255, 255, 255, 0.41) 0%, rgba(0, 0, 0, 0.13) 75%, rgba(0, 0, 0, 0.13) 99%, rgba(0, 0, 0, 0.13) 100%), radial-gradient(200px at 86% 88%, rgba(255, 255, 255, 0.11) 2%, rgba(255, 255, 255, 0) 43%), radial-gradient(200px 200px at 20% 23%, rgba(255, 255, 255, 0.35) 32%, rgba(255, 255, 255, 0) 100%), radial-gradient(170px at 79% 55%, rgba(255, 255, 255, 0.15) 21%, rgba(255, 255, 255, 0) 71%);
            background-image: linear-gradient(13deg, rgba(255, 255, 255, 0.41) 0%, rgba(0, 0, 0, 0.13) 75%, rgba(0, 0, 0, 0.13) 99%, rgba(0, 0, 0, 0.13) 100%), radial-gradient(200px at 86% 88%, rgba(255, 255, 255, 0.11) 2%, rgba(255, 255, 255, 0) 43%), radial-gradient(200px 200px at 20% 23%, rgba(255, 255, 255, 0.35) 32%, rgba(255, 255, 255, 0) 100%), radial-gradient(170px at 79% 55%, rgba(255, 255, 255, 0.15) 21%, rgba(255, 255, 255, 0) 71%);
            & .ticket-tabs {
                background: none;
            }
        }
    }
}

#lottery-process {
    height: 768px;
    max-width: 1366px;
    & .container {
        max-width: 686px;
        margin: 0 auto;
        min-width: 0;
        & > div {
            height: 73px;
            & a {
                top: 27px;
            }
        }
    }
}

.ghd-tickets {
    padding: 0 138px 0 18px;
}

.balls-end-game {
    & .g-oc_li {
        width: 105px;
        height: 105px;
        margin-right: 11px;
        float: left;
        font-size: 45px;
        line-height: 100px;
        color: #000;
        text-align: center;
        position: relative;
        overflow: hidden;
        &:last-of-type {
            margin-right: 0;
        }
        & .goc_li-nb {
            background-color: #ffe400;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            text-align: center;
            position: absolute;
            left: 2px;
            top: -105px;
            z-index: 2;
            &.random-ball {
                top: 105px;
                &:first-child {
                    top: 0px;
                }
            }
        }
    }
}

.ghd-tickets {
    li {
        margin-bottom: 10px;
        ul {
            li.filled-ball {
                margin-right: 33px;
                width: 40px;
                margin-top: 0;
                height: 40px;
                line-height: 40px;
                &.won_ball {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}

.lottery-amimation-box {
    margin-top: 37px;
}

.matches-inf .lottery-grid .ul-striped li {
    padding: 6px 23px 13px;
}

.content-box.tickets .title {
    padding-left: 23px;
}

#lottery-process.lottery-won {
    min-width: 1024px;
    & .balls-end-game .g-oc_li .goc_li-nb {
        position: static;
    }
}

.ghd-won {
    & .grid-container {
        max-width: 100%;
    }
}

#lottery-process.lottery-won {
    background: url(../img/1024.png) center center no-repeat;
}

#lottery-process {
    min-width: 1024px;
    height: 768px;
    & .container {
        max-width: 700px;
        margin: 0 auto;
        min-width: 0;
        & > div {
            height: 73px;
            & a {
                top: 27px;
            }
        }
    }
}

.balls-end-game {
    & .g-oc_li {
        width: 104px;
        height: 104px;
        margin-right: 14px;
        float: left;
        font-size: 45px;
        line-height: 100px;
        color: #000;
        text-align: center;
         
        position: relative;
        overflow: hidden;
        &:last-of-type {
            margin-right: 0;
        }
        & .goc_li-nb {
            background-color: #ffe400;
            width: 104px;
            height: 104px;
            border-radius: 50%;
            text-align: center;
            position: absolute;
            left: 0px;
            top: -105px;
            z-index: 2;
            &.random-ball {
                top: 105px;
                &:first-child {
                    top: 0px;
                }
            }
        }
    }
}

.ghd-tickets {
    padding: 0 138px 0 18px;
    li {
        span {
        }
        ul {
            li.filled-ball {
                margin-right: 35px;
                width: 40px;
                height: 40px;
                line-height: 40px;
                &.won_ball {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    #lottery-process {
        &.lottery-won {
            background: url(../img/1366.png) center center no-repeat;
        }
    }
}

@media (max-width: 1200px) {
    .ticket-item {
        padding: 30px 9px 30px 10px;
        .ticket-numbers li {
            margin: 0 10px 18px 9px;
            border: none;
        }
        .ticket-actions {
            padding: 5px 10px 0 10px;
            li {
                margin: 0 19px 0 0;
            }
        }
    }
}

@media (min-width: 1200px) {
    // TICKET-ITEMS ------------------------------ //
    .cabinet-game-history .gh-date {
        margin-right: 75px;
    }
    .ticket-items {
        margin: 5px 0 7px;
        padding-left: 0;
        height: 403px;
        background: #a7d1d5;
        .ticket-actions {
            padding: 5px 15px 0 15px;
            li {
                margin: 0 30px 0 0;
            }
        }
    }
    .ticket-tabs li {
        margin-right: 15px;
    }
    .ticket-box {
        margin-top: 38px;
    }
    .ticket-done {
        margin-right: 5px;
    }
    // MATCHES-INF ------------------------------ //
    .matches-inf-wrapper {
        margin-bottom: 40px;
    }
    .gh-header {
        margin: 0 -30px 20px;
        padding: 0 30px;
    }
    // RATING ------------------------------- //
    .raiting-item {
        width: 350px;
        margin-right: 40px;
    }
    .balls-result {
        width: 57%;
    }
    .text-result {
        width: 43%;
    }
    .ticket-number-result {
        margin-right: 20px;
    }
    .ticket-number-result span {
        display: inline;
    }
    .ball-number-result {
        width: 40px;
        height: 40px;
    }
    .text-result {
        & span {
            display: block;
        }
    }
    .text-result-top {
        margin-left: 0px;
    }
    .ticket-tabs {
        top: -42px;
        padding: 0 0 14px;
        & li {
            width: 70px;
            margin-right: 10px;
            &.active {
                top: 3px;
            }
            &:hover {
                -webkit-transform: translate(0, -6px);
                -moz-transform: translate(0, -8px);
                -o-transform: translate(0, -8px);
                -moz-transition: all 0.1s ease-in-out;
                -o-transition: all 0.1s ease-in-out;
                -webkit-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
            }
        }
    }
    .ticket-item {
        padding: 30px 5px;
    }
    .ticket-item .ticket-numbers li {
        margin: 0 15px 18px 15px;
    }
    .lottery-grid .title {
        padding: 16px 0 16px 30px;
    }
    .matches-inf .lottery-grid .ul-striped li {
        padding: 6px 30px 13px;
    }
    .cabinet-game-history {
        .content-box-cat > span:first-child label {
            padding: 5px 10px 5px 40px;
            &:before {
                left: 10px;
            }
        }
    }
    .matches-inf-wrapper.carousel .matches-inf {
        width: 48%;
    }
    .ticket-btn {
        &.add-ticket {
            width: 178px;
            padding: 0;
            &.loading {
                color: #4c4c4c;
                position: relative;
                opacity: 0.8;
                cursor: default;
                background: #ffe400;
                background-repeat: no-repeat;
                background-position: 0;
                background: url(../img/sprite.png) -430px -292px;
                -webkit-animation: AnimationBlue 8s infinite linear;
                -moz-animation: AnimationBlue 8s infinite linear;
                animation: AnimationBlue 8s infinite linear;
            }
        }
    }
    @-webkit-keyframes AnimationBlue {
        0% {
            background-position: -535px -292px
        }
        50% {
            background-position: -482px -292px
        }
        100% {
            background-position: -430 -292px
        }
    }
    @-moz-keyframes AnimationBlue {
        0% {
            background-position: -535px -292px
        }
        50% {
            background-position: -482px -292px
        }
        100% {
            background-position: -430 -292px
        }
    }
    @keyframes AnimationBlue {
        0% {
            background-position: -535px -292px
        }
        50% {
            background-position: -482px -292px
        }
        100% {
            background-position: -430 -292px
        }
    }
    .lottery-amimation-box {
        margin-top: 34px;
    }
    #lottery-process {
        width: 1366px;
    }
}
