// PRIZES FOT POINTS ------------------- //

.prizes-for-points {
  padding-left: 60px;
  padding-right: 60px;
}

.prize {
	width: 245px;
  padding-right: 25px;
  float: left;
  &:nth-child(2n+2) {
  	float: right;
  }
}

.ex-prize-description {
  width: 274px;
}

.prize:nth-child(3n+3) {
  margin-right: 0;
}

#prizes-exchange .content-box-item-content {
  padding: 0 30px;
}