// PRIZES FOT POINTS ------------------- //

.prizes-for-points {
  padding-left: 60px;
  padding-right: 60px;
}

.prize {
	width: 245px;
  padding-right: 25px;
  float: left;
}

.ex-prize-description {
  width: 274px;
}

.prize:nth-child(3n+3) {
  margin-right: 0;
}

#prizes-exchange .content-box-item-content {
  padding: 0 30px;
}

.ex-prize-img {
  width: 300px;
  float: left;
  margin-right: 0;
}
.ex-prize-img:before {
  display: none;

}
.ex-prize-img img {
  width: 100%;
  position: static;
}
.ex-prize-description {
  width: 390px;
  float: right;
  padding-left: 20px;
}


@media (max-width: 1200px) {

  .ex-prize-description {
    width: 320px;
    padding-left: 30px;

  }
  .personal-data-inf-header {
    padding: 0 20px;
    margin: 0 -20px 10px;
  }
  .personal-data-edit {
    right: 20px;
  }
  .prize-delivery-inf td:first-child { 
    padding-left: 20px;
  }
  .prize-delivery-inf {
    margin: 0 -20px 20px;
  }
}


@media (min-width: 1200px) {
// PRIZES FOT POINTS ------------------- //

.prizes-for-points {
  padding-left: 30px;
  padding-right: 30px;
}

.prize {
  width: 245px;
  padding-right: 25px;


}

.prize:nth-child(3n+3) {
  margin-right: 0;
}



.ex-prize-not-filled {
  margin: 0 -30px;
}

#prizes-exchange .content-box-item-content {
  padding: 0;
}
}

