// BONUSES ---------------------------------------- //

.cabinet .content-box-tab.cabinet-balance-tab {
  width: 215px;
  padding: 0 0 0 10px;
}

.cabinet-balance-count:first-child {
  margin-right: 15px;
}

.cabinet-balance-count span {
  margin-left: 2px;
}

.c-user-inf {
  margin: 0 20px 0 0;
}

// ------------------------------ //

.c-user-personal-inf {
  width: 394px;
}

.c-user-personal-inf td:last-child {
  padding-left: 10px;
}

.ae-inf {
  width: 384px;
  padding: 20px 10px;
}

.content-box-item.cabinet-convert {
  padding: 30px 20px;
}
@media (max-width: 1366px) {
.ae-name-block {
    width: 470px;
}
}