

.ph-won,
.ph-won-text {
  width: 35%;
  padding: 0 20px 0 20px ;
}

.ph-method,
.ph-method-text {
  width: 35%;
  padding: 0 50px 0 0 ;
}

.ph-status,
.ph-status-text {
  width: 15%;
}

.ph-header {
  margin: 0 -20px 0;
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
  background: #FAFAFA;
}
// ------------------ //

.r-nickname,
.r-nickname-text {
  width: 37%;
}

.r-registered,
.r-registered-text {
  width: 15%;
}

.r-games,
.r-games-text {
  width: 10%;
  text-align: center;
}

.r-active,
.r-active-text {
  width: 22%;
}

.r-profit,
.r-profit-text {
  width: 13%;
}


.r-header,
.r-item {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

// ------------------ //
.r-header {
  display: block;
}
.r-header-item {
  float: left;
}
// ------------------ //
.r-item {
  padding: 14px 20px;
  border-bottom: none;
  line-height: 1.4;
  &:hover:before {
    top: 10px;
    right: 10px;
  }
}
.r-inf-names {
  display: none;
}
.r-inf {
  float: none;
}
.r-inf-item {
  float: left;
}
.r-active {
  text-align: center;
}
// ------------------ //
.r-nickname,
.r-nickname-text {
  width: 33%;
}
.r-registered,
.r-registered-text {
  width: 23%;
}
.r-games,
.r-games-text {
  width: 10%;
}
.r-active,
.r-active-text {
  width: 21%;
  text-align: center;
}
.r-profit,
.r-profit-text {
  width: 13%;
}



.cabinet-transaction-history .content-box-cat {
  float: none;
  display: table;
  margin: auto;
}

.cabinet-transaction-history .content-box-cat a {
  display: table-cell;
  padding: 0 10px;
  margin-right: 5px;
}

.cabinet-referrals  {
  .content-box-cat {
    margin-bottom: 20px;
  }
}
.cabinet-referrals .content-box-item-top {
    padding: 0 10px 0;
}