.ph-won,
.ph-won-text {
    width: 35%;
    padding: 0 20px 0 20px;
}

.ph-method,
.ph-method-text {
    width: 35%;
    padding: 0 50px 0 0;
}

.ph-status,
.ph-status-text {
    width: 15%;
}

.ph-header {
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
    background: #FAFAFA;
}

// ------------------ //
.r-nickname,
.r-nickname-text {
    width: 37%;
}

.r-registered,
.r-subreferrals-text {
    width: 15%;
}

.r-games,
.r-games-text {
    width: 10%;
}

.r-active,
.r-active-text {
    width: 22%;
}

.r-profit,
.r-profit-text {
    width: 13%;
}

// ------------------ //
.r-header {
    display: block;
}

.r-header-item {
    float: left;
}

// ------------------ //
.r-item {
    &:hover:before {
        top: 10px;
        right: 10px;
    }
}

.r-inf-names {
    display: none;
}

.r-inf {
    float: none;
}

.r-inf-item {
    float: left;
}

.r-active {
    text-align: center;
}

// ------------------ //
.r-nickname,
.r-nickname-text {
    width: 45%;
}

.r-registered,
.r-subreferrals-text {
    width: 23%;
}

.r-games,
.r-games-text {
    width: 20%;
}

.r-active,
.r-active-text {
    width: 17%;
}

.r-profit,
.r-profit-text {
    width: 15%;
}
#reports-transactions{
    .content-box-item-top{
        padding: 20px 10px;
    }
}

.cabinet-referrals {
    .content-box-cat {
        margin-bottom: 20px;
    }
}

.cabinet-referrals .content-box-item-top {
    padding: 0 10px 0;
}

@media (min-width: 1200px) {
    .ph-won,
    .ph-won-text {
        width: 35%;
        padding: 0 20px 0 20px;
    }
    .ph-method,
    .ph-method-text {
        width: 35%;
        padding: 0 50px 0 0;
    }
    .ph-status,
    .ph-status-text {
        width: 15%;
    }
    .ph-header {
        padding: 0 30px;
        height: 45px;
        line-height: 45px;
        background: #FAFAFA;
    }
    .ph-item {
        padding-left: 30px;
        padding-right: 30px;
    }
    // ------------------ //
    .ph-won,
    .ph-won-text {
        width: 35%;
    }
    .ph-method,
    .ph-method-text {
        width: 35%;
    }
    .ph-status,
    .ph-status-text {
        width: 15%;
    }
    .cabinet-referrals .content-box-item-top {
        padding: 0 10px 0;
    }
}
