<div class="post-comments">
    <div class="title">2 комментария</div>

    {{#each .}}

        <div class="comment-content">
            <div class="comment-top">
                <div class="comment-img">
                    <img src="{{user.avatar}}" alt="">
                </div>
                <div class="comment-inf">
                    <span class="comment-name">{{user.name}}</span>
                    <span class="comment-date"><span>{{date}}</span><span>{{time}}</span></span>
										<span class="comment-reply">
											<span class="separator">|</span>
											<span class="comment-reply-btn">{{i18n "button-answer"}}</span>
											<span class="comment-like-mob"></span>
										</span>
                </div>
            </div>
            <div class="comment-like">{{likes}}</div>
            <div class="comment-description">
                {{text}}
            </div>
        </div>

    <div class="comment-content">
        <div class="comment-top">
            <div class="comment-img">
                <img src="/res/img/{{player.avatar}}" alt="">
            </div>
            <div class="comment-inf">
                <span class="comment-name">Gerald Barnett</span>
                <span class="comment-date"><span>04.2015</span><span>08:23</span></span>
										<span class="comment-reply">
											<span class="separator">|</span>
											<span class="comment-reply-btn">Ответить</span>
											<span class="comment-like-mob"></span>
										</span>
            </div>
        </div>
        <div class="comment-like">5</div>
        <div class="comment-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptatem dolorem saepe nihil cum,
            delectus eius ea? Voluptatibus provident tempora consequatur repellat qui mollitia dolorem tenetur earum
            dicta, minus voluptatum!
        </div>
    </div>

    {{/each}}
    <div class="comment liked">
        <div class="comment-content">
            <div class="comment-top">
                <div class="comment-img">
                    <img src="/res/img/comment_img.jpg" alt="">
                </div>
                <div class="comment-inf">
                    <span class="comment-name">Gerald Barnett</span>
                    <span class="comment-date"><span>04.2015</span><span>08:23</span></span>
										<span class="comment-reply">
											<span class="separator">|</span>
											<span class="comment-reply-btn">Ответить</span>
											<span class="comment-like-mob"></span>
										</span>
                </div>
            </div>
            <div class="comment-like">5</div>
            <div class="comment-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptatem dolorem saepe nihil cum,
                delectus eius ea? Voluptatibus provident tempora consequatur repellat qui mollitia dolorem tenetur earum
                dicta, minus voluptatum!
            </div>
        </div>

        <!-- COMMENT ANSWER -->
        <div class="comment answer">
            <div class="comment-content">
                <div class="comment-top">
                    <div class="comment-img">
                        <img src="/res/img/comment_img.jpg" alt="">
                    </div>
                    <div class="comment-inf">
                        <span class="comment-name">Gerald Barnett</span>
                        <span class="comment-date"><span>04.2015</span><span>08:23</span></span>
											<span class="comment-reply">
												<span class="separator">|</span>
												<span class="comment-reply-btn">Ответить</span>
												<span class="comment-like-mob"></span>
											</span>
                    </div>
                </div>
                <div class="comment-like">0</div>
                <div class="comment-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptatem dolorem saepe nihil cum,
                    delectus eius ea? Voluptatibus provident tempora consequatur repellat qui mollitia dolorem tenetur
                    earum dicta, minus voluptatum!
                </div>
            </div>
        </div>
        <!-- end of COMMENT ANSWER -->
    </div>


    <div class="comment">
        <div class="comment-content">
            <div class="comment-top">
                <div class="comment-img">
                    <img src="/res/img/comment_img.jpg" alt="">
                </div>
                <div class="comment-inf">
                    <span class="comment-name">{{user.name}}</span>
                    <span class="comment-date"><span>04.2015</span><span>08:23</span></span>
										<span class="comment-reply">
											<span class="separator">|</span>
											<span class="comment-reply-btn">Ответить</span>
											<span class="comment-like-mob"></span>
										</span>
                </div>
            </div>
            <div class="comment-like">0</div>
            <div class="comment-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptatem dolorem saepe nihil cum,
                delectus eius ea?
            </div>
        </div>
    </div>

    <!-- COMMENT FORM -->
    <div class="message-form-wrapper">
        <div class="message-form">
            <form action="">
                <textarea class="message-form-area" name="" placeholder="Напишите комментарий" rows="1"></textarea>

                <div class="message-form-actions clearfix">
                    <label class="input-file-wrapper">
                        <input type="file" class="input-file">
                    </label>
                    <button type="submit" class="message-form-btn">Отправить</button>
                    <div class="message-form-smileys"></div>
                </div>
            </form>
        </div>
    </div>
    <!-- end of  COMMENT FORM -->
</div>