/* -------------------------------------------------------------
 *  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
 *  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
 *
 *  List of CSS3 Sass Mixins File to be @imported and @included as you need
 *
 *  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
 *  ENDING css files
 *
 *  note: All CSS3 Properties are being supported by Safari 5
 *  more info: http://www.findmebyip.com/litmus/#css3-properties
 *
 *------------------------------------------------------------- */
html {
  min-width: 1024px;
  overflow: scroll; }

.container {
  width: 980px;
  max-width: none; }

.content {
  float: left;
  width: 660px;
  margin-bottom: 30px; }

.content-box-item {
  padding: 20px; }

.content-box {
  margin: 0; }

.sidebar {
  display: block;
  float: right;
  width: 300px; }

.banner-1 {
  height: 135px;
  margin-bottom: 30px; }

.banner-1,
.banner-2 {
  display: none; }

.banner-3,
.banner-4,
.banner-5 {
  display: block; }

.banner-3 {
  height: 135px; }

.banner-4 {
  height: 600px;
  margin-bottom: 30px; }

.banner-5 {
  height: 300px;
  margin-bottom: 30px; }

.footer-logo {
  top: 14px;
  width: 110px;
  height: 22px;
  background-position: 0 0; }

.footer-social-icons {
  top: 8px; }

.footer-social-icons a {
  margin-right: 14px;
  width: 35px;
  height: 35px; }

.footer-social-icons .fb {
  background-position: -327px 0; }

.footer-social-icons .vk {
  background-position: -368px 0; }

.footer-social-icons .ok {
  background-position: -409px 0; }

.footer-social-icons .tw {
  background-position: -450px 0; }

.notification-window {
  left: 10%;
  width: 270px; }

.js-detect {
  opacity: 0.8; }

.site-top {
  display: block; }

.header {
  margin-bottom: 30px; }

.header-left {
  width: 680px;
  margin-right: 0;
  position: relative;
  padding-right: 10px;
  height: 55px;
  float: left; }

.header-logo {
  width: 100px;
  height: 20px;
  background-position: -119px 0;
  top: 18px;
  margin-right: 22px; }

.menu {
  display: block !important;
  overflow: visible;
  position: static;
  background: transparent;
  padding: 0;
  font-size: 15px;
  width: auto;
  display: block;
  font: 15px "PT Sans", sans-serif; }
  .menu a {
    text-align: left;
    padding: 0; }
    .menu a.active, .menu a:hover {
      background: none; }

.menu-main {
  display: block !important;
  float: left;
  overflow: hidden;
  position: static;
  background: transparent;
  padding: 0;
  width: 430px; }
  .menu-main li:first-child {
    display: none; }
  .menu-main a {
    float: left;
    height: 55px;
    line-height: 55px;
    text-transform: uppercase;
    padding: 0 13px;
    font-weight: normal; }
    .menu-main a:hover, .menu-main a.active {
      background: #ffe700; }
  .menu-main:after {
    display: none; }

.menu-more {
  display: none;
  padding: 20px 30px 45px; }
  .menu-more a {
    margin-bottom: 5px; }
  .menu-more li:last-child a {
    margin-top: 0; }

.menu-balance {
  width: 300px;
  padding: 74px 20px 20px;
  top: 0;
  right: 0; }

.menu-balance-inf {
  display: none; }

.menu-balance-actions .menu-balance-item {
  width: auto; }
  .menu-balance-actions .menu-balance-item:first-child {
    float: none; }
  .menu-balance-actions .menu-balance-item:last-child {
    float: none; }

.menu-balance-item {
  margin-bottom: 10px;
  background: #e9e9e9;
  font-weight: bold;
  border: none;
  line-height: 40px;
  font-weight: normal;
  font-size: 15px;
  transition: all 0.4s;
  opacity: 1; }
  .menu-balance-item.active {
    background: rgba(233, 233, 233, 0.6);
    color: rgba(0, 0, 0, 0.6); }
  .menu-balance-item:hover {
    background: rgba(233, 233, 233, 0.6);
    color: rgba(0, 0, 0, 0.6); }
  .menu-balance-item:last-child {
    margin-bottom: 0; }

.menu-btn-item {
  padding: 0 20px; }
  .menu-btn-item.menu-btn .i-menu:before {
    top: 13px; }
  .menu-btn-item.menu-profile-btn .i-person:before {
    top: 17px; }

.menu-btns {
  height: 55px;
  position: absolute;
  top: 0;
  right: 0; }

.cabinet-balance-count:first-child {
  margin-right: 5px; }

.cabinet-balance-count span {
  font-size: 15px; }

.cabinet-balance-count .holder-money, .cabinet-balance-count .holder-points {
  font-family: handbookpro-regular;
  text-shadow: 0.5px 0 0 black;
  font-size: 22px; }

.menu-balance-btn {
  display: none; }

.menu-btn-item.menu-logout-btn {
  display: none; }

.header-right {
  position: relative;
  float: right;
  width: 300px;
  height: 55px; }

.balance {
  height: 55px;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -khtml-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -khtml-transform: translate(0, -70%); }

.balance-btn {
  float: none;
  position: relative;
  z-index: 51;
  display: block;
  text-align: center;
  height: auto;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: none !important;
  padding: 0;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -khtml-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-family: 'handbookpro-regular'; }
  .balance-btn.active, .balance-btn:hover {
    background: transparent; }

.inf-slider {
  width: 300px;
  height: 135px;
  margin-top: -135px; }

.timer {
  display: block;
  color: #3f3f3f; }

.timer-title {
  float: left;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.28;
  text-transform: uppercase;
  padding: 14px 25px 0 40px; }

.timer-digits {
  float: left;
  font-size: 30px;
  font-weight: bold;
  padding-top: 8px; }

.slider-top {
  height: 135px !important; }

.slide {
  position: relative;
  height: 100px; }

.header-right .slider-top .ct .n {
  top: 40px;
  font-size: 52px;
  left: 25px; }

.header-right .slider-top .ct .tl {
  font-size: 12px;
  margin-left: 25px; }

.header-right .rt-bk {
  top: 55px;
  left: 25px; }

.last-results {
  top: 20px;
  font-size: 12px;
  left: 25px; }

#countdownHolder-mobile {
  top: 40px;
  width: 185px;
  height: 45px;
  line-height: 45px; }

.rt-bk_li {
  width: 35px !important;
  height: 35px !important;
  line-height: 35px !important;
  margin-right: 4px !important; }

.is-countdown {
  width: 200px; }

.menu-logout {
  display: none;
  top: auto;
  bottom: -160px;
  z-index: 51;
  width: 167px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 30px;
  border-top: 1px solid #CBC7C4;
  box-shadow: none; }

#lottery-history-view .ghd-game-inf tr th:nth-child(2) {
  padding-left: 90px; }

#lottery-history-view .ghd-game-inf tr th:nth-child(3) {
  padding-left: 90px;
  text-align: left; }

#lottery-history-view .ghd-game-inf tr td:nth-child(3) {
  text-align: left;
  padding-left: 90px; }

#lottery-history-view .ghd-game-inf tr td:nth-child(2) {
  padding-left: 140px;
  text-align: left; }

#lottery-history-view .ghd-game-inf .ghd-all-won {
  padding: 10px 30px 10px 0; }
  #lottery-history-view .ghd-game-inf .ghd-all-won .points {
    margin-left: 15px; }

#blog-posts .post-item-title {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 14px;
  font-weight: normal; }

@media (max-width: 479px) {
  #blog-post-view .comment-content {
    padding-left: 70px; }
  #blog-post-view .comment-img {
    position: absolute; }
  #blog-post-view .comment-like {
    top: 0; }
  #blog-post-view .post-comments .render-list-form .message-form-wrapper {
    padding-left: 70px; } }

.comment-reply {
  display: inline !important; }

#blog-posts .post-item-img {
  margin: 0; }

#blog-post-view .post > .title {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 14px;
  font-weight: normal; }

#blog-post-view .message-form-wrapper button[type="submit"] {
  font-family: Handbook-bold; }

.comment-description, .message-form-area {
  line-height: 1.5; }

.communication .content-box-tab.back-tab {
  padding: 0 74px 0 20px; }

.communication .content-box-tab span {
  display: inline; }

.communication .content-box-tab:before {
  display: none; }

.communication .content-box-tab.back-tab:before {
  display: block; }

#communication .content-box-tab .count {
  margin-left: 6px; }

.comment-content {
  padding-left: 70px;
  font-family: 'handbookpro-regular';
  font-size: 15px; }

.comment-img {
  display: block;
  position: absolute;
  top: 4px;
  left: 0; }

.comment-inf {
  padding-left: 0;
  padding-right: 60px; }

.comment-name {
  margin-right: 20px; }

.comment-reply {
  display: inline;
  font-size: 13px;
  position: static;
  opacity: 0;
  transition: all 0.1s linear; }
  .comment-reply .separator {
    display: inline;
    margin: 0 10px;
    margin-top: 0; }

.comment-reply-btn {
  cursor: pointer; }
  .comment-reply-btn:hover {
    text-decoration: underline; }

.comment-like {
  top: 0;
  cursor: pointer; }

.comment-reply .comment-reply-btn {
  display: inline-block; }

.comment-content:hover .comment-like,
.comment-content:hover .comment-reply {
  opacity: 1; }

div.comment-reply-btn {
  display: none; }

.comment.answer {
  margin-top: 20px;
  padding-left: 70px; }

.c-notifications {
  margin: 0 0 20px; }

.c-notifications-list {
  left: 0;
  padding: 40px 0 30px;
  border-radius: 2px; }
  .c-notifications-list .close-list {
    top: 10px;
    cursor: pointer; }

.c-notification {
  cursor: pointer; }

.close-notification {
  cursor: pointer; }

.c-notification-top {
  min-height: 0; }

.c-notification-question {
  margin-top: 0;
  display: inline; }

.c-notification-description {
  padding: 5px 0 0 50px; }

.cm-top {
  padding: 0 20px; }
  .cm-top .new-message {
    padding: 5px 30px; }

.message {
  padding-right: 20px;
  margin-left: 70px; }

.message-img,
.message-name,
.message-text {
  display: inline-block;
  vertical-align: middle; }

.message-img {
  float: none;
  margin-left: -70px;
  margin-right: 16px; }

.message-name {
  width: 22%;
  margin-right: 1%; }

.message-text {
  width: 76%; }

.nm-selected.nm-change {
  position: absolute;
  top: 0;
  right: 0; }

.comment.active > .comment-content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.95;
  background: white;
  z-index: 1; }

.content-box-tab {
  padding: 0 30px 0 20px; }
  .content-box-tab [class^="i-"] {
    display: none; }
  .content-box-tab [class*=" i-"] {
    display: none; }
  .content-box-tab .count {
    position: static; }

@media all and (max-width: 1024px) {
  .games-previews {
    padding: 5px 20px; }
    .games-previews a {
      margin: 15px 0; } }

.ticket-items {
  margin: 70px 0 30px;
  background: #a7d1d5;
  padding-left: 0;
  height: 406px; }

.ticket-tabs {
  top: -40px;
  background: transparent;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -10;
  display: block;
  margin: 0;
  padding: 0 0 14px;
  left: 0; }
  .ticket-tabs li {
    top: 9px;
    width: 72px;
    height: 85px;
    margin-right: 10px;
    line-height: 31px;
    background: #4c4c4c;
    color: #b2d0d4;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.4);
    position: relative;
    float: left;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: block; }
    .ticket-tabs li.unavailable {
      background: #8f8e8e;
      color: #b2d0d4; }
      .ticket-tabs li.unavailable:hover .ticket-number-sm {
        background: transparent; }
    .ticket-tabs li.done {
      background: #4c4c4c;
      color: #b2d0d4;
      text-shadow: 1px 0 0 rgba(0, 0, 0, 0.4); }
      .ticket-tabs li.done:after {
        content: "";
        display: inline-block;
        background: url(../img/sprite.png) center center no-repeat;
        background-position: -597px -61px;
        position: absolute;
        width: 11px;
        height: 8px;
        right: 8px;
        top: 12px; }
      .ticket-tabs li.done:before {
        display: none; }
      .ticket-tabs li.done:hover .ticket-number-sm:before {
        display: none; }
      .ticket-tabs li.done .ticket-number-sm:before {
        display: none; }
    .ticket-tabs li.active {
      height: 40px;
      line-height: 40px;
      color: #464444;
      text-shadow: 1px 0 0 rgba(255, 255, 255, 0.4);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      background: #a7d1d5; }
      .ticket-tabs li.active .ticket-number-sm {
        background: transparent; }
      .ticket-tabs li.active:hover {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -moz-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        -webkit-transition: all 0s ease 0s;
        transition: all 0s ease 0s; }
      .ticket-tabs li.active.done:after {
        top: 16px; }
    .ticket-tabs li:last-of-type {
      background: #e8cf6b;
      color: #4c4c4c;
      text-shadow: 1px 0 0 rgba(255, 255, 255, 0.4);
      width: 120px; }
      .ticket-tabs li:last-of-type.active {
        color: #4c4c4c; }
      .ticket-tabs li:last-of-type:hover {
        color: #4c4c4c; }
      .ticket-tabs li:last-of-type .ticket-number-sm {
        display: inline;
        width: auto;
        height: auto;
        background: transparent;
        line-height: 1;
        border-radius: 0;
        position: static; }
    .ticket-tabs li .ticket-number-sm {
      display: inline !important;
      width: auto !important;
      height: auto !important;
      background: transparent !important;
      line-height: 1 !important;
      border-radius: 0 !important;
      position: static !important; }
    .ticket-tabs li .ticket-number-sm:before {
      display: none !important; }

.ticket-box {
  display: table;
  background-color: transparent;
  width: 100%; }

.scroll-box {
  height: auto; }

.is-done {
  padding-top: 0; }

.ticket-done {
  bottom: 0px;
  margin-top: 12px;
  margin-right: 10px; }

.ticket-numbers-wrapper {
  height: auto;
  overflow: visible; }

.ticket-tabs li:hover {
  -webkit-transform: translate(0, -8px);
  -khtml-transform: translate(0, -8px);
  -moz-transform: translate(0, -8px);
  -ms-transform: translate(0, -8px);
  -o-transform: translate(0, -8px);
  transform: translate(0, -8px);
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.ticket-item .ticket-numbers {
  height: 305px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 7px;
  margin-right: -22px !important; }
  .ticket-item .ticket-numbers li {
    margin: 0 22px 21px 0 !important; }

.ticket-item .ticket-actions {
  margin-left: 0 !important; }
  .ticket-item .ticket-actions li {
    margin: 0 22px 21px 0 !important; }

.is_done {
  padding-right: 7px; }

.add-ticket {
  margin-right: 0 !important; }

.balls-count {
  bottom: 43px; }

.ticket-btn {
  padding: 0 40px; }

.lottery-grid .title {
  padding: 16px 0 16px 23px; }

.matches-inf-wrapper.carousel .matches-inf {
  width: 48%; }

.ticket-tabs li {
  width: 62px;
  margin-right: 8px; }

.ticket-item {
  padding: 25px 23px 8px !important; }

.ticket-numbers {
  margin-right: -23px !important; }

.raiting-item {
  width: 297px;
  margin-right: 20px; }

.balls-result {
  width: 100%; }

.text-result {
  width: 100%; }

.ticket-number-result {
  margin-right: 40px; }

.ball-number-result {
  width: 40px;
  height: 40px;
  line-height: 40px; }

.tickets-number-resultspan {
  display: none; }

.text-resultspan {
  display: none; }

.tickets-number-resultp {
  text-align: center; }

.text-result {
  top: 0; }

.tickets-number-result {
  margin: 60px 0 0 0;
  width: 15%; }

.timer {
  width: 200px; }

.ticket-items {
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
  margin: 5px 0 7px;
  padding-left: 10px;
  display: table-header-group; }

.matches-inf-wrapper.carousel {
  padding: 30px 0;
  margin-bottom: 0; }

.matches-inf {
  margin-bottom: 0; }

.cabinet-game-history .content-box-cat a:first-child {
  padding-left: 35px; }

.content-box-item-content .gh-item {
  padding: 10px 10px 10px 15px;
  margin: 0 -20px 0;
  position: relative; }

#lottery .type-mine .gh-item:before {
  top: 20px;
  left: -20px; }

.content-box-item-content .gh-item .arrow {
  top: 10px; }

.gh-inf.gh-combination {
  margin-right: 70px;
  float: right; }

.cabinet-game-history.with-cat {
  padding: 0 0 30px 10px; }

.cabinet-game-history .content-box-item-content {
  padding: 10px 20px 0 50px; }

.content-box-content .gh-item:before {
  left: -20px; }

.lottery-grid.timer-box {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 5px; }

.ticket-box {
  background-color: none;
  margin-top: 30px; }
  .ticket-box.gold {
    background: none; }
    .ticket-box.gold .header-box {
      background: #A9D0D5; }
    .ticket-box.gold .ticket-items {
      background: #E8CF6B; }
      .ticket-box.gold .ticket-items .ticket-tabs {
        background: none; }

#lottery-process {
  height: 768px;
  max-width: 1366px; }
  #lottery-process .container {
    max-width: 686px;
    margin: 0 auto;
    min-width: 0; }
    #lottery-process .container > div {
      height: 73px; }
      #lottery-process .container > div a {
        top: 27px; }

.ghd-tickets {
  padding: 0 138px 0 18px; }

.balls-end-game .g-oc_li {
  width: 105px;
  height: 105px;
  margin-right: 11px;
  float: left;
  font: 45px  Handbook-bold;
  line-height: 100px;
  color: #000;
  text-align: center;
  letter-spacing: -2px;
  position: relative;
  overflow: hidden; }
  .balls-end-game .g-oc_li:last-of-type {
    margin-right: 0; }
  .balls-end-game .g-oc_li .goc_li-sh {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
    background-position: -625px -0px; }
  .balls-end-game .g-oc_li .goc_li-sh2 {
    width: 106px;
    height: 106px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: url(../img/sprite.png);
    background-position: -620px -100px; }
  .balls-end-game .g-oc_li .goc_li-nb {
    background-color: #ffe400;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    letter-spacing: -2px;
    position: absolute;
    left: 2px;
    top: -105px;
    z-index: 2; }
    .balls-end-game .g-oc_li .goc_li-nb.random-ball {
      top: 105px; }
      .balls-end-game .g-oc_li .goc_li-nb.random-ball:first-child {
        top: 0px; }

.ghd-tickets li {
  margin-bottom: 13px;
  font-size: 19px; }

.ghd-tickets li ul li.filled-ball {
  margin-right: 33px;
  width: 40px;
  margin-top: 0;
  height: 40px;
  line-height: 40px; }
  .ghd-tickets li ul li.filled-ball.won_ball {
    width: 40px;
    height: 40px;
    line-height: 40px; }
  .ghd-tickets li ul li.filled-ball:last-of-type {
    margin-right: 0; }

.ghd-tickets li span {
  margin-right: 51px;
  min-width: 74px; }

.lottery-amimation-box {
  margin-top: 37px; }

.matches-inf .lottery-grid .ul-striped li {
  padding: 6px 23px 13px; }

.content-box.tickets .title {
  padding-left: 23px; }

#lottery .content-box-content .gh-date {
  margin-bottom: 15px;
  display: block;
  line-height: 30px;
  float: left; }

#lottery .content-box-content .gh-inf {
  font-size: 15px; }

#lottery-process.lottery-won {
  min-width: 1024px; }
  #lottery-process.lottery-won .balls-end-game .g-oc_li .goc_li-nb {
    position: static; }

.ghd-won {
  margin-top: 24px; }
  .ghd-won .grid-container {
    max-width: 360px; }

#lottery-ticket-item {
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
  height: inherit; }

#lottery-process.lottery-won {
  background: url(../img/1024.png) center center no-repeat; }

#lottery-process {
  min-width: 1024px;
  height: 768px; }
  #lottery-process .container {
    max-width: 700px;
    margin: 0 auto;
    min-width: 0; }
    #lottery-process .container > div {
      height: 73px; }
      #lottery-process .container > div a {
        top: 27px; }

.ghd-tickets {
  padding: 0 138px 0 18px; }

.balls-end-game .g-oc_li {
  width: 104px;
  height: 104px;
  margin-right: 14px;
  float: left;
  font: 45px  Handbook-bold;
  line-height: 100px;
  color: #000;
  text-align: center;
  letter-spacing: -2px;
  position: relative;
  overflow: hidden; }
  .balls-end-game .g-oc_li:last-of-type {
    margin-right: 0; }
  .balls-end-game .g-oc_li .goc_li-sh {
    width: 104px;
    height: 104px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
    background-position: -625px -0px; }
  .balls-end-game .g-oc_li .goc_li-sh2 {
    width: 106px;
    height: 106px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: url(../img/sprite.png);
    background-position: -620px -100px; }
  .balls-end-game .g-oc_li .goc_li-nb {
    background-color: #ffe400;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    text-align: center;
    letter-spacing: -2px;
    position: absolute;
    left: 0px;
    top: -105px;
    z-index: 2; }
    .balls-end-game .g-oc_li .goc_li-nb.random-ball {
      top: 105px; }
      .balls-end-game .g-oc_li .goc_li-nb.random-ball:first-child {
        top: 0px; }

.ghd-tickets li ul li.filled-ball {
  margin-right: 35px;
  width: 40px;
  height: 40px;
  line-height: 40px; }
  .ghd-tickets li ul li.filled-ball.won_ball {
    width: 40px;
    height: 40px;
    line-height: 40px; }
  .ghd-tickets li ul li.filled-ball:last-of-type {
    margin-right: 0; }

.ghd-tickets li span {
  margin-right: 55px; }

@media (min-width: 1025px) {
  #lottery-process.lottery-won {
    background: url(../img/1366.png) center center no-repeat; } }

.cabinet-game-history .content-box-item-content {
  min-height: 310px; }

.prizes-for-points {
  padding-left: 60px;
  padding-right: 60px; }

.prize {
  width: 245px;
  padding-right: 25px;
  float: left; }
  .prize:nth-child(2n+2) {
    float: right; }

.ex-prize-description {
  width: 274px; }

.prize:nth-child(3n+3) {
  margin-right: 0; }

#prizes-exchange .content-box-item-content {
  padding: 0 30px; }

.ex-prize-img {
  width: 300px;
  float: left;
  margin-right: 0; }

.ex-prize-img:before {
  display: none; }

.ex-prize-img img {
  width: 100%;
  position: static; }

.ex-prize-description {
  width: 390px;
  float: right;
  padding-left: 20px; }

@media (max-width: 1200px) {
  .ex-prize-description {
    width: 320px;
    padding-left: 30px; }
  .personal-data-inf-header {
    padding: 0 20px;
    margin: 0 -20px 10px; }
  .personal-data-edit {
    right: 20px; }
  .prize-delivery-inf td:first-child {
    padding-left: 20px; }
  .prize-delivery-inf {
    margin: 0 -20px 20px; } }

.cabinet .content-box-tab.cabinet-balance-tab {
  width: 215px;
  padding: 0 0 0 10px; }

.cabinet-balance-count:first-child {
  margin-right: 15px; }

.cabinet-balance-count span {
  margin-left: 2px; }

.c-user-inf {
  margin: 0 20px 0 0; }

.c-user-personal-inf {
  width: 394px; }

.c-user-personal-inf td:last-child {
  padding-left: 10px; }

.ae-inf {
  width: 384px;
  padding: 20px 10px; }

.content-box-item.cabinet-convert {
  padding: 30px 20px; }

@media (max-width: 1366px) {
  .ae-name-block {
    width: 470px; }
  .settings .strip {
    border-top: 1px solid #f5f5f5;
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
    height: 45px; }
  .ae-combination-box {
    margin: 0 -20px; } }

.mobile-notice {
  display: none !important; }

#profile-settings .hidden-notice {
  margin: 0; }

.ph-won,
.ph-won-text {
  width: 35%;
  padding: 0 20px 0 20px; }

.ph-method,
.ph-method-text {
  width: 35%;
  padding: 0 50px 0 0; }

.ph-status,
.ph-status-text {
  width: 15%; }

.ph-header {
  margin: 0 -20px 0;
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
  background: #FAFAFA; }

.r-nickname,
.r-nickname-text {
  width: 37%; }

.r-registered,
.r-registered-text {
  width: 15%; }

.r-games,
.r-games-text {
  width: 10%;
  text-align: center; }

.r-active,
.r-active-text {
  width: 22%; }

.r-profit,
.r-profit-text {
  width: 13%; }

.r-header,
.r-item {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px; }

.r-header {
  display: block; }

.r-header-item {
  float: left; }

.r-item {
  padding: 14px 20px;
  border-bottom: none;
  line-height: 1.4; }
  .r-item:hover:before {
    top: 10px;
    right: 10px; }

.r-inf-names {
  display: none; }

.r-inf {
  float: none; }

.r-inf-item {
  float: left; }

.r-active {
  text-align: center; }

.r-nickname,
.r-nickname-text {
  width: 33%; }

.r-registered,
.r-registered-text {
  width: 23%; }

.r-games,
.r-games-text {
  width: 10%; }

.r-active,
.r-active-text {
  width: 21%;
  text-align: center; }

.r-profit,
.r-profit-text {
  width: 13%; }

.cabinet-transaction-history .content-box-cat {
  float: none;
  display: table;
  margin: auto; }

.cabinet-transaction-history .content-box-cat a {
  display: table-cell;
  padding: 0 10px;
  margin-right: 5px; }

.cabinet-referrals .content-box-cat {
  margin-bottom: 20px; }

.cabinet-referrals .content-box-item-top {
  padding: 0 10px 0; }

.c-friend {
  width: 297px;
  margin: 0 20px 30px 0; }

.friends-search {
  left: 337px; }

@media (min-width: 1200px) {
  .container {
    width: 1080px; }
  .content {
    width: 750px;
    margin-top: 0; }
  .content-box-tab {
    padding: 0 30px; }
  .content-box-item {
    padding: 30px; }
  .content-box-item-top {
    padding: 20px 30px 0; }
  .notification-window {
    left: 10%;
    width: 270px; }
  .js-detect {
    opacity: 1; }
  .header-left {
    width: 770px; }
  .header-logo {
    margin-right: 65px; }
  .text-result {
    position: relative;
    float: right; }
  .menu-main {
    width: 540px; }
    .menu-main a {
      padding: 0 23px; }
  .is-countdown {
    width: 200px; }
  .content-box-item.home-blog {
    padding: 20px; }
  .post-item-title {
    font-size: 10px; }
  .bonus-share-banner-view {
    width: 60%; }
  .communication .content-box-tab {
    padding: 0 30px; }
  .communication .content-box-tab.back-tab {
    padding: 0 60px 0 30px; }
  .cm-top {
    padding: 0 30px; }
  .message {
    padding-right: 30px; }
  .message-name {
    width: 18%;
    margin-right: 1%; }
  .message-text {
    width: 80%; }
  /*.games-chance {
  padding: 30px 30px 0;
}

.game {
  margin-right: 33px;
}

.game:nth-child(4n+4) {
  margin-right: 0;
}*/
  .ticket-items {
    margin: 5px 0 7px;
    padding-left: 0;
    height: 416px;
    background: #a7d1d5; }
  .ticket-tabs li {
    margin-right: 15px; }
  .ticket-item {
    padding: 37px 40px 6px 42px !important; }
  .ticket-numbers {
    margin-right: -30px !important;
    height: 305px; }
  .ticket-box {
    margin-top: 34px; }
  .ticket-done {
    margin-right: 5px; }
  .matches-inf-wrapper {
    margin-bottom: 40px; }
  .gh-header {
    margin: 0 -30px 20px;
    padding: 0 30px; }
  .gh-inf.gh-combination {
    margin-right: 120px; }
  .raiting-item {
    width: 350px;
    margin-right: 40px; }
  .balls-result {
    width: 57%; }
  .text-result {
    width: 43%; }
  .ticket-number-result {
    margin-right: 20px; }
  .ticket-number-result span {
    display: inline; }
  .ball-number-result {
    width: 40px;
    height: 40px; }
  .text-result span {
    display: block; }
  .text-result-top {
    margin-left: 0px; }
  .ticket-tabs {
    top: -42px;
    padding: 0 0 14px; }
    .ticket-tabs li {
      width: 80px;
      margin-right: 8px; }
      .ticket-tabs li.active {
        top: 3px; }
      .ticket-tabs li:hover {
        -webkit-transform: translate(0, -6px);
        -moz-transform: translate(0, -8px);
        -o-transform: translate(0, -8px);
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
  .ticket-item .ticket-numbers li {
    margin: 0 29px 21px 0 !important; }
  .lottery-grid .title {
    padding: 16px 0 16px 30px; }
  .matches-inf .lottery-grid .ul-striped li {
    padding: 6px 30px 13px; }
  .cabinet-game-history .content-box-cat > span:first-child label {
    padding: 5px 10px 5px 40px; }
  .cabinet-game-history .content-box-cat > span:first-child label:before {
    left: 10px; }
  .gh-item {
    padding: 10px 10px 10px 25px;
    margin: 0; }
  #lottery .content-box-item-content .gh-item {
    padding: 10px 10px 10px 25px;
    margin: 0;
    position: relative; }
  #lottery .type-mine .gh-item:before {
    left: -5px; }
  .content-box-content .gh-item:before {
    left: -5px; }
  .cabinet-game-history .content-box-item-content {
    padding: 10px 10px 0 20px; }
  .matches-inf-wrapper.carousel .matches-inf {
    width: 48%; }
  .ticket-btn.add-ticket {
    width: 178px;
    padding: 0; }
    .ticket-btn.add-ticket.loading {
      color: #4c4c4c;
      position: relative;
      opacity: 0.8;
      cursor: default;
      background: #ffe400;
      background-repeat: no-repeat;
      background-position: 0;
      background: url(../img/sprite.png) -430px -292px;
      -webkit-animation: AnimationBlue 8s infinite linear;
      -moz-animation: AnimationBlue 8s  infinite linear;
      animation: AnimationBlue 8s  infinite linear; }
  @-webkit-keyframes AnimationBlue {
    0% {
      background-position: -535px -292px; }
    50% {
      background-position: -482px -292px; }
    100% {
      background-position: -430 -292px; } }
  @-moz-keyframes AnimationBlue {
    0% {
      background-position: -535px -292px; }
    50% {
      background-position: -482px -292px; }
    100% {
      background-position: -430 -292px; } }
  @keyframes AnimationBlue {
    0% {
      background-position: -535px -292px; }
    50% {
      background-position: -482px -292px; }
    100% {
      background-position: -430 -292px; } }
  .lottery-amimation-box {
    margin-top: 34px; }
  #lottery-history-view .ghd-game-inf .title {
    margin: 0 -30px 15px; }
  #lottery-process {
    position: absolute;
    box-sizing: border-box;
    background-color: #8ECADA;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; }
  .prizes-for-points {
    padding-left: 30px;
    padding-right: 30px; }
  .prize {
    width: 245px;
    padding-right: 25px; }
  .prize:nth-child(3n+3) {
    margin-right: 0; }
  .ex-prize-not-filled {
    margin: 0 -30px; }
  #prizes-exchange .content-box-item-content {
    padding: 0; }
  .cabinet .content-box-tab.cabinet-balance-tab {
    width: 275px;
    padding: 0 30px 0 30px; }
  .cabinet-balance-count:first-child {
    margin-right: 5px; }
  .cabinet-balance-count span {
    margin-left: 5px; }
  .c-user-inf {
    margin: 0 30px 0 0; }
  .c-user-personal-inf {
    width: 510px; }
  .ae-inf {
    width: 510px;
    padding: 20px 40px; }
  .cabinet-cashout-block {
    margin: 30px 30px 40px; }
  .content-box-item.cabinet-convert {
    padding: 30px 95px; }
  .ph-won,
  .ph-won-text {
    width: 35%;
    padding: 0 20px 0 20px; }
  .ph-method,
  .ph-method-text {
    width: 35%;
    padding: 0 50px 0 0; }
  .ph-status,
  .ph-status-text {
    width: 15%; }
  .ph-header {
    margin: 0 -20px 0;
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
    background: #FAFAFA; }
  .ph-item {
    margin: 0 -30px;
    padding-left: 30px;
    padding-right: 30px; }
  .ph-won,
  .ph-won-text {
    width: 35%; }
  .ph-method,
  .ph-method-text {
    width: 35%; }
  .ph-status,
  .ph-status-text {
    width: 15%; }
  .cabinet-referrals .content-box-item-top {
    padding: 0 10px 0; }
  .c-friend {
    width: 350px;
    margin: 0 40px 30px 0; }
  .friends-search {
    left: 420px; }
  .cg-form {
    padding: 0 60px; } }
