/.idea
/protected/configs/_*
!/protected/configs/_*.default.php
/res/.sass-cache
/lastLottery
/lastResult
/filestorage/*/*
/filestorage/*/**/*
!/filestorage/*/comments
!*.gitignore
/.htaccess
/res/.gitignore
/res/.gitattributes
