/.idea
/protected/configs/_*
!/protected/configs/_*.default.php
/res/.sass-cache
/lastLottery
/lastResult
/filestorage/*/*
/filestorage/*/**/*
!/filestorage/*/comments
!/filestorage/*/50
!/filestorage/*/100
!/filestorage/*/200
!/filestorage/*/600
!/filestorage/*/320
!/filestorage/*/360
!/filestorage/*/480
!/filestorage/*/640
!/filestorage/*/768
!*.gitignore
/.htaccess
/res/.gitignore
/res/.gitattributes
