.header-left
  width: 840px

.header-logo
  margin-right: 65px




// MENU ---------------------------- //

.menu-main a
  padding: 0 25px

.menu-more:before
  right: 20px

.more-menu-btn
  right: 40px

// --------------------------------- //