// BLOG ------------------------------- //



.post-inf {
  margin-bottom: 20px;
}

.post-date {
  margin-right: 60px;
}

.post-description img {
  margin: 30px 0;
}

// ---------------------------- //


@media (min-width: 769px) {
	.post-item-img {
		margin: 0 ;
	}
}

