// BLOG ------------------------------- //

.post-item {
  padding-left: 340px;
}

.post-item-img {
  width: 320px;
  height: 200px;
  margin-left: -340px;
}

.post-inf {
  margin-bottom: 15px;
}

.post-date {
  margin-right: 60px;
}

.post-description img {
  margin: 30px 0;
}

// ---------------------------- //

.more-posts a {
  float: left;
  width: 24%;
  margin: 0 14% 0 0;
  &:last-child {
    margin: 0;
  }
}
