.bonus-form input {
  width: 77%;
}

.bonus-form button {
  width: 18%;
}

// ----------------------------------- //

.bonus-social-item {
  margin-right: 10px;
}

// ----------------------------------- //

.bonus-share-url-copy {
  padding-left: 30px;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 15px;
    height: 17px;
    background: url(img/sprite.png) -82px -83px;
    position: absolute;
    left: 0;
    top: 7px;
  }
}

.bonus-share-url-copy input {
  margin: 0 30px 0 0;
  width: 434px;
}

.bonus-share-url-copy-btn {
  width: 120px;
}

// ----------------------------------- //

.bonus-share-banner-view {
  width: 70%;
  margin: auto;
}

.bonus-banner-view-item:nth-child(even) {
  float: right;
}
