.gh-header
  margin: 0 -20px 20px
  padding: 0 20px

.gh-item
  margin: 0 -20px 0
  padding: 10px 20px
  position: relative

.gh-item:hover:before
  content: ""
  clear: none
  display: block
  position: absolute
  width: 17px
  height: 30px
  background: url(img/sprite.png) -214px -187px
  top: 13px
  right: 40px