.cco-edit
  width: auto
  height: auto
  background: none
  top: 0
  font-size: 14px

.cco-edit span
  display: inline

// -------------------------- //

.cco-inf
  margin: 0
  padding: 20px
  border: 1px solid #CBC7C6
  border-radius: 2px




// CABINET CASHOUT LIMITED ----------------------------- //

.cb-title
  border-width: 1px
  border-radius: 2px
  padding: 15px 80px
  margin: 0 0 30px




// CABINET CASHOUT BLOCKED ----------------------------- //

.cabinet-cashout-block
  border-width: 1px
  border-radius: 2px
  padding: 15px 100px
  margin: 20px 20px 30px