// BONUSES ---------------------------------------- //

.cabinet .content-box-tab span
  display: inline

.cabinet .content-box-tab
  width: auto

.cabinet .content-box-tab.cabinet-balance-tab
  width: 275px
  float: right
  font-size: 20px
  padding-left: 25px
  border-left: 1px solid #fff

.cabinet .content-box-tab:after
  display: none

.cabinet-balance-count:first-child
  margin-right: 25px

.cabinet-balance-count span
  margin-left: 5px
  font-size: 12px
  font-weight: normal