.ci-title
  margin-bottom: 35px
  font-size: 17px
  padding-left: 10px

// --------------------------- //

.ci-personal-form
  margin: 0 0 40px

.ci-personal-form-values input
  padding-left: 190px

  &.input-prefix
    padding-left: 205px

span.input-prefix
  top: -1px
  left: 190px