.cg-balance
  text-align: right

.cg-gift-inf
  width: 100%

.cg-gift-name
  display: inline-block
  margin-bottom: 0
  margin-right: 2%
  width: 72%
  vertical-align: middle

.cg-gift-price
  display: inline-block
  width: 25%
  vertical-align: middle



// LIMITED ------------------------------- //

.communication-gift.limited

  & .cg-title
    border-width: 1px
    border-radius: 2px
    margin-left: 0
    margin-right: 0
    padding: 15px