.comment-content
  padding-left: 70px

.comment-img
  display: block
  position: absolute
  top: 0
  left: 0

.comment-inf
  padding-left: 0
  padding-right: 60px

.comment-name
  margin-right: 20px

.comment-reply
  display: inline
  font-size: 13px
  position: static
  opacity: 0
  transition: all .1s linear

  & .separator
    display: inline
    margin: 0 10px

.comment-reply-btn
  cursor: pointer

  &:hover
    text-decoration: underline

.comment-like
  top: 0
  cursor: pointer



// COMMENT HOVER --------------------------- //

.comment-content:hover

  & .comment-like,
  & .comment-reply
    opacity: 1



// COMMENT ANSWER -------------------------- //

.comment.answer
  margin-top: 20px
  padding-left: 70px






// COMMENT NOTIFICATIONS ------------- //

.c-notifications
  margin: 0 0 20px

// ---------------------------------- //

.c-notifications-list
  left: 0
  padding: 45px 0 10px
  border-radius: 2px

  & .close-list
    top: 5px
    cursor: pointer

.c-notification
  cursor: pointer

.close-notification
  cursor: pointer

.c-notification-top
  min-height: auto

.c-notification-question
  margin-top: 0
  display: inline

.c-notification-description
  padding: 5px 0 0 50px