.c-friend-detail

  & .c-user-inf-wrapper
    position: static

  & .c-user-inf
    margin-bottom: 0

  & .c-social
    position: static
    margin-top: 15px
    padding-left: 10px

  & .c-social-inf,
  & .c-social-icons
    display: inline-block
    vertical-align: middle

  & .c-social-inf
    margin-bottom: 0
    color: #A2A2A2
    margin-right: 18px

  & .c-social-item
    vertical-align: middle