// COMMUNICATION ---------------------------------------- //

.communication .content-box-tab span
  display: inline

.communication .content-box-tab:before
  display: none

.communication .content-box-tab.back-tab
  padding: 0 91px 0 20px

.communication .content-box-tab.back-tab:before
  display: block

.communication .content-box-tab .count
  margin-left: 6px