// TICKET-ITEMS ------------------------------ //

.ticket-items {
  margin: 70px 0 30px;
  background: rgb(167, 209, 213);
}

.ticket-tabs {
  top: -40px;
  background: transparent;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -10;
  display: block;
  padding-top: 0;
  & li {
    top: 9px;
    width: 72px;
    height: 85px;
    margin-right: 10px;
    line-height: 31px;
    background: #4c4c4c;
    color: #b2d0d4;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.4);
    position: relative;
    float: left;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: block;
    &.unavailable {
      background: #8f8e8e;
      &:hover {
        & .ticket-number-sm {
          background: transparent;
        }
      }
    }
    &.done {
      background: #4c4c4c;
      color: #b2d0d4;
      text-shadow: 1px 0 0 rgba(0, 0, 0, 0.4);
      &:after {
        content: "";
        display: inline-block;
        background: url(img/sprite.png) center center no-repeat;
        background-position: -597px -61px;
        position: absolute;
        width: 11px;
        height: 8px;
        right: 12px;
        top: 12px;
      }
      &:before {
        display: none;
      }
      &:hover .ticket-number-sm:before {
        display: none;
      }
      & .ticket-number-sm:before {
        display: none;
      }
    }
    &.active {
      height: 40px;
      line-height: 40px;
      color: #464444;
      text-shadow: 1px 0 0 rgba(255, 255, 255, 0.4);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      background: #b7cfd3;
      & .ticket-number-sm {
        background: transparent;
      }
    }
    &:last-of-type {
      background: #e8cf6b;
      color: #4c4c4c;
      text-shadow: 1px 0 0 rgba(255, 255, 255, 0.4);
      width: 120px;
      &.active {
        color: #4c4c4c;
      }
      &:hover {
        color: #4c4c4c;
      }
      & .ticket-number-sm {
        display: inline;
        width: auto;
        height: auto;
        background: transparent;
        line-height: 1;
        border-radius: 0;
        position: static;
      }
    }
    & .ticket-number-sm {
      display: inline !important;
      width: auto !important;
      height: auto !important;
      background: transparent !important;
      line-height: 1 !important;
      border-radius: 0 !important;
      position: static !important;
    }
    & .ticket-number-sm:before {
      display: none !important;
    }
  }
}

#lottery-process {
  padding: 60px 20px;
  background-color: #a6d1d5;
  height: 720px;
  & .ghd-won {
    display: none;
  }
  & .ghd-fale {
    display: none;
  }
}

.balls-end-game {
  & .g-oc_li {
    width: 105px;
    height: 105px;
    margin-right: 25px;
    float: left;
    font: 50px / 100px Handbook-bold;
    color: #8f8e8e;
    text-align: center;
    letter-spacing: -2px;
    position: relative;
    overflow: hidden;
    & .goc_li-sh {
      width: 105px;
      height: 105px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background: url(../css/img/sprite.png);
      background-position: -625px 0px;
    }
    & .goc_li-sh2 {
      width: 105px;
      height: 105px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      background: url(../css/img/sprite.png);
      background-position: -620px 274px;
    }
    & .goc_li-nb {
      background-color: #ffe400;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      text-align: center;
      letter-spacing: -2px;
      position: absolute;
      left: 0;
      top: -105px;
      z-index: 2;
      &.random-ball {
        top: 105px;
        &:first-child {
          top: 0px;
        }
      }
    }
  }
}

.scroll-box {
  height: auto;
}

.is-done {
  padding-top: 0;
}

.balls-count {
  color: #e7f6f7;
  font-size: 15px;
  position: absolute;
  right: 235px;
  bottom: 40px;
  display: block;
}

.ticket-numbers-wrapper {
  height: auto;
  overflow: visible;
}

.ticket-tabs li:hover {
  -webkit-transform: translate(0, -8px);
  -moz-transform: translate(0, -8px);
  -o-transform: translate(0, -8px);
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.ticket-item {
  padding: 37px 30px 27px !important;
}

.ticket-numbers {
  height: auto;
  margin-left: 0 !important;
  margin-right: -40px !important;
  margin-bottom: 7px;
  & li {
    margin: 0 30px 21px 0 !important;
  }
}

.ticket-actions {
  margin-left: 0 !important;
}

.ticket-actions li {
  margin: 0 30px 0 0 !important;
}

.add-ticket {
  margin-right: 0 !important;
}

.balls-count {
  bottom: 43px;
}

.ticket-btn {
  padding: 0 40px;
}

// MATCHES-INF ------------------------------ //

.matches-inf-wrapper {
  margin-bottom: 30px;
}

.gh-header {
  margin: 0 -20px 20px;
  padding: 0 20px;
}

.gh-item {
  margin: 0 -20px 0;
  padding: 10px 20px;
  position: relative;
}

.gh-item:hover:before {
  content: "";
  clear: none;
  display: block;
  position: absolute;
  width: 17px;
  height: 30px;
  background: url(img/sprite.png) -214px -187px;
  top: 13px;
  right: 40px;
}

.ghd-numbers {
  width: 520px;
  margin: 0 auto 40px;
}

.ghd-number {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 32px;
  margin-right: 20px;
}

// ----------------------------- //

.ghd-tickets table {
  margin-bottom: 10px;
}

.ghd-tickets td:first-child {
  padding-right: 40px;
}

.ghd-tickets td:last-child {
  padding-left: 40px;
}

.ghd-tickets td {
  padding-bottom: 20px;
}

.ghd-tickets td:first-child span {
  display: inline;
  text-transform: uppercase;
}

.ghd-ticket-number {
  width: 35px;
  height: 35px;
  line-height: 34px;
  margin-right: 5px;
}

.ghd-won {
  font-size: 21px;
}

// ----------------------------- //

.ghd-game-inf th {
  padding-bottom: 20px;
  width: 25%;
  &:nth-child(1) {
    padding-right: 0;
  }
  &:nth-child(2) {
    padding-left: 20px;
  }
  &:nth-child(3) {
    padding-left: 60px;
  }
}

.ghd-game-inf td {
  padding-bottom: 10px;
  width: 25%;
  &:nth-child(1) {
    padding-right: 0;
  }
  &:nth-child(2) {
    padding-left: 50px;
  }
  &:nth-child(3) {
    padding-left: 60px;
  }
}

.ghd-all-won {
  padding: 10px 10px 0 50px;
}

// ----------------------------- //

// ----------------------------- //

// RATING ------------------------------- //

.raiting-item {
  width: 324px;
  margin-right: 40px;
}

.ball-number-result {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.ticket-number-result {
  margin-right: 5%;
}

.condition {
  font-size: 20px;
  text-transform: uppercase;
  padding: 85px 77px 67px 77px;
}

.ticket-item.gold {
  background: #e8cf6b;
}

.ticket-itmes.gold {
  background: #b2d0d4;
}

.ticket-tabs.gold {
  background: transparent;
}

.lottery-result {
  padding: 50px 45px;
}

.ticket-item {
  min-height: 420px;
}
