// PRIZES FOT POINTS ------------------- //

.prizes-for-points .content-box-item-content {
  width: auto;
  max-width: none;
}

.prize {
  width: 220px;
  margin-right: 14px;
}

@media (max-width: $screen-md-min) {
  .prize:nth-child(3n+3) {
    margin-right: 0;
  }
}

.exchange-prize .content-box-item {
  text-align: left;
}

.ex-prize-img {
  float: left;
  margin: 0 40px 0 0;
  width: 300px;
}

.ex-prize-description {
  float: left;
  width: 348px;
  padding-top: 20px;
}

.ex-prize-name {
  margin-bottom: 15px;
}

.ex-prize-price {
  margin-bottom: 40px;
}

.prize-delivery-inf {
  margin-bottom: 50px;
}

.personal-data-inf-header {
  padding: 0 10px 7px;
  margin: 0 0 30px;
}

.personal-data-inf-title {
  font-size: 21px;
}

.personal-data-edit {
  width: auto;
  height: auto;
  position: static;
  background: none;
  text-decoration: none;
  color: #4a90e2;
  font-size: 15px;
  line-height: 1.27;
}

.personal-data-edit span {
  display: inline;
}

.prize-delivery-inf tbody {
  padding: 0 10px;
}

.personal-data-attention {
  text-align: center;
}

.ex-prize-submit-wrapper {
  margin: 0;
}

.ex-prize-not-filled {
  margin: 0 -20px;
}
