// PRIZES FOT POINTS ------------------- //

.prizes-for-points .content-box-item-content
  width: auto
  max-width: none

.prize
  width: 220px
  margin-right: 14px



@media (max-width: $screen-md-min)

  .prize:nth-child(3n+3)
    margin-right: 0