.ball-number-result
  width: 40px
  height: 40px
  line-height: 40px
  
.ticket-number-result
  margin-right: 5%

.condition 
  font-size: 20px
  text-transform: uppercase
  padding: 85px 77px 67px 77px

.ticket-item.gold 
  background: #e8cf6b


.ticket-itmes.gold
  background: #b2d0d4

.ticket-tabs.gold
  background: transparent

.lottery-result 
  padding: 50px 45px 

.ticket-item
  min-height: 420px
  