.site-top
  display: block

.header
  margin-bottom: 30px

  .container
    padding: 0

.header-left
  width: 684px
  margin-right: 0
  position: relative
  padding-right: 10px

.header-logo
  width: 100px
  height: 20px
  background-position: -119px 0
  top: 18px
  margin-right: 22px



// MENUS ------------------------- //

.menu
  display: block !important
  overflow: visible
  position: static
  background: transparent
  padding: 0
  font-size: 15px
  width: auto
  display: block

  a
    text-align: left
    padding: 0

    &.active,
    &:hover
      background: none

.menu-main
  display: block !important
  float: left
  overflow: hidden
  position: static
  background: transparent
  padding: 0
  width: 430px

  li:first-child
    display: none

  a
    float: left
    height: 55px
    line-height: 55px
    text-transform: uppercase
    padding: 0 13px
    font-weight: bold

    &:hover,
    &.active
      background: #FFE700

  &:after
    display: none

.menu-more
  display: none
  padding: 20px 30px

  a
    margin-bottom: 5px

  li:last-child a
    margin-top: 25px


// BALANCE MENU ----------------------------- //

.menu-balance
  width: 250px
  padding: 70px 25px 20px
  top: 0
  right: 23px

.menu-balance-inf
  display: none

.menu-balance-actions .menu-balance-item
  width: auto

  &:first-child
    float: none

  &:last-child
    float: none

.menu-balance-item
  margin-bottom: 10px
  background: #b7cfd3
  font-weight: bold
  border: none

  &.active:after
    content: ""
    display: block
    width: 15px
    height: 15px
    border-radius: 50%
    background: #fff
    position: absolute
    left: 7px
    top: 10px

  &:hover
    background: #d1e3e5

  &:last-child
    margin-bottom: 0

// ----------------------------------- //


// MENU BUTTONS ------------------------- //

.menu-balance-btn
  display: none

// -------------------------------- //

.header-right
  position: relative
  float: right

.balance-btn
  float: none
  position: relative
  z-index: 51
  display: block
  height: 55px
  text-align: center
  font-size: 24px
  font-weight: bold
  padding-top: 10px
  text-transform: uppercase
  box-shadow: none !important

  span span
    font-size: 12px

  &.active,
  &:hover
    background: transparent

.inf-slider
  width: 300px
  height: 135px
  margin-top: -135px


// --------------------------------- //

.timer
  display: block
  color: #3f3f3f

.timer-title
  float: left
  font-size: 11px
  font-weight: bold
  line-height: 1.28
  text-transform: uppercase
  padding: 14px 25px 0 40px

.timer-digits
  float: left
  font-size: 30px
  font-weight: bold
  padding-top: 8px
  
  
    
  // SLIDER ------------------------- //
.slider-top
  height: 135px !important
  
.slide
  position: relative
  height: 100px

.header-right .slider-top .ct .n
  top: 40px
  font-size: 52px
  left: 25px
  
.header-right .slider-top .ct .tl
  font-size: 12px
  margin-left: 25px

.header-right .rt-bk
  top: 55px
  left: 25px

.last-results
  top: 20px
  font-size: 12px
  left: 25px
  
#countdownHolder-mobile
  top: 40px
  width: 185px
  height: 45px
  line-height: 45px
  
.rt-bk_li
  width: 35px !important
  height: 35px !important
  line-height: 35px !important
  margin-right: 4px !important
  
.is-countdown
  width: 200px