/*sticky footer*/

html,
body {
    height: 100%;
    > .wrapper {
        height: auto !important;
        min-height: 100%;
        position: relative;
        /* equal to footer height */
        margin-bottom: -50px;
        &:after {
            content: "";
            display: block;
            height: 0;
            margin: 0;
            padding: 0;
        }
        > .container{
            padding-bottom: 50px;
        }
    }
}

// scrollClock
body.scrollLock{
    overflow: hidden;
}

// body > .wrapper:after,
.footer{
    height: 50px;
    position: static;
}

/* END
sticky footer*/


/*
MASS Styles
 */

// new informer
.new{
    position: absolute;
    background: #7ed321;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.39);
    width: 40px;
    padding: 2px 0;
    font-size: 14px;
    color: #ffffff;
    text-shadow: 0.3px 0.6px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: block;
    /* height: 20px; */
    line-height: 1.2;
    bottom: 100%;
    left: 50%;
    margin-left: -20px;
    margin-bottom: -5px;
    box-sizing: border-box;
    
    &:before,
    &:after{
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 100%;
        margin-left: -5px;
        width: 0; 
        height: 0; 
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #7ed321;
    }
    &:before{
        margin-top: 1px;
        margin-left: -7px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 7px solid rgba(0,0,0,0.20);   
    }
}


hr {
    margin: 0;
    border: none;
    border-bottom: 1px solid #ECECEC;
}

// STATUSES
.st-indicator.offline:after {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    top: 0;
    right: 0;
    position: absolute;
    background: #dfdfdf;
}
.st-indicator.online:after {
    background: #7ed321;
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    top: 0;
    right: 0;
    position: absolute;
}

// from common-content-box-header-partial.html
.content-box-header {
    font-size: 21px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    text-align: center;
    text-transform: uppercase;
    position: relative;
    background: #a7d1d5;
    height: 50px;
    line-height: 50px;

    span.count{
        // top: 2px;
        // right: 2px;
    }

    > span:not(.back){
        font-size: 15.5px;
    }
    & .back {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 20px;
        font-size: 14px;
        height: 30px;
        padding: 0 0 0 20px;
        color: #3f3f3f;
        transition: all 0.2s linear;
        i{
            &:before {
                line-height: 50px;
                display: block;
                position: absolute;
                top: 0;
                left: -11px;
                width: 15px;
                height: 30px;
                font-size: 30px;
            }
        }
        &:hover {
            opacity: 0.5;
        }
    }
}
.content-main{
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 3px;
    &#blog,
    &#lottery{
        box-shadow: none;
    }
}
#games-chance-view,
.content-box.big-box,
.content-box.support,
#balance-convert,
#reports-payments,
#balance-cashout,
#reports-transactions,
#reports-referrals,
#profile-bonuses,
#user-view,
#prizes-exchange-goods-view,
#users-view-message,
#communication-comments-view,
#communication-messages-new{
    @extend .content-main;
}

/* END
MASS Styles
 */

html {
    overflow-x: hidden;
}

body {
    font: 15.5px "PT Sans", sans-serif;
    font: 15.5px 'Handbook' ;
    background: #F4F4F4;
    color: #4a4a4a;
    position: relative;
    -webkit-font-smoothing: antialiased;
}
input, textarea, keygen, select, button{
    font: 15.5px "PT Sans", sans-serif;
    font: 15.5px 'Handbook' ;
}

.uk-float-left {
    float: left;
}

.uk-float-right {
    float: right;
}

.wrapper {
    height: 100%;
    min-height: 100%;
    padding-bottom: 50px;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.pop-box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1010;
    background: rgba(0, 0, 0, 0.6);
}



#popup-captcha,
#popup-logout{
    > div {
        margin: 0 auto;
        width: 460px;
        height: auto;
        position: absolute;
        margin-left: -230px;
        background-color: #ffffff;
        top: 20%;
        left: 50%;
        padding: 50px 60px;
        & button {
            width: 158px;
            height: 48px;
            border: 1px solid #000;
            font-size: 17px;
            line-height:  48px;
            text-transform: uppercase;
            text-align: center;
            margin-top: 30px;
            cursor: pointer;
            &:hover {
                color: #ffffff;
            }
        }
        & p {
            font-size: 18px;
            line-height: 19px;
        }
        &.i-x-slim {
            width: 30px;
            height: 30px;
            background: none;
            position: absolute;
            top: 0;
            right: -50px;
            cursor: pointer;
            margin: 0;
            left: auto;
            font-size: 26px;
            color: #ffe400;
            padding: 0;
        }
    }
}

.service-pop-up {
    display: none;
    width: 150px;
    font-size: 14px;
    padding: 2px 0;
    text-align: center;
    line-height: 1.2;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -71px;
    left: -67px;
    background: #4a4a4a;
    border-radius: 2px;
    top: 0;
    left: 50%;
    @include translate(-50%, -110%);
    z-index: 20;
    color: #fff;
    &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 98%;
        left: 67px;
        border: 8px solid transparent;
        border-top: 8px solid #4A4A4A;
    }
}

.error {
    position: relative;
}

.error:after {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    z-index: 1;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

button {
    opacity: 0.8;
    -webkit-appearance: none;
    &.on {
        opacity: 1;
        border-color: black;
        color: black;
    }
}

.btn-flat {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    padding: 0 35px;
    text-transform: uppercase;
    background: none;
    transition: all 0.2s linear;
    min-width: 140px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    
    &:hover {
        color: #fff;
        background: #000;
    }
    &.active {
        border: 1px solid rgba(0, 0, 0, 0.3);
        color: rgba(0, 0, 0, 0.3);
    }
    &.loading {
        border: 1px solid rgb(225, 225, 225);
        color: rgba(0, 0, 0, 0.5);
        position: relative;
        cursor: default;
        background: url(img/sprite.png) 0 -473px;
        -webkit-animation: AnimationFlat 4s infinite linear;
        -moz-animation: AnimationFlat 4s infinite linear;
        animation: AnimationFlat 4s infinite linear;
    }
}

@-webkit-keyframes AnimationFlat {
    0% {
        background-position: -52px -473px;
    }
    50% {
        background-position: -26px -473px;
    }
    100% {
        background-position: 0 -473px;
    }
}

@-moz-keyframes AnimationFlat {
    0% {
        background-position: -52px -473px;
    }
    50% {
        background-position: -26px -473px;
    }
    100% {
        background-position: 0 -473px;
    }
}

@keyframes AnimationFlat {
    0% {
        background-position: -52px -473px;
    }
    50% {
        background-position: -26px -473px;
    }
    100% {
        background-position: 0 -473px;
    }
}

.status {
    display: none;
    text-align: center;
}

.container {
    padding: 0;
    min-width: 320px;
    margin: auto;
}

.container-center {
    text-align: center
}

// min height
.content-top {
    position: relative;
    > div {
        min-height: 600px;
        > .content-box:not(#lottery-history) {
            min-height: 600px;
        }
    }
}
.content-box {
    min-width: 100%;
}

.content-box-tabs {
    height: 100%;
}
.content-box-tab {
    display: block;
    position: relative;
    float: left;
    font-size: 15.5px;
    height: 100%;
    line-height: 50px;
    padding: 0 20px;
    cursor: pointer;
    color: #3f3f3f;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.49);
    &:hover {
        background: #d1e3e5;
        background: rgba(74, 74, 74, 0.1);
        text-shadow: none;
    }
    &.active {
        background: #4a4a4a;
        cursor: default;
        color: #ffffff;
        text-shadow: none;
    }
}

.content-box-content {
    position: relative;
}

.overflow-hid {
    position: relative;
    overflow: hidden;
}

@media (min-width: 120px) {
    .content-box-content {
        min-height: 200px;
    }
}

.content-box-item {
    min-height: 500px;
}
.content-box-item-top {
    padding: 20px 10px 0;
}
.content-box-cat {
    float: left;
    font-weight: normal;
    font-size: 15.5px;
    color: #4D4D4D;
    margin-top: 14px;
}

.content-box-cat a {
    display: block;
    float: left;
    text-decoration: none;
    text-align: center;
    color: #3f3f3f;
    font-size: 13px;
    text-transform: uppercase;
    margin-right: 40px;
    line-height: 1.39;
    &:last-child {
        margin-right: 0 !important;
    }
    &:hover,
    &.active {
        border-bottom: 4px solid #bed7db;
    }
}

// Calendar ----------------------- //
.calendar-range {
    width: 200px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    &:before {
        display: inline-block;
        position: absolute;
        top: 25px;
        right: 15px;
        width: 20px;
        height: 20px;
        z-index: -1;
        font-size: 20px;
        color: #4a4a4a;
    }
    input[type="text"]{
      font-size: 14px;
      color: #4a4a4a;
    }
}

.calendar-range input.daterange {
    background: transparent;
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    line-height: 30px;
    cursor: pointer;
    padding-left: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    padding-right: 40px;
}

// Input Radio ----------------------- //
input.input-radio {
    display: none;
}

label.input-radio {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
}

input.input-radio:checked + label.input-radio:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: black;
    border-radius: 50%;
}

// Message Form ------------------------ //
// post|answear form
.message-form-wrapper {
    padding: 10px 20px 0;
    border-bottom: 1px solid #ececec;
    width: 100%;
    background: white;
}
.message .message-form-wrapper ,
.comment .message-form-wrapper {
    margin-top: 10px;
    padding-left: 90px;
    padding-top: 0px;
    border-bottom: none;
    > div{
        padding: 10px 20px;
        background: #f5f5f5;
    }
}

.message-form textarea {
    font: 15.5px "PT Sans";
    display: block;
    width: 100%;
    resize: none;
    overflow: hidden;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #98b9be;
    padding-bottom: 3px;
    &:focus {
        border-width: 0 0 2px;
        padding-bottom: 2px;
    }
}

.message-form-actions {
    margin-top: 10px;
    padding: 0 100px 0 40px;
    position: relative;
    
    .paste-image{
        position: absolute;
        left: 0;
        top: 0;
    }
    .paste-smiles{

    }
    > button{
        position: absolute;
        right: 0;
        top: 0;
    }

    .thumb {
        width: 20px;
        height: 20px !important;
        display: block;
        position: relative;
        cursor: pointer;
        i {
            display: block;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 100%;
            &:before {
                position: absolute;
                left: 100%;
                
                margin-left: 2px;
                color: #ff0000;
                display: inline-block;
                z-index: 11;
                font-size: 10px;


            }
        }
    }
}

.input-file-wrapper {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    cursor: pointer;
    // font-family: "fontello";
    display: inline-block;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 20px;
    margin-right: 10px;
    &:before {
        // content: '\e80c';
        font-size: 19px;
        margin-top: 1px;        
    }
}

.input-file {
    display: none
}

.message-form-btn {
    float: right;
    margin-left: 30px;
    display: block;
    padding: 5px 18px;
    background: #ffe700;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}

.message-form-smileys {
    float: left;
    margin-right:  10px;
    width: 20px;
    height: 20px;
    // background: url(img/sprite.png) -4px -228px;
    position: relative;
    top: 0px;
    cursor: pointer;
    // font-family: "fontello";
    display: inline-block;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
    &.active {
        opacity: 0.5;
    }
}

.modal-error,
.modal-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.modal-error {
    background-color: rgba(0, 0, 0, 0.5);
    display: block !important;
    & div {
        margin: 0 auto;
        width: 240px;
        height: auto;
        position: absolute;
        margin-left: -120px;
        top: 20%;
        left: 50%;
        background-color: white;
        border-radius: 3px;
        padding: 20px;
        & p {
            margin-top: 10px;
        }
        & span {
            display: block;
            color: red !important;
            margin: 0;
        }
    }
}

.modal-loading {
    background-color: rgba(255, 255, 255, 0.5);
    & div {
        margin: 0 auto;
        width: 40px;
        height: 40px;
        position: absolute;
        margin-left: -20px;
        margin-top: -20px;
        top: 50%;
        left: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url(../css/img/preloader.gif);
    }
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.clearfix:before,
.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

// SIDEBAR -------------------------------- //
.sidebar {
    display: none;
    position: relative
}

// BANNERS -------------------------------- //

// 4 branding
.t-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    a{
        display: block !important;
        width: 100% !important;
        height: 100% !important;
        position: absolute;
        background-repeat: no-repeat;
        background-position: top center;
        background-origin: content-box;

    }
}
// 4 nth banners
.addbox{
    overflow: hidden;
}
// 4 banners
.banner-1,
.banner-2,
.banner-3,
.banner-4,
.banner-5 {
    display: none;
}

// GRID -------------------------------- //
.grid-container {
    margin: 0;
    padding: 0;
    list-style: none;
    &.grid-nomargin {
        margin: 0 !important;
        padding: 0 !important;
        & > * {
            padding: 0 !important;
        }
    }
    & > * {
        margin: 0;
        float: left;
        min-width: 40%;
    }
    & .width-100 {
        width: 100%;
    }
    & .width-60 {
        width: 60%
    }
    & .width-50 {
        width: 50%;
    }
    & .width-20 {
        width: 20%
    }
    &:before {
        content: "";
        display: block;
        overflow: hidden;
    }
    &:after {
        content: "";
        display: block;
        overflow: hidden;
        clear: both;
    }
}

[class*=push-],
[class*=pull-] {
    position: relative;
}

.pull-20 {
    left: -20%;
}

.push-20 {
    left: 20%;
}

.pull-30 {
    left: -30%;
}

.push-30 {
    left: 30%;
}

.pull-50 {
    left: -50%;
}

.push-50 {
    left: 50%;
}

.ul-striped {
    padding: 0;
    list-style: none;
    & li {
        background: #ffffff;
        padding: 16px;
    }
}

// **********************************TEXT STYLES
.text-large {
    font-size: 39px;
    line-height: 1.2;
    text-shadow: 0.5px 0.7px 1px rgba(255, 255, 255, 0.5);
}

// **********************************VISIBILITY
.hidden-x-small {
    display: none
}

//***********************************Block properties
.position-relative {
    position: relative;
}

//***********************************Daterangepicker
// .daterangepicker.dropdown-menu {
//     padding-bottom: 55px;
//     .ranges {
//         position: absolute;
//         bottom: 10px;
//     }
// }

// .daterangepicker.dropdown-menu.single {
//     width: 260px;
//     & i {
//         min-width: 0;
//     }
// }

.tooltip {
    display: none;
}

* {
    &:hover > .tooltip {
        display: block;
        position: absolute;
        top: -50px;
        left: 50%;
        @include translate(-50%, 0);
        background: #4a4a4a;
        color: #fff!important;
        font-size: 15.5px !important;
        min-width: 286px;
        z-index: 10;
        padding: 5px 10px 7px;
        text-align: center;
        margin: 0;
        line-height: 1;
        &:after {
            content: "";
            display: block;
            width: 0px;
            height: 0px;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid #4a4a4a;
            position: absolute;
            top: 95%;
            left: 50%;
            @include translate(-50%, 0);
        }
    }
}

@media (max-width: 767px) {
    .large-visible {
        display: none!important;
    }
}
@media (min-width: 768px) {
    .small-visible {
        display: none!important;
    }
}


/*Разметка для сетки*/

// одинаковая высота ширина и пропорциональный размер шрифта в зависимости от количества элементов:детей
// макс количество 20 - править в scss 
// .vw - задает пропорционально ширину для детей  
// .vh - задает пропорционально высоту (при помощи :: padding-top) для детей  
// .vf - устанавливает пропорционально шрифт в %
// <div class='vw vh vf clearfix'> -- родительский блок
//     <div> -- {width: 50%; padding-top: 50%; font-size: 50%} для 2-х детей, для 10 - 10% соответственно
//         <div> -- если установлен класс .vh нужна обертка (т.к .vh задаеться паддингом )
//             some text
//         </div>
//     </div>
//     <div> -- --||--
//         <div>
//             some text
//         </div>
//     </div>
// </div>
.vw > * {
    float: left;
}

.vh > * {
    margin: 0;
    padding: 0;
    height: 0;
    position: relative;
    > * {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        box-sizing: border-box;
    }
}

@for $i from 1 through 40 {
    .vw > *:first-child:nth-last-child(#{$i}) {
        width: (100%/$i);
        @if $i > 1 {
            ~ * {
                width: (100%/$i);
            }
        }
    }
    .vh > *:first-child:nth-last-child(#{$i}) {
        padding-top: (100%/$i);
        @if $i > 1 {
            ~ * {
                padding-top: (100%/$i);
            }
        }
    }
    .vf > *:first-child:nth-last-child(#{$i}) {
        font-size: (100%/$i);
        @if $i > 1 {
            ~ * {
                font-size: (100%/$i);
            }
        }
    }
}

// popup messages styles
#popup-message {
    transition: background .4s ease-in-out;
    // transition: .4s top .0s ease-in-out .4s;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 10000;
    text-align: center;
    top: 100%;
    &.show {
        top: 0;
        // background: rgba(0,0,0,0.3);
    }
    &.no-timer {
        .i-x-slim {
            opacity: 1;
        }
    }
    &:before {
        content: '';
        height: 100%;
        width: 0;
        display: inline-block;
        vertical-align: middle;
    }
    .inner {
        min-width: 320px;
        max-width: 80%;
        box-sizing: border-box;
        background: #fff;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        text-align: left;
        padding: 20px;
        box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.5);
    }
    .i-x-slim {
        position: absolute;
        left: 100%;
        top: 0;
        color: #fff;
        margin-left: 10px;
        font-size: 30px;
        cursor: pointer;
        transition: all 1s linear 0s;
        opacity: 0;
        &:before {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        }
    }
    .body {}
}

// send message yabida!!!
// <div id="zhgi">
//   <div class="arrow"><i class="i-arrow-slim-right"></i></div>
//   <div class="content">
//       <p>ЗАМЕТИЛИ ОШИБКУ?</p>
//       <a href="/users/0/messages">напишите нам</a>
//   </div>
// </div>
#zhgi {
    // display: none;
    position: fixed;
    right: 0;
    bottom: 100px;
    background: #ffe534;
    width: 150px;
    right: -150px;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.40);
    font-size: 15.5px;
    color: #222222;
    text-align: center;
    box-sizing: initial;
    padding-left: 25px;
    // transition: padding 1s linear;
    transition: right .5s linear;
    .arrow {
        position: absolute;
        left: 0;
        top: 50%;
        font-size: 30px;
        margin-top: -15px;
        width: 25px;
        overflow: hidden;
        transition: width .5s linear;
    }
    .content {
        overflow: auto;
        width: 100%;
        height: 100%;
        padding: 20px 0;
        margin: 0;
        position: relative;
        transition: left .5s linear;
        p {
            line-height: 17px;
        }
        a {
            color: #4a90e2;
            line-height: 17px;
            text-decoration: underline;
        }
    }
    &:hover {
        right: -15px;
        // padding-left: 0;
        .content {
            left: -15px;
        }
        .arrow {
            width: 0;
        }
    }
}

// send message yabida!!!

/* Set no select */

#content {
    > div[id^='games'] {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }
}


/* compleet registration popup 
********************************/
.popup-user {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    overflow-y: auto;
    z-index: 1000;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        position: relative;
        margin-left: -5px;
    }
    .inner {
        width: 390px;
        text-align: left;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 50px 0;
        box-sizing: border-box;
        min-height: 647px;
        background: #ffffff;
        & > i {
            position: absolute;
            left: 100%;
            top: 0;
            color: #ffffff;
            font-size: 30px;
            cursor: pointer;
            margin: 0 .2em;
        }
    }
    
    .box-inner{
            padding: 0 55px;
            box-sizing: border-box;
    }

    .box-inner.title{
        text-transform: uppercase;
        display: inline-block;
        width: 100%;
        color: #000000;
        text-align: center;
        font-size: 20px;
        padding-bottom: 50px;
        border-bottom: 1px solid #ececec;
        position: relative;
    }

    .option{
        position: relative;
        margin-bottom: 40px;

        .alert{
            display: none;
            font-size:13px;
            color:#ff4242;
            text-align:center;
        }

        .checkPass-alert{
            @extend .alert;
            display: block;
            
            &.gold{
                color: gold;
            }
            &.green{
                color: green;
            }
        }

        label{
            text-align: center;
            color: #B4B4B4;
            width: 100%;
            display: block;
            position: absolute;
            z-index: 1;
            top: 4px;
            transition: all .2s linear;
            opacity: 1;
            
            span{
                color: #ff4242;
                margin-left: 3px;
            }
        }

        input{
            position: relative;
            z-index: 10;
            &:valid{
                & + label{
                    opacity: 0;
                }
            }
            &:focus {
                & + label{
                    opacity: 0;
                }
            }
        }
        
    }

    .ae-user-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin: 20px auto;
        cursor: pointer;
        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
        &:after {
            top: 0;
            left: 0;
            content: "";
            display: inline-block;
            position: absolute;
            z-index: 40;
            height: 150px;
            width: 150px;
            background: url(img/photo.png) center;
        }
        
    }
    &#popup-profile form.success{
        [type='submit']{
            opacity: 1;
            cursor: pointer;

            &:hover{
                color: #f8e71c;
                background: #000000;
                border: 1px solid #000000;   
            }
        }    

    }

    // buttons
    // a,
    [type='submit'],
    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        font-size: 15.5px;
        color: #000000;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        vertical-align: middle;
        min-height: 40px;
        font-family: 'Handbook';
        transition: all .2s linear;
        background: #f8e71c;
        border: 1px solid #f8e71c;
        margin-top: 20px;
        
        opacity: 0.6;
        cursor: default;
        // &:hover{
        //     color: #f8e71c;
        //     background: #000000;
        //     border: 1px solid #000000;   
        // }
    }

    &:not(#popup-profile) [type='submit'],
    &:not(#popup-profile) button{
        opacity: 1;
        cursor: pointer;
    }
    

    // inputs    
    ::-webkit-input-placeholder {
        -webkit-text-fill-color: #B4B4B4;
        color: #B4B4B4;
    }

    :-moz-placeholder {
        color: #B4B4B4;
    }

    ::-moz-placeholder {
        color: #B4B4B4;
    }

    :-ms-input-placeholder {  
        color: #B4B4B4;
    }

    input:not([type='submit']):focus,
    input:not([type='submit']):active,
    textarea:focus,
    textarea:hover,
    textarea:active,
    select:focus,
    select:hover,
    select:active,
    input:not([type='submit']):-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        -webkit-box-shadow: inset 0 0 0 100px #ffffff !important;
        outline: none;
    }
    input:not([type='submit']):-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        -webkit-text-fill-color: #222222;
    }

    input:not([type='submit']) {
        text-align: center;
        width: 100%;
        font-size: 15.5px;
        color: #222222;
        -webkit-text-fill-color: #222222;
        line-height: 25px;
        background: transparent;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        font-family: 'Handbook';
    }

    // parts
    //////////////////
    
    /* conditions */
    form{
        &.error input:not([type='submit']) {
            border-bottom: 1px solid #ff4242;
        }
        
        &.error .input-text .alert {
            display: block;
        }
        
        &.success .input-text .text,
        &.error .input-text .text {
            display: none;
        }
        
        &.success .input-text .hidden-text {
            display: block;
        }
    }

    /* link */
    a{
        color: #4a90e2;
        cursor: pointer;
        opacity: 0.9;    
        transition: all .2s linear;
        &:hover {
            opacity: 1;
        }
    }
    /* hidden */
    .alert {
        display: none;
        color: #ff4242;
        font-size: 13px;
        text-align: center;
    }

    .hidden-text {
        display: none;
    }
    /* social */
    .sl-bk {
        a{
            display: block;
            border: 1px solid ;
            text-decoration: none;
            color: #ffffff;
            font-size: 15.5px;
            transition: all .2s linear;
            width: 100%;
            text-align: center;
            vertical-align: middle;
            min-height: 40px;
            line-height: 40px;
            margin: 0 0 10px 0;
            opacity: 0.9;
            cursor: pointer;
            text-transform: none;
            &:before{
                display: none;
            }
        }
        .i-Facebook-simple{
            border-color: #374c85;
            background: #374c85;
            &:hover{
                opacity: 1;
                border-color: #374c85;
                background: #374c85;
            }
        }
        .i-Vkontakte-simple{
            border-color: #2a598f;
            background: #2a598f;
            &:hover{
                opacity: 1;
                border-color: #2a598f;
                background: #2a598f;
            }
        }
        .i-Odnoklassniki-simple{
            border-color: #ed812b;
            background: #ed812b;
            &:hover{
                opacity: 1;
                border-color: #ed812b;
                background: #ed812b;
            }
        }
    }
    form[name='register']{
        .ib-l{
            margin-top: 50px;
        }
    }
    form .m_input_uncheck,
    form .m_input{
        text-align: center;
    }
    .title .back-to{
        position: absolute;
        left: 0;
        top: 0;
        margin: -5px 0 0 5px;
        font-size: 30px;
        line-height: 1;
        cursor: pointer;
        color: #4a90e2;
    }

    .input-text{
        text-align: center;
        margin: 5px 0 20px;
        min-height: 35px;
    }

    .bottom{
        margin-top: 30px;
        &.license{
            position: absolute;
            top: 100%;
            text-align: center;
            width: 100%;
            left: 0;
        }
    }

    .landing .popup .bottom > *{
        display: block;
        text-align: center;
    }


    .lines-between {
        line-height: 1;
        text-align: center;
        margin: 25px 0;
        overflow: hidden;
        span {
            display: inline-block;
            position: relative;  
            &:before,
            &:after {
              content: "";
              position: absolute;
              height: 0px;
              border-top: 1px solid #ececec;
              top: 9px;
              width: 600px;
            }
            &:before {
              right: 100%;
              margin-right: 15px;
            }
            &:after {
              left: 100%;
              margin-left: 15px;
            }
        }
    }
    
    // special for login-box
    .password-recovery-box{
        display: none;
        .ib-l {
            margin-top: 50px;
            // input{   
            //     text-align: left;
            // }
        }
    }

    .password-recovery-box,
    .login-box{
        .s-b{
            input{
                border: none;
            }
        }
    }
    .login-box{
        .ib-l {
            margin-top: 50px;
            input{   
                text-align: left;
            }
        }
        .ib-p {
            margin-top: 20px;
            input{

                text-align: left;
            }
        }
        .sl-bk {
            // margin-top: 50px;
            margin-top: 20px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            & > a{
                display: inline-block;
                border: 1px solid ;
                text-decoration: none;
                color: #000000;
                padding: 8px;
                font-size: 17.5px;
                line-height: 17.5px;
                transition: all .2s linear;
                width: 27%;
                min-height: 35px;
                text-align: center;
                background: none;
                &:before{
                    display: inline-block;
                }
            }
            .i-Facebook-simple{
                color: #374c85;
                &:hover{
                    color: #ffffff;
                    border-color: #374c85;
                    background: #374c85;
                }
            }

            .i-Vkontakte-simple{
                color: #2a598f;
                &:hover{
                    color: #ffffff;
                    border-color: #2a598f;
                    background: #2a598f;
                }
            }

            .i-Odnoklassniki-simple{
                color: #ed812b;
                &:hover{
                    color: #ffffff;
                    border-color: #ed812b;
                    background: #ed812b;
                }
            }
        }
        
    }

    /*
    #login-form */

    #login-form {
        .ch-b-bk{
            // margin: 15px 0 30px ;    
            &:after {
                content: "";
                display: block;
                clear: both;
            }
            & > * {
              float: right;
              width: 50%;
              text-align: right;
              line-height: 19px;
              color: #000000;
              font-size: 15.5px;
              text-decoration: none;
              font-family: "Handbook";
                &:first-child {
                  float: left;
                  text-align: left;
                }
            }
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            input[type="checkbox"] + label {
                cursor: pointer;
                position: relative;
                display: block;
                padding-left: 20px;
                &:before {
                    content: "";
                    display: block;
                    height: 13px;
                    width: 13px;
                    position: absolute;
                    left: 0;
                    top: 2px;
                    border: 1px solid #000;
                }
            }
            input[type="checkbox"]:checked + label:after {
                content: "";
                display: block;
                width: 13px;
                height: 13px;
                background-color: #000;
                position: absolute;
                left: 1px;
                top: 3px;
            }
        }
    }
    
    /* confirm email */
    form[name="email-send"] .box-inner:not(.title){
        margin-top: 50px;
        color: #000000;
        font-size: 15.5px;
        text-align: center;
    }

    .ib-l{
        margin-top: 50px;
    }

    /* buttons type */
    .gold{
        background: #f8e71c;
        border: 1px solid #f8e71c;
        &:hover{
            color: #f8e71c;
            background: #000000;
            border: 1px solid #000000;   
        }
    }

    .default{
        border-color: #4a4a4a;
        &:hover{
            background: #000000;
            color: #ffffff;
        }
    }
    /* locked error */
    form[name='unexpected_error'] .title,
    form[name='social_error'] .title{
        color: #f84e41;
    }
    form[name='unexpected_error'] .text,
    form[name='social_error'] .text{
        text-align: center;
        margin: 50px 0 20px;
    }

}
#popup-unregistred-login,
#popup-unregistred-locked,
#popup-unregistred-error,
#popup-unregistred-exist,
#popup-unregistred-enter{
    .inner{
        min-height: 0;
    }
}
#popup-unregistred-enter{
    .inner{
        // padding: 30px 0;
    }
    .title{
        padding-bottom: 50px;
    }
    .unregistred{
        width: 100%;
        margin: 0px auto;
        text-align: center;
        background-color: transparent;
        &:before{
            display: none;
        }
        .button{
            margin: 20px 0 0 0;
            width: 100%;
            display: block;
            &:first-child{
                margin: 50px 0 0 0;
            }
        }
    }
}
#popup-profile-faq{
    .inner{
        position: relative;
    }
    .box-inner{
        .title{
            margin: 50px 0 35px;
            color: #000000;
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
    button{
        position: absolute;
        bottom: 50px;
        left: 0;
        margin: 0 55px;
        max-width: 280px;
        opacity: 1;
        cursor: pointer;
        &:hover{
            color: #f8e71c;
            background: #000000;
            border: 1px solid #000000;   
        }
    }
}
/* end **********************
compleet registration popup */

/* popups unregistred 
*****************************/
.popup-full{
    background: rgba(245, 245, 245, 0.98);
    padding: 40px 0 0 0;
    text-align: center;
    overflow-y: auto;

    &:before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        position: relative;
        margin-left: -5px;
    }
    .close-inner,
    .inner{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-top: -80px;
        padding: 50px 0;
        width: 100%;
        max-width: 600px;
        box-sizing: border-box;

        background-color: transparent;
        
        font-size: 15.5px;
        color: #4a4a4a;
        text-align: left;
        letter-spacing: 0.2px;
        line-height: 19px;
    }
    .close-box{
        position: absolute;
        top: 0;
        margin: 0 auto;
        display: block;
        width: 100%;
        max-height: 40px;
        .close-inner{
            max-width: 1080px;
            display: block;
            margin: auto;
            text-align: right;
            padding: 10px 0 0 0;
        }
        i{
            cursor: pointer;
            font-size: 30px;
            opacity: 0.9;

            &:hover{
                opacity: 1;
            }
        }
    }
    h2{
        font-size:20px;
        color:#000000;
        text-align:left;
        font-weight: normal;
        margin-bottom: 20px;
    }
}


/* end popups unregistred 
*****************************/

/* popup cashout 
*****************************/
#popup-cashout{
    .inner{
        min-height: 0;
        padding: 30px 0;
    }   
    .box-inner{
        padding: 0 20px;
    } 
    .title{
        font-size:20px;
        color:#000000;
        text-align:center;
        padding-bottom: 30px;
    }
    .gray-box{
        padding: 30px 20px;
        margin: 20px 0;
        background: #f5f5f5;
        border-top: 3px dashed #ffffff;
        border-bottom: 3px dashed #ffffff;
        .title{
            padding-bottom: 10px;
        }
        .stars{
            font-size:25px;
            color:#282828;
            text-align:center;   
        }
        .list{
            padding: 15px 0;
            & > *{
                padding-bottom: 15px;
                position: relative;
                overflow: hidden;
                &:after{
                    content: '.  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  ';
                    letter-spacing: 2px;
                    white-space: nowrap;
                    position: absolute;
                    clear: both;
                }
                &:last-child{
                    padding-bottom: 0;
                }
            }
            .title{
                font-size:15px;
                color:#4a4a4a;
                letter-spacing:0.19px;
                text-align:left;
                padding: 0;
                float: left;
            }
            .item{
                display: inline-block;
                width: 55%;
                font-size:15px;
                color:#000000;
                letter-spacing:0.2px;
                text-align:left;
                float: right;
                background: #f5f5f5;
                position: relative;
                z-index: 1;
            }
        }
    }
    .info{
        padding-top: 20px;
        font-size:15.5px;
        color:#4a4a4a;
        letter-spacing:0.2px;
        line-height:19px;
        text-align:center;
    }
    .sl-bk{
        padding: 15px 0 0 0;
        a{
            height: 30px;
            min-height: 30px;
            line-height: 30px;
            margin: 0;
            & * {
                text-decoration: none;
                color: #ffffff;
                font-size: 15.5px;
                text-align: center;
                font-weight: normal;
                text-shadow: none;
            }
        }
    }
    .footer{
        padding: 25px 0 0 0;

        font-size:15px;
        color:#4a4a4a;
        letter-spacing:0.2px;
        line-height:19px;
        text-align:center;
        transition: all .2s linear;

        .close-pop-box{
            color: red;
            opacity: .8;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        }
    }
}
/* end popup cashout 
*****************************/

// display table 
.make-table{
    display: table;
    float: none;
    width: 100%;
    .make-row{
        display: table-row;
        float: none;
        .make-column{
            display: table-cell;
            float: none;
        }
    }
}


// CUSTOM STYLES FOR CHOSEN !!!!!!
// choosen///////////////////////////////////////////////////
/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.5.1
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011-2016 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/

/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 15.5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  // border: 1px solid #aaa;
  border-top: 0;
  // background: #fff;
  background: #e9e9e9;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}
.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}
.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 40px;
  background-color: #e9e9e9;
  background-clip: padding-box;
  text-decoration: none;
  white-space: nowrap;
  line-height: 40px;
  font-size: 15.5px;
}
.chosen-container-single .chosen-default {
  color: #999;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('/res/css/img/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
}
.chosen-container-single .chosen-single div b:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    transition: all .1s ease-in-out;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #4a4a4a;
    position: relative;
    top: 50%;
    margin-top: -3px;
}
.chosen-container-single .chosen-search {
  position: absolute;
  bottom: 100%;
  // position: relative;
  z-index: 1010;
  margin: 0;
  // padding: 3px 4px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  
}
// &:hover,
//                         &:focus{
//                             box-shadow: inset 0 0 0 100px #e9e9e9 !important;
//                             -webkit-box-shadow: inset 0 0 0 100px #e9e9e9 !important;
//                         }
.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  // min-height: inherit;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: white url('/res/css/img/chosen-sprite.png') no-repeat 100% -20px;
  background: url('/res/css/img/chosen-sprite.png') no-repeat 100% -20px;
  font-size: 1em;
  // font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
  box-shadow: inset 0 0 0 100px #e9e9e9 !important;
-webkit-box-shadow: inset 0 0 0 100px #e9e9e9 !important;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  // color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  // margin: 0 4px 4px 0;
  // padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 10px 20px;
  list-style: none;
  line-height: 15px;
  font-size: 15.5;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background: #dfdfdf;
  // background-color: #3875d7;
  // background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  // background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
  // background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
  // background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
  // background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  // color: #fff;
}
.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  // font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('/res/css/img/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  // border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
  // border: 1px solid #aaa;
  // -moz-border-radius-bottomright: 0;
  // border-bottom-right-radius: 0;
  // -moz-border-radius-bottomleft: 0;
  // border-bottom-left-radius: 0;
  // background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  // background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
  // background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
  // background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
  // background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  // box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url('/res/css/img/chosen-sprite.png') no-repeat -30px -20px;
  background: url('/res/css/img/chosen-sprite.png') no-repeat -30px -20px;
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url('chosen-sprite@2x.png') !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */

// choosen///////////////////////////////////////////////////
