.footer {
    /*^ common.scss*/
    color: #000000;
    width: 100%;
    bottom: 0;
    .container {
        background: #ffe700;
        padding: 0;
        position: relative;
        z-index: 10;
    }
    .footer-logo {
      float: left;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      height: 50px;
      margin: 0 0 0 20px;
      overflow: hidden;
      
      &:before{
        margin-left: 2px;
        font-size: 86px;
        line-height: 50px;
        position: relative;
      }

    }
    .footer-social-icons {
        float: right;
        position: relative;
        top: 8px;
        right: 20px;
    }
    .footer-social-icons a {
        display: block;
        float: left;
        margin-right: 8px;
        width: 30px;
        height: 30px;
        font-size: 30px;
        transition: color .2s linear;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: #4a4a4a;
        }
    }
}

.notification-window {
    width: 150px;
    height: 140px;
    background-color: #fee40b;
    border-radius: 5px;
    position: fixed;
    left: 5%;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(153, 153, 153, 0.5);
    -moz-box-shadow: 1px 1px 1px 0px rgba(153, 153, 153, 0.5);
    box-shadow: 1px 1px 1px 0px rgba(153, 153, 153, 0.5);
}

// JS DETECT ------------------- //
.js-detect {
    display: none;
    opacity: 0.2;
}
