.site-top {
  display: none;
}

.header {
  background: #f2efed;
  position: relative;
}

.header .container {
  padding: 0;
}

.header-left {
  height: 40px;
}

.header-logo {
  float: left;
  display: block;
  width: 90px;
  height: 18px;
  position: relative;
  top: 11px;
  left: 10px;
  background: url(img/sprite.png) -227px 0;
}
@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/fontello.eot?59386181');
  src: url('fonts/fontello/fontello.eot?59386181#iefix') format('embedded-opentype'),
    url('fonts/fontello/fontello.woff?59386181') format('woff'),
    url('fonts/fontello/fontello.ttf?59386181') format('truetype'),
    url('fonts/fontello/fontello.svg?59386181#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: handbookpro-regular;
  src: url(../css/fonts/pfhandbookpro-regular-webfont.woff) format('woff'), url(../css/fonts/pfhandbookpro-regular-webfont.ttf)  format('truetype'),
  url(../css/fonts/pfhandbookpro-regular-webfont.eot) format('eot'), url(../css/fonts/pfhandbookpro-regular-webfont.svg) format('svg');
}

@font-face {
  font-family: 'Handbook-bold';
  src: url('fonts/handbookBold/pfhandbookpro-bold-webfont.eot');
  src: url('fonts/handbookBold/pfhandbookpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/handbookBold/pfhandbookpro-bold-webfont.woff') format('woff'),
    url('fonts/handbookBold/pfhandbookpro-bold-webfont.ttf') format('truetype'),
    url('fonts/handbookBold/pfhandbookpro-bold-webfont.svg#Handbook-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Handbook-medium';
    src: url('fonts/PFHandbookPro-Medium/pfhandbookpro-medium-webfont.eot');
    src: url('fonts/PFHandbookPro-Medium/pfhandbookpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/PFHandbookPro-Medium/pfhandbookpro-medium-webfont.woff') format('woff'),
      url('fonts/PFHandbookPro-Medium/pfhandbookpro-medium-webfont.ttf') format('truetype'),
      url('fonts/PFHandbookPro-Medium/pfhandbookpro-medium-webfont.svg#Handbook-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Handbook-italic';
    src: url('fonts/handbookItalic/pfhandbookpro-italic-webfont.eot');
    src: url('fonts/handbookItalic/pfhandbookpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/handbookItalic/pfhandbookpro-italic-webfont.woff') format('woff'),
      url('fonts/handbookItalic/pfhandbookpro-italic-webfont.ttf') format('truetype'),
      url('fonts/handbookItalic/pfhandbookpro-italic-webfont.svg#Handbook-italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

.site-top {
  width: 100%;
  height: 135px;
  position: relative;
  top: 0;
}

.container {
  height: 100%;
}

.banner-3 {
  position: relative;
  float: left;
  width: 100%;
}

.slider-top {
  position: relative;
  float: left;
  top: 0px;
}

.clearfix:before {
  clear: none;
}

.menu-main {
  font: 15px / 45px Handbook-bold;
}

div {
  word-wrap: break-word;
}

.c-notifications-list {
  width: 100%;
}

.message-form-wrapper {
  z-index: 10;
}

.cm-top {
  background-color: white;
  z-index: 10;
  top: 0px;
  height: 50px;
}

.new-message,
.write-admin {
  top: 10px;
  position: absolute;
}

.write-admin {
  right: 32px;
}

.header {
  width: 100%;
  z-index: 100;
}

.menu {
  overflow: visible;
}

.go-to-top {
  position: fixed;
  right: 15px;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
  -webkit-box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.65);
  box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.65);
  display: none;
  background: url(img/sprite.png) -550px -120px no-repeat;
  background-color: #f2efed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
}

.is-countdown {
  background-color: #fee518;
  font-size: 50px;
  border: none;
  width: 90px;
  top: 0;
  position: absolute;
  right: 0;
}

// MENUS ------------------------- //
.menu-mobile {
  display: none;
}
.menu-item,
.menu {
  overflow: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  z-index: 50;
}

.menu-item {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.menu {
  padding: 20px 0;
  font-size: 15px;
  width: 250px;
  display: none;
  a {
    display: block;
    text-decoration: none;
    text-align: right;
    color: #4a4a4a;
    padding-right: 15px;
    &.active,
    &:hover {
      background: #b7ced3;
    }
  }
}

.menu-main {
  padding-bottom: 15px;
  a {
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  &:after {
    content: "";
    display: block;
    height: 1px;
    background: #9b9b9b;
    float: right;
    width: 80%;
    position: relative;
    top: 15px;
    right: 15px;
  }
}

.menu-more {
  padding-top: 15px;
  a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  li:last-child a {
    margin-top: 25px;
  }
}

.menu-profile {
  display: none;
  min-width: 250px;
  padding: 20px;
  right: 60px;
}

// BALANCE MENU ----------------------------- //

.menu-balance {
  display: none;
  width: 320px;
  padding: 30px 10px 20px;
  position: absolute;
  border-radius: 0 0 2px 2px;
  text-align: center;
  text-transform: uppercase;
}

.menu-balance-inf {
  font-size: 31px;
  line-height: 0.7;
  margin-bottom: 15px;
}

.menu-balance-inf span {
  font-size: 13px;
  font-weight: normal;
}

.menu-balance-inf div {
  width: 130px;
  &:first-child {
    float: left;
  }
  &:last-child {
    float: right;
  }
}

.menu-balance-actions {
  margin-bottom: 10px;
}

.menu-balance-actions .menu-balance-item {
  width: 130px;
  &:first-child {
    float: left;
  }
  &:last-child {
    float: right;
  }
}

.menu-balance-item {
  display: block;
  border: 1px solid #a5a5a5;
  border-radius: 2px;
  text-decoration: none;
  color: black;
  font-size: 13px;
  line-height: 35px;
  margin-bottom: 15px;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
}

// MENU BUTTONS ------------------------- //

.menu-btns {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
}

.menu-btn-item {
  float: right;
  height: 100%;
  padding: 0 15px;
  cursor: pointer;
  transition: all 0.2s linear;
  &:before {
    content: "";
    display: block;
    background: url(img/sprite.png);
    position: relative;
  }
  &:hover,
  &.active {
    background: white;
  }
  &.active {
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
  }
}

.menu-btn:before {
  width: 20px;
  height: 18px;
  background-position: 0 -192px;
  top: 11px;
}

.menu-profile-btn:before {
  width: 20px;
  height: 20px;
  background-position: -566px -55px;
  top: 10px;
}

.menu-balance-btn:before {
  width: 24px;
  height: 22px;
  background-position: -516px -54px;
  top: 9px;
}

// -------------------------------- //

.inf-slider {
  display: none;
  overflow: hidden;
}

.timer {
  display: none;
}

.balance-btn {
  display: none;
}

.ticket-tabs,
.slider-top,
.header-right,
.ticket-item,
.content-box-header,
.content-box-content th,
.cabinet_cashout,
.raiting-name,
.c-friend-name {
  font-family: Handbook-bold;
}

.lottery-result {
  font-family: handbookpro-regular;
}

.content-box-header {
  font: 15px / 50px Handbook-bold;
}

.content-box-tab {
  font: 15px / 55px Handbook-bold;
}

.content-box-cat a {
  font-size: 15px !important;
  // SLIDER ------------------------- //
}

header .owl-theme .owl-controls .owl-page span {
  background: #fee518;
}

.header-right .rt-bk {
  top: 20px;
  left: 30px;
  position: absolute;
}

.timer-text {
  top: 8px;
  position: absolute;
  padding-left: 10px;
  font-weight: bold;
}

.last-results {
  position: absolute;
  top: 0px;
  left: 30px;
  font-weight: bold;
}

.header-right .ct .rt-bk .rt-bk_li {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.header-right .slider-top .ct .n {
  font-size: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 26px;
}

#countdownHolder-mobile {
  top: 0;
}

.header-right .slider-top {
  height: 55px;
  display: block;
}

.header-right .slider-top .ct {
  padding-left: 0px;
}

.header-right .slider-top .ct .tl {
  line-height: 25px;
  font-size: 14px;
  margin-left: 10px;
  // -------------------------------- //
  // SLIDER ------------------------- //
}

.ct {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 16px 0 15px 15px;
}

.ct .tl {
  font-size: 12px;
  line-height: 14px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
}

.pw-gm-rt .ct .rt-bk {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.ct .rt-bk .rt-bk_li {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
  font: 17px / 34px Handbook-bold;
  background-color: black;
  color: #fee212;
  text-align: center;
  margin-right: 8px;
  display: inline-block;
}

.notification-window {
  width: 270px;
  height: 140px;
  position: fixed;
  background: rgba(255, 228, 0, 0.95);
  bottom: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(153, 153, 153, 0.5);
  -moz-box-shadow: 1px 1px 1px 0px rgba(153, 153, 153, 0.5);
  box-shadow: 1px 1px 1px 0px rgba(153, 153, 153, 0.5);
  z-index: 200;
}

.notification-cross {
  right: 0;
  background: url("/res/img/cross-closer.png") no-repeat 0 0;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  width: 24px;
  cursor: pointer;
  height: 24px;
  margin: 10px;
  position: absolute;
}

.notification-cross:hover {
  height: 26px;
  width: 26px;
  right: -1px;
  top: -1px;
}

.notification-cross:onclick {
  display: none;
}

.pw-gm-rt .ct {
  padding: 16px 0 15px 30px;
}

// -------------------------------- //
.fixed {
  & header {
    position: fixed;
    top: 0;
  }
  & > .container {
    margin-top: 105px; 
  }  
}
// ------------ICONS----------- //
[class^="i-"]:before, [class*=" i-"]:before {
  font-family: "fontello";
  display: inline-block;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
.i-play:before { content: '\e800'; } /* '' */
.i-plus:before { content: '\e801'; } /* '' */
.i-star:before { content: '\e802'; } /* '' */
.i-refresh:before { content: '\e803'; } /* '' */
.i-purse:before { content: '\e804'; } /* '' */
.i-vk-black:before { content: '\e805'; } /* '' */
.i-arrow-down:before { content: '\e806'; } /* '' */
.i-arrow-left:before { content: '\e807'; } /* '' */
.i-arrow-right:before { content: '\e808'; } /* '' */
.i-arrow-top:before { content: '\e809'; } /* '' */
.i-person:before { content: '\e80a'; } /* '' */
.i-ok-black:before { content: '\e80b'; } /* '' */
.i-picture:before { content: '\e80c'; } /* '' */
.i-menu:before { content: '\e80d'; } /* '' */
.i-hart:before { content: '\e80e'; } /* '' */
.i-msg {
  font-size: 26px;
  &:before { 
    content: '\e80f'; font-size: 26px;
  } /* '' */
}
.i-person2:before { content: '\e810'; } /* '' */
.i-msg2   {
  font-size: 24px;
  &:before { 
    content: '\e811'; font-size: 24px;
  } /* '' */  
}
.i-fb:before { content: '\e812'; } /* '' */
.i-vk:before { content: '\e813'; } /* '' */
.i-ok:before { content: '\e814'; } /* '' */
.i-tw:before { content: '\e815'; } /* '' */
.i-tw-black:before { content: '\e816'; } /* '' */
.i-fb-black:before { content: '\e817'; } /* '' */
.i-lotzon:before { content: '\e818'; } /* '' */