// PRIZES FOT POINTS ------------------- //

.prizes-for-points {
  padding-left: 60px;
  padding-right: 60px;
}

.prize {
  margin-right: 94px;
}



.ex-prize-description {
  width: 274px;
}

.prize:nth-child(3n+3) {
  margin-right: 0;
}
