html {
  min-width: 1024px;
  overflow: scroll;
}

.container {
  width: 980px;
  max-width: none;
}

.content {
  float: left;
  width: 670px;
  margin-bottom: 30px;
   padding: 0 10px 0 0;
}

.content-box-item {
  padding: 20px;
}
.content-box {
  margin: 0;
}
// SIDEBAR -------------------------------- //

.sidebar {
  display: block;
  float: right;
  width: 310px;
  padding-left: 10px;
}

// BANNERS ------------------------------ //
.banner-1 {
  height: 135px;
  margin-bottom: 30px;
}

.banner-1,
.banner-2 {
  display: none;
}

.banner-3,
.banner-4,
.banner-5 {
  display: block;
}

.banner-3 {
  height: 135px;
}

.banner-4 {
  height: 600px;
  margin-bottom: 30px;
}

.banner-5 {
  height: 300px;
  margin-bottom: 30px;
}
