html {
  min-width: 1024px;
  overflow: scroll;
}

.container {
  width: 980px;
  max-width: none;
}

.content {
  float: left;
  width: 670px;
  margin-bottom: 30px;
   padding: 0 10px 10px 0;
}

.content-box-item {
  padding: 20px;
}
.content-box {
  margin: 0;
}
// SIDEBAR -------------------------------- //

.sidebar {
  display: block;
  float: right;
  width: 310px;
  padding-left: 10px;
}

// BANNERS ------------------------------ //
.banner-1 {
  height: 135px;
  margin-bottom: 30px;
}

.banner-1,
.banner-2 {
  display: none;
}

.banner-3,
.banner-4,
.banner-5 {
  display: block;
}

.banner-3 {
    position: relative;
    width: 500%;
    left: -200%;
    text-align: center;
    line-height: 0;
    >*{
        display: inline-block;
        // margin: 0px auto;
    }
}

.banner-4 {
  height: 600px;
  margin-bottom: 30px;
}

.banner-5 {
  height: 300px;
  margin-bottom: 30px;
}


// send message yabida!!!
// <div id="zhgi">
//   <div class="arrow"><i class="i-arrow-slim-right"></i></div>
//   <div class="content">
//       <p>ЗАМЕТИЛИ ОШИБКУ?</p>
//       <a href="/users/0/messages">напишите нам</a>
//   </div>
// </div>

#zhgi{
  display: none;
  position: fixed;
  right: 0;
  bottom: 100px;
  background: #ffe534;
  width: 150px;
  box-shadow:1px 2px 2px 0px rgba(0,0,0,0.40);
  font-size:15px;
  color:#222222;
  text-align:center;
  box-sizing: border-box;
  padding-left: 20px;
  .arrow{
    position: absolute;
    left: 0;
    top: 50%;
  }
  
  .content{
      p{
        line-height:17px;
      }
      a{
        color:#4a90e2;
        line-height:17px;
      }
  }
  
  &:hover{
    .arrow{
      display: none;
    }
  }

}
// send message yabida!!!