.footer-social-icons {
  top: 8px;
}

.footer-social-icons a {
  margin-right: 14px;
  width: 35px;
  height: 35px;
}

.footer-social-icons .fb {
  background-position: -327px 0;
}

.footer-social-icons .vk {
  background-position: -368px 0;
}

.footer-social-icons .ok {
  background-position: -409px 0;
}

.footer-social-icons .tw {
  background-position: -450px 0;
}

.notification-window {
  left: 10%;
  width: 270px;
}

// JS DETECT ------------------- //
.js-detect {
  opacity: 0.8;
}

@media (min-width: 1200px) {
    .notification-window {
        left: 10%;
        width: 270px;
    }
    // JS DETECT ------------------- //
    .js-detect {
        opacity: 1;
    }
}