.site-top {
  display: block;
}

.header {
  margin-bottom: 30px;
  .container {
    padding: 0;
  }
}

.header-left {
  width: 680px;
  margin-right: 0;
  position: relative;
  padding-right: 10px;
  height: 55px;
  float: left;
}

.header-logo {
  width: 100px;
  height: 20px;
  background-position: -119px 0;
  top: 18px;
  margin-right: 22px;
}

// MENUS ------------------------- //

.menu {
  display: block !important;
  overflow: visible;
  position: static;
  background: transparent;
  padding: 0;
  font-size: 15px;
  width: auto;
  display: block;
  a {
    text-align: left;
    padding: 0;
    &.active,
    &:hover {
      background: none;
    }
  }
}

.menu-main {
  display: block !important;
  float: left;
  overflow: hidden;
  position: static;
  background: transparent;
  padding: 0;
  width: 430px;
  li:first-child {
    display: none;
  }
  a {
    float: left;
    height: 55px;
    line-height: 55px;
    text-transform: uppercase;
    padding: 0 13px;
    font-weight: normal;
    &:hover,
    &.active {
      background: #ffe700;
    }
  }
  &:after {
    display: none;
  }
}

.menu-more {
  display: none;
  padding: 20px 30px 45px;
  a {
    margin-bottom: 5px;
  }
  li:last-child a {
    margin-top: 0;
  }
}

// BALANCE MENU ----------------------------- //

.menu-balance {
  width: 300px;
  padding: 74px 20px 20px;
  top: 0;
  right: 0;
}

.menu-balance-inf {
  display: none;
}

.menu-balance-actions .menu-balance-item {
  width: auto;
  &:first-child {
    float: none;
  }
  &:last-child {
    float: none;
  }
}

.menu-balance-item {
  margin-bottom: 10px;
  background: #e9e9e9;
  font-weight: bold;
  border: none;
  line-height: 40px;
  font-weight: normal;
  font-size: 15px;
  &.active:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    position: absolute;
    left: 7px;
    top: 10px;
  }
  &:hover {
    background: #d1e3e5;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.menu-btn-item {
  padding: 0 20px;
  float: right;
  height: 100%;
  cursor: pointer;
  transition: all 0.2s linear;
  &.menu-btn {
    &:before {
      top: 18px;
    }
  }
  &.menu-profile-btn {
    &:before {
      top: 18px;
    }
  }
}
.menu-btns {
  height: 55px;
  position: absolute;
  top: 0;
  right: 0;
}
.cabinet-balance-count {
  &:first-child {
    margin-right: 15px;
  }
  span {
    font-size: 15px;
  }
  & .holder-money, .holder-points  {
    font-weight: bold;
    font-family: handbookpro-regular;
    text-shadow: 0.5px 0 0 rgba(0, 0, 0, 1);
    font-size: 22px;
  }
}
// ----------------------------------- //

// MENU BUTTONS ------------------------- //

.menu-balance-btn {
  display: none;
}
.menu-btn-item.menu-logout-btn {
  display: none;
}
// -------------------------------- //

.header-right {
  position: relative;
  float: right;
  width: 300px;
  height: 55px;
}
.balance {
  height: 55px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.balance-btn {
  float: none;
  position: relative;
  z-index: 51;
  display: block;
  text-align: center;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: none !important;
  padding-top: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'handbookpro-regular';
  &.active,
  &:hover {
    background: transparent;
  }
}

.inf-slider {
  width: 300px;
  height: 135px;
  margin-top: -135px;
}

// --------------------------------- //

.timer {
  display: block;
  color: #3f3f3f;
}

.timer-title {
  float: left;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.28;
  text-transform: uppercase;
  padding: 14px 25px 0 40px;
}

.timer-digits {
  float: left;
  font-size: 30px;
  font-weight: bold;
  padding-top: 8px;
  // SLIDER ------------------------- //
}

.slider-top {
  height: 135px !important;
}

.slide {
  position: relative;
  height: 100px;
}

.header-right .slider-top .ct .n {
  top: 40px;
  font-size: 52px;
  left: 25px;
}

.header-right .slider-top .ct .tl {
  font-size: 12px;
  margin-left: 25px;
}

.header-right .rt-bk {
  top: 55px;
  left: 25px;
}

.last-results {
  top: 20px;
  font-size: 12px;
  left: 25px;
}

#countdownHolder-mobile {
  top: 40px;
  width: 185px;
  height: 45px;
  line-height: 45px;
}

.rt-bk_li {
  width: 35px !important;
  height: 35px !important;
  line-height: 35px !important;
  margin-right: 4px !important;
}

.is-countdown {
  width: 200px;
}

.menu-logout {
  display: none;
  top: auto;
  bottom: -160px;
  z-index: 51;
  width: 167px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 30px;
  border-top: 1px solid #CBC7C4;
  box-shadow: none;
}