// COMMUNICATION ---------------------------------------- //

.communication .content-box-tab {
  padding: 0 30px;
}

.communication .content-box-tab.back-tab {
  padding: 0 60px 0 30px;
}

.cm-top {
  padding: 0 30px;
}

.message {
  padding-right: 30px;
}

.message-name {
  width: 18%;
  margin-right: 1%;
}

.message-text {
  width: 80%;
}
#users-view-messages {
  & .message-form {
    & hr {
      margin: 5px -20px 5px; 
    }
  }
} 


#users-view-message {
  & .message-form {
    & hr {
      margin: 5px -20px 5px; 
    }
  }
} 



#users-view-message .content-box-item{
  padding: 40px 20px 0;
}