// PRIZES FOT POINTS ------------------- //

.prizes-for-points {
  padding-left: 30px;
  padding-right: 30px;
}

.prize {
	width: 245px;
  padding-right: 25px;
  margin: 0;
}

.prize:nth-child(3n+3) {
  margin-right: 0;
}

.ex-prize-description {
  width: 380px;
}

.ex-prize-img {
  margin-right: 60px;
}

.ex-prize-not-filled {
  margin: 0 -30px;
}


