.ph-header {
  margin: 0 -30px 30px;
  padding: 0 30px;
}

.ph-item {
  margin: 0 -30px;
  padding-left: 30px;
  padding-right: 30px;
}

// ------------------ //

.ph-date,
.ph-date-text {
  width: 25%;
}

.ph-won,
.ph-won-text {
  width: 24%;
}

.ph-method,
.ph-method-text {
  width: 35%;
}

.ph-status,
.ph-status-text {
  width: 16%;
}


.cabinet-referrals .content-box-item-top {
  padding: 20px 10px 0;
}



