html
  overflow-x: hidden
  height: 100%

body
  font: 15px 'PT Sans', sans-serif
  text-shadow: 0 0 1px #fff
  background: #f9f9f9
  overflow-x: hidden
  position: relative
  -webkit-font-smoothing: antialiased
  min-height: 100%
  padding-bottom: 50px

a
  text-decoration: none
  color: inherit
  display: block

.error
  position: relative

.error:after
  position: absolute
  right: 10px
  top: 50%
  width: 20px
  height: 20px
  margin-top: -10px
  background: url(img/sprite.png) -80px -50px
  content: ""
  z-index: 1

button
  border: none
  opacity: 0.8

  &.on
    opacity: 1
    border-color: black
    color: black

  &.loading
    position: relative
    opacity: 0.8
    cursor: default

  &.loading:before
    width: 20px
    position: absolute
    left: 10px
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    background-image: url(../css/img/preloader.gif)
    content: ""
    display: inline-block
    min-height: inherit
    height: 100%
    vertical-align: middle

.status
  display: none
  text-align: center

.container
  min-width: 320px
  padding: 0 10px
  margin: auto

.content
  margin-bottom: 20px

.content-top
  position: relative

.content-box
  margin: 0 -10px
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5)
  background: #fff

.content-box-header
  background: #b7cfd3
  height: 50px
  font-size: 21px
  line-height: 50px
  color: #2b2b2b
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .5)
  text-align: center
  text-transform: uppercase
  font-weight: bold
  position: relative

.content-box-header.back
  cursor: pointer

  &:hover
    background: #d1e3e5

  &:before
    content: ""
    display: block
    position: absolute
    top: 10px
    left: 10px
    width: 15px
    height: 30px
    background: url(img/sprite.png) -178px -188px

.content-box-tabs
  height: 100%

.content-box-tab
  display: block
  float: left
  font-size: 14px
  font-weight: bold
  height: 100%
  line-height: 50px
  padding: 0 10px
  cursor: pointer
  color: #3f3f3f
  text-decoration: none
  text-transform: uppercase
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .49)

  &:hover
    background: #d1e3e5

  &.active
    background: #fff
    cursor: default

.content-box-content
  position: relative

@media (min-width: 120px)
  .content-box-content
    min-height: 200px

.content-box-item
  padding: 20px 10px 20px
  min-height: 500px

.content-box-item.with-cat
  padding-top: 72px

.ticket-item
  min-height: 422px

.content-box-item-top
  position: absolute
  top: 0
  left: 0
  width: 100%
  background: rgba(255, 255, 255, .95)
  z-index: 1
  padding: 20px 10px 0

.content-box-cat
  float: left

.content-box-cat a
  display: block
  float: left
  text-decoration: none
  text-align: center
  color: #3f3f3f
  font-size: 13px
  font-weight: bold
  text-transform: uppercase
  margin-right: 40px
  line-height: 1.39

  &:last-child
    margin-right: 0 !important

  &:hover,
  &.active
    border-bottom: 4px solid #bed7db

// Calendar ----------------------- //

.calendar-range
  width: 200px
  height: 30px
  margin: 0 auto 30px
  border-bottom: 1px solid #9B9B9B
  cursor: pointer
  position: relative

  &:before
    content: ""
    display: block
    position: absolute
    top: 5px
    right: 5px
    width: 20px
    height: 20px
    background: url(img/sprite.png) -257px -192px
    z-index: -1

.calendar-range input.daterange
  background: transparent
  display: block
  width: 100%
  height: 100%
  border: none
  line-height: 30px
  cursor: pointer
  padding-left: 10px

// Input Radio ----------------------- //

input.input-radio
  display: none

label.input-radio
  display: block
  width: 20px
  height: 20px
  border: 1px solid #000
  border-radius: 50%
  position: relative

input.input-radio:checked + label.input-radio:before
  content: ""
  display: block
  width: 14px
  height: 14px
  position: absolute
  top: 2px
  left: 2px
  background: #000
  border-radius: 50%

// Message Form ------------------------ //

.message-form-wrapper
  width: 100%
  padding-top: 10px
  background: #fff

.message-form textarea
  font: 15px 'PT Sans'
  display: block
  width: 100%
  resize: none
  overflow: hidden
  border-width: 0 0 1px
  border-style: solid
  border-color: #98B9BE
  padding-bottom: 3px

  &:focus
    border-width: 0 0 2px
    padding-bottom: 2px

.message-form-actions
  padding: 10px 0

.input-file-wrapper
  display: block
  float: left
  overflow: hidden
  width: 21px
  height: 20px
  background: url(img/sprite.png) -383px -84px
  cursor: pointer
  position: relative
  top: 4px

.input-file
  opacity: 0

.message-form-btn
  float: right
  margin-left: 30px
  display: block
  padding: 5px 18px
  background: #FFE700
  border-radius: 2px
  border: 0
  cursor: pointer

.message-form-smileys
  float: right
  width: 22px
  height: 22px
  background: url(img/sprite.png) -301px -191px
  position: relative
  top: 3px
  cursor: pointer

.modal-error,
.modal-loading
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 20

.modal-error
  background-color: rgba(0, 0, 0, 0.5)
  display: block !important

  & div
    margin: 0 auto
    width: 240px
    height: auto
    position: absolute
    margin-left: -120px
    top: 20%
    left: 50%
    background-color: white
    border-radius: 3px
    padding: 20px

  & span
    display: block
    color: red

.modal-loading
  background-color: rgba(255, 255, 255, 0.5)

  & div
    margin: 0 auto
    width: 40px
    height: 40px
    position: absolute
    margin-left: -20px
    margin-top: -20px
    top: 50%
    left: 50%
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    background-image: url(../css/img/preloader.gif)

.show
  display: block !important

.hide
  display: none !important

.clearfix:before,
.clearfix:after
  display: block
  content: ""
  clear: both

// SIDEBAR -------------------------------- //

.sidebar
  display: none

// BANNERS -------------------------------- //

.banner-1,
.banner-2,
.banner-3,
.banner-4,
.banner-5
  display: none