.footer
  background: #ffe700
  height: 50px
  width: 100%
  position: absolute
  bottom: 0

.footer .container
  padding: 0

.footer-logo
  display: block
  float: left
  position: relative
  top: 16px
  left: 10px
  width: 90px
  height: 18px
  background: url(img/sprite.png) -227px 0

.footer-social-icons
  float: right
  position: relative
  top: 8px
  right: 10px

.footer-social-icons a
  display: block
  float: left
  margin-right: 8px
  background: url(img/sprite.png)
  width: 35px
  height: 35px
  border-radius: 50%

  &:last-child
    margin-right: 0

.footer-social-icons .fb
  background-position: -327px 0

.footer-social-icons .vk
  background-position: -368px 0

.footer-social-icons .ok
  background-position: -409px 0

.footer-social-icons .tw
  background-position: -450px 0



// JS DETECT ------------------- //
.js-detect
  display: none
  opacity: .1