.footer-logo {
  left: 0;
}

.footer-social-icons {
  top: 11px;
  right: 0;
}

.footer-social-icons a {
  margin-right: 10px;
  width: 28px;
  height: 28px;
}

.footer-social-icons .fb {
  background-position: -492px 0;
}

.footer-social-icons .vk {
  background-position: -524px 0;
}

.footer-social-icons .ok {
  background-position: -556px 0;
}

.footer-social-icons .tw {
  background-position: -588px 0;
}

.notification-window {
  left: 10%;
  width: 270px;
}

// JS DETECT ------------------- //
.js-detect {
  opacity: 0.6;
}
