.header {
  height: 50px;
  margin-bottom: 20px;
  .container {
    position: relative;
    padding-right: 184px;
  }
}

.header-left {
  height: 50px;
  float: left;
}
// MENU BUTTONS ------------------------- //

.menu-btns {
  height: 50px;
}

.menu-btn-item {
  padding: 0 20px;
}

.menu-btn:before {
  top: 18px;
}

.menu-profile-btn:before {
  top: 17px;
}

.menu-balance-btn:before {
  top: 16px;
}

// -------------------------------- //

.header-right {
  height: 50px;
}

.inf-slider {
  // display: block;
  float: right;
  width: 300px;
  height: 50px;
  background: #ffe700;
}

.menu-btn-item.active {
  box-shadow: none;
  background: none;
}



.pushy {
    width: 400px;
}

.pushy-left {
    @include translate3d(400px, 0, 0);
}

.wrapper {
    position: relative;
}
.wrapper-push, .push-push {
    @include translate3d(-400px, 0, 0);
}
.menu-balance-btn {
    display: none;
}

.menu-btn-item {
  &.menu-btn .i-menu {
    &:before {
      top: 13px;
    }
  }
  &.menu-profile-btn .i-person {
    &:before {
      top: 17px;
    }
  }
}