.header {
  height: 50px;
  margin-bottom: 20px;
  .container {
    position: relative;
    padding-right: 184px;
  }
}

.header-left {
  height: 50px;
  float: left;
}
// MENU BUTTONS ------------------------- //

.menu-btns {
  height: 50px;
}

.menu-btn-item {
  padding: 0 20px;
}

.menu-btn:before {
  top: 18px;
}

.menu-profile-btn:before {
  top: 17px;
}

.menu-balance-btn:before {
  top: 16px;
}

// -------------------------------- //

.header-right {
  height: 50px;
}

.inf-slider {
  // display: block;
  float: right;
  width: 300px;
  height: 50px;
  background: #ffe700;
}

.menu-btn-item.active {
  box-shadow: none;
  background: none;
}



.pushy {
    width: 400px;
    /*padding-left: 30px;*/
}

.pushy-left {
    @include translate3d(400px, 0, 0);
}

.wrapper {
    position: relative;
}
.wrapper-push, .push-push {
    @include translate3d(-400px, 0, 0);
}
/*
#menu-navigation-mobile {
    font: 15px / 45px Handbook-bold;
    & .menu-balance-inf  {
        font-size: 17px;
        height: 49px;
        line-height: 49px;
        margin-bottom: 0;
        & > div {
            float: left;
            width: auto;
            margin-right: 20px;
            height: 49px;
            & > span {
                font-size:  15px;
                font-weight: bold;
            }
            &:first-of-type {
              &:before {
                top: 13px;
              }
            } 
        }   
    }
    & .menu-main {
       padding-bottom: 0;
        &:after {
            display: none;
        } 
        & li {
            padding: 0;
            line-height: 1;  
            margin: 15px 0 10px;   
            & a {
                text-transform: none;
                padding: 0;
            } 
        }
    }
    & .menu-more  {
        // padding-bottom: 10px;
        padding-top: 0;
        & li {
            padding: 0;
            line-height: 1;   
            margin: 15px 0 10px;   
            & a {
                padding: 0;
            }
            &:last-child {
                & a {
                    margin-top: 0;       
                }
            }
        }
    }
    & .menu-profile  {
        // padding: 0 0 10px;
        min-width: 0;
        padding: 0;
        & li {
            padding: 0;
            line-height: 1;   
            margin: 15px 0 10px; 
            & a {
                padding: 0;
            }
            &:last-child {
                & a {
                    margin-top: 0;       
                }
            }
        }
    }
    & hr {
        margin: 0 0 0 -30px;
        border: none;
        border-bottom: 1px solid #cbc7c6;
    }

}   */

.menu-balance-btn {
    display: none;
}

.menu-btn-item {
  &.menu-btn .i-menu {
    &:before {
      top: 13px;
    }
  }
  &.menu-profile-btn .i-person {
    &:before {
      top: 17px;
    }
  }
}