.header-left {
  width: 770px;
}

.header-logo {
  margin-right: 65px;
}

.text-result {
  position: relative;
  float: right;
}

// MENUS ------------------------- //

.menu-main {
  width: 540px;
  a {
    padding: 0 23px;
  }
}

.is-countdown {
  width: 200px;
}
