<div class="comment answer" id="blog-post-{{this.post_id}}-comments-{{this.comment_id}}-answers-{{this.id}}">
    <div class="comment-content">
        <div class="comment-top">
            <div class="comment-img">
                <img src="{{this.user.avatar}}" alt="">
            </div>
            <div class="comment-inf">
                <span class="comment-name">{{this.user.name}}</span>
                <span class="comment-date">
                    <span>{{from this.date}}</span>
                </span>
                <span class="comment-reply">
                    <span class="separator">|</span>
                    <span data-user-name="{{this.user.name}}"
                          data-user="{{this.user.id}}"
                          data-post-id="{{this.post_id}}"
                          data-comment-id="{{this.comment_id}}"
                          class="comment-reply-btn">{{i18n "button-answer"}}</span>
                    <span class="comment-like-mob"></span>
                </span>
            </div>
        </div>
        <div class="comment-like">{{this.likes}}</div>
        <div class="comment-description">
            {{this.text}}
        </div>
    </div>
</div>