
@media (max-width: 768px) {

	.bonus-share-url-copy input {
		padding-left: 0;
	}

	.bonus-form .bonus-share-url-copy-btn {
		padding-top: 0;
		float: right;
	}

	.bonus-banner-view-item {
		margin-right: 10px;
	}
	.popup-banner-download {
		float:right;
	}

	.banner-copy-btn {
		margin: 0 0 0 10px;
	}

}