@media (max-width: 600px) {
    #support-bonuses{
        .in-box{
            padding: 0 10px;
        }
        label.in-box{
            display: block;
        }
        .top-users{
            tr{
                & > td,
                & > th{
                    &:nth-child(3),
                    &:nth-child(4){
                        display: none;
                    }
                }
            }
        }
        .button{
            min-width: 90px;
        }
        .ae-social{
            height: auto;
            width: 100%;
            padding: 10px 10px 0;
            .ae-social-item{
                width: 100%;
                margin: 0 0 10px 0;
            }
        }
        .bonus-banner-view-item {
            .bonus-banner-view-btn{
                padding: 0px 10px;
            }
        }

        .bonus-share-url-copy, 
        .bonus-share-email{
            .strip{
                padding: 0 180px 0 10px;
            }
        }

    }    
}