@media (max-width: 479px) {
	#communication {
		& .comment-content {
    		padding-left: 0;
		}

		& .comment-top {
		    position: relative;
		    display: block;
		    height: 50px;
		    margin-bottom: 10px;
		}
	
		& .comment-img {
	    	top: 0;
		}	
		& .comment-inf {
		    display: block;
		    max-width: 80%;
		    padding-left: 70px;
		    position: relative;
		    top: 50%;
		    transform: translateY(-50%);
		}	
		& .comment-like {
	    	top: 18px;
		}
		& .c-notifications-list {
			& .c-notification-date {
				margin-left: 0;
			}
		}
		& .render-list .message-form-wrapper {
	    	padding-left: 0;
	    }

	}
}


& .content-box-tab 	{
	padding: 0 20px 0 30px;
	& span {
		display: none;
	}
}


& .communication-messages-tab {
	padding: 0 20px;
}
  	
#communication-messages-list .message .close-notification {
	right: -5px;
    top: 5px;
}