// GAMES <<CHANCE>> -------------------- //
// screen - ? mobile/Xxsmall //
.games-previews {
    .flex-box{
        .fixr{
            margin-left: -61px;
        }
        a{
            margin: 15px 0 0 60px;
        }
    }
}
@media  all and ( max-width: 768px) {
    .games-previews {
        .flex-box{
            .fixr{
                width:700px;
                margin: 0px auto;
                left: -15px
            }
            a{
                margin: 15px 0 0 30px;
            }
        }
    }
}
@media  all and ( max-width: 710px) {
    .games-previews {
        .flex-box{
            
            .fixr{
                width:630px;
                margin: 0px auto;
                left: 0px;
            }
            a{
                margin: 15px 0 0 5px;
            }
        }
    }
}
@media  all and ( max-width: 640px) {
    .games-previews {
        .flex-box{
            
            .fixr{
                width:500px;
                margin: 0px auto;
                left: -22px;
            }
            a{
                margin: 15px 0 0 47px;
            }
        }
    }
}
@media  all and ( max-width: 520px) {
    .games-previews {
        .flex-box{
            
            .fixr{
                width:450px;
                margin: 0px auto;
                left: -10px;
            }
            a{
                margin: 15px 0 0 20px;
            }
        }
    }
}
@media  all and ( max-width: 450px) {
    .games-previews {
        .flex-box{
            
            .fixr{
                width:430px;
                margin: 0px auto;
                left: -8px;
            }
            a{
                margin: 15px 0 0 15px;
            }
        }
    }
}
@media  all and ( max-width: 430px) {
    .games-previews .flex-box{
        .fixr{
            width: auto;
            padding-top: 20px;
            left: 0;
            display: block;
            position: static;
        }
        .owl-item{
            text-align: center;
            
        }
        a{
            
            /*display: block;*/
            /*margin: 0px auto;*/
            /*float: none;*/
            /*padding-top: 1px;*/
        }
    }
}
