// GAMES <<CHANCE|online>> -------------------- //
.games-previews {
    .flex-box{
        padding: 0;
        .fixr{
            padding-top: 20px;
            width:630px;
            margin: 0px auto;
            left: 0px;
            font-size: 0;
            & > *{
                vertical-align: top;
                font-size: 15.5px;
                width: 180px;
                margin: 0 0 20px 20px;
            }
        }
    }
}
@media  all and ( min-width: 680px) {
    .games-previews {
        .flex-box{
            .fixr{
                width:680px;
                & > *{
                    width: 200px;
                    margin: 0 0 20px 20px;
                }
            }
        }
    }
}
@media  all and ( max-width: 640px) {
    .games-previews {
        .flex-box{
            .fixr{
                width:420px;
            }
        }
    }
}
@media  all and ( max-width: 430px) {
    .games-previews {
        .flex-box{
            .fixr{
                width: 100%;
                display: block;
                position: static;
                & > *{
                    width: 200px;
                    display: block;
                    float: none;
                    margin: 0px auto 20px auto;
                }
            }
        }
    }
}


// game started
// @media!! 
//colors
$web_orange: orange;
$white: white;
$color_cape_cod_60_approx: rgba(64, 64, 64, 0.6);
$black_50: rgba(0, 0, 0, 0.5);
$color_gray_chateau_approx: #a5adb0;
$white_60: rgba(255, 255, 255, 0.6);
$color_celeste_approx: #ccc;
$black_30: rgba(0, 0, 0, 0.3);
$color_turbo_approx: rgb(255, 228, 0);
$color_geyser_95_approx: rgba(216, 227, 231, 0.95);
$mine_shaft_50: rgba(50, 50, 50, .5);
$red: red;
$color_rio_grande_approx: rgba(200, 200, 0, 1);
$color_jungle_mist_95_approx: rgba(178, 208, 212, 0.95);
$color_opal_approx: #a8c4c8;
$color_suva_gray_approx: #888;
$black: black;
$color_pink_swan_approx: #bababa;
$white_30: rgba(255, 255, 255, 0.3);
$white_50: rgba(255, 255, 255, 0.5);
$color_jungle_mist_approx: #b2d0d4;
$color_gravel_approx: #4c4c4c;
$color_tan_hide_approx: #f68e56;
$color_guardsman_red_approx: rgba(200, 0, 0, 1);
$gray: gray;
$black_20: rgba(0, 0, 0, 0.2);
$color_coral_red_approx: #ff4242;
$color_lima_approx: #7ed321;

//fonts
$font_2: Simple-Line-Icons;

//urls
$url_0: url(../img/games/card-table-bg.jpg);
$url_1: url(../img/games/bg-question.png);
$url_2: url(../img/games/card-deck.png);
$url_3: url(../img/games/lotzonBg.png);

#games-online-field{
    
    .back-button{
        top: 5px;
        left: 0;
        margin: 0;
    }

    // center game field
    &:not(.Durak){
        height: 100%;
        > *:last-child{
            height: 100%;
        }
        .mx{
            height: 100%;
        }
        .wrapper{
            width: 500px;
            padding-bottom: 80px;
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &.WhoMore{
            .mx{
                .table {   
                    .inner {
                        .cell {
                            i[class^="i-"] {
                                font-size: 1.2em;
                            }

                            span {
                                font-weight: bold;
                                font-size: 1.4em;
                            }
                        }
                    }
                }
            }
        }
        &.SeaBattle{
            display: block;
            min-height: 500px;
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;
            .mx{
                .shipsSheme.o{
                    top: 480px;
                }
                .place{
                    padding-top: 200px;
                }
                .players{
                    .m{
                        z-index: 33333;
                        position: fixed;
                    }
                }
                .table {   
                    &.m{
                        position: absolute;
                        left: 50% !important;
                        top: 350px !important;
                        width: 320px !important;
                        margin-left: -160px !important;
                    }
                    &.o{
                        width: 320px;
                        padding-top: 300px;
                    }
                }
                &.started{
                    .players{
                        padding: 20px;
                    }
                    .table.m{
                        top: 150px !important;
                        width: 170px !important;
                        margin-left: -85px !important;
                    }
                    .table.o{
                        padding-bottom: 140px;
                    }
                }
            }
        }
    }

    .mx{
        .players{
            .m{
                // buttons | statuses
                .pr-cl{

                }
                // player
                .pr-ph-bk{

                }
                // balance
                .pr-pt{

                }
                // bet
                .pr-pr{

                }
                //type
                .pr-md{
                    // i{
                    //     display: block;
                    //     &:first-child{
                    //         margin-bottom: 5px;
                    //     }
                    // }
                }

            }
        }
    }
}    

#games-online-field.Durak {
    .pr-pt{
        display: none !important;
    }
    .content-box-content {
        min-height: 0;
    }
    .mx .players {
        height: 31%;

        .m {
            height: auto;
            min-height: 220px;
        }
        .pr-ph{
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
        }
        // .o .gm-pr .pr-nm {
        //     width: 160%;
        //     background: $color_cape_cod_60_approx;
        //     color: $white;
        //     top: 40px;
        //     padding: 2px;
        //     position: absolute;
        //     border-radius: 3px;
        //     font-size: 12px;
        //     line-height: 1;
        //     margin: 0 auto;
        //     margin-left: -30%;
        //     text-align: center;
        // }
    }
    .cards {
        .table{
            padding-top: 5%;
        }
        .deck .card {
            transform: rotate(10deg) scale(0.7, 0.7);
            left: -60px;
            top: 12%;
            &.trump {
                transform: rotate(100deg) scale(0.7, 0.7);
            }
        }
    }

}


@media(max-width: 650px) {
    #games-online-field{
        .mx{
            .players{
                .m{
                    //player gray field
                    .gm-pr{
                        padding: 0 10px;
                    }
                }
            }
        }

    }    
}
@media(max-width: 550px) {
    #games-online-field{
        &:not(.Durak){
            .mx .players .m .gm-pr .pr-ph-bk{
                    top: 5px;
            }
            .wrapper{
                width: 460px;
                padding-bottom: 60px;
            }
            &.SeaBattle{
                .mx{

                    .shipsSheme.o{
                        top: 90px;
                    }
                    .place{
                        padding-top: 20px;
                    }
                    .table {   
                        &.m{
                            position: absolute;
                            left: 50% !important;
                            top: 170px !important;
                            width: 320px !important;
                            margin-left: -160px !important;
                        }
                        &.o{
                            width: 320px;
                            padding-top: 100px;
                        }
                    }
                    .players{
                        .m{
                            transition: all .2s linear;
                            width: 180%;
                            .pr-pr, 
                            .pr-pt{
                                opacity:  0;
                                // border: 1px solid red;
                            }
                        }
                    }
                    &.started{
                        .players{
                            padding: 20px;
                            .m{
                                transition: all .2s linear;
                                width: 100%;
                                .pr-pr, 
                                .pr-pt{
                                    opacity:  1;
                                    // border: 1px solid red;
                                }
                            }
                        }
                        .table.m{
                            top: 70px !important;
                            width: 170px !important;
                            margin-left: 0px !important;
                            left: 20px !important;
                        }
                    }
                }
            }
        }
        .mx{
            .players{
                .circle-timer,
                .circle {
                    width: 64px;
                    height: 64px;
                }
                .timer-l,
                .timer-r {
                    width: 64px;
                    height: 64px;
                    margin-left: -32px;
                    margin-top: -32px;
                }
                .gm-pr {
                    .pr-ph {
                        width: 50px;
                        height: 50px;
                        margin: 0;
                    }
                    .pr-ph-bk{
                        width: 50px;
                        height: 50px;
                        position: absolute;
                    }
                }

                .m{
                    //player gray field
                    .gm-pr{
                        height: 60px;
                        margin: 0;
                    }
                    // buttons | statuses
                    .pr-cl{

                    }
                    // player
                    .pr-ph-bk{
                        
                    }
                    // balance
                    .pr-pt{
                        padding-top: 12px;
                        // line-height: 1;
                        padding-left: 37px;
                    }
                    // bet
                    .pr-pr{
                        padding-top: 12px;
                        .title{
                            display: block;
                            text-align: left;
                        }
                    }
                    //type
                    .pr-md{
                        margin-left: 10px !important;
                        i{
                            display: inline;
                        }
                    }

                }
            }
        }


    }

    #games-online-field.Durak {
        .mx {
            .players {
                height: 30%;
                .m {
                    height: auto;
                    min-height: 200px;
                    .circle-timer,
                    .circle {
                        width: 64px;
                        height: 64px;
                    }
                    .timer-l,
                    .timer-r {
                        width: 64px;
                        height: 64px;
                        margin-left: -32px;
                        margin-top: -32px;
                    }
                    .gm-pr {
                        .pr-ph-bk {
                            top: 6px;
                        }
                        .pr-ph {
                            width: 50px;
                            height: 50px;
                            margin: 0;
                        }
                    }
                }
                .o {

                    .circle,
                    .circle-timer {
                        width: 54px;
                        height: 54px;
                    }
                    .timer-r ,
                    .timer-l {
                        width: 54px;
                        height: 54px;
                        margin-left: -27px;
                        margin-top: -27px;
                    }

                    .gm-pr {
                        margin-top: 7px;
                        width: auto;
                        height: 30px;

                        .pr-ph {
                            width: 40px;
                            height: 40px;
                            margin: 0;
                        }
                        .pr-nm {
                            width: 160%;
                            background: $color_cape_cod_60_approx;
                            color: $white;
                            top: 40px;
                            padding: 2px;
                            position: absolute;
                            border-radius: 3px;
                            font-size: 12px;
                            line-height: 1;
                            margin: 0 auto;
                            margin-left: -30%;
                            text-align: center;
                        }
                    }
                    
                }
                .gm-pr .pr-ph-bk {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    .mt {
                        font-size: 14px;
                        width: auto;
                    }
                }
            }
            .o .players .o .gm-pr .pr-ph {
                margin: 0;
            }
        }
        .cards {
            .players {
                .o .card {
                    margin-left: -28px;
                    margin-top: -15px;
                }
                .m .small-card {
                    transform: rotate(-1deg) scale(0.4, 0.4)!important;
                }
            }
            .table {
                .cards {
                    .card {
                        transform: rotate(-1deg) scale(0.4, 0.4);
                    }
                    div:first-of-type {
                        transform: rotate(-1deg) scale(0.4, 0.4);
                    }
                }
                > div:nth-of-type(even) {
                    margin-top: -10px;
                    padding-top: 0;
                }
            }
            .deck {
                .card {
                    transform: rotate(10deg) scale(0.4, 0.4);
                    left: -40px;
                    &.trump {
                        transform: rotate(100deg) scale(0.4, 0.4);
                        top: 50px;
                    }
                }
                .lear {
                    top: 60px;
                }
            }
        }
    }
}

@media(max-width: 479px) {
    #games-online-field{
        &:not(.Durak){
            .wrapper{
                width: 100%;
                // padding-bottom: 80px;
            }
            .mx{
                .msg > *{
                    width: 100%;
                }
                .players{
                    .m{
                        //player gray field
                        .gm-pr{
                        }
                        // buttons | statuses
                        .pr-cl{

                        }
                        // player
                        .pr-ph-bk{
                            left: 50% !important;
                        }
                        // balance
                        .pr-pt{
                            left: 50%;
                        }
                        // bet
                        .pr-pr{
                        }
                        //type
                        .pr-md{
                        }

                    }
                }
            }    
        }
        .mx{
            .players{
                .m{
                    //player gray field
                    .gm-pr{
                    }
                    // buttons | statuses
                    .pr-cl{

                    }
                    // player
                    .pr-ph-bk{
                        left: 42% !important;
                    }
                    // balance
                    .pr-pt{
                        left: 41%;
                    }
                    // bet
                    .pr-pr{
                        padding-top: 12px;
                        .title{
                            display: block;
                            text-align: left;
                        }
                    }
                    //type
                    .pr-md{
                        margin-left: 10px !important;
                        i{
                            display: inline;
                        }
                    }

                }
            }
        }
    }
    #games-online-field.Durak {
        .cards {
            .table {
                width: 60%;
                .cards {
                    width: 33%;
                    .card {
                        transform: rotate(-1deg) scale(0.5, 0.5);
                        left: 15px;
                    }
                    div:first-of-type {
                        transform: rotate(-1deg) scale(0.5, 0.5);
                    }
                }
            }
            .deck {
                width: 20%;
                .lear {
                    top: 85px;
                }
                .card {
                    transform: rotate(10deg) scale(0.6, 0.6);
                    &.trump {
                        transform: rotate(100deg) scale(0.6, 0.6);
                    }
                }
            }
            .players .m .small-card {
                transform: rotate(-1deg) scale(0.5, 0.5)!important;
            }
        }
        .mx .players {
            .gm-pr .pr-ph-bk .mt {
                font-size: 16px;
                margin-right: -10px;
            }
        }
    }
}
@media(max-width: 390px) {

    #games-online-field{
        &:not(.Durak){
            padding-bottom: 50px;
            .mx{
                .moves{
                    &:last-child{
                        padding-bottom: 7px;
                    }

                    [class^="mv-"]{
                        &:after{
                            content: '';
                            display: block;
                            clear: both;
                        }
                        div{
                            span{
                                font-size:14px;
                                line-height:0.9;
                                margin-top: 4px;
                            }
                            i{
                                
                                font-size:34px;
                                line-height:1;
                            }
                        }
                    }
                }
                .moves,
                .table{
                    width: 100% !important;
                    min-height: 0;
                }
                .players{
                    padding: 5px 0 0 0;
                    height: 45px;

                    // move oponent before game start
                    &.canExit{
                        .o{
                            .pr-ph-bk{
                                left: 30%;
                            }
                        }
                    }
                    .circle-timer,
                    .circle {
                        width: 36px;
                        height: 36px;
                        left:-3px;
                        top:-3px;
                    }
                    .timer-l,
                    .timer-r {
                        width: 36px;
                        height: 36px;
                        margin-left: -18px;
                        margin-top: -18px;
                        border-width: 3px;
                    }
                    .gm-pr {
                        // min-width: 100%;
                        .pr-ph {
                            width: 30px;
                            height: 30px;
                            margin: 0;
                        }
                        .pr-ph-bk{
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            left: 0;
                        }
                    }

                    .m{
                        //player gray field
                        .gm-pr{
                            height: 50px;
                            // player
                            .pr-ph-bk{
                                transition: all .4s linear;
                                left: 0 !important;
                                margin-left: 20px;
                                margin-top: 5px;
                            }
                        }
                        // buttons | statuses
                        .pr-cl{
                            float: right;
                        }
                        // balance
                        .pr-pt{
                            left: 20%;
                            padding-top: 7px;

                        }
                        // bet
                        .pr-pr{
                            padding-top: 7px;
                        }
                        //type
                        .pr-md{
                        }

                    }
                    .o{
                        // float: left;
                        min-width: 100%;
                        float: none;
                        margin: 0;
                        &:after{
                            content: '';
                            display: block;
                            clear: both;
                        }
                        .gm-pr{
                            height: auto;
                            min-height: 30px;
                            width: auto;
                        }
                        // player
                        .pr-ph-bk{
                            // left: 50% !important;
                        }
                        .pr-nm{
                            padding: 7px 0 0 15px;
                        }
                    }
                }
            }    
            &.WhoMore{
                .wrapper{
                    padding-top: 80px;
                    overflow: auto;
                }
                .mx{
                    .moves{
                        min-height: 40px;
                    }
                    .table{
                        width: 100% !important;
                        min-height: 320px;
                    }
                    .table {   
                        .inner {
                            .cell {
                                i[class^="i-"] {
                                    font-size: 0.9em;
                                }
                                span {
                                    font-weight: bold;
                                    font-size: 1.1em;
                                }
                            }
                        }
                    }
                }
            }
            &.SeaBattle{
                .mx{

                    .shipsSheme.o{
                        top: 80px;
                        right: 0px;
                        margin: 0;
                    }
                    .place{
                        padding-top: 20px;
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                    .table {   
                        &.m{
                            position: absolute;
                            left: 50% !important;
                            top: 170px !important;
                            width: 320px !important;
                            margin-left: -160px !important;
                        }
                        &.o{
                            width: 100% !important;
                            padding-top: 0px;
                            margin: 0;
                            position: relative;
                            z-index: 10000;
                        }
                    }
                    .players{
                        .m{
                            transition: all .2s linear;
                            width: 100%;
                            .pr-pr, 
                            .pr-pt{
                                opacity:  0;
                                // border: 1px solid red;
                            }
                        }
                    }
                    &.started{
                        .players{
                            padding: 10px;
                            .m{
                                width: 100%;
                                .pr-pr, 
                                .pr-pt{
                                    opacity:  1;
                                    // border: 1px solid red;
                                }
                            }
                            .o{
                                margin-left: 140px;
                            }
                        }
                        .table.m{
                            top: 10px !important;
                            width: 140px !important;
                            left: 0px !important;
                            margin: 0 !important;
                        }
                        
                    }
                }
            }
        }
    }

    #games-online-field{
        &#WhoMore{
            
        }
    }
}
@media(max-width: 320px) {
    #games-online-field{
        &:not(.Durak){
            .mx{
                .players{
                    .m{
                        //player gray field
                        .gm-pr{
                        }
                        // buttons | statuses
                        .pr-cl{

                        }
                        // player
                        .pr-ph-bk{
                            // left: 50% !important;
                        }
                        // balance
                        .pr-pt{
                            // left: 50%;
                        }
                        // bet
                        .pr-pr{
                        }
                        //type
                        .pr-md{
                        }

                    }
                }
            }    
            &.SeaBattle{
                .mx{

                    .shipsSheme.o{
                        top: 80px;
                        right: 0px;
                        margin: 0;
                    }
                    .place{
                        padding-top: 0px;
                        padding-left: 10px;
                        padding-right: 10px;
                        line-height: 1.0;
                        br{
                            &:first-child{   
                                display: none;
                            }
                            line-height: 1.3;
                        }
                    }
                    .table {   
                        &.m{
                            position: absolute;
                            left: 50% !important;
                            top: 82px !important;
                            width: 100% !important;
                            padding: 0px 15px;
                            .drag-wrapper{
                                margin: 0px 15px;
                            }
                        }
                        &.o{
                            width: 100% !important;
                            padding-top: 0px;
                            margin: 0;
                        }
                    }
                    .players{
                        .m{
                            transition: all .2s linear;
                            width: 100%;
                            .pr-pr, 
                            .pr-pt{
                                opacity:  0;
                                // border: 1px solid red;
                            }
                        }
                        .o{
                            margin-top: -5px;
                        }
                    }
                    &.started{
                        
                        .place{
                            display: none;
                        }
                        .players{
                            padding: 10px;
                            height: 110px;
                            .m{
                                width: 100%;
                                .pr-pr, 
                                .pr-pt{
                                    opacity:  1;
                                    // border: 1px solid red;
                                }
                            }
                            .o{
                                margin-left: 100px;
                            }
                        }

                        .table.m{
                            top: 0px !important;
                            width: 110px !important;
                            left: 0px !important;
                            margin: 0 !important;
                            padding: 0 !important;
                        }
                        .table.o{
                            width: 100% !important;
                            // padding: 0 10px;
                            margin: 0;
                        }
                        .shipsSheme{
                            top: 55px;
                            right: -10px !important;
                            margin: 0;
                            padding: 0;
                            > div{
                                margin-bottom: 1px;
                                > div{
                                    min-width: 12px;
                                    min-height: 12px;
                                    font-size: 13px;
                                    line-height: 1;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }
}

@media(max-height: 550px) and(max-width: 1010px) and(orientation: landscape) {
    #games-online-field{
        .mx{
            .players{
                .m{
                    //player gray field
                    .gm-pr{
                    }
                    // buttons | statuses
                    .pr-cl{

                    }
                    // player
                    .pr-ph-bk{
                        left: 47% !important;
                    }
                    // balance
                    .pr-pt{
                        left: 50%;
                    }
                    // bet
                    .pr-pr{
                        padding-top: 12px;
                        .title{
                            display: block;
                            text-align: left;
                        }
                    }
                    //type
                    .pr-md{
                        margin-left: 10px !important;
                        i{
                            display: inline;
                        }
                    }

                }
            }
        }
    }
    #games-online-field.Durak {
        .cards {
            .players {
                .o .card {
                    margin-left: -28px;
                    margin-top: -15px;
                }
                .m .small-card {
                    transform: rotate(-1deg) scale(0.4, 0.4)!important;
                }
            }
            .deck {
                width: 18%;
                .lear {
                    top: 60px;
                }
                .card {
                    transform: rotate(10deg) scale(0.4, 0.4);
                    left: -40px;
                    top: 20%;
                    &.trump {
                        transform: rotate(100deg) scale(0.4, 0.4);
                        top: 50px;
                    }
                }
            }
            .table {
                width: 75%;
                .cards {
                    div {
                        margin-left: -30px;
                        &:first-of-type {
                            transform: rotate(-1deg) scale(0.4, 0.4);
                        }
                    }
                    .card {
                        transform: rotate(-1deg) scale(0.4, 0.4);
                    }
                }
                > div:nth-of-type(even) {
                    margin-top: -10px;
                    padding-top: 0;
                }
            }
        }
        .mx .players {
            height: 20%;
            .m {
                height: auto;
                min-height: 200px;

                .circle-timer,
                .circle {
                    width: 64px;
                    height: 64px;
                }
                .timer-l,
                .timer-r {
                    width: 64px;
                    height: 64px;
                    margin-left: -32px;
                    margin-top: -32px;
                }

                .gm-pr {
                    height: 60px;
                    margin: 0;
                    .pr-ph-bk {
                        top: 6px;
                        left: 35%;
                    }
                    .pr-ph {
                        width: 50px;
                        height: 50px;
                        margin: 0;
                    }
                }
            }
            .o {
                .circle,
                .circle-timer {
                    width: 54px;
                    height: 54px;
                }
                .timer-r ,
                .timer-l {
                    width: 54px;
                    height: 54px;
                    margin-left: -27px;
                    margin-top: -27px;
                }
                .pr-ph-bk{
                    position: relative;
                    top: -20px;
                }
                .gm-pr {
                    width: auto;
                    height: 30px;
                    .pr-ph {
                        width: 40px;
                        height: 40px;
                    }
                }   
            }
        }
    }
}

// #games-chance-view
#games-chance-view{
    .minefield{
        padding-right: 10px;
        min-width: 320px;
    }
    #games-chance-view-chance {

    .description{
        padding: 20px;
    }
    .colls-wrapper{
        padding: 0;
    }
    }
}



///SLOTS!!!!
///
// @media  all and ( max-width: 1009px) {
//     #SlotsContainer #slotMachineContainer #ReelContainer{
//         transform: translate(-50%,-50%) scale(1);
//         -o-transform: translate(-50%,-50%) scale(1);
//         -ms-transform: translate(-50%,-50%) scale(1);
//         -moz-transform: translate(-50%,-50%) scale(1);
//         -webkit-transform: translate(-50%,-50%) scale(1);
//     }
// }
// @media  all and (max-width: 768px) {
 
//     #SlotsContainer #slotMachineContainer #ReelContainer{
//         transform: translate(-50%,-50%) scale(1.03);
//         -o-transform: translate(-50%,-50%) scale(1.03);
//         -ms-transform: translate(-50%,-50%) scale(1.03);
//         -moz-transform: translate(-50%,-50%) scale(1.03);
//         -webkit-transform: translate(-50%,-50%) scale(1.03);
//     }
 
//     .content-main.games{
//         animation: initial;
//     }
 
//     .content-main.games .single-game{
//         overflow: auto;
//         width: 100%;
//         height: 100%;
//         position: fixed !important;
//         z-index: 1001;
//         top: 0px;
//         left: 0;
//         background: #fff;
//     }

//     .content-main.games .single-game>*,
//     .content-main.games .single-game>*>*{
//         height: inherit;
//     }
    
//     #SlotsContainer {
//         height: auto;
//         min-height: 100%;
//         padding: 0;
//     }
    
//     #SlotsContainer .machine-stat {
//         width: 380px;
//         margin: 0px auto;
//         display: block;
//         position: relative;
//         float: none;
//         padding: 0px;
//         transform: translateY(0);
//     }
//     #SlotsContainer .machine-roll {
//         width: 490px;
//         padding: 0;
//         display: block;
//         margin: 0px auto;
//         float: none;
//     }

//     #SlotsContainer .matches-inf-wrapper{
//         margin: 0;
//         background: transparent;
//     }

//     #SlotsContainer #slotMachineContainer {
//         margin-top: 100px;
//     }
//     #SlotsContainer #betContainer {
//         margin-top: 20px;
//     }
//     #SlotsContainer #slotMachineContainer .i-play {
//         font-size: 35px;
//         right: -5%;
//         top: 51%;
//     }
//     #SlotsContainer #slotMachineContainer .i-play:first-child{
//         left: -5%;
//     }
//     #SlotsContainer .button{
//         padding: 20px;
//     }
// }
// @media  all and ( max-width: 650px) {
//     #SlotsContainer #slotMachineContainer #ReelContainer{
//         transform: translate(-50%,-50%) scale(0.96);
//         -o-transform: translate(-50%,-50%) scale(0.96);
//         -ms-transform: translate(-50%,-50%) scale(0.96);
//         -moz-transform: translate(-50%,-50%) scale(0.96);
//         -webkit-transform: translate(-50%,-50%) scale(0.96);
//     }
//     #SlotsContainer .machine-stat {
//         width: 330px;
//     }
//     #SlotsContainer .machine-roll {
//         width: 450px;
//     }
//     #SlotsContainer #slotMachineContainer {
//         margin-top: 90px;
//     }
//     #SlotsContainer #betContainer {
//         margin-top: 15px;
//     }
//     #SlotsContainer .button{
//         padding: 17px;
//     }
// }
// @media  all and ( max-width: 550px) {
//     #SlotsContainer #slotMachineContainer #ReelContainer{
//         transform: translate(-50%,-50%) scale(0.86);
//         -o-transform: translate(-50%,-50%) scale(0.86);
//         -ms-transform: translate(-50%,-50%) scale(0.86);
//         -moz-transform: translate(-50%,-50%) scale(0.86);
//         -webkit-transform: translate(-50%,-50%) scale(0.86);
//     }
//     #SlotsContainer .machine-stat {
//         width: 330px;
//     }
//     #SlotsContainer .machine-roll {
//         width: 420px;
//     }
//     #SlotsContainer #slotMachineContainer {
//         margin-top: 80px;
//     }
//     #SlotsContainer #betContainer {
//         margin-top: 20px;
//     }
//     #SlotsContainer #slotMachineContainer .i-play {
//         font-size: 30px;
//         top: 52%;
//     }
//     #SlotsContainer .button{}
//     #SlotsContainer #betContainer p {
//         padding: 4% 0 0 0; 
//     }
// }
// @media  all and ( max-width: 480px) {
 
//     #SlotsContainer #slotMachineContainer #ReelContainer{
//         transform: translate(-50%,-50%) scale(0.66);
//         -o-transform: translate(-50%,-50%) scale(0.66);
//         -ms-transform: translate(-50%,-50%) scale(0.66);
//         -moz-transform: translate(-50%,-50%) scale(0.66);
//         -webkit-transform: translate(-50%,-50%) scale(0.66);
//     }
//     #SlotsContainer .machine-stat {
//         width: 265px;
//     }
//     #SlotsContainer .machine-roll {
//         width: 320px;
//     }
//     #SlotsContainer #slotMachineContainer {
//         margin-top: 65px;
//     }
//     #SlotsContainer #betContainer {
//         margin-top: 15px;
//     }
//     #SlotsContainer #slotMachineContainer .i-play {
//         font-size: 20px;
//         right: -4%;
//     }
//     #SlotsContainer #slotMachineContainer .i-play:first-child{
//         left: -4%;
//     }
//     #SlotsContainer .button{
//         padding: 13px;
//     }
//     #SlotsContainer #betContainer p {
//         font-size: 13px; 
//         padding: 4% 0 0 0; 
//     }
//     #SlotsContainer #betContainer input,
//     #SlotsContainer #betContainer span {
//         font-size: 14px; 
//     }
// }
// @media  all and ( max-width: 320px) {
 
//     #SlotsContainer #slotMachineContainer #ReelContainer{
//         transform: translate(-50%,-50%) scale(0.61);
//         -o-transform: translate(-50%,-50%) scale(0.61);
//         -ms-transform: translate(-50%,-50%) scale(0.61);
//         -moz-transform: translate(-50%,-50%) scale(0.61);
//         -webkit-transform: translate(-50%,-50%) scale(0.61);
//     }
//     #SlotsContainer .machine-stat {
//         width: 240px;
//     }
//     #SlotsContainer .machine-roll {
//         width: 300px;
//     }
//     #SlotsContainer #slotMachineContainer {
//         margin-top: 60px;
//     }
//     #SlotsContainer #betContainer {
//         margin-top: 10px;
//     }
//     #SlotsContainer .button{
//         padding: 12px;
//         font-size: 85%;
//     }
//     #SlotsContainer #betContainer p {
//         font-size: 13px; 
//         padding: 4% 0 0 0; 
//     }
//     #SlotsContainer #betContainer input,
//     #SlotsContainer #betContainer span {
//         font-size: 14px; 
//     }
// }



// @media  all and ( max-height: 480px) and (max-width: 768px) and (orientation: landscape) {
//     .content-main.games{
//         animation: initial;
//     }
//     .content-main.games .single-game{
//         overflow: auto;
//         width: 100%;
//         height: 100%;
//         position: fixed;
//         z-index: 1001;
//         top: 0px;
//         left: 0;
//         background: #fff;
//     }
//     .content-main.games .single-game>*,
//     .content-main.games .single-game>*>*{
//         height: inherit;
//     }
//     #SlotsContainer {
//         height: auto;
//     }
//     #SlotsContainer #slotMachineContainer #ReelContainer{
//         transform: translate(-50%,-50%) scale(0.73);
//         -o-transform: translate(-50%,-50%) scale(0.73);
//         -ms-transform: translate(-50%,-50%) scale(0.73);
//         -moz-transform: translate(-50%,-50%) scale(0.73);
//         -webkit-transform: translate(-50%,-50%) scale(0.73);
//     }
//     #SlotsContainer .machine-stat {
//         width: 230px;
//         margin-top: 65px;
//     }
//     #SlotsContainer .machine-roll {
//         width: 360px;
//     }

//     #SlotsContainer #slotMachineContainer {
//         margin-top: 70px;
//     }
//     #SlotsContainer #betContainer {
//         margin-top: 15px;
//     }
//     #SlotsContainer #slotMachineContainer .i-play {
//         font-size: 20px;
//         right: -4%;
//         top: 52.5%;
//     }
//     #SlotsContainer #slotMachineContainer .i-play:first-child{
//         left: -4%;
//     }
//     #SlotsContainer .button{
//         padding: 11px;
//     }

//     #SlotsContainer #betContainer p {
//         padding: 4% 0 0 0;
//     }
//     #SlotsContainer #betContainer input,
//     #SlotsContainer #betContainer span{
//         font-size: 17px;
//     }
// }
// @media  all and ( max-height: 414px) and (max-width: 736px) and (orientation: landscape) {
//     #SlotsContainer #slotMachineContainer #ReelContainer{
//         transform: translate(-50%,-50%) scale(0.73);
//         -o-transform: translate(-50%,-50%) scale(0.73);
//         -ms-transform: translate(-50%,-50%) scale(0.73);
//         -moz-transform: translate(-50%,-50%) scale(0.73);
//         -webkit-transform: translate(-50%,-50%) scale(0.73);
//     }
//     #SlotsContainer .machine-stat {
//         width: 230px;
//         margin-top: 75px;
//     }
//     #SlotsContainer .machine-roll {
//         width: 360px;
//     }
//     #SlotsContainer #slotMachineContainer {
//         margin-top: 65px;
//     }
//     #SlotsContainer #betContainer {
//         margin-top: 10px;
//     }
//     #SlotsContainer .button{
//         padding: 11px;
//     }

//     #SlotsContainer #betContainer p {
//         padding: 4% 0 0 0;
//     }
//     #SlotsContainer #betContainer input,
//     #SlotsContainer #betContainer span{
//         font-size: 17px;
//     }
// }
// @media  all and ( max-height: 375px) and (max-width: 667px) and (orientation: landscape) {
//     #SlotsContainer #slotMachineContainer #ReelContainer{
//         transform: translate(-50%,-50%) scale(0.63);
//         -o-transform: translate(-50%,-50%) scale(0.63);
//         -ms-transform: translate(-50%,-50%) scale(0.63);
//         -moz-transform: translate(-50%,-50%) scale(0.63);
//         -webkit-transform: translate(-50%,-50%) scale(0.63);
//     }
//     #SlotsContainer .machine-stat {
//         width: 200px;
//         margin-top: 88px;
//     }
//     #SlotsContainer .machine-roll {
//         width: 320px;
//     }
//     #SlotsContainer #slotMachineContainer {
//         margin-top: 65px;
//     }
//     #SlotsContainer #betContainer {
//         margin-top: 10px;
//     }
//     #SlotsContainer .button{
//         padding: 11px;
//     }

//     #SlotsContainer #betContainer p {
//         font-size: 13px; 
//         padding: 4% 0 0 0; 
//     }
//     #SlotsContainer #betContainer input,
//     #SlotsContainer #betContainer span{
//         font-size: 14px; 
//     }
// }
// @media  all and ( max-height: 480px) and (max-width: 640px) and (orientation: landscape) {
//     #SlotsContainer #slotMachineContainer #ReelContainer{
//         transform: translate(-50%,-50%) scale(0.63);
//         -o-transform: translate(-50%,-50%) scale(0.63);
//         -ms-transform: translate(-50%,-50%) scale(0.63);
//         -moz-transform: translate(-50%,-50%) scale(0.63);
//         -webkit-transform: translate(-50%,-50%) scale(0.63);
//     }
//     #SlotsContainer .machine-stat {
//         width: 210px;
//         margin-top: 60px;
//     }
//     #SlotsContainer .machine-roll {
//         width: 320px;
//     }
//     #SlotsContainer #slotMachineContainer {
//         margin-top: 60px;
//     }
//     #SlotsContainer #betContainer {
//         margin-top: 10px;
//     }
//     #SlotsContainer .button{
//         padding: 11px;
//     }

//     #SlotsContainer #betContainer p {
//         font-size: 13px; 
//         padding: 4% 0 0 0; 
//     }
//     #SlotsContainer #betContainer input,
//     #SlotsContainer #betContainer span{
//         font-size: 14px; 
//     }
// }
// @media  all and ( max-height: 320px) and (max-width: 568px) and (orientation: landscape) {
//     #SlotsContainer #slotMachineContainer #ReelContainer{
//         transform: translate(-50%,-50%) scale(0.63);
//         -o-transform: translate(-50%,-50%) scale(0.63);
//         -ms-transform: translate(-50%,-50%) scale(0.63);
//         -moz-transform: translate(-50%,-50%) scale(0.63);
//         -webkit-transform: translate(-50%,-50%) scale(0.63);
//     }
//     #SlotsContainer .machine-stat {
//         width: 180px;
//         margin-top: 90px;
//     }
//     #SlotsContainer .machine-roll {
//         width: 320px;
//     }
//     #SlotsContainer #slotMachineContainer {
//         margin-top: 55px;
//     }
//     #SlotsContainer #betContainer {
//         margin-top: 0px;
//     }
//     #SlotsContainer .button{
//         padding: 11px;
//     }

//     #SlotsContainer #betContainer p {
//         font-size: 13px; 
//         padding: 4% 0 0 0; 
//     }
//     #SlotsContainer #betContainer input,
//     #SlotsContainer #betContainer span{
//         font-size: 14px; 
//     }
// }
// @media  all and ( max-height: 320px) and (max-width: 480px) and (orientation: landscape) {
//     #SlotsContainer #slotMachineContainer #ReelContainer{
//         transform: translate(-50%,-50%) scale(0.63);
//         -o-transform: translate(-50%,-50%) scale(0.63);
//         -ms-transform: translate(-50%,-50%) scale(0.63);
//         -moz-transform: translate(-50%,-50%) scale(0.63);
//         -webkit-transform: translate(-50%,-50%) scale(0.63);
//     }
//     #SlotsContainer .machine-stat {
//         width: 190px;
//         margin-top: 85px;
//     }
//     #SlotsContainer .machine-roll {
//         width: 320px;
//     }
//     #SlotsContainer .button{
//         padding: 11px;
//     }

//     #SlotsContainer #betContainer p {
//         font-size: 13px; 
//         padding: 4% 0 0 0; 
//     }
//     #SlotsContainer #betContainer input,
//     #SlotsContainer #betContainer span{
//         font-size: 14px; 
//     }
// }