#prizes-exchange .content-box-item-content {
	margin-right: 0;
}

.prize {
	width: 220px;
	margin: 0 auto 30px;

}

#prizes-exchange .content-box-item-top {
	left: 15px;
}

#prizes-exchange .render-list-container {
    padding-top: 95px;
}

.personal-data-edit {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 18px;
  right: 30px;
  background: url(../img/sprite.png) -332px -54px;
}

.personal-data-edit span {
  display: none;
}

