#prizes-exchange .content-box-item-content {
	margin-right: 0;
}

.prize {
	width: 220px;
	margin: 0 auto 30px;

}

#prizes-exchange .content-box-item-top {
	left: 15px;
}

#prizes-exchange .render-list-container {
    padding-top: 95px;
}