.ae-top {
	float: none;
	margin-bottom: 20px;
	text-align: center;
	.ae-user-img {
		text-align: center;
		float: none;
	}
}
.ae-name-block {
	width: auto;
}
#profile-edit {
	& .content-box-header {
		background: none;
	}
}
.ae-personal-inf .uk-float-right {
	float:none;
}
.ae-name-block li {
    padding-left: 0;
    height: 45px;
    &.empty {
    	display: none
    }

}
.ae-name-block.ae-personal-form-values, .ae-personal-form-values {
	margin-left: -10px;
	margin-right: -10px;
	& li  {
		padding: 0 10px;
	}
}
.ae-personal-form-values i {
	min-width: 85px;
	max-width: 85px;
	padding-right: 10px;
}
.ae-personal-form-values li {
	height: 45px;
}
.ae-personal-form-values li > * {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	line-height: 1;
	display: inline-block;
	vertical-align: top;
}

.ae-social-item {
	line-height: 45px;
	display: inline-block;
	vertical-align: top;
}

.ae-personal-form .error-msg {
	top: 50%;
    right: 10px;
}

.ae-personal-form-values .wrapper-margin-right:before, .ae-personal-form-values .select-wrapper:before {
	top: 0;
}
.ae-social {
	height: 45px;
}
@media (max-width: 767px) {
	#profile-settings {
	  & .content-box-header {
	    background: transparent;
		}
		& .radio-text {
			margin: 0;
		}

		& .radio-text:first-child span{
			margin-left: 20px;
		}
		& .tie-soc .title {
			max-width: 70px;
		}
		& .ae-social {
			height: auto;
			& a:last-child {
				margin-right: 0;
			}
		}
		& .ae-combination .title{
			max-width: 70px;
		}
		& .s-email .title {
			max-width: 70px;
		}
		& .mobile-hidden {
			display:none;
		}
		& .ae-current-combination li {
			width: 20px;
		}
		& .ae-combination-box {
			margin: 0 -20px;
		}
		& .settings .strip {
			margin-right: -20px;
	    margin-left: -20px;
	    padding-right: 20px;
	    padding-left: 20px;
		}
		.ae-combination-box li {
			width: 32px;
			height: 32px;
			line-height: 32px;
			margin: 0 1px 4px 0;
		}
	}

	#profile-settings .screen-notice{
		display:none!important;
	}
	.settings .hidden-notice {
		float: none;
	}

}
#profile-settings {
	padding-top: 10px;
	& .ae-social {
		height: auto;
		margin-left: 20px;
	}
	& .settings {

		& .title {
		 	min-width: 80px;
		}
	}
	& .s-lang {
		& span {
			margin-left: 5px;
		}
		& label {
			&:first-of-type {
				& span {
					margin-left: 20px;
				}
			}
		}
	}
	& .i-pencil {
		font-size: 18px;
	}
	& .danger {
    	color: #ff4c4b!important;
	}	
}


#profile-edit .content-box-item, #user-view .content-box-item {
	padding-top: 10px;
}
#profile-edit .content-box-item {
	padding-bottom: 25px;
}
#profile-edit .ae-social-item, .ae-social-item  {
	margin-right: 0;
}

.ae-personal-inf .text-notice p {
    margin-bottom: 30px;
}

#user-view .ae-personal-form-values div {
	vertical-align: top;
}


.setting-title {
	height: 60px;
    line-height: 50px;
}
#profile-settings .content-box-item {
	min-height: 460px;
}


