.ae-personal-form-values {
    li {
        .select-wrapper {
            select{
                margin-top: -2px;
            }
            & > i.hidden {
                display: block;
                position: relative;
                float: left;
                &:after {
                    content: "";
                    display: block;
                    width: 0;
                    height: 0;
                    transition: all .1s ease-in-out;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-top: 7px solid #4a4a4a;
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    margin-top: 4px;
                }
            }
            &#profile-edit-countries {
                & > i.hidden {
                    &:after {
                        top: 18px;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

#profile {
    .content-box-tabs {
        & > a {
            width: 25%;
            text-align: center;
            & > * {
                display: none;
            }
            i {
                display: block;
                font-size: 19px;
            }
        }
    }
    .ae-top {
        height: 120px;
        overflow: hidden;
    }
    .ae-personal-inf {
        height: auto;
    }
    .img-avatar-name {
        font-size: 18.5px;
        color: #ffffff;
        letter-spacing: 0.12px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
        left: 120px;
        top: 10px;
    }
    .ae-user-img {
        height: 100px;
        width: 100px;
        top: -10px;
        margin-left: 10px;
        &:before {
            height: 100px;
            width: 100px;
            line-height: 100px;
            font-size: 30px;
        }
        img {
            border-radius: 50%;
            height: 100px;
            width: 100px;
        }
    }
    .privacy-box {
        right: 0;
        padding: 0;
        &:hover {
            & > i {
                opacity: 0;
            }
        }
        &.active {
            width: 100%;
        }
    }
    .ae-personal-form {
        & > li {
            li {
                padding: 0 10px 0 130px;
                & > i {
                    left: 10px;
                    width: 110px;
                    top: 1px;
                }
            }
        }
        .select-wrapper {
            vertical-align: middle;
            line-height: 0;
            select[name="country"] {
                margin-left: 0;
            }
            input {
                width: 100%;
                margin-left: 0;
                padding-right: 40px;
            }
        }
        .title {
            padding: 0 10px;
            position: relative;
            text-align: left;
            vertical-align: middle;
            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                position: relative;
                width: 0;
                margin-left: -5px;
                height: 100%;
            }
            p {
                display: inline-block;
                vertical-align: middle;
                line-height: 1.2;
            }
        }
    }
    .setting-title,
    .ci-title {
        padding: 0 10px;
        position: relative;
        text-align: left;
        vertical-align: middle;
        height: 60px;
        line-height: 0;
        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            position: relative;
            width: 0;
            // margin-left: -5px;
            height: 100%;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            line-height: 1.2;
        }
    }
    .ci-personal-form {
        .ci-personal-form-names {
            li {
                padding: 0 10px 0 120px;
                position: relative;
                height: auto;
                min-height: 45px;
                .billing-title {
                    position: absolute;
                    left: 10px;
                    top: 0;
                }
                .ci-personal-form-values {
                    min-width: 100%;
                    input {
                        min-width: 100%;
                        padding: 0;
                    }
                }
            }
        }
        .billing-title {
            min-width: 100px;
        }
    }
    .ae-combination-box {
        padding: 10px;
    }
    #profile-settings {
        .strip {
            padding: 0 10px;
        }
        .social-box {
            a {
                margin: 0 10px 0 0;
            }
        }
        .option-block {
            .option {
                .title {
                    min-width: 100px;
                }
                input[type='text'] {
                    min-width: 100px;
                    width: 180px;
                }
            }
        }
    }
}

#balance-convert {
    .content-box-item {
        padding: 0;
    }
}

#balance-cashout {
    .content-box-item {
        padding: 0;
    }
    .cco-title {
        padding: 10px;
        line-height: 1.6;
        & > * {
            display: block;
            float: none;
            text-align: left;
            margin: 0;
        }
    }
    .cco-methods {
        .cco-method {
            padding: 15px 10px;
        }
    }
    .cco-enter-sum {
        .cco-enter-sum-box {
            width: 50%;
            padding: 0;
            input {
                width: 100%;
                padding: 0 0 0 10px;
                min-width: 0;
            }
        }
        .current-ballance {
            padding: 0 10px 0 0;
            width: 50%;
            text-align: right;
        }
    }
}

@media (max-width: 600px) {
    #balance-convert {
        .content-box-item {
            padding: 0;
            .cc-title {
                padding: 10px;
            }
            .cc-text {
                padding: 10px 10px 20px;
            }
            .cc-row-wrapper {
                .cc-row {
                    padding: 0 10px;
                }
            }
        }
    }
}
