@media (max-width: 500px) {
	.content-box-item.cabinet-referrals {
		padding: 120px 20px 30px;
    	min-height: 0;
	}
	.r-item:nth-child(even) {
		background: #fff;
	}
	.r-item:nth-child(odd){
		background: #fafafa;
	}
	.r-item{
		padding: 15px 20px;
	}
	.cabinet-referrals .calendar-range {
		float: none;
    margin: 25px auto 25px;
	}
	.daterangepicker.dropdown-menu {
		left: auto;
		right: -10px;
		width: 280px;
		top: 32px;
	}
	.daterangepicker .ranges, .daterangepicker .calendar {
		float: none;
	}
	.daterangepicker .calendar.right, .daterangepicker .calendar.left {
		margin: 5px;
	}
	.daterangepicker .left .daterangepicker_input {
		padding-right: 0;
	}
	.daterangepicker.dropdown-menu.opensright:before {
	    right: 18px;
	    left: auto;
	    border-bottom: 7px solid #F2EFED;
	    border-bottom-color: #F2EFED;
	    top: -6px;
	}
	.daterangepicker.dropdown-menu.opensright:after {
		display: none;
	}
	.cabinet-referrals .content-box-cat {
		margin-left: 10px;
	}
	.cabinet-referrals .content-box-item-top {
    display: table;
    margin-left: 10px;
    margin-top: 10px;
	}
	.cabinet-referrals .content-box-cat {
    float: none;
    display: table-header-group;
  }
}
@media (min-width: 530px) {
  .r-header,
  .r-item {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  // ------------------ //
  .r-header {
    display: block;
  }
  .r-header-item {
    float: left;
  }
  // ------------------ //
  .r-item {
    padding: 14px 20px;
    border-bottom: none;
    line-height: 1.4;
    &:hover:before {
      top: 10px;
      right: 10px;
    }
  }
  .r-inf-names {
    display: none;
  }
  .r-inf {
    float: none;
  }
  .r-inf-item {
    float: left;
  }
  .r-active {
    text-align: center;
  }
  // ------------------ //
  .r-nickname,
  .r-nickname-text {
    width: 33%;
  }
  .r-registered,
  .r-registered-text {
    width: 23%;
  }
  .r-games,
  .r-games-text {
    width: 10%;
  }
  .r-active,
  .r-active-text {
    width: 21%;
    text-align: center;
  }
  .r-profit,
  .r-profit-text {
    width: 13%;
  }
}

@media (min-width: 580px) {

  .cabinet-transaction-history .content-box-cat {
    float: none;
    display: table;
    margin: auto;
  }

  .cabinet-transaction-history .content-box-cat a {
    display: table-cell;
    padding: 0 10px;
    margin-right: 5px;
  }
}

@media (min-width: 530px) {
  .content-box-item.cabinet-transaction-history {
    padding-top: 90px;
  }
  .cabinet-transaction-history .calendar-range {
    float: left;
    margin-bottom: 0;
  }

  .cabinet-transaction-history .content-box-cat {
    float: right;
    padding-top: 8px;
    margin-right: 30px;
  }
}

