.header {
  height: 55px;
  margin-bottom: 20px;
  .container {
    position: relative;
    padding-right: 184px;
  }
}

.header-left {
  height: 55px;
  float: left;
}

.header-logo {
  top: 19px;
  left: 0;
}

// MENU BUTTONS ------------------------- //

.menu-btns {
  height: 55px;
}

.menu-btn-item {
  padding: 0 20px;
}

.menu-btn:before {
  top: 18px;
}

.menu-profile-btn:before {
  top: 17px;
}

.menu-balance-btn:before {
  top: 16px;
}

// -------------------------------- //

.header-right {
  height: 55px;
}

.inf-slider {
  display: block;
  float: right;
  width: 300px;
  height: 55px;
  background: #ffe700;
}
