.header
  height: 55px
  margin-bottom: 20px

.header-left
  float: left
  width: 378px
  width: 100%
  margin-right: -350px
  height: 55px

.header-logo
  top: 19px
  left: 0





// MENU ------------------------- //

.menu
  padding-top: 90px

  &.active
    width: 370px

  & a
    padding-right: 30px

.menu-main:after
  right: 19px

.menu-btn
  top: 17px
  right: 2px
  width: 25px
  height: 21px
  background-position: -46px -191px

  &.active
    position: absolute
    right: 30px
    width: 19px
    height: 19px
    background-position: -140px -192px

// ----------------------------- //








.header-right
  float: left
  background: transparent

.inf-slider
  width: 300px