.content-box-scroll-top {
  float: right;
  position: relative;
  padding-right: 15px;
  cursor: pointer;
  &:after {
    content: "";
    display: block;
    width: 8px;
    height: 10px;
    background: url(img/sprite.png) -230px -57px;
    position: absolute;
    top: 5px;
    right: 0;
  }
}

// BLOG ------------------------------- //

.post-item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cbc7c4;
  &:last-child {
    border-bottom: none;
  }
}

.post-item-img {
  margin-bottom: 20px;
  overflow: hidden;
}

.post-item-img img {
  display: block;
  width: 100%;
  height: auto;
}

.post-item-inf {
  font-size: 13px;
  line-height: 1.39;
  margin-bottom: 10px;
}

.post-item-date {
  float: left;
}

.post-item-views-comments {
  float: right;
}

.post-item-views-inf {
  float: left;
  position: relative;
  margin-right: 20px;
  padding-left: 20px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 15px;
    height: 11px;
    background: url(img/sprite.png) -120px -86px;
  }
}

.post-item-comments-inf {
  float: left;
  position: relative;
  padding-left: 20px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 15px;
    height: 14px;
    background: url(img/sprite.png) -260px -55px;
  }
}

.post-item-title {
  font-size: 15px;
  line-height: 1.27;
  margin-bottom: 22px;
}

.post-more-btn {
  float: right;
  font-size: 15px;
  line-height: 21px;
  color: #4a90e2;
  display: block;
  cursor: pointer;
  position: relative;
  padding-right: 17px;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 7px;
    height: 21px;
    background: url(img/sprite.png) -360px -80px;
  }
}

@media (min-width: 500px) {
  .post-item {
    padding-left: 310px;
    position: relative;
  }
  .post-item-img {
    float: left;
    width: 300px;
    height: 200px;
    margin-bottom: 0;
    margin-left: -310px;
  }
  .post-item-description {
    float: right;
  }
  .post-item-views-comments {
    float: none;
  }
  .post-item-date {
    float: none;
    margin-bottom: 5px;
  }
  .post-more-btn {
    position: absolute;
    right: 0;
    bottom: 20px;
  }
}

@media (min-width: 560px) {
  .post-item-date {
    float: left;
    margin-bottom: 0;
  }
  .post-item-views-comments {
    float: right;
  }
}

.post .title {
  font-size: 21px;
  line-height: 1.29;
  margin-bottom: 15px;
}

.more-posts .title,
.post-comments .title {
  border-width: 1px 0;
  border-style: solid;
  border-color: #d2d1cd;
  padding: 5px 2px;
}

.post-comments .title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

// ---------------------------- //

.post-inf {
  margin-bottom: 15px;
  color: #4c4c4e;
  font-size: 14px;
  margin-bottom: 20px;
}

.post-date {
  float: left;
}

.post-views-comments {
  float: right;
}

.post-views-inf,
.post-comments-inf {
  float: left;
  position: relative;
  padding-left: 20px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    background-image: url(img/sprite.png);
  }
}

.post-views-inf {
  margin-right: 20px;
  &:before {
    width: 15px;
    height: 11px;
    top: 3px;
    background-position: -120px -86px;
  }
}

.post-comments-inf:before {
  width: 15px;
  height: 14px;
  top: 3px;
  background-position: -260px -55px;
}

.post-socials {
  & a {
    display: block;
    float: left;
    min-width: 74px;
    height: 25px;
    color: #4c4c4e;
    text-decoration: none;
    padding: 0 5px 0 35px;
    line-height: 25px;
    text-align: center;
    border: 1px solid;
    border-radius: 2px;
    position: relative;
    margin: 0 35px 15px 0;
    font-size: 13px;
    font-weight: bold;
    &:last-child {
      margin-right: 0;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 100%;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      background-image: url(img/sprite.png);
    }
  }
  & .fb {
    border-color: #3c5a96;
    &:before {
      background-color: #3c5a96;
    }
    &:after {
      width: 8px;
      height: 16px;
      top: 3px;
      left: 10px;
      background-position: -455px -197px;
    }
  }
  & .tw {
    border-color: #59adeb;
    &:before {
      background-color: #59adeb;
    }
    &:after {
      width: 20px;
      height: 16px;
      top: 4px;
      left: 5px;
      background-position: -492px -197px;
    }
  }
  & .gp {
    border-color: #bd4c3a;
    &:before {
      background-color: #bd4c3a;
    }
    &:after {
      width: 16px;
      height: 16px;
      top: 4px;
      left: 7px;
      background-position: -544px -199px;
    }
  }
}

.post-description {
  border-top: 1px solid #d2d1cd;
  padding-top: 20px;
  margin: 0 0 30px;
  line-height: 1.5;
  & img {
    display: block;
    width: 100%;
    height: auto;
    margin: 20px 0;
  }
}

// ---------------------------- //

.more-posts {
  margin-bottom: 40px;
  & a {
    display: block;
    color: black;
    margin-bottom: 20px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// ---------------------------- //

.post-comments {
  padding-bottom: 60px;
}

// ---------------------------- //

@media (min-width: 550px) {
  .post-inf {
    margin-bottom: 0;
    position: relative;
    top: 3px;
    &:after {
      clear: none;
    }
  }
  .post-date {
    margin-right: 40px;
  }
  .post-views-comments {
    float: left;
  }
  .post-socials {
    float: right;
    & a {
      margin: 0 15px 15px 0;
    }
  }
}
