.content-box-header.cabinet-cashout-inf
  font-size: 17px

.ci-title
  font-size: 16px
  margin-bottom: 25px

// --------------------------- //

.ci-personal-form
  position: relative
  line-height: 50px
  margin: 0 -10px 30px
  font-size: 16px
  border-top: 1px solid #B4AEAE

.ci-personal-form-names
  position: absolute
  top: 0
  left: 0
  text-align: left
  color: #B4AEAE
  font-size: 14px
  z-index: 1
  padding-left: 10px

.ci-personal-form-names li
  margin-bottom: 2px

.ci-personal-form-values li
  position: relative

.ci-personal-form-values input
  border-width: 0 0 1px
  border-style: solid
  border-color: #B4AEAE
  display: block
  width: 100%
  line-height: inherit
  padding: 0
  padding-left: 150px
  padding-bottom: 1px
  font-size: 15px

  &:focus
    border-width: 0 0 2px
    border-color: #BED8D9
    padding-bottom: 0

  &.input-prefix
    padding-left: 165px

span.input-prefix
  color: #B4AEAE
  position: absolute
  top: -1px
  left: 150px

.ci-save-btn
  display: block
  margin: auto
  width: 200px
  border: 1px solid #E6E6E6
  border-radius: 2px
  color: #B4AEAE
  text-transform: uppercase
  text-align: center
  background: transparent
  font-weight: bold
  cursor: pointer
  padding: 7px 0
  margin-bottom: 20px

// --------------------------- //