.cabinet-account
  text-align: center

// ------------------------------ //

.c-user-inf-wrapper
  margin-bottom: 30px

.c-user-inf
  margin-bottom: 30px

.c-user-img
  width: 200px
  height: 200px
  position: relative
  margin: 0 auto 20px

.c-user-img img
  display: block
  width: 100%
  height: auto
  border-radius: 50%

.c-user-nickname
  position: absolute
  bottom: 30px
  width: 100%
  color: #fff
  font-size: 16px
  text-align: center

.c-socials
  margin-bottom: 30px

.c-social-inf
  margin-bottom: 10px
  text-align: center

.c-social-inf span
  margin-left: 10px

.c-social-icons
  text-align: center

.c-social-item
  display: inline-block
  width: 25px
  height: 25px
  background: url(img/sprite.png)

.c-social-item.soc-1
  background-position: -496px -260px

.c-social-item.soc-2
  background-position: -526px -260px

.c-social-item.soc-3
  background-position: -556px -260px


// ------------------------------ //

.c-user-personal-inf
  font-size: 14px

.c-user-personal-inf table
  width: 100%
  line-height: 1.3
  margin-bottom: 10px

.c-user-personal-inf tr
  border-bottom: 1px solid #E6E6E6

.c-user-personal-inf td
  text-align: center
  padding: 10px 0

  &:first-child
    display: none

.c-favorite-combination-item
  display: inline-block
  width: 30px
  height: 30px
  border-radius: 50%
  border: 1px solid #525252
  text-align: center
  line-height: 28px
  margin-right: 5px

.personal-inf-edit-btn
  float: right
  font-size: 14px
  color: #4A90E5
  text-decoration: none

  &:hover
    text-decoration: underline

// ------------------------------ //

.c-play-inf-win
  font-size: 17px
  background: #FAFAFA
  margin: 0 -10px
  line-height: 1.4
  padding: 12px 0
  text-align: center

.c-play-inf-win span
  display: block

.c-play-inf table
  width: 100%
  line-height: 1.3

.c-play-inf tr
  border-bottom: 1px solid #E6E6E6

.c-play-inf td
  padding: 14px 0 14px 10px

  &:first-child
    padding-left: 0