.Ghd-number
  background: #FFE700
  border-radius: 50%
  display: block
  text-align: center



.ghd-numbers
  width: 295px
  margin: 0 auto 30px

.ghd-number
  @extend .Ghd-number
  width: 45px
  height: 45px
  line-height: 45px
  font-size: 20px
  font-weight: bold
  float: left
  margin-right: 5px
  color: #4a4a4a

  &:last-child
    margin-right: 0

// ----------------------------- //



.ghd-tickets table
  margin-bottom: 5px

.ghd-tickets td:first-child
  padding-right: 5px

.ghd-tickets td:last-child
  padding-left: 10px

.ghd-tickets td
  padding-bottom: 15px

.ghd-tickets td:first-child span
  display: none

.ghd-ticket-number
  @extend .Ghd-number
  display: inline-block
  width: 30px
  height: 30px
  line-height: 29px
  font-size: 15px

  &.false
    background: #fff
    border: 1px solid #535353

.ghd-won
  font-size: 18px

// ----------------------------- //
.ghd-game-inf .title
  font-size: 18px
  border-bottom: 1px solid #9B9B9B
  padding-bottom: 6px
  margin-bottom: 15px
  text-align: center

.ghd-game-inf table
  font-size: 15px
  width: 100%
  margin-bottom: 10px

.ghd-game-inf th
  padding-bottom: 10px

  &:nth-child(1)
    text-align: center
    padding-right: 20px

  &:nth-child(2)
    padding-left: 10px

  &:nth-child(3)
    padding-left: 10px

.ghd-game-inf td
  padding-bottom: 10px

  &:nth-child(1)
    text-align: center
    padding-right: 20px

  &:nth-child(2)
    padding-left: 25px

  &:nth-child(3)
    padding-left: 30px

.ghd-all-won
  border-top: 1px solid #9B9B9B
  padding: 10px 10px 0
  float: right

// ----------------------------- //




// ----------------------------- //