// CABINET ---------------------------------------- //

.cabinet .content-box-tab span
  display: none

.cabinet .content-box-tab
  width: 20%

.cabinet .content-box-tab:after
  content: ""
  display: block
  margin: auto
  position: relative
  top: 14px
  background-image: url(img/sprite.png)

.cabinet-history-tab:after
  width: 30px
  height: 26px
  background-position: 0 -130px


.cabinet-bonuses-tab:after
  width: 26px
  height: 26px
  background-position: -61px -130px


.cabinet-referrals-tab:after
  width: 28px
  height: 26px
  background-position: -120px -130px


.cabinet-account-tab:after
  width: 26px
  height: 25px
  background-position: -182px -130px


.cabinet-balance-tab:after
  width: 25px
  height: 25px
  background-position: -235px -130px

.cabinet-balance-tab
  position: relative
  z-index: 11



// BALANCE MENU ----------------------------- //

.balance-menu
  display: none
  width: 320px
  padding: 30px 10px 20px
  position: absolute
  top: 50px
  right: 0
  background: #fff
  border-radius: 0 0 2px 2px
  z-index: 10
  text-align: center
  text-transform: uppercase
  box-shadow: -1px 1px 2px rgba(0,0,0,.2)

.balance-menu-inf
  font-size: 31px
  font-weight: bold
  line-height: .7
  margin-bottom: 15px

.balance-menu-inf span
  font-size: 13px
  font-weight: normal

.balance-menu-inf div
  width: 130px

  &:first-child
    float: left

  &:last-child
    float: right

.balance-menu-actions
  margin-bottom: 10px

.balance-menu-actions .balance-menu-item
  width: 130px

  &:first-child
    float: left

  &:last-child
    float: right

.balance-menu-item
  display: block
  border: 1px solid #A5A5A5
  border-radius: 2px
  text-decoration: none
  color: #000
  font-size: 13px
  line-height: 35px
  margin-bottom: 15px
  position: relative

  &:last-child
    margin-bottom: 0