// CABINET ---------------------------------------- //

.cabinet .content-box-tab span
  display: none

.cabinet .content-box-tab
  width: 20%

.cabinet .content-box-tab:after
  content: ""
  display: block
  margin: auto
  position: relative
  top: 14px
  background-image: url(img/sprite.png)

.cabinet-history-tab:after
  width: 30px
  height: 26px
  background-position: 0 -130px


.cabinet-bonuses-tab:after
  width: 26px
  height: 26px
  background-position: -61px -130px


.cabinet-referrals-tab:after
  width: 28px
  height: 26px
  background-position: -120px -130px


.cabinet-account-tab:after
  width: 26px
  height: 25px
  background-position: -182px -130px