.content-box-item.cabinet-transaction-history
  padding-top: 112px

.cabinet-transaction-history .content-box-cat
  float: none
  display: table
  margin: auto

.cabinet-transaction-history .content-box-cat a
  display: table-cell
  padding: 0 10px
  margin-right: 5px

// ----------------------------- //

.th-item
  margin: 0 -10px
  padding: 13px 10px 0
  cursor: pointer
  position: relative
  line-height: 1.4

  &:hover:before
    content: ""
    clear: none
    display: block
    position: absolute
    width: 17px
    height: 30px
    background: url(img/sprite.png) -214px -187px
    top: 10px
    right: 10px

  &:nth-child(odd)
    background: #FAFAFA

// ----------------------------- //

.th-date-range
  font-size: 24px
  margin-bottom: 5px
  margin-top: 30px

  &:first-child
    margin-top: 0

// ----------------------------- //

.th-item-left,
.th-item-right
  margin-bottom: 13px

// ----------------------------- //

.th-item-left
  float: left

.th-item-left div
  float: left
  margin-right: 30px

.th-item-right
  float: right

.th-item-right div
  float: left
  margin-right: 35px

// ----------------------------- //

.th-item.th-minus .th-item-sum
  color: #FF466D

// ----------------------------- //

@media (min-width: 530px)

  .content-box-item.cabinet-transaction-history
    padding-top: 90px

  .cabinet-transaction-history .calendar-range
    float: left
    margin-bottom: 0

  .cabinet-transaction-history .content-box-item-top
    padding-top: 35px

  .cabinet-transaction-history .content-box-cat
    float: right
    padding-top: 8px
    margin-right: 30px