.cc-title
  margin-bottom: 30px

.cc-form-top
  margin-bottom: 20px

.cc-form-top .title
  font-size: 22px
  margin-right: 20px

.cc-out
  margin-bottom: 30px

.cc-out .title
  display: inline-block

.cc-out input
  display: inline-block
  width: 170px
  height: 52px
  border-width: 0 0 1px
  border-style: solid
  border-color: #CBC7C4
  padding: 0 35px 0 5px

.cc-out .cc-currency
  position: relative
  left: -30px

.cc-sum
  font-size: 50px
  font-weight: bold

.cc-currency
  text-transform: uppercase

.cc-convert-btn
  display: block
  width: 100%
  background: transparent
  border: 1px solid #4A4A4A
  border-radius: 2px
  padding: 12px 0
  text-align: center
  text-transform: uppercase
  font-size: 14px
  font-weight: bold
  color: #4A4A4A



// -------------------------- //

@media (min-width: 600px)

  .cc-out
    float: left

  .cc-income
    float: right

  .cc-title
    margin-bottom: 30px
    font-size: 21px