.c-chronicle .c-friend
  opacity: .6

  &.new
    opacity: 1

.c-friend-news
  font-size: 14px
  line-height: 1.2

  & a
    color: #4a90e2
    text-decoration: none

    &:hover
      text-decoration: underline