.c-friend-date
  color: #9B9B9B
  font-size: 12px
  margin-bottom: 10px

.c-friend-gift
  font-size: 14px
  display: inline-block
  border: 1px solid #4C4C4C
  border-radius: 2px
  padding: 2px 10px
  text-align: center
  text-decoration: none
  color: #4C4C4C