.cg-balance
  text-align: center
  margin-bottom: 20px

.cg-friend-img
  width: 100px
  height: 100px
  margin: 0 auto 10px

  & img
    display: block
    width: 100%
    height: auto
    border-radius: 50%

.cg-friend-name
  margin-bottom: 30px
  text-align: center

.cg-title
  font-size: 24px
  text-align: center
  margin-bottom: 30px

.cg-gifts
  margin-bottom: 20px

.cg-gift
  border-bottom: 1px solid #CBC7C6
  padding: 10px

  &:first-child
    border-top: 1px solid #CBC7C6

  & > label
    cursor: pointer
    display: block
    padding-left: 40px

  & label.input-radio
    cursor: pointer
    display: inline-block
    margin-left: -40px
    margin-right: 15px
    vertical-align: middle

.cg-gift-inf
  display: inline-block
  vertical-align: middle
  font-size: 18px

.cg-gift-name
  text-transform: uppercase
  margin-bottom: 5px

.cg-sum
  margin-bottom: 25px
  font-size: 24px

.cg-sum-count
  font-size: 48px
  font-weight: bold
  margin: 0 10px 0 20px

.cg-sum-currency
  font-size: 15px
  text-transform: uppercase
  font-weight: bold

.cg-btn
  text-decoration: none
  text-transform: uppercase
  text-align: center
  color: #000
  font-size: 15px
  font-weight: bold
  display: block
  width: 100%
  max-width: 320px
  border: 1px solid #4A4A4A
  border-radius: 2px
  padding: 10px 0
  background: transparent



@media (min-width: 600px)

  .cg-sum
    float: left
    margin-bottom: 0

  .cg-btn
    max-width: none
    width: 200px
    float: right
    position: relative
    top: 15px


// LIMITED ------------------------------- //

.communication-gift.limited

  & .cg-title
    border-width: 1px 0
    border-style: solid
    border-color: #CBC7C6
    margin-left: -10px
    margin-right: -10px
    padding: 15px 10px
    font-size: 16px

  & .cg-form
    position: relative
    opacity: .5

    &:before
      clear: none
      content: ""
      display: block
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 100