.send-msg
  display: table
  margin: 40px auto 0
  border: 1px solid #CBC7C6
  border-radius: 2px
  color: #4A4A4A
  text-decoration: none
  line-height: 33px
  padding: 0 35px
  font-size: 14px

  &:hover
    color: #000
    border-color: #000

.c-user-delete
  position: absolute
  top: 0
  left: 0
  width: 16px
  height: 16px
  background: url(img/sprite.png) -119px -54px
  cursor: pointer

  &:hover
    background-position: -82px -54px

.c-friend-detail

  & .c-user-inf-wrapper
    position: relative

  & .c-user-inf
    margin-bottom: 90px

  & .c-user-img
    position: relative

    &:after
      content: ""
      display: block
      position: absolute
      top: 0
      right: 0
      width: 10px
      height: 10px
      border-radius: 50%
      background: #cfcfcf

    &.online:after
      background: #7ED320

  & .c-social
    position: absolute
    top: 220px
    width: 100%