// COMMUNICATION ---------------------------------------- //

.communication .content-box-tab
  padding: 0 20px
  position: relative

.communication .content-box-tab span
  display: none

.communication .content-box-tab:before
  content: ""
  display: inline-block
  vertical-align: top
  position: relative
  background-image: url(img/sprite.png)

.communication .content-box-tab.back-tab
  padding: 0 20px 0 10px

.communication .back-tab:before
  width: 15px
  height: 30px
  top: 10px
  background-position: -178px -187px

.communication .communication-comments-tab:before
  width: 31px
  height: 32px
  top: 9px
  background-position: -347px -130px

.communication .communication-messages-tab:before
  width: 32px
  height: 24px
  top: 13px
  background-position: -290px -130px


.communication .communication-friends-tab:before
  width: 25px
  height: 25px
  top: 11px
  background-position: -235px -130px



.communication .content-box-tab .count
  display: inline-block
  text-align: center
  color: #FFE700
  background: #4A4A4A
  border-radius: 20px
  height: 20px
  line-height: 20px
  padding: 0 7px
  font-weight: normal
  text-shadow: none
  font-size: 14px
  margin-left: 15px
  vertical-align: baseline

.communication .content-box-tab .chronicle-count
  display: block
  position: absolute
  top: 0
  right: 0
  background: #3D3D3D
  color: #ffe700
  font-size: 13px
  line-height: 1
  padding: 1px 4px


// COMMUNICATION -> FRIENDS --------------------------------- //

.communication .content-box-tab
  padding: 0 15px