.content-box-scroll-top
  float: right
  position: relative
  padding-right: 15px
  cursor: pointer

  &:after
    content: ""
    display: block
    width: 8px
    height: 10px
    background: url(img/sprite.png) -230px -57px
    position: absolute
    top: 5px
    right: 0



// BLOG ------------------------------- //

.post-item
  margin-bottom: 20px
  padding-bottom: 20px
  border-bottom: 1px solid #CBC7C4

  &:last-child
    border-bottom: none

.post-item-img
  margin-bottom: 20px
  overflow: hidden

.post-item-img img
  display: block
  width: 100%
  height: auto

.post-item-inf
  font-size: 13px
  line-height: 1.39
  margin-bottom: 10px

.post-item-date
  float: left

.post-item-views-comments
  float: right

.post-item-views-inf
  float: left
  position: relative
  margin-right: 20px
  padding-left: 20px

  &:before
    content: ""
    display: block
    position: absolute
    top: 3px
    left: 0
    width: 15px
    height: 11px
    background: url(img/sprite.png) -120px -86px

.post-item-comments-inf
  float: left
  position: relative
  padding-left: 20px

  &:before
    content: ""
    display: block
    position: absolute
    top: 3px
    left: 0
    width: 15px
    height: 14px
    background: url(img/sprite.png) -260px -55px

.post-item-title
  font-size: 15px
  line-height: 1.27
  margin-bottom: 22px

.post-more-btn
  float: right
  font-size: 15px
  line-height: 21px
  color: #4a90e2
  display: block
  cursor: pointer
  position: relative
  padding-right: 17px

  &:after
    content: ""
    position: absolute
    top: 0
    right: 0
    width: 7px
    height: 21px
    background: url(img/sprite.png) -360px -80px



@media (min-width: 500px)

  .post-item
    padding-left: 310px
    position: relative

  .post-item-img
    float: left
    width: 300px
    height: 200px
    margin-bottom: 0
    margin-left: -310px

  .post-item-description
    float: right

  .post-item-views-comments
    float: none

  .post-item-date
    float: none
    margin-bottom: 5px

  .post-more-btn
    position: absolute
    right: 0
    bottom: 20px



@media (min-width: 560px)

  .post-item-date
    float: left
    margin-bottom: 0

  .post-item-views-comments
    float: right