.settings .title
  font-size: 21px
  margin-bottom: 20px



.s-pass
  margin-bottom: 30px

  & ul
    position: relative
    line-height: 50px

.s-pass-names
  position: absolute
  top: 0
  left: 0
  color: #b4aeae
  font-size: 14px
  z-index: 1

  & li
    margin-bottom: 2px

.s-pass-values

  & input
    display: block
    width: 100%
    border-width: 0 0 1px 0
    border-style: solid
    border-color: #E5E5E5
    padding-left: 140px
    padding-bottom: 1px
    line-height: inherit
    font-size: 20px

    &:focus
      border-width: 0 0 2px
      border-color: #BED8D9
      padding-bottom: 0



.s-lang
  margin-bottom: 30px



.s-email
  margin-bottom: 40px



.settings-btn
  display: block
  border: 1px solid #4A4A4A
  border-radius: 2px
  width: 200px
  padding: 9px 0
  text-align: center
  text-transform: uppercase
  background: transparent
  cursor: pointer
  margin: auto
  font-weight: bold



.radio-text
  margin-right: 15px

  & input
    display: none

    &:checked + span
      border-bottom: 2px solid #CBE4DE

  & span
    display: inline-block
    padding: 0 2px 4px
    cursor: pointer