.lottery-grid {
	padding: 0;
	& > * {
		padding: 0;	
	}
	& .title {
    padding: 16px 10px;
	}
}

.matches-inf {
	& .lottery-grid {
		& .ul-striped {
			& li {
				padding: 6px 10px 13px;
				& p {
					display: inline-block;		
					&:first-child {
						margin-right: 30px;
						min-width: 200px;
					}
				}	
				span {
					display: inline-block;
				}
			}
		}
	}
}
.ticket-done {
	margin-right: 10px;
}
#lottery .content-box-content {
	padding-left: 10px;
    margin: 0 auto;
	& .gh-item {
	    &:before {
	    	left: -20px;
	    }
	}
	& .gh-inf {
		font-size: 15px;
	}
	& .gh-date {
		margin-bottom: 15px;
		display: block;
	}
}

#lottery-process {
	max-width: 100%;
	height: 634px;
	&.lottery-won {
      	background: url(../img/600.png) center center no-repeat;
    }
	& .container{
	    max-width: 410px;
	    margin: 0 auto;
	    min-width: 0;
		& > div {
			height: 73px;
			& a {
				top: 27px;
			}
		}
	}
}
.balls-end-game {
  	& .g-oc_li {
	    width: 62px;
	    height: 62px;
	    margin-right: 7px;
	    float: left;
	    font: 25px  Handbook-bold;
	    line-height: 60px;
	    color: #000;
	    text-align: center;
	    letter-spacing: -2px;
	    position: relative;
	    overflow: hidden;
	    &:last-of-type {
	      	margin-right: 0;
	    }
	    & .goc_li-sh {
		    width: 60px;
		    height: 60px;
		    position: absolute;
		    top: 0;
		    left: 0;
		    z-index: 1;
		    // background: url(../css/img/sprite.png);
		    background: #fff;
		    background-position: -65px -383px;
	    }
    	& .goc_li-sh2 {
    		width: 63px;
     		height: 63px;
      		position: absolute;
      		top: 0;
      		left: 0;
      		z-index: 100;
      		background: url(../img/sprite.png);
      		background-position: 0 -383px;
    	}
   		& .goc_li-nb {
	      	background-color: #ffe400;
	      	width: 60px;
	      	height: 60px;
	      	border-radius: 50%;
	      	text-align: center;
	      	letter-spacing: -2px;
	      	position: absolute;
	      	left: 0;
	      	top: -60px;
	      	z-index: 2;
      		&.random-ball {
        		top: 105px;
        		&:first-child {
         			top: 0px;
         		}
         	}	
        }  
    }  
}
.lottery-amimation-box {
	margin-top: 40px;
}
.ghd-tickets li ul li.filled-ball {
	margin-right: 24px;
	&:last-of-type {
		margin-right: 0;
	}
}
.ghd-tickets li span {
	margin-right: 37px;
}
.cabinet-game-history {
	padding: 52px 0 30px;
}
.ghd-won {
    margin-top: 24px;
    & .grid-container {
    	max-width: 320px;
  	}
}


#lottery-history-view {

	& .container {
		max-width: 410px;
		margin: 0 auto;
		min-width: 0;
		& .balls-end-game {
			margin-top: 5px;
			& .g-oc_li {
				width: 62px;
				height: 62px;
				font: 25px Handbook-bold;
    			line-height: 62px;
				margin-right: 7px;
				&:last-child {
					margin-right: 0;
				}
				& .goc_li-nb {
					width: 62px;
					height: 62px;
					top: 0;
					line-height: 60px;
					left: 0;
				}
				
			}
		}
	}			

	& .ghd-won {
		font: 15px / 1 handbookpro-regular;
		& .grid-container {
			max-width: 320px;
		}
	}
	& .ghd-game-inf {

		& .ghd-all-won {
			border: 0;
			text-transform: uppercase;
			float: none;
			padding: 5px 0 0;
			& span {
				margin-left: 5px;
				&:nth-of-type(2) {
					margin-left: 20px;
				}
			}
		}
		& table {
			width: 410px;
    		margin: 0 auto 10px;
		}
		
	}
}

#lottery-history-view .content-box-header span {
	display: none;
}



@media (min-width: 600px) {

	.lottery-amimation-box {
		margin-top: 30px
	}
	#lottery-process {
		height: 658px;
		&.lottery-won {
      		background: url(../img/768.png) center center no-repeat;
    	}
		& .container{
	    max-width: 498px;
	    margin: 0 auto;
	    min-width: 0;
			& > div {
				height: 73px;
				& a {
					top: 27px;
				}
			}
		}	
	}

	.balls-end-game {
	  	& .g-oc_li {
		    width: 72px;
		    height: 72px;
		    margin-right: 13px;
		    float: left;
		    font: 25px  Handbook-bold;
		    line-height: 70px;
		    color: #000;
		    text-align: center;
		    letter-spacing: -2px;
		    position: relative;
		    overflow: hidden;
		    &:last-of-type {
		      	margin-right: 0;
		    }
		    & .goc_li-sh {
		      	width: 70px;
		      	height: 70px;
		      	position: absolute;
		      	top: 0;
		      	left: 0;
		      	z-index: 1;
		      	// background: url(../css/img/sprite.png);
		      	background: #fff;
		      	background-position: -200px -383px;
		    }
		    & .goc_li-sh2 {
		      	width: 73px;
		      	height: 73px;
		      	position: absolute;
		      	top: 0;
		      	left: 0;
		      	z-index: 100;
		      	background: url(../img/sprite.png);
		      	background-position: -126px -383px;
		    }
		    & .goc_li-nb {
		      	background-color: #ffe400;
		      	width: 70px;
		      	height: 70px;
		      	border-radius: 50%;
		      	text-align: center;
		      	letter-spacing: -2px;
		      	position: absolute;
		      	left: 0;
		      	top: -73px;
		      	z-index: 2;
		      	&.random-ball {
		        	top: 105px;
		        	&:first-child {
		          		top: 0px;
		        	}
		    	}
		    }
	    }
	}

	.ghd-tickets li ul li.filled-ball {
		margin-right: 26px;
		width: 40px;
	    height: 40px;
	    line-height: 40px;
	    margin-top: 0;
	    &.won_ball {
	    	width: 40px;
	    	height: 40px;	
	    	line-height: 40px;
	    }
		&:last-of-type {
			margin-right: 0;
		}
	}
	.ghd-tickets li span {
		margin-right: 48px;
	}
	.cabinet-game-history {
		padding: 52px 0 30px;
	}
	.ghd-tickets li {
		font-size: 19px;
		margin-bottom: 3px;
	}
	.ghd-tickets li span {
		min-width: 74px;
	}


	#lottery-history-view {

		& .container {
			max-width: 498px;
			margin: 0 auto;
			min-width: 0;
			& .balls-end-game {
				margin-top: 5px;
				& .g-oc_li {
					width: 72px;
					height: 72px;
					font: 25px Handbook-bold;
	    			line-height: 72px;
					margin-right: 13px;
					&:last-child {
						margin-right: 0;
					}
					& .goc_li-nb {
						width: 72px;
						height: 72px;
						top: 0;
						line-height: 72px;
						left: 0;
					}
					
				}
			}
		}			

		& .ghd-won {
			font: 15px / 1 handbookpro-regular;
			& .grid-container {
				max-width: 320px;
			}
		}
		& .ghd-game-inf {

			& .ghd-all-won {
				border: 0;
				text-transform: uppercase;
				float: none;
				padding: 5px 0 0;
				& span {
					margin-left: 5px;
					&:nth-of-type(2) {
						margin-left: 20px;
					}
				}
			}
			& table {
				width: 498px;
	    		margin: 0 auto 10px;
			}
			
		}

		& .ghd-tickets li {
		    font-size: 19px;
		    margin-bottom: 3px;
		    & span {
    			min-width: 74px;
			}
			& ul li {
				&.filled-ball {
				    margin-right: 26px;
				    width: 40px;
				    height: 40px;
				    line-height: 40px;
				    margin-top: 0;
				    & .won_ball {
					    width: 40px;
					    height: 40px;
					    line-height: 40px;
					}
				}
			}
			
		}
	}

}
@media (min-width: 640px) {

	.lottery-grid {
		& .title {
	    	padding: 16px 0 16px 30px;
		}
	}		

	.matches-inf {
		& .lottery-grid {
			& .ul-striped {
				& li {
					padding: 6px 30px 13px;
					& p {
						display: inline-block;		
						&:first-child {
							margin-right: 30px;
						}
					}	
					span {
						display: inline-block;
					}

				}
			}
		}
	}

	#lottery .content-box-content {
	    margin: 0 auto;
	    padding-left: 30px;
		& .gh-item {
		    &:before {
		    	left: -20px;
		    }
		    & .arrow {

				top: 5px;

			}
		}
	}
	.gh-inf {
		font-size: 15px;
		float: left; 
		&.gh-combination {
			float: right;
			margin-right: 50px;
		}
	}
	.gh-date {
		margin-bottom: 0;
		line-height: 30px;
	}
	.gh-item:before {
		top: 15px;
		left: -30px;
	}


	.ticket-tabs {
		margin-left: -10px;
    	margin-right: 10px;
	}

	.ticket-items {
    	padding-left: 20px;
	}	
	.lottery-grid.timer-box {
    	padding: 0 30px;
	}
	.cabinet-game-history {
		.content-box-cat {
			& a {
				&:first-child {
					padding: 5px 10px 5px 40px;
    				margin-left: 30px;
					&:before {
						left: 10px
					}
				}
			}
		}
	}
	.ticket-box .ticket-btn {
	    margin-right: 30px;
	}

	.cabinet-game-history .content-box-item-content {
		padding: 10px 30px 0 40px;
	}
	.content-box.tickets .title {
    	padding-left: 40px;
  	}
  	.ticket-done {
  		margin-right: 30px;
  	}
}
