@media (min-width: 530px) {
  .r-header,
  .r-item {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  // ------------------ //
  .r-header {
    display: block;
  }
  .r-header-item {
    float: left;
  }
  // ------------------ //
  .r-item {
    padding: 14px 20px;
    line-height: 1.4;
    &:hover:before {
      top: 10px;
      right: 10px;
    }
  }
  .r-inf-names {
    display: none;
  }
  .r-inf {
    float: none;
  }
  .r-inf-item {
    float: left;
  }
  .r-active {
    text-align: center;
  }
  // ------------------ //
  .r-nickname, .r-nickname-text {
    width: 45%;
  }
  .r-registered,
  .r-subreferrals-text{
    width: 23%;
  }
  .r-active,
  .r-active-text {
    width: 17%;
  }
  .r-profit,
  .r-profit-text {
    width: 15%;
  }
  
}

@media (min-width: 580px) {

  .cabinet-transaction-history .content-box-cat {
    float: none;
    display: table;
    margin: auto;
  }

  .cabinet-transaction-history .content-box-cat a {
    display: table-cell;
    padding: 0 10px;
    margin-right: 5px;
  }
}

@media (max-width: 767px) {
  .ph-item {
    & > div {
        & > div {
        position: relative; 
        top: 50%;
        transform: translate(0, -50%);
        min-width: 135px;
      }
    }
  }
}
@media (min-width: 530px) and (max-width: 767px){

  // ------------------ //
  .r-nickname,
  .r-nickname-text {
    width: 40%;
  }
  .r-registered,
  .r-subreferrals-text{
    width: 23%;
  }

  .r-active,
  .r-active-text {
    width: 17%;
  }
  .r-profit,
  .r-profit-text {
    width: 20%;
  }
}