/* ==========================================================================
                            @Font-face styles
   ========================================================================== */
@font-face {
    font-family: 'Handbook-regular';
    src: url('../fonts/PFHandbookPro-Regular/PFHandbookPro-Regular.eot');
    src: url('../fonts/PFHandbookPro-Regular/PFHandbookPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFHandbookPro-Regular/PFHandbookPro-Regular.woff') format('woff'),
    url('../fonts/PFHandbookPro-Regular/PFHandbookPro-Regular.ttf') format('truetype'),
    url('../fonts/PFHandbookPro-Regular/PFHandbookPro-Regular.svg#Handbook-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Handbook-bold';
    src: url('../fonts/PFHandbookPro-Bold/PFHandbookPro-Bold.eot');
    src: url('../fonts/PFHandbookPro-Bold/PFHandbookPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFHandbookPro-Bold/PFHandbookPro-Bold.woff') format('woff'),
    url('../fonts/PFHandbookPro-Bold/PFHandbookPro-Bold.ttf') format('truetype'),
    url('../fonts/PFHandbookPro-Bold/PFHandbookPro-Bold.svg#Handbook-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Handbook-medium';
    src: url('../fonts/PFHandbookPro-Medium/PFHandbookPro-Medium.eot');
    src: url('../fonts/PFHandbookPro-Medium/PFHandbookPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFHandbookPro-Medium/PFHandbookPro-Medium.woff') format('woff'),
    url('../fonts/PFHandbookPro-Medium/PFHandbookPro-Medium.ttf') format('truetype'),
    url('../fonts/PFHandbookPro-Medium/PFHandbookPro-Medium.svg#Handbook-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Handbook-italic';
    src: url('../fonts/PFHandbookPro-Italic/PFHandbookPro-Italic.eot');
    src: url('../fonts/PFHandbookPro-Italic/PFHandbookPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFHandbookPro-Italic/PFHandbookPro-Italic.woff') format('woff'),
    url('../fonts/PFHandbookPro-Italic/PFHandbookPro-Italic.ttf') format('truetype'),
    url('../fonts/PFHandbookPro-Italic/PFHandbookPro-Italic.svg#Handbook-italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,button,input,select,textarea {}
body {line-height:1;background-color:#f3f3f3;font-family: Handbook-regular;color:#4f4f4f;}

::-moz-selection {background: #b3d4fc;text-shadow: none;}

::selection {background: #b3d4fc;text-shadow: none;}

hr {display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;}
img {vertical-align: middle;}
fieldset {border: 0;margin: 0;padding: 0;}
textarea {resize: vertical;}
.chromeframe {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}
a {text-decoration:none;}
a:hover {}

input[type="checkbox"] + label {font:13px/11px Handbook-regular;cursor: pointer;position: relative;color:#000;display:block;padding-left:30px;}
input[type="checkbox"] + label a {font:13px/11px Handbook-bold;text-decoration:none;color:#000;}
input[type="checkbox"] + label a:hover {text-decoration: underline;}
input[type="checkbox"] + label:before {content: "";display:block;height:18px;width:18px;position:absolute;left:0;top:2px;border:1px solid #000;}
.font-fix input[type="checkbox"] + label:before {top:0;}
input[type="checkbox"]:checked + label:after {content: "";display:block;width:16px;height:16px;background-color:#000;position:absolute;left:2px;top:4px;}
.font-fix input[type="checkbox"]:checked + label:after {top:2px;}



/* ==========================================================================
                            Author's custom styles
   ========================================================================== */
.b-cl-block {clear:both;line-height:0;margin:0;padding:0;display:block;}
.b-ha {height:auto!important;}

/* ==========================================================================
                            Game-header styles
   ========================================================================== */

.wrap{}

/* ==========================================================================
                            Header styles
   ========================================================================== */
header {width:1280px;max-height:135px;margin:auto;overflow:hidden;}
.hr-br {width:960px;float:left;}
.hr-io-bk {float:right;width:320px;height:135px;background-color:#fee518;}
#hr-io-slider {height:100px;}
.slick-dots {font-size:0;margin:0;padding:0;bottom:-30px;}
.slick-dots li {width:30px;height:30px;vertical-align:middle;line-height:30px;cursor:default;margin:0;}
.slick-dots li button {background:transparent;width:10px;height:10px;border:1px solid #000;border-radius:50%;display:inline-block;padding:0;}
.slick-dots li.slick-active button {background-color:#000;}
.pw-gm-rt .ct {padding:16px 0 0 30px;}
.pw-gm-rt .ct .tl {font:12px/14px Handbook-medium;color:#000;text-transform:uppercase;margin-bottom:10px;}
.pw-gm-rt .ct .rt-bk {margin:0;padding:0;list-style:none;font-size:0;}
.pw-gm-rt .ct .rt-bk .rt-bk_li {width:35px;height:35px;border-radius:50%;background-color:#000;font:17.5px/35px Handbook-bold;background-color:#000;color:#fee212;text-align:center;margin-right:8px;display:inline-block;}
.font-fix .pw-gm-rt .ct .rt-bk .rt-bk_li {line-height:38px;}
.pw-gm-rt .ct .rt-bk .rt-bk_li:last-child {margin-right:0;}


/* ==========================================================================
                            Navigation styles
   ========================================================================== */
nav.top-nav {width:100%;margin-bottom:-70px;}
nav.top-nav.fixed {position:fixed;top:0;z-index:100;}
.tn-box {width:1280px;height:70px;margin:auto;background:#f2efed url("../img/game-block-footer-logo.png") no-repeat 28px 21px;}
.tn-mbk {list-style:none;margin:0px 0 0 200px;padding:5px 0 0 0;overflow:hidden;float:left;}
.tn-mbk .tn-mbk_li {float:left;padding:0 30px;height:60px;font:15px/60px Handbook-bold;text-transform:uppercase;text-align:center;color:rgba(0, 0, 0, 0.3);background-color:transparent;
    -webkit-transition: background 300ms cubic-bezier(0.215, 0.61, 0.355, 1), color 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: background 300ms cubic-bezier(0.215, 0.61, 0.355, 1), color 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition: background 300ms cubic-bezier(0.215, 0.61, 0.355, 1), color 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: background 300ms cubic-bezier(0.215, 0.61, 0.355, 1), color 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: background 300ms cubic-bezier(0.215, 0.61, 0.355, 1), color 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.tn-mbk .tn-mbk_li.now {background-color:#ffe400;}
.tn-mbk .tn-mbk_li.now > a {cursor:default;}
.tn-mbk .tn-mbk_li > a {color:rgba(0, 0, 0, 0.8);text-decoration:none;}
.tn-tr-bk {float:right;margin-right:40px;width:250px;}
.tn-tr-bk .tn-tr-tt {float:left;max-width:125px;font:12px/1 Handbook-medium;color:#404040;text-transform:uppercase;margin-top:23px;}
.tn-tr-bk .tn-tr {font:36px/1 Handbook-bold;color:#2f2f2f;float:right;margin-top:18px;}
.font-fix .tn-tr-bk .tn-tr {margin-top:20px;}


/* ==========================================================================
                            Section wings styles
   ========================================================================== */
article {width:1280px;margin:70px auto 0 auto;}
article .wings {}
.wings .lbs {width:130px;text-align:right;float:left;}
.wings .lbs .bz1 {margin-bottom:45px;}
.wings .lbs .bz2 {margin-bottom:40px;}
.wings .rbs .bz1,.wings .rbs .bz2  {margin-bottom:40px;}

.wings .rbs {width:320px;float:right;}
.wings .w-ct {width:750px;margin-left:170px;}

.tickets {padding-top:25px;margin-bottom:40px;}
.tickets .tb-tabs {list-style:none;margin:0;padding:0;font-size:0;}
.tickets .tb-tabs .tb-tabs_li {display:inline-block;width:120px;height:30px;margin-right:20px;background-color:#909090;font:15px/30px Handbook-bold;text-align:center;border-radius:5px 5px 0 0;text-transform:uppercase;cursor:pointer;vertical-align:bottom;}
.font-fix .tickets .tb-tabs .tb-tabs_li {line-height:34px;}
.tickets .tb-tabs .tb-tabs_li > a {color:#e0eaeb;text-decoration:none;}
.tickets .tb-tabs .tb-tabs_li.now {height:40px;line-height:40px;position:relative;top:1px;background:transparent;width:122px;margin-right:18px;overflow:hidden;background-color:#b2d0d4;box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.4);}
.tickets .tb-tabs .tb-tabs_li.now > a {display:block;width:120px;border-radius:5px 5px 0 0;box-shadow:2px 2px 1px 0 rgba(0, 0, 0, 0.4);color:#4c4c4c;}

.tb-slides {background-color:#b2d0d4;box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.4), 2px 2px 1px 0 rgba(0, 0, 0, 0.4);overflow:hidden;}
.tb-slides .tb-sl-scroller {height:420px;overflow:hidden;width:5000px;
    -webkit-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);;
    -moz-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);;
    -ms-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);;
    -o-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);;
    transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);;
}
.tb-slides .tb-slide {width:750px;display:none;}
.tb-slides .tb-slide:first-child {display:block;}
.tb-slides .tb-slide .tb-loto-tl {list-style:none;margin:40px 0 0 40px;padding:0;font-size:0;}
.tb-slides .tb-slide .loto-tl_li {width:40px;height:40px;float:left;border-radius:50%;box-shadow:inset 1px 2px 1px 0 rgba(0, 0, 0, 0.4), 0px 2px 1px 0 rgba(255, 255, 255, 0.6);background-color:#e9f2f4;font:15px/42px Handbook-bold;color:#8f8e8e;text-align:center;margin:0 30px 20px 0;cursor:pointer;
    -webkit-transition: background 500ms cubic-bezier(0.215, 0.61, 0.355, 1), color 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: background 500ms cubic-bezier(0.215, 0.61, 0.355, 1), color 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition: background 500ms cubic-bezier(0.215, 0.61, 0.355, 1), color 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: background 500ms cubic-bezier(0.215, 0.61, 0.355, 1), color 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: background 500ms cubic-bezier(0.215, 0.61, 0.355, 1), color 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.font-fix .tb-slides .tb-slide .loto-tl_li {line-height:46px;}
.tb-slides .tb-slide .loto-tl_li.select {background-color:#ffe400;color:#4c4c4c;}
.tb-slides .tb-slide .bm-pl {}
.tb-fs-tl {list-style:none;margin:0 0 0 40px;padding:10px 0 0 0;float:left;}
.tb-fs-tl .loto-tl_li {font-size:20px!important;color:#4c4c4c!important;margin:0 27px 0 0!important;}
.font-fix .tb-fs-tl .loto-tl_li {line-height:48px;}
.font-fix .tb-fs-tl .loto-tl_li.heart {line-height:46px;}
.tb-slides .tb-slide .bm-pl .tb-st-bk {float:right;padding:10px 40px 30px 0;}
.tb-slides .tb-slide .bm-pl .tb-st-bk .sm-but {float:right;width:170px;height:40px;border-radius:40px;font:15px/42px Handbook-bold;color:#8f8e8e;text-align:center;background-color:#d0e2e4;text-transform:uppercase;box-shadow:inset 1px 2px 1px 0 rgba(0, 0, 0, 0.4), 0 2px 1px 0 rgba(255, 255, 255, 0.6);margin-left:20px;letter-spacing:1px;}
.tb-slides .tb-slide .bm-pl .tb-st-bk .sm-but.on {color:#4c4c4c;cursor:pointer;}
.tb-slides .tb-slide .bm-pl .tb-st-bk .tb-st-done {height:40px;color:#e7f6f7;font:15px/40px Handbook-bold;text-transform:uppercase;letter-spacing:1px;}
.font-fix .tb-slides .tb-slide .bm-pl .tb-st-bk .sm-but {line-height:46px;}
.tb-slides .tb-slide .bm-pl .tb-st-bk .tb-ifo {font:15px/1 Handbook-bold;color:#e7f6f7;float:right;text-transform:uppercase;padding-top:13px;letter-spacing:1px;}
.font-fix .tb-slides .tb-slide .bm-pl .tb-st-bk .tb-ifo {padding-top:15px;}
.tb-slides .tb-slide .bm-pl .tb-st-bk .tb-ifo > b {color:#4c4c4c;}
.tickets .atd-bk {height:460px;padding:0 40px;background-color:#b2d0d4;box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.4), 2px 2px 1px 0 rgba(0, 0, 0, 0.4);overflow:hidden;border-radius:6px 6px 0 0;display:none;}
.tickets .yr-tb {list-style:none;margin:63px 0 0 0;padding:0;float:left;}
.tickets .yr-tb .yr-tt {margin-bottom:28px;overflow:hidden;zoom:1;font:15px/1 Handbook-bold;text-transform:uppercase;padding-bottom:2px;}
.tickets .yr-tb .yr-tt:last-child {margin-bottom:0;}
.tickets .yr-tb .yr-tt .yr-tt-tn {color:#4c4c4c;float:left;width:90px;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);padding:13px 0 0 0;}
.tickets .yr-tb .yr-tt .yr-tt-tr {list-style:none;margin:0;padding:0;float:left;}
.tickets .yr-tb .yr-tt .yr-tt-tr .yr-tt-tr_li {width:38px;height:38px;border:1px solid #2d2d2d;color:#2d2d2d;border-radius:50%;float:left;margin-right:10px;box-shadow: 0 1px 1px 0 rgba(255,255,255,0.3);text-align:center;text-shadow: 0 1px 0px rgba(255, 255, 255, 0.4);line-height:38px;}
.tickets .font-fix .yr-tb .yr-tt .yr-tt-tr .yr-tt-tr_li {line-height:40px;}
.tickets .yr-tb .yr-tt .yr-tt-tr .yr-tt-tr_li.won {width:40px;height:40px;background-color:#ffe400;border:none;box-shadow:inset 1px 1px 0px 0px rgba(20, 20, 20, 0.4), 0 1px 0px 0 rgba(255,255,255,0.6);line-height:40px;}
.tickets .font-fix .yr-tb .yr-tt .yr-tt-tr .yr-tt-tr_li.won {line-height:42px;}
.tickets .yr-tb .yr-tt .yr-tt-tr .yr-tt-tr_li:last-child {margin:0;}
.tickets .atd-txt-bk {float:right;width:260px;margin-top:60px;}
.tickets .atd-txt-bk .ttl {color:#e7f6f7;font:15px/20px Handbook-bold;text-transform:uppercase;margin-bottom:35px;}
.tickets .atd-txt-bk .txt {color:#404040;font:18px/19px Handbook-regular;}


.prizes {box-shadow:2px 2px 1px 0 rgba(0, 0, 0, 0.4);background-color:#fff;}
.prizes .pbk-pi {float:right;margin-right:40px;font:15px/50px Handbook-medium;text-transform:uppercase;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);color:#000;}
.prizes .pbk-pi > b {font:20px/50px Handbook-bold;}
.font-fix .prizes .pbk-pi, .font-fix .prizes .pbk-pi > b {line-height:54px;}
.prizes .sbk-tl {float:left;}
.sbk-tl-bk {background-color:#b2d0d4;height:50px;box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.4) inset;}
.sbk-tl-bk .sbk-tl {font:20px/50px Handbook-bold;color:#000;margin-left:40px;text-transform:uppercase;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);}
.font-fix .sbk-tl-bk .sbk-tl {line-height:54px;}
.prizes .pbk-ct {padding:0px 0px 40px 0px;}
.prizes .pbk-ct .ptt {font:18px/19px Handbook-regular;color:#000;margin:25px 40px 0 40px;}
.prizes .pz-nav {list-style:none;margin:27px 40px 30px 40px;padding:0;font-size:0;}
.prizes .pz-nav .pz-nav_li {height:40px;padding:0 30px;display:inline-block;font:15px/40px Handbook-bold;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);text-transform:uppercase;cursor:pointer;
    -webkit-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.font-fix .prizes .pz-nav .pz-nav_li {line-height:42px;}
.prizes .pz-nav .pz-nav_li.now {background-color:#b2d0d4;}
.prizes .pz-cg {list-style:none;margin:0 0px 0 40px;padding:0;overflow:hidden;}
.prizes .pz-cg .pz-cg_li {width:210px;float:left;margin:0 20px 40px 0;}
.prizes .pz-cg .pz-cg_li .im-ph {height:210px;}
.prizes .pz-cg .pz-cg_li .im-ph > img {width:210px;height:210px;}
.prizes .pz-cg .pz-cg_li .im-tl {height:30px;font:15px/30px Handbook-bold;padding-left:22px;color:#000;}
.font-fix .prizes .pz-cg .pz-cg_li .im-tl {line-height:33px;}
.prizes .pz-cg .pz-cg_li .im-bn {height:40px;cursor:pointer;background-color:#ffe400;}
.prizes .pz-cg .pz-cg_li .im-bn > b {display:block;margin:5px 10px 0 20px;float:left;font:30px/1 Handbook-bold;color:#000;}
.font-fix .prizes .pz-cg .pz-cg_li .im-bn > b {margin-top:7px;}
.prizes .pz-cg .pz-cg_li .im-bn > span {display:block;float:left;font:11px/1 Handbook-medium;color:#000;margin-top:9px;width:70px;text-transform:uppercase;}
.font-fix .prizes .pz-cg .pz-cg_li .im-bn > span {margin-top:10px;}
.prizes .pz-more-bt {height:40px;text-align:center;font:15px/40px Handbook-bold;color:#4c4c4c;cursor:pointer;background-color:#b2d0d4;text-transform:uppercase;margin:0 40px;}
.font-fix .prizes .pz-more-bt {line-height:44px;}

article .infos {padding:40px 20px 0 20px;}
.infos .i-lbk {width:570px;float:left;}
.infos .i-lbk .i-v-bk {width:100%;height:320px;margin-bottom:40px;}
.rules {background-color:#fff;box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.4);height:400px;}
.rules .rules-ct {padding:27px 40px 0 40px;overflow:hidden;}
.rules .rules-ct .win-tbl {}
.rules .rules-ct .win-tbl .c-l {width:280px;float:left;margin-right:20px;}
.rules .rules-ct .win-tbl .c-l .wt-t {font:13px/17px Handbook-regular;color:#000;}
.rules .rules-ct .win-tbl .c-l .wt-t > p {margin:0 0 6px 0;}
.rules .rules-ct .win-tbl .c-r {list-style:none;margin:0;padding:3px 0 0 0;float:right;width:auto;}
.rules .rules-ct .win-tbl .c-r .c-r_li {margin:0 0 20px 0;overflow:hidden;}
.rules .rules-ct .win-tbl .c-r .c-r_li .tb {list-style:none;margin:0 14px 0 0;padding:0;float:left;}
.rules .rules-ct .win-tbl .c-r .c-r_li .tb .tb_li {width:15px;height:15px;border-radius:50%;background-color:#c8c8c8;margin-right:5px;float:left;}
.rules .rules-ct .win-tbl .c-r .c-r_li .tb .tb_li.ch {background-color:#ffe719;}
.rules .rules-ct .win-tbl .c-r .c-r_li .tb .tb_li:last-child {margin-right:0;}
.rules .rules-ct .win-tbl .c-r .c-r_li .tb-t {font:12px/1 Handbook-bold;color:#535353;text-transform:uppercase;float:left;letter-spacing:0;margin-top:1px;}
.font-fix .rules .rules-ct .win-tbl .c-r .c-r_li .tb-t {margin-top:3px;}
.rules .rules-ct .faq {list-style:none;margin:38px 0 6px 0;padding:0;display:none;}
.rules .rules-ct .faq .faq_li {margin-bottom:33px;}
.rules .rules-ct .faq .faq_li:last-child {margin-bottom:0px;}
.rules .rules-ct .faq .faq_li  > h3 {font:15px/1 Handbook-bold;color:#000;margin:0 0 14px 0;padding:0;}
.rules .rules-ct .faq .faq_li  > p {font:13px/17px Handbook-regular;color:#4f4f4f;margin:0;padding:0;}
.rules .r-add-but {margin:30px 0px 40px 0px;border:1px solid #b2d0d4;height:38px;text-align:center;font:15px/38px Handbook-bold;color:#4f4f4f;text-transform:uppercase;cursor:pointer;}
.font-fix .rules .r-add-but {line-height:41px;}

.infos .i-rbk {width:630px;float:right;}
.infos .i-rbk .news {background-color:#fff;box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.4);height:760px;overflow:hidden;}
.infos .i-rbk .news .n-items {padding:29px 40px 0 40px;}
.infos .i-rbk .news .n-items .n-ic-bk {display:none;}
.infos .i-rbk .news .n-items .n-item {margin-bottom:30px;}
.infos .i-rbk .news .n-items .n-item:last-child {margin-bottom:0;}
.infos .i-rbk .news .n-item .n-i-tl {font:15px/1 Handbook-bold;color:#000;margin-bottom:4px;}
.infos .i-rbk .news .n-item .n-i-txt {font:13px/17px Handbook-regular;color:#4f4f4f;}
.infos .i-rbk .news .n-item .n-i-txt > a {color:#c51e1e;}
.infos .i-rbk .news .n-item .n-i-txt > a:hover {text-decoration:underline;}
.news .n-add-but {margin:32px 40px 40px 40px;border:1px solid #b2d0d4;height:38px;text-align:center;font:15px/38px Handbook-bold;color:#4f4f4f;text-transform:uppercase;cursor:pointer;}
.font-fix .rules .n-add-but {line-height:41px;}


.banner100 {padding:40px 20px 0;text-align:center;}


/* ==========================================================================
                            Section profile styles
   ========================================================================== */
.profile {padding:0 20px 0 20px;margin-top:45px;}
.profile .p-bk {width:900px;float:left;box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.4);}
.profile .p-bk .p-tl-bk {height:50px;background-color:#b2d0d4;box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.4);color:#000;overflow:hidden;}
.profile .p-bk .p-tl-bk .p-tl-nm {margin:0 0 0 40px;font:20px/51px Handbook-bold;text-transform:uppercase;text-shadow: 0 1px 0  rgba(255,255,255,0.4);float:left;}
.font-fix .profile .p-bk .p-tl-bk .p-tl-nm {line-height:55px;}
.profile .p-bk .p-tl-bk .p-exit-bt {float:right;width:120px;text-align:center;font:15px/50px Handbook-bold;text-transform:uppercase;text-shadow: 0 1px 0  rgba(255,255,255,0.4);cursor:pointer;margin-left:40px;}
.font-fix .profile .p-bk .p-tl-bk .p-exit-bt {line-height:54px;}
.profile .p-bk .p-tl-bk .p-exit-bt:hover {background-color:#000;color:#b2d0d4;box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.7);}
.profile .p-bk .p-tl-bk .p-tl-ml {font:18px/49px Handbook-regular;float:right;}
.font-fix .profile .p-bk .p-tl-bk .p-tl-ml {line-height:53px;}
.profile .p-bk .p-cnt {background-color:#fff;display:table;width:100%;}
.profile .p-bk .p-cnt aside {width:240px;height:615px;background-color:#e3e3e3;display:table-cell;vertical-align:top;}
.profile .p-bk .p-cnt aside > ul {margin:0;padding:40px 0 0 40px;list-style:none;}
.profile .p-bk .p-cnt aside > ul .ul_li {height:40px;padding-left:10px;font:15px/40px Handbook-bold;color:#000;text-transform:uppercase;cursor:pointer;letter-spacing:1px;}
.font-fix .profile .p-bk .p-cnt aside > ul .ul_li {line-height:43px;}
.profile .p-bk .p-cnt aside > ul .ul_li.now {background-color:#fff;}
.profile .p-bk .p-cnt aside > ul .ul_li:hover {background-color:#fff;}
.profile .p-bk .p-cnt aside .p-stat-bk {margin:auto;width:140px;border-top:1px solid #000;margin-top:69px;padding-top:36px;}
.profile .p-bk .p-cnt aside .p-stat-bk .gm-st {font:12px/15px Handbook-bold;color:#000;text-align:center;text-transform:uppercase;text-shadow: 0 1px 0  rgba(255,255,255,0.4);margin-bottom:57px;}
.profile .p-bk .p-cnt aside .p-stat-bk .gm-st > b {display:block;font:30px/1 Handbook-bold;margin-bottom:3px;text-shadow: 0 1px 0  rgba(255,255,255,0.4);}
.font-fix .profile .p-bk .p-cnt aside .p-stat-bk .gm-st > b {}
.profile .p-bk .p-cnt aside .p-stat-bk .cr-st-bk {margin-bottom:31px;}
.profile .p-bk .p-cnt aside .p-stat-bk .cr-st-bk .ifo {font:12px/15px Handbook-bold;color:#000;text-align:center;text-transform:uppercase;text-shadow: 0 1px 0  rgba(255,255,255,0.4);}
.profile .p-bk .p-cnt aside .p-stat-bk .cr-st-bk .ifo > b {display:block;font:30px/1 Handbook-bold;text-shadow: 0 1px 0  rgba(255,255,255,0.4);}
.font-fix .profile .p-bk .p-cnt aside .p-stat-bk .cr-st-bk .ifo > b {}
.profile .p-bk .p-cnt aside .p-stat-bk .bt {height:28px;border:1px solid #000;text-align:center;font:12px/28px Handbook-bold;color:#000;text-transform:uppercase;text-shadow: 0 1px 0  rgba(255,255,255,0.4);margin-top:14px;cursor:pointer;}
.font-fix .profile .p-bk .p-cnt aside .p-stat-bk .bt {line-height:30px;}

.profile .sp-cnt {display:table-cell;vertical-align:top;}
.profile ._section {}

.profile-info {padding:40px 40px 0 30px;}
.profile-info .pi-ph {width:160px;float:left;}
.profile-info .pi-ph > img {max-width:160px;max-height:160px;}
.profile-info .pi-et-bk {margin-left:200px;overflow:hidden;}
.profile-info .pi-et-bk .pi-inp-bk {height:29px;border-bottom:1px solid #e3e3e3;margin-bottom:30px;position:relative;}
.profile-info .pi-et-bk .pi-inp-bk.focus {border-bottom:1px solid #000;}
.profile-info .pi-et-bk .pi-inp-bk:last-child {margin-bottom:0;}

.profile-info .pi-et-bk .pi-inp-bk > input {border:none;background:transparent;height:29px;width:250px;font:18px/29px Handbook-regular;color:#000;outline:none;}
.font-fix .profile-info .pi-et-bk .pi-inp-bk {line-height:32px;}
.profile-info .pi-et-bk .pi-inp-bk.td > input {width:280px;}
.profile-info .pi-et-bk .pi-inp-bk > input::-webkit-input-placeholder {font:18px/29px Handbook-italic;color:#d2d2d2;opacity:1;}
.profile-info .pi-et-bk .pi-inp-bk > input:-moz-placeholder {font:18px/29px Handbook-italic;color:#d2d2d2;opacity:1;}
.profile-info .pi-et-bk .pi-inp-bk > input::-moz-placeholder {font:18px/29px Handbook-italic;color:#d2d2d2;opacity:1;}
.profile-info .pi-et-bk .pi-inp-bk > input:-ms-input-placeholder {font:18px/29px Handbook-italic;color:#d2d2d2;opacity:1;}

.profile-info .pi-et-bk .pi-inp-bk .ph {height:29px;font:18px/29px Handbook-italic;color:#d2d2d2;position:absolute;top:0;right:0px;}
.font-fix .profile-info .pi-et-bk .pi-inp-bk .ph {line-height:32px;}
.profile-info .pi-et-bk .pi-inp-bk.td .ph {display:none;}

.profile-info .pi-et-bk .pi-inp-bk.focus .ph {color:#000;display:block;}

.profile-info .pi-et-bk .fc-bk {margin-top:59px;position:relative;}
.profile-info .pi-et-bk .fc-bk .fc-nbs-bk {width:390px;height:310px;background-color:#b2d0d4;position:absolute;left:0;top:-330px;border-radius:6px;display:none;}
.profile-info .pi-et-bk .fc-bk .fc-nbs-bk > ul {list-style:none;margin:62px 15px 0 47px;padding:0;overflow:hidden;}
.profile-info .pi-et-bk .fc-bk .fc-nbs-bk > ul > li {width:30px;float:left;text-align:center;font:15px/1 Handbook-bold;color:#2d2d2d;text-shadow: 0 1px 0  rgba(255,255,255,0.4);cursor:pointer;margin-bottom:25px;}
.profile-info .pi-et-bk .fc-bk .fc-nbs-bk > ul > li.dis {opacity:0.3;cursor:default;}
.profile-info .pi-et-bk .fc-bk .fc-tl {width:100px;float:left;font:12px/15px Handbook-bold;color:#000;text-transform:uppercase;margin-top:6px;}
.font-fix .profile-info .pi-et-bk .fc-bk .fc-tl {margin-top:7px;}
.profile-info .pi-et-bk .fc-bk .fc-nrch-bk {list-style:none;margin:0 0 0 100px;padding:0;width:290px;}
.profile-info .pi-et-bk .fc-bk .fc-nrch-bk > li {width:38px;height:38px;border:1px solid #000;border-radius:50%;text-align:center;font:15px/38px Handbook-bold;color:#2d2d2d;float:left;margin-right:10px;cursor:pointer;position:relative;}
.font-fix .profile-info .pi-et-bk .fc-bk .fc-nrch-bk > li {line-height:41px;}
.profile-info .pi-et-bk .fc-bk .fc-nrch-bk > li.on {background-color:#b2d0d4;}
.profile-info .pi-et-bk .fc-bk .fc-nrch-bk > li > i {display:block;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #b2d0d4;position:absolute;top:-21px;left:9px;display:none;}
.profile-info .pi-et-bk .fc-bk .fc-nrch-bk > li.on > i {display:block;}
.profile-info .pi-et-bk .fc-bk .fc-nrch-bk > li:last-child {margin:0;}

.profile-info .save-bk {margin-top:60px;overflow:hidden;display:table;width:100%;}
.profile-info .save-bk .sb-ch-td {display:table-cell;vert-align:bottom;}
.profile-info .save-bk .sb-ch-td {vertical-align:bottom;}
.profile-info .save-bk .sb-ch-td .but {width:128px;height:48px;text-align:center;border:1px solid #000;font:15px/48px Handbook-bold;text-transform:uppercase;margin:0 0 0 auto;cursor:pointer;}
.font-fix .profile-info .save-bk .sb-ch-td .but {line-height:52px;}

.profile .pr-br {float:right;width:300px;}

.profile-history {padding:30px 60px 0 60px;display:none;}
.profile-history .ph-fr-bk {list-style:none;margin:0;padding:0;overflow:hidden;font:12px/30px Handbook-bold;text-transform:uppercase;}
.font-fix .profile-history .ph-fr-bk {line-height:32px;}
.profile-history .ph-fr-bk > li > a {color:#010101;text-shadow: 0 1px 0  rgba(255,255,255,0.4);}
.profile-history .ph-fr-bk .bt-om {width:120px;height:30px;position:relative;float:left;margin-right:20px;}
.profile-history .ph-fr-bk .bt-om > a {display:inline-block;margin-left:16px;}
.profile-history .ph-fr-bk .bt-om:after {content:"";display:block;width:6px;height:6px;background-color:#b2d0d4;border-radius:50%;position:absolute;top:12px;right:14px;}
.profile-history .ph-fr-bk .bt-om.sel {background-color:#b2d0d4;}
.profile-history .ph-fr-bk .bt-om.sel:after {background-color:#fff;}

.profile-history .ph-fr-bk .bt-all {width:60px;height:30px;text-align:center;float:left;}
.profile-history .ph-fr-bk .bt-all.sel {background-color:#b2d0d4;}

.profile-history .ht-tl-bk {overflow:hidden;font:15px/20px Handbook-bold;text-transform:uppercase;color:#010101;margin:35px 3px 0 0;}
.font-fix .profile-history .ht-tl-bk {margin-top:37px;}
.profile-history .ht-tl-bk .dt-tl {width:141px;float:left;}
.profile-history .ht-tl-bk .wc-tl {width:250px;float:left;}
.profile-history .ht-tl-bk .nw-tl {width:140px;float:right;text-align:right;}
.profile-history .ht-bk {margin:30px 0 0 0;padding:0;list-style:none;}
.font-fix .profile-history .ht-bk {margin-top:28px;}
.profile-history .ht-bk > li {overflow:hidden;margin-bottom:25px;font:15px/35px Handbook-regular;color:#000;}
.profile-history .ht-bk > li:last-child {margin-bottom:0;}
.profile-history .ht-bk .dt {width:140px;position:relative;float:left;}
.font-fix .profile-history .ht-bk .dt {top:2px;}
.profile-history .ht-bk .win .dt:after {content:"";display:block;width:6px;height:6px;background-color:#b2d0d4;border-radius:50%;position:absolute;top:15px;right:34px;}
.profile-history .ht-bk .ht-ct {list-style:none;margin:0;padding:0;overflow:hidden;float:left;}
.profile-history .ht-bk .ht-ct > li {width:35px;height:35px;border-radius:50%;background-color:#ffe400;float:left;margin-right:8px;text-align:center;font:17.5px/35px Handbook-bold;color:#000;}
.font-fix .profile-history .ht-bk .ht-ct > li {line-height:39px;}
.profile-history .ht-bk .ht-ct > li.w {background-color:#b9b9b9;}
.profile-history .ht-bk .ht-ct > li:last-child {margin-right:0;}
.profile-history .ht-bk .nw {float:left;width:101px;float:left;text-align:right;}
.profile-history .ht-bk .aw-bt {float:right;margin-right: 9px;}
.profile-history .ht-bk .aw-bt > a {display:block;width:0;height:0;border-bottom:17px solid transparent;border-top:17px solid transparent;border-left:10px solid #b2d0d4;position:relative;}
.profile-history .ht-bk .aw-bt > a:before {content:"";display:block;width:0;height:0;border-bottom:17px solid transparent;border-top:17px solid transparent;border-left:10px solid #fff;top:-17px;right:2px;position:absolute;}
.profile-history .mr-bt {border: 1px solid #b2d0d4;color:#4f4f4f;cursor:pointer;font:15px/38px Handbook-bold;height:38px;margin:40px 0 0px;text-align:center;text-transform:uppercase;}
.font-fix .profile-history .mr-bt {line-height:40px;}
.profile-history .mr-cl-bt-bl {overflow:hidden;display:none;margin:30px 0 40px;}
.profile-history .mr-cl-bt-bl > div {border: 1px solid #b2d0d4;color:#4f4f4f;cursor:pointer;font:15px/38px Handbook-bold;height:38px;text-align:center;text-transform:uppercase;}
.font-fix .profile-history .mr-cl-bt-bl > div {line-height:40px;}
.profile-history .mr-cl-bt-bl .cl {width:168px;float:left;}
.profile-history .mr-cl-bt-bl .mr {width:348px;float:right;margin:0;}

.profile-bonuses {padding:50px 30px 0 30px;display:none;}
.profile-bonuses .pb-txt {font:18px/19px Handbook-regular;color:#000;}
.profile-bonuses .if-bk {margin-top:60px;}
.font-fix .profile-bonuses .if-bk {margin-top:63px;}
.profile-bonuses .if-bk .if-tl {font:18px/19px Handbook-regular;color:#000;width:240px;margin-bottom:25px;}
.profile-bonuses .if-bk .fm-bk {height:30px;}
.profile-bonuses .if-bk .fm-bk .inp-bk {width:440px;float:left;height:30px;}
.profile-bonuses .if-bk .fm-bk .inp-bk > input {width:100%;border:none;height:29px;font:18px/29px Handbook-italic;outline:none;background:transparent;border-bottom:1px solid #e3e3e3;padding:0;}
.profile-bonuses .if-bk .fm-bk .inp-bk > input::-webkit-input-placeholder {font:18px/29px Handbook-italic;color:#d2d2d2;opacity:1;}
.profile-bonuses .if-bk .fm-bk .inp-bk > input:-moz-placeholder {font:18px/29px Handbook-italic;color:#d2d2d2;opacity:1;}
.profile-bonuses .if-bk .fm-bk .inp-bk > input::-moz-placeholder {font:18px/29px Handbook-italic;color:#d2d2d2;opacity:1;}
.profile-bonuses .if-bk .fm-bk .inp-bk > input:-ms-input-placeholder {font:18px/29px Handbook-italic;color:#d2d2d2;opacity:1;}
.profile-bonuses .if-bk .fm-bk .if-bt {text-align:center;width:118px;height:28px;border:1px solid #000;font:12px/28px Handbook-bold;text-transform:uppercase;color:#000;float:right;cursor:pointer;}
.font-fix .profile-bonuses .if-bk .fm-bk .if-bt {line-height:30px;}
.profile-bonuses .sn-bt-bk {clear:both;margin-top:40px;overflow:hidden;width:600px;}
.profile-bonuses .sn-bt-bk > div {width:118px;height:28px;border-width:1px;border-style:solid;font:12px/28px Handbook-bold;text-transform:uppercase;cursor:pointer;float:left;margin-right:40px;}
.font-fix .profile-bonuses .sn-bt-bk > div {line-height:30px;}
.profile-bonuses .sn-bt-bk > div:last-child {margin-right:0;}
.profile-bonuses .sn-bt-bk > div > span {display:inline-block;margin-left:37px;}
.profile-bonuses .sn-bt-bk .fb {border-color:#3b5998;color:#3b5998;background:url("../img/bg-profile-invite-but-fb.png") no-repeat 10px 7px;}
.profile-bonuses .sn-bt-bk .vk {border-color:#45668e;color:#45668e;background:url("../img/bg-profile-invite-but-vk.png") no-repeat 9px 10px;}
.profile-bonuses .sn-bt-bk .gp {border-color:#a13b3b;color:#a13b3b;background:url("../img/bg-profile-invite-but-gp.png") no-repeat 9px 8px;}
.profile-bonuses .sn-bt-bk .tw {border-color:#4798e4;color:#4798e4;background:url("../img/bg-profile-invite-but-tw.png") no-repeat 9px 9px;}
.profile-bonuses .rp-bk {display:table;width:100%;margin-top:120px;}
.profile-bonuses .rp-bk .rp-txt {display:table-cell;width:260px;font:18px/19px Handbook-regular;color:#000;}
.profile-bonuses .rp-bk .rp-sl-bk {display:table-cell;vertical-align:middle;text-align:right;padding-right:31px;}
.profile-bonuses .rp-bk .rp-sl-bk > a {float:right;width:30px;height:30px;display:block;background-image:url("../img/bg-profile-repost-social.png");background-repeat:no-repeat;}
.profile-bonuses .rp-bk .rp-sl-bk > a:hover {background-image:url("../img/bg-profile-repost-social-hover.png");}
.profile-bonuses .rp-bk .rp-sl-bk .tw {background-position:-122px 3px;margin-left:38px;}
.profile-bonuses .rp-bk .rp-sl-bk .gp {background-position:-80px 2px;margin-left:40px;}
.profile-bonuses .rp-bk .rp-sl-bk .vk {background-position:-31px 3px;margin-left:40px;}
.profile-bonuses .rp-bk .rp-sl-bk .fb {background-position:11px 1px;}


