/* ==========================================================================
                            @Font-face styles
   ========================================================================== */
@font-face {
    font-family: 'Handbook-regular';
    src: url('../fonts/PFHandbookPro-Regular/PFHandbookPro-Regular.eot');
    src: url('../fonts/PFHandbookPro-Regular/PFHandbookPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFHandbookPro-Regular/PFHandbookPro-Regular.woff') format('woff'),
    url('../fonts/PFHandbookPro-Regular/PFHandbookPro-Regular.ttf') format('truetype'),
    url('../fonts/PFHandbookPro-Regular/PFHandbookPro-Regular.svg#Handbook-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Handbook-bold';
    src: url('../fonts/PFHandbookPro-Bold/PFHandbookPro-Bold.eot');
    src: url('../fonts/PFHandbookPro-Bold/PFHandbookPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFHandbookPro-Bold/PFHandbookPro-Bold.woff') format('woff'),
    url('../fonts/PFHandbookPro-Bold/PFHandbookPro-Bold.ttf') format('truetype'),
    url('../fonts/PFHandbookPro-Bold/PFHandbookPro-Bold.svg#Handbook-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Handbook-medium';
    src: url('../fonts/PFHandbookPro-Medium/PFHandbookPro-Medium.eot');
    src: url('../fonts/PFHandbookPro-Medium/PFHandbookPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFHandbookPro-Medium/PFHandbookPro-Medium.woff') format('woff'),
    url('../fonts/PFHandbookPro-Medium/PFHandbookPro-Medium.ttf') format('truetype'),
    url('../fonts/PFHandbookPro-Medium/PFHandbookPro-Medium.svg#Handbook-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Handbook-italic';
    src: url('../fonts/PFHandbookPro-Italic/PFHandbookPro-Italic.eot');
    src: url('../fonts/PFHandbookPro-Italic/PFHandbookPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFHandbookPro-Italic/PFHandbookPro-Italic.woff') format('woff'),
    url('../fonts/PFHandbookPro-Italic/PFHandbookPro-Italic.ttf') format('truetype'),
    url('../fonts/PFHandbookPro-Italic/PFHandbookPro-Italic.svg#Handbook-italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,button,input,select,textarea {}
html, body {width:100%;height:100%;}
body {line-height:1;font-family: Handbook-regular;color:#000;background:transparent url("../img/bg-header-promo.jpg") no-repeat 0 0;background-size: cover;}

::-moz-selection {background: #b3d4fc;text-shadow: none;}

::selection {background: #b3d4fc;text-shadow: none;}

hr {display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;}
img {vertical-align: middle;}
fieldset {border: 0;margin: 0;padding: 0;}
textarea {resize: vertical;}
.chromeframe {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}
a {}
a:hover {}


/* ==========================================================================
                            Author's custom styles
   ========================================================================== */
.b-cl-block {clear:both;line-height:0;margin:0;padding:0;display:block;}


main {display:table;width:100%;height:100%;margin:0;padding:0;background:rgba(255, 228, 0, 0.9);}
main article {display:table-cell;vertical-align:middle;text-align:center;}
main article .opening {font:20px/1 Handbook-bold;color:#000;text-transform:uppercase;margin:32px 0 38px 0;}
main article .timer {color:#000;}
main article .timer > span {font:80px/1 Handbook-bold;color:#000;display:inline-block;position:relative;}
main article .timer > span:before {display:block;position:absolute;left:0;top:86px;font:14px/1 Handbook-bold;text-transform:uppercase;text-align:center;width:100%;}
main article .timer > span.d:before {content: "Дней";}
main article .timer > span.a:before {content: "Часов";}
main article .timer > span.m:before {content: "Минут";}
main article .timer > span.s:before {content: "Секунд";}
main article .timer > i {font:60px/1 Handbook-bold;color:#000;display:inline-block;margin:0 10px;position:relative;top:-13px;}
main article .txt-box {margin-top:64px;}
main article .txt-box .text {font:16px/18px Handbook-regular;color:#000;text-align:left;width:620px;margin:auto;}
main article .form {width:620px;margin:33px auto 0 auto;text-align:left;overflow:hidden;height:50px;}
main article .form .pi-inp-bk {height:45px;border-bottom:1px solid #ad9c0d;position:relative;width:410px;float:left;padding-top:4px;}
main article .form .pi-inp-bk > input {border:none;background:transparent;height:45px;width:350px;font:18px/45px Handbook-regular;color:#000;outline:none;}
main article .form .pi-inp-bk.td > input {}
main article .form .pi-inp-bk > input::-webkit-input-placeholder {font:18px/45px Handbook-italic;color:#ad9c0d;opacity:1;}
main article .form .pi-inp-bk > input:-moz-placeholder {font:18px/45px Handbook-italic;color:#ad9c0d;opacity:1;}
main article .form .pi-inp-bk > input::-moz-placeholder {font:18px/45px Handbook-italic;color:#ad9c0d;opacity:1;}
main article .form .pi-inp-bk > input:-ms-input-placeholder {font:18px/45px Handbook-italic;color:#ad9c0d;opacity:1;}
main article .form .pi-inp-bk.focus > input::-webkit-input-placeholder {opacity:0;}
main article .form .pi-inp-bk.focus > input:-moz-placeholder {opacity:0;}
main article .form .pi-inp-bk.focus > input::-moz-placeholder {opacity:0;}
main article .form .pi-inp-bk.focus > input:-ms-input-placeholder {opacity:0;}

main article .form .pi-inp-bk .ph {height:45px;font:24px/45px Handbook-italic;color:#d2d2d2;position:absolute;top:4px;right:0px;}

main article .form .pi-inp-bk.td .ph {display:none;}

main article .form .pi-inp-bk.focus .ph {color:#000;display:block;}

main article .form .pi-inp-bk.error {border-color:#c51e1e;color:#c51e1e;}
main article .form .pi-inp-bk.error > input, .profile-info .pi-et-bk .pi-inp-bk.error .ph {color:#c51e1e;}

main article .form .submit {border: 1px solid #000;color:#2f2f2f;font: 17px/48px Handbook-bold;height:48px;letter-spacing:1px;text-align:center;text-decoration:none;text-transform: uppercase;width:177px;float:right;cursor:pointer;}
main article .form .submit:hover {background-color:#000;color:#fbe215;}
main article .form .msg {display:none;height:50px;}
main article .form .msg .txt {display:table-cell;height:50px;vertical-align:middle;font: 18px/19px Handbook-regular;}

main article .form.done {}
main article .form.done .pi-inp-bk, main article .form.done .submit, main article .form.error .pi-inp-bk, main article .form.error .submit {display:none;}
main article .form.done .msg , main article .form.error .msg {display:block;}
main article .form.error .msg .txt {color:#c51e1e;}

main article .social {margin:55px auto 0 auto;font: 18px/19px Handbook-regular;}
main article .social .title {margin-bottom:25px;}
main article .social .links {width:220px;margin:auto;overflow:hidden;}
main article .social .links > a {display:block;width:38px;height:38px;background-image:url("../img/bg-promo-social-buts.png");background-repeat: no-repeat;border:1px solid #000;float:left;margin-right:20px;}
main article .social .links > a:last-child {margin-right:0px;}
main article .social .links > a:hover {background-image:url("../img/bg-trailer-social-buts-hover.png");background-color:#000;}
main article .social .links .fb {background-position:-1px -1px;left:0;top:0;}
main article .social .links .vk {background-position:-51px -1px;right:0;top:0;}
main article .social .links .gp {background-position:-1px -51px;left:0;bottom:0;}
main article .social .links .tw {background-position:-51px -51px;bottom:0;right:0;}













header {background:transparent url("../img/bg-header-promo.jpg") no-repeat 0 0;background-size: cover;overflow:hidden;}
header .h-dt-b {display:table;width:100%;height:100%;}
header .h-dt-b .t-tr, header .h-dt-b .t-tr, .m-tr, header .h-dt-b .t-tr, .b-tr {display:table-row;}
header .h-dt-b .t-tr .t-tr_td {display: table-cell;background-color:rgba(255, 228, 0, 0.9);height:150px;width:100%;}
header .h-dt-b .m-tr .m-tr_td {display:table-cell;width:100%;background-color:rgba(255, 228, 0, 0.9);vertical-align:middle;}
header .h-dt-b .b-tr .b-tr_td {display:table-cell;height:240px;width:100%;}

