// ------------------ //

.r-nickname,
.r-nickname-text
  width: 40%

.r-registered,
.r-registered-text
  width: 22%

.r-games,
.r-games-text
  width: 10%

.r-active,
.r-active-text
  width: 20%

.r-profit,
.r-profit-text
  width: 8%