// BONUSES ---------------------------------------- //

.cabinet .content-box-tab.cabinet-balance-tab
  width: 215px
  padding: 0 0 0 10px

.cabinet-balance-count:first-child
  margin-right: 5px

.cabinet-balance-count span
  margin-left: 2px