// COMMUNICATION ---------------------------------------- //

.communication .content-box-tab.back-tab {
  padding: 0 74px 0 20px;
}

.message-name {
  width: 22%;
  margin-right: 1%;
}

.message-text {
  width: 76%;
}
