// GAMES <<CHANCE>> -------------------- //

.games-chance {
  padding: 20px 20px 0;
}

.game {
  margin-right: 67px;
}

@media (max-width: $screen-lg-min) {
  .game:nth-child(3n+3) {
    margin-right: 0;
  }
}
