.ticket-items {
  margin: 70px 0 30px;
  background: rgb(167, 209, 213);
  padding-left: 0;
  height: 406px;
    
}

.ticket-tabs {
  top: -40px;
  background: transparent;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -10;
  display: block;
  margin: 0;
  padding: 6px 0 14px;
  left: 0;
  & li {
    top: 9px;
    width: 72px;
    height: 85px;
    margin-right: 10px;
    line-height: 31px;
    background: #4c4c4c;
    color: #b2d0d4;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.4);
    position: relative;
    float: left;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: block;
    &.unavailable {
      background: #8f8e8e;
      color: #b2d0d4;
      &:hover {
        & .ticket-number-sm {
          background: transparent;
        }
      }
    }
    &.done {
      background: #4c4c4c;
      color: #b2d0d4;
      text-shadow: 1px 0 0 rgba(0, 0, 0, 0.4);
      &:after {
        content: "";
        display: inline-block;
        background: url(img/sprite.png) center center no-repeat;
        background-position: -597px -61px;
        position: absolute;
        width: 11px;
        height: 8px;
        right: 8px;
        top: 12px;
      }
      &:before {
        display: none;
      }
      &:hover .ticket-number-sm:before {
        display: none;
      }
      & .ticket-number-sm:before {
        display: none;
      }
    }
    &.active {
      height: 40px;
      line-height: 40px;
      color: #464444;
      text-shadow: 1px 0 0 rgba(255, 255, 255, 0.4);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      background: #a7d1d5;
      & .ticket-number-sm {
        background: transparent;
      }
    }
    &:last-of-type {
      background: #e8cf6b;
      color: #4c4c4c;
      text-shadow: 1px 0 0 rgba(255, 255, 255, 0.4);
      width: 120px;
      &.active {
        color: #4c4c4c;
      }
      &:hover {
        color: #4c4c4c;
      }
      & .ticket-number-sm {
        display: inline;
        width: auto;
        height: auto;
        background: transparent;
        line-height: 1;
        border-radius: 0;
        position: static;
      }
    }
    & .ticket-number-sm {
      display: inline !important;
      width: auto !important;
      height: auto !important;
      background: transparent !important;
      line-height: 1 !important;
      border-radius: 0 !important;
      position: static !important;
    }
    & .ticket-number-sm:before {
      display: none !important;
    }
  }
}

.ticket-box {
  display: flex;
  flex-direction: column-reverse;
}

.scroll-box {
  height: auto;
}

.is-done {
  padding-top: 0;
}


.ticket-done {
  bottom: 0px;
}

.ticket-numbers-wrapper {
  height: auto;
  overflow: visible;
}

.ticket-tabs li:hover {
  -webkit-transform: translate(0, -8px);
  -moz-transform: translate(0, -8px);
  -o-transform: translate(0, -8px);
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.ticket-item {
  & .ticket-numbers {
    height: 305px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 7px;
    margin-right: -22px !important;
    & li {
      margin: 0 22px 21px 0 !important;
    }
  }

  & .ticket-actions {
    margin-left: 0 !important;
    & li {
      margin: 0 22px 21px 0 !important;
    }
  }
}
.is_done {
  padding-right: 7px;
}
.add-ticket {
  margin-right: 0 !important;
}

.balls-count {
  bottom: 43px;
}

.ticket-btn {
  padding: 0 40px;
}

.lottery-grid .title {
  padding: 16px 0 16px 23px;
}

.matches-inf-wrapper.carousel .matches-inf {
  width: 48%;
}
// TICKET-ITEMS ------------------------------ //

.ticket-tabs li {
  width: 62px;
  margin-right: 8px;
}

.ticket-item {
  padding: 25px 23px 8px !important;
}

.ticket-numbers {
  margin-right: -23px !important;
}

#lottery-process {
  padding: 61px 0 0 170px;
}

// ------------------------------------------- //
// RATING ------------------------------- //

.raiting-item {
  width: 297px;
  margin-right: 20px;
}

.balls-result {
  width: 100%;
}

.text-result {
  width: 100%;
}

.ticket-number-result {
  margin-right: 40px;
}

.ball-number-result {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.tickets-number-result {
  &span {
    display: none;
  }
}

.text-result {
  &span {
    display: none;
  }
}

.tickets-number-result {
  &p {
    text-align: center;
  }
}

.text-result {
  top: 0;
}

.tickets-number-result {
  margin: 60px 0 0 0;
  width: 15%;
}

.timer {
  width: 200px;
}

.ticket-items {
  border-radius: 0 5px 5px 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 5px 0 7px;
  padding-left: 10px;

}

.matches-inf-wrapper.carousel {
  padding: 30px 0;
  margin-bottom: 0;
}

.matches-inf {
  margin-bottom: 0;
}

.cabinet-game-history .content-box-cat a:first-child {
  padding-left: 35px;
}
.gh-item {
  padding: 10px 10px 10px 15px;
  &:before {
    top: 20px;
    left: -15px;
  }
}

.gh-inf.gh-combination {
  margin-right: 70px;
}

.cabinet-game-history.with-cat {
    padding: 0 0 30px 10px;
}

.cabinet-game-history .content-box-item-content {
  padding: 10px 20px 0 50px;
}
.content-box-content .gh-item:before {
  left: -20px;
}
.lottery-grid.timer-box {
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.ticket-box {
  background-color: none;
  margin-top: 30px;
  &.gold {
    background: none;
    & .header-box{
      background: #A9D0D5;
    }
    & .ticket-items {
      background: #E8CF6B;
      & .ticket-tabs {
        background: none;
      }
    }
  }
}