// TICKET-ITEMS ------------------------------ //

.ticket-tabs li {
  width: 62px;
  margin-right: 8px;
}

.ticket-item {
  padding: 25px 23px !important;
}

.ticket-numbers {
  margin-right: -23px !important;
}

#lottery-process {
  padding: 61px 0 0 170px;
}

// ------------------------------------------- //
// RATING ------------------------------- //

.raiting-item {
  width: 297px;
  margin-right: 20px;
}

.balls-result {
  width: 100%;
}

.text-result {
  width: 100%;
}

.ticket-number-result {
  margin-right: 40px;
}

.ball-number-result {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.tickets-number-result {
  &span {
    display: none;
  }
}

.text-result {
  &span {
    display: none;
  }
}

.tickets-number-result {
  &p {
    text-align: center;
  }
}

.text-result {
  top: 0;
}

.tickets-number-result {
  margin: 60px 0 0 0;
  width: 15%;
}

.timer {
  width: 200px;
}
