// PRIZES FOT POINTS ------------------- //

.prizes-for-points {
  padding-left: 60px;
  padding-right: 60px;
}

.prize {
  margin-right: 94px;
}

@media (max-width: $screen-lg-min) {
  .prize:nth-child(even) {
    margin-right: 0;
  }
}

.ex-prize-description {
  width: 274px;
}
