.balls-result
  width: 100%
  padding-top: 45px

.text-result
  width: 100%
  top: -457px
  padding-top: 15px
  
.ticket-result
  margin: 0 0 10px 0
  
.ball-number-result,
.ticket-number-result
  margin-right: 40px
  
.ball-number-result
  width: 40px
  height: 40px
  margin-right: 7%
  line-height: 40px

.tickets-number-result 
  &span
    display: none
    
.text-result
  &span
    display: none
    
.tickets-number-result 
  &p
    text-align: center
    
.text-result
  top: 0
  
.tickets-number-result
  margin: 60px 0 0 0
  width: 15%

.timer
  width: 200px