// TICKET-ITEMS ------------------------------ //

.ticket-tabs li
  width: 62px
  margin-right: 8px

.ticket-item
  padding: 25px 23px !important

.ticket-numbers
  margin-right: -23px !important



// ------------------------------------------- //