// TICKET-ITEMS ------------------------------ //

.ticket-tabs li
  width: 72px
  margin-right: 8px

.ticket-item
  padding: 25px 23px !important

.ticket-numbers
  margin-right: -23px !important

  & li
    margin: 0 23px 14px 0 !important

.ticket-actions li
  margin: 0 23px 0 0 !important

// ------------------------------------------- //