// GAMES <<CHANCE>> -------------------- //
// sizes 768px  - mobile/small //

.games-previews{
    padding: 5px 35px;
    a{
        margin: 15px 0;
    }
}

@media  all and ( max-width: 660px) {
    .games-previews{
        padding: 5px 80px;
    }
}
@media  all and ( max-width: 600px) {
    .games-previews{
        padding: 5px 50px;
    }
}