// TICKET-ITEMS ------------------------------ //

.ticket-items {
  padding-left: 13px;
  & .ticket-numbers{
    & li {
      margin: 0 11px 20px 11px !important;
    }
  }
  & .ticket-actions {
    & li {
      margin: 0 11px 0 11px !important;
    }
  }
}

.ticket-item {
  min-height: 0;
}

.ticket-tabs {
  margin: 0;
  display: block;
  padding: 6px 13px 14px;
  & li {
    width: 30px;
    float: left;
    margin-right: 50px;
    display: block;
    &:last-of-type{
      & .ticket-number-sm {
        height: 30px;
        line-height: 30px;
        margin-top: 10px;
      }
      &:hover  {
        & .ticket-number-sm {
          margin-top: 0px;
        }
      }
      &.active {
        & .ticket-number-sm {
          margin-top: 0;
        }
      }
    }
  }
}
.lottery-grid .title {
  padding: 16px 23px;
}
.ticket-done {
  margin-right: 20px;
}
.matches-inf .lottery-grid .ul-striped {
  & li {
    padding: 6px 23px 13px;
    & p {
      margin: 0;
      min-width: 0;
      &:first-child {
        margin: 0;
        min-width: 0;
      }
    }
  }
}
.gh-inf.gh-combination {
  margin-right: 90px;
}

.content-box-content .gh-item .arrow {
  top: 10px;
}
#lottery .content-box-content .gh-item:before {
    left: -10px;
    top: 20px;
}
.matches-inf-wrapper.carousel {
  padding: 10px 30px 0; 
  & .matches-inf {
    width: 47.5%;
  }
}

#lottery-process {
  height: 680px;
  & .container {
    max-width: 520px;
    margin: 0 auto;
    min-width: 0;
    padding: 0;
    & > div {
      height: 73px;
      & a {
        top: 27px;
      }
    }
  }  
}
.ghd-tickets {
  padding: 0 24px;
}
.balls-end-game {
  & .g-oc_li {
    width: 72px;
    height: 72px;
    margin-right: 17px;
    float: left;
    font: 25px  Handbook-bold;
    line-height: 70px;
    color: #000;
    text-align: center;
    letter-spacing: -2px;
    position: relative;
    overflow: hidden;
    &:last-of-type {
      margin-right: 0;
    }
    & .goc_li-sh {
      width: 70px;
      height: 70px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background: #fff;
      background-position: -200px -383px;
    }
    & .goc_li-sh2 {
      width: 73px;
      height: 73px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      background: url(../img/sprite.png);
      background-position: -126px -383px;
    }
    & .goc_li-nb {
      background-color: #ffe400;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      text-align: center;
      letter-spacing: -2px;
      position: absolute;
      left: 0;
      top: -73px;
      z-index: 2;
      &.random-ball {
        top: 105px;
        &:first-child {
          top: 0px;
        }
      }
    }
  }
}
.ghd-tickets li span {
  min-width: 74px;
}
.ghd-tickets li ul li.filled-ball {
  margin-right: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  
  &.won_ball {
    width: 40px;
    height: 40px; 
    line-height: 40px;
  }
  &:last-of-type {
    margin-right: 0;
  }
}
.ghd-tickets li span {
  margin-right: 38px;
}
.ghd-tickets li {
  font-size: 19px;
}
// MATCHES-INF ------------------------------ //

.matches-inf-wrapper {
  margin-bottom: 30px;
}

.gh-header {
  margin: 0 -20px 20px;
  padding: 0 20px;
}

.gh-item {
  margin: 0 -20px 0;
  padding: 10px 20px;
  position: relative;
}

.ghd-numbers {
  width: 520px;
  margin: 0 auto 40px;
}

.ghd-number {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 32px;
  margin-right: 20px;
}

// ----------------------------- //

.ghd-tickets table {
  margin-bottom: 10px;
}

.ghd-tickets td:first-child {
  padding-right: 40px;
}

.ghd-tickets td:last-child {
  padding-left: 40px;
}

.ghd-tickets td {
  padding-bottom: 20px;
}

.ghd-tickets td:first-child span {
  display: inline;
  text-transform: uppercase;
}

.ghd-ticket-number {
  width: 35px;
  height: 35px;
  line-height: 34px;
  margin-right: 5px;
}


// ----------------------------- //

.ghd-game-inf th {
  padding-bottom: 20px;
  width: 25%;
  &:nth-child(1) {
    padding-right: 0;
  }
  &:nth-child(2) {
    padding-left: 20px;
  }
  &:nth-child(3) {
    padding-left: 60px;
  }
}

.ghd-game-inf td {
  padding-bottom: 10px;
  width: 25%;
  &:nth-child(1) {
    padding-right: 0;
  }
  &:nth-child(2) {
    padding-left: 50px;
  }
  &:nth-child(3) {
    padding-left: 60px;
  }
}

.ghd-all-won {
  padding: 10px 0 50px;
}

// ----------------------------- //

// ----------------------------- //

// RATING ------------------------------- //

.raiting-item {
  width: 324px;
  margin-right: 40px;
}

.ball-number-result {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.ticket-number-result {
  margin-right: 5%;
}

.condition {
  font-size: 20px;
  text-transform: uppercase;
}

.ticket-item.gold {
  background: #e8cf6b;
}

.ticket-itmes.gold {
  background: #b2d0d4;
}

.ticket-tabs.gold {
  background: transparent;
}

.lottery-result {
  padding: 50px 45px;
}



.ticket-box {
  background-color: transparent;
}

.cabinet-game-history .content-box-cat > span:first-child label:before {
  left: 5px;
}
.cabinet-game-history.with-cat {
  padding: 0 0 30px 38px;
}

.ticket-box .ticket-btn {
  margin-right: 20px;
}
.cabinet-game-history .content-box-item-content {
  padding: 10px 50px 0 40px;
}
.content-box.tickets .title {
  padding-left: 23px;
}

@media (min-width: 769px) {
  #lottery-process {
    &.lottery-won {
      background: url(../img/1024.png) center center no-repeat;
    }
  }
}
.cabinet-game-history .content-box-item-content {
  min-height: 310px;
}