// PRIZES FOT POINTS ------------------- //

.prizes-for-points .content-box-item-content {
  width: auto;
  max-width: none;
}

.prize {
  width: 220px;
  margin-right: 14px;
}



.prize {
  width: 245px;
  padding-right: 25px;
  float: left;
  margin: 0 0 30px;
}
#prizes-exchange .content-box-item-content {
  margin-right: -25px;
}
#prizes-exchange {
  max-width: 710px;
  margin: 0 auto;
  padding: 0 0 20px;
}
.prize:nth-child(2n+2) {
  float: left;
}




.exchange-prize .content-box-item {
  text-align: left;
}



.ex-prize-name {
  margin-bottom: 15px;
}

.ex-prize-price {
  margin-bottom: 40px;
}

.prize-delivery-inf {
  margin-bottom: 50px;
}

.personal-data-inf-header {
  padding: 0 10px 7px;
  margin: 0 0 30px;
}

.personal-data-inf-title {
  font-size: 21px;
}

.personal-data-edit {
  width: auto;
  height: auto;
  position: static;
  background: none;
  text-decoration: none;
  color: #4a90e2;
  font-size: 15.5px;
  line-height: 1.27;
}

.personal-data-edit span {
  display: inline;
}

.prize-delivery-inf tbody {
  padding: 0 10px;
}

.personal-data-attention {
  text-align: center;
}

.ex-prize-submit-wrapper {
  margin: 0;
}

.ex-prize-not-filled {
  margin: 0 -20px;
}


.ex-prize-img {
  width: 300px;
  float: left;
  margin-right: 0;
}
.ex-prize-img:before {
  display: none;

}
.ex-prize-img img {
  width: 100%;
  position: static;
}
.ex-prize-description {
  width: 390px;
  float: right;
  padding-left: 20px;
}

.ex-prize-description {
  padding-left: 30px;

}
.personal-data-inf-header {
  padding: 0 20px;
  margin: 0 -20px 10px;
}
.personal-data-edit {
  display: inline-block;
  line-height: 50px;
  position: absolute;
  top: 3px;
  right: 20px;
  color: #4a90e2;
  cursor: pointer;
}
.prize-delivery-inf td:first-child { 
  padding-left: 20px;
}
.prize-delivery-inf {
  margin: 0 -20px 20px;
}

#profile-settings .mobile-notice {
  display:none!important;   
}

#prizes-exchange .content-box-item-top {
  left: 0 ;
}

.content-box-cat {
    margin-left: -10px;
}