.ph-header {
  margin: 0 -20px 20px;
  padding: 0 20px;
}

.ph-item {
  margin: 0 -20px;
  padding-left: 20px;
  padding-right: 20px;
}




.ph-won,
.ph-won-text {
  width: 35%;
  padding: 0 20px 0 20px ;
}

.ph-method,
.ph-method-text {
  width: 35%;
  padding: 0 50px 0 0 ;
}

.ph-status,
.ph-status-text {
  width: 15%;
}

.ph-header {
  display: block;
  margin: 0 -20px 0;
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
  background: #FAFAFA;
}

// ------------------ //

.r-header,
.r-item {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

// ------------------ //

.r-nickname,
.r-nickname-text {
  width: 44%;
}

.r-registered,
.r-registered-text {
  width: 20%;
}

.r-games,
.r-games-text {
  width: 9%;
}

.r-active,
.r-active-text {
  width: 18%;
}

.r-profit,
.r-profit-text {
  width: 9%;
}

.th-item {
  margin: 0 -20px;
  padding: 13px 20px 0;
}
