.c-friend-detail {
  & .c-user-inf-wrapper {
    position: static;
  }
  & .c-user-inf {
    margin-bottom: 0;
  }
  & .c-social {
    position: static;
    margin-top: 15px;
    padding-left: 10px;
  }
  & .c-social-inf,
  & .c-social-icons {
    display: inline-block;
    vertical-align: middle;
  }
  & .c-social-inf {
    margin-bottom: 0;
    color: #a2a2a2;
    margin-right: 18px;
  }
  & .c-social-item {
    vertical-align: middle;
  }
}

.c-friend {
  width: 324px;
  margin: 0 40px 30px 0;
}

.friends-search {
  left: 384px;
}

.cg-balance {
  text-align: right;
}

.cg-gift-inf {
  width: 100%;
}

.cg-gift-name {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 2%;
  width: 72%;
  vertical-align: middle;
}

.cg-gift-price {
  display: inline-block;
  width: 25%;
  vertical-align: middle;
}

// LIMITED ------------------------------- //

.communication-gift.limited {
  & .cg-title {
    border-width: 1px;
    border-radius: 2px;
    margin-left: 0;
    margin-right: 0;
    padding: 15px;
  }
}

.c-friend-detail {
  & .c-user-inf-wrapper {
    position: static;
  }
  & .c-user-inf {
    margin-bottom: 0;
  }
  & .c-social {
    position: static;
    margin-top: 15px;
    padding-left: 10px;
  }
  & .c-social-inf,
  & .c-social-icons {
    display: inline-block;
    vertical-align: middle;
  }
  & .c-social-inf {
    margin-bottom: 0;
    color: #a2a2a2;
    margin-right: 18px;
  }
  & .c-social-item {
    vertical-align: middle;
  }
}

.c-friend {
  width: 324px;
  margin: 0 40px 30px 0;
}

.friends-search {
  left: 384px;
}

.c-search .friends-search input:first-child {
  margin-right: 100px;
}
